openapi: 3.0.0
info:
  title: Remote Address Details Personal Details API
  version: 0.1.0
servers:
- url: https://gateway.remote.com/
  variables: {}
- url: https://gateway.remote-sandbox.com/
  variables: {}
security:
- OAuth2: []
tags:
- name: Personal Details
paths:
  /v2/employments/{employment_id}/personal-details:
    put:
      callbacks: {}
      deprecated: false
      description: 'Updates employment''s personal details.


        This endpoint requires and returns country-specific data. The exact required and returned fields will

        vary depending on which country the employment is in. To see the list of parameters for each country,

        see the **Show form schema** endpoint under the [Countries](#tag/Countries) category.


        Please note that the compliance requirements for each country are subject to change according to local

        laws. Given its continual updates, using Remote''s [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) should be considered in order to avoid

        compliance issues and to have the latest version of a country requirements.


        If you are using this endpoint to build an integration, make sure you are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.


        To learn how you can dynamically generate forms to display in your UI, see the documentation for

        the [json-schema-form](https://developer.remote.com/docs/how-json-schemas-form) tool.




        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: put_v2_employments_employment_id_personal-details
      parameters:
      - description: Employment ID
        example: 93t3j-employment-id-9suej43
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      - description: Version of the personal_details form schema
        example: 1
        in: query
        name: personal_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentPersonalDetailsParams'
        description: Employment personal details params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentDetailsOnlyResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Update personal details
      tags:
      - Personal Details
  /v1/employments/{employment_id}/personal-details:
    put:
      callbacks: {}
      deprecated: false
      description: 'Updates employment''s personal details.


        This endpoint requires and returns country-specific data. The exact required and returned fields will

        vary depending on which country the employment is in. To see the list of parameters for each country,

        see the **Show form schema** endpoint under the [Countries](#tag/Countries) category.


        Please note that the compliance requirements for each country are subject to change according to local

        laws. Given its continual updates, using Remote''s [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) should be considered in order to avoid

        compliance issues and to have the latest version of a country requirements.


        If you are using this endpoint to build an integration, make sure you are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.


        To learn how you can dynamically generate forms to display in your UI, see the documentation for

        the [json-schema-form](https://developer.remote.com/docs/how-json-schemas-form) tool.




        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: put_v1_employments_employment_id_personal-details
      parameters:
      - description: Employment ID
        example: 93t3j-employment-id-9suej43
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentPersonalDetailsParams'
        description: Employment personal details params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Update personal details
      tags:
      - Personal Details
components:
  schemas:
    ParameterError:
      example:
        code: invalid_param
        message: Invalid parameter
        param: employment_id
      properties:
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
        param:
          description: The parameter that lead to the error message.
          type: string
      required:
      - code
      - message
      - param
      title: ParameterError
      type: object
    UserStatus:
      description: 'The status of the user account associated with this employment.


        - `active`: The user account is active and the user can log in.

        - `created`: The user account has been created but not yet activated.

        - `initiated`: The user has been invited but has not completed registration.

        - `cancelled`: The user account was cancelled before activation.

        - `inactive`: The user account has been deactivated (e.g., after offboarding).

        - `deleted`: The user account has been deleted.

        '
      enum:
      - active
      - created
      - initiated
      - cancelled
      - inactive
      - deleted
      example: active
      title: UserStatus
      type: string
    ProvisionalStartDate:
      description: 'Indicates the expected start date of the employee or contractor.


        Required for employees, but optional for contractors. Date format is in ISO8601 without the time component.


        See the **Date and Time Format** documentation for more details on how the Remote API works with dates.

        '
      example: '2022-03-21'
      format: date
      title: ProvisionalStartDate
      type: string
    EmploymentPersonalDetailsParams:
      additionalProperties: false
      description: 'Employment personal details.

        '
      example:
        personal_details:
          description: Personal details, such as name and date of birth.
          status: completed
      properties:
        personal_details:
          description: 'Employment personal details. As its properties may vary depending on the country,

            you must query the [Show form schema](#tag/Countries/operation/get_show_form_country) endpoint

            passing the country code and `employment_basic_information` as path parameters.

            '
          type: object
      required:
      - personal_details
      title: EmploymentPersonalDetailsParams
      type: object
    ConflictResponse:
      description: Returned when the request conflicts with the current state of a resource (HTTP 409). For example, trying to create a resource that already exists or performing an action that requires the resource to be in a different state.
      example:
        message: Company needs to be in status active to manage employments
      properties:
        message:
          description: A human-readable message describing the conflict and the expected state.
          type: string
      title: ConflictResponse
      type: object
    UnauthorizedResponse:
      description: Returned when the request does not include valid authentication credentials. Ensure you are passing a valid OAuth2 access token or API token in the Authorization header.
      example:
        message: Unauthorized
      properties:
        message:
          pattern: Unauthorized
          type: string
      required:
      - message
      title: UnauthorizedResponse
      type: object
    UnprocessableEntityResponse:
      anyOf:
      - properties:
          errors:
            type: object
        required:
        - errors
        type: object
      - properties:
          message:
            oneOf:
            - type: string
            - $ref: '#/components/schemas/ParameterError'
            - items:
                $ref: '#/components/schemas/ParameterError'
              title: ParameterErrors
              type: array
            - $ref: '#/components/schemas/ActionError'
            - items:
                $ref: '#/components/schemas/ActionError'
              title: ActionErrors
              type: array
        required:
        - message
        type: object
      example:
        errors:
          some_field:
          - is invalid
      title: UnprocessableEntityResponse
      type: object
    BadRequestResponse:
      description: Returned when the request is malformed or contains invalid parameters. The message may be a simple string or a structured object with a code and detailed message.
      example:
        message: invalid {resource}
      oneOf:
      - properties:
          message:
            description: A human-readable error message describing what was wrong with the request.
            type: string
        required:
        - message
        type: object
      - properties:
          message:
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
            - message
            type: object
        type: object
      title: BadRequestResponse
      type: object
    Employment:
      description: Complete information of an employment, including all onboarding task statuses, country-specific form data (address, contract, administrative, etc.), and contractor-specific settings where applicable.
      example:
        personal_details: {}
        manager_email: john.doe@company.com
        provisional_start_date: '2021-07-03'
        address_details: {}
        pricing_plan_details:
          frequency: annually
        full_name: Jane Smith
        type: employee
        employment_lifecycle_stage: employee_self_enrollment
        administrative_details: {}
        company_id: e31adae1-company-id-af5fba7dd803
        work_address_details: {}
        bill_to_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        work_email: jane.smith@company.com
        status: created
        updated_at: '2021-07-15T18:18:17Z'
        basic_information: {}
        job_title: Engineer
        id: 20a72f86-employment-id-9e4942a902ff
        manager: John Doe
        login_email: jane@smith.com
        employment_model: eor
        personal_email: jane@smith.com
        country:
          alpha_2_code: PT
          code: PRT
          contractor_products_available:
          - standard
          - plus
          - cor
          country_subdivisions:
          - code: PT-06
            name: Coimbra
            subdivision_type: District
          - code: PT-11
            name: Lisboa
            subdivision_type: District
          employment_agreement_preview_available: true
          eor_onboarding: true
          locked_benefits: after_first_hire
          name: Portugal
          region: Europe
          subregion: Southern Europe
          supported_json_schemas:
          - additional_documents
          - address_details
          - administrative_details
          - employment-basic-information
          - bank_account_details
          - contract_details
          - emergency_contact
        user_status: active
        bank_account_details: []
        files: []
        engaged_by_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        billing_address_details: {}
        onboarding_tasks:
          address_details:
            description: Primary residence.
            status: completed
          administrative_details:
            description: Information we need for tax purposes.
            status: completed
          bank_account_details:
            description: Bank account used for receiving salary payments.
            status: completed
          billing_address_details:
            description: Address associated with the employee's bank account.
            status: completed
          contract_details:
            description: Employee-specific details for their employment agreement.
            status: completed
          emergency_contact_details:
            description: Who should be called in an emergency.
            status: completed
          employment_document_details:
            description: We need some additional documents.
            status: pending
          personal_details:
            description: Personal details, such as name and date of birth.
            status: completed
          pricing_plan_details:
            description: How often Remote will bill employers for management fees.
            status: completed
        contract_details: {}
        emergency_contact_details: {}
        eligible_for_onboarding_cancellation: true
        manager_employment_id: 20a72f86-employment-id-9e4942a902ff
        created_at: '2021-11-11T18:44:39'
      properties:
        personal_details:
          description: Personal details information. Its properties may vary depending on the country.
          type: object
        short_id:
          $ref: '#/components/schemas/ShortId'
        department:
          description: Name of related department, if any. Otherwise, null.
          nullable: true
          type: string
        manager_email:
          description: The email address of the employee's manager. Null if no manager is assigned.
          nullable: true
          type: string
        provisional_start_date:
          $ref: '#/components/schemas/ProvisionalStartDate'
        address_details:
          description: Home address information. Its properties may vary depending on the country.
          type: object
        pricing_plan_details:
          $ref: '#/components/schemas/PricingPlanDetails'
        full_name:
          description: The employee's full name.
          type: string
        type:
          description: 'For the employment types `contractor`, `global_payroll_employee` and `direct_employee`, only [List employments](#operation/get_index_employment) and

            [Show employment](#operation/get_show_employment) operations are available.

            '
          enum:
          - employee
          - contractor
          - direct_employee
          - global_payroll_employee
          type: string
        contractor_settings:
          description: Contractor-specific settings. Only present for contractor employments.
          nullable: true
          properties:
            requires_work_confirmation:
              description: Whether the contractor requires work confirmation before submitting invoices.
              type: boolean
          type: object
        employment_lifecycle_stage:
          $ref: '#/components/schemas/EmploymentLifecycleStage'
        administrative_details:
          description: Administrative information. Its properties may vary depending on the country.
          type: object
        contractor_type:
          description: Type of contractor product. Only present for contractor employments. 'standard' for Contractor Standard, 'cor' for Contractor of Record, 'plus' for Contractor Plus.
          enum:
          - standard
          - cor
          - plus
          nullable: true
          type: string
        contractor_rate:
          description: Contractor compensation rate details. Only present for contractor employments when rate is configured.
          nullable: true
          properties:
            amount:
              properties:
                amount:
                  description: Rate amount as decimal
                  type: number
                currency:
                  properties:
                    code:
                      description: Currency code (e.g., USD, EUR)
                      type: string
                  type: object
              type: object
            pay_frequency:
              description: Payment frequency cadence
              enum:
              - weekly
              - bi_weekly
              - semi_monthly
              - monthly
              nullable: true
              type: string
            slug:
              description: Unique identifier for the contractor rate
              type: string
            type:
              description: Rate type indicating billing frequency
              enum:
              - hourly
              - daily
              - weekly
              - monthly
              - one_off
              type: string
          type: object
        company_id:
          description: The unique identifier (UUID) of the company this employment belongs to.
          type: string
        expiration_date:
          description: 'The planned service end date for contractor of record (COR) employments.


            For signed COR contractors, this date is stored on the contract record (not in `contract_details`).

            It is `null` for employee employments or unsigned contractor agreements.


            Date format is ISO 8601 without the time component (e.g. "2024-12-31").

            '
          format: date
          nullable: true
          type: string
        work_address_details:
          description: Work address information. Its properties may vary depending on the country.
          type: object
        bill_to_legal_entity_id:
          description: The unique identifier (UUID) of the legal entity that is billed for this employment.
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          format: uuid
          nullable: true
          title: BillToLegalEntityID
          type: string
        work_email:
          description: The employee's work email address, typically provided by the employer.
          type: string
        status:
          $ref: '#/components/schemas/EmploymentStatus'
        updated_at:
          description: The timestamp when this employment record was last updated.
          format: date-time
          type: string
        basic_information:
          description: 'Employment basic information. Its properties may vary depending on the country.

            '
          type: object
        job_title:
          description: The employee's job title. May be null if not yet set.
          nullable: true
          type: string
        id:
          description: The unique identifier (UUID) of the employment.
          type: string
        probation_period_end_date:
          description: The date when the employee's probation period ends, if applicable.
          format: date
          type: string
        department_id:
          description: Unique ID of related department, if any. Otherwise, null.
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          format: uuid
          nullable: true
          title: DepartmentID
          type: string
        manager:
          description: The full name of the employee's manager.
          type: string
        login_email:
          description: The email address the employee uses to log in to the Remote platform.
          type: string
        external_id:
          description: A unique reference code for the employment record in a non-Remote system. While uniqueness is recommended, it is not strictly enforced within Remote's system.
          type: string
        employment_model:
          description: 'For the employment models `peo` and `global_payroll`, only [List employments](#operation/get_index_employment) and

            [Show employment](#operation/get_show_employment) operations are available.

            '
          enum:
          - global_payroll
          - peo
          - eor
          nullable: true
          type: string
        personal_email:
          description: The employee's personal email address, used for account-related communications.
          type: string
        country:
          $ref: '#/components/schemas/NullableCountry'
        user_status:
          $ref: '#/components/schemas/UserStatus'
        seniority_date:
          $ref: '#/components/schemas/EmploymentSeniorityDate'
        bank_account_details:
          items:
            description: List of bank account information. Its properties may vary depending on the country.
            type: object
          type: array
        files:
          description: Documents associated with this employment (e.g., contracts, tax forms, identity documents).
          items:
            $ref: '#/components/schemas/File'
          type: array
        active_contract_id:
          description: The unique identifier (UUID) of the currently active contract for this employment.
          type: string
        engaged_by_legal_entity_id:
          description: The unique identifier (UUID) of the legal entity that engaged this employment.
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          format: uuid
          nullable: true
          title: EngagedByLegalEntityID
          type: string
        billing_address_details:
          description: Billing address information. Its properties may vary depending on the country.
          type: object
        onboarding_tasks:
          $ref: '#/components/schemas/OnboardingTasks'
        contract_details:
          description: Contract information. Its properties may vary depending on the country.
          type: object
        emergency_contact_details:
          description: Emergency contact information. Its properties may vary depending on the country.
          type: object
        eligible_for_onboarding_cancellation:
          description: Whether this employment can still be cancelled during the onboarding process. Once the employment is active, this will be false.
          type: boolean
        manager_employment_id:
          description: The employment ID of the employee's manager on Remote, if the manager is also managed through Remote. Null otherwise.
          nullable: true
          type: string
        created_at:
          description: The timestamp when this employment record was created.
          type: string
      required:
      - address_details
      - administrative_details
      - bank_account_details
      - billing_address_details
      - company_id
      - contract_details
      - country
      - created_at
      - emergency_contact_details
      - files
      - full_name
      - id
      - type
      - employment_model
      - work_address_details
      - job_title
      - manager_email
      - manager_employment_id
      - onboarding_tasks
      - personal_details
      - personal_email
      - login_email
      - pricing_plan_details
      - status
      - employment_lifecycle_stage
      - updated_at
      - work_email
      - eligible_for_onboarding_cancellation
      title: Employment
      type: object
    ShortId:
      description: Unique short identifier for the employment, automatically generated and visible in select areas of the Remote platform. Not intended as a replacement for the employment `id` field.
      example: WN1IZT
      title: ShortId
      type: string
    ActionError:
      properties:
        action:
          description: The action that lead to the error message.
          type: string
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
      required:
      - code
      - message
      - action
      title: ActionError
      type: object
    ForbiddenResponse:
      description: Returned when the authenticated user or token does not have permission to perform the requested action. Check that the token has the required OAuth2 scopes and that the user has the necessary role.
      example:
        message: Forbidden
      properties:
        message:
          pattern: Forbidden
          type: string
      required:
      - message
      title: ForbiddenResponse
      type: object
    NotFoundResponse:
      description: Returned when the requested resource does not exist or is not accessible with the current authentication credentials.
      example:
        message: '{resource} not found'
      properties:
        message:
          description: A message indicating which resource was not found.
          pattern: Not Found
          type: string
      title: NotFoundResponse
      type: object
    File:
      additionalProperties: false
      description: A file associated with an employment, such as a contract, tax form, or identity document.
      example:
        id: 9880b711-file-id-ecf8f551bd78
        inserted_at: '2021-07-15T18:18:17Z'
        name: id.pdf
        sub_type: personal_id
        type: id
      properties:
        id:
          description: The unique identifier (UUID) of the file.
          type: string
        inserted_at:
          $ref: '#/components/schemas/DateTimeIso8601'
        name:
          description: The file name including extension (e.g., "id.pdf", "contract.pdf").
          type: string
        sub_type:
          description: A more specific classification of the file within its type (e.g., "personal_id" within type "id", or "ir_35" within type "contract"). Null if no sub-type applies.
          nullable: true
          type: string
        type:
          description: The broad category of the file (e.g., "id", "contract", "tax_form").
          type: string
      required:
      - id
      - inserted_at
      - name
      - type
      title: File
      type: object
    CountrySubdivision:
      description: A subdivision of a supported country on Remote
      example:
        code: PT-11
        name: Lisboa
        subdivision_type: District
      properties:
        code:
          description: The ISO 3166-2 subdivision code (e.g., "PT-11" for Lisboa).
          type: string
        name:
          description: The subdivision's name (e.g., "Lisboa", "California").
          type: string
        subdivision_type:
          description: The type of subdivision (e.g., "District", "State", "Province").
          type: string
      required:
      - name
      title: CountrySubdivision
      type: object
    EmploymentDetailsOnlyResponse:
      description: Response containing only the updated details struct plus base employment fields (id, status, type, updated_at, user_status). Exactly one of the details properties is present per response.
      example:
        data:
          employment:
            contract_origin: remote_contract
            id: 20a72f86-employment-id-9e4942a902ff
            personal_details: {}
            status: created
            type: employee
            updated_at: '2024-01-15T10:30:00Z'
            user_status: active
      properties:
        data:
          properties:
            employment:
              properties:
                address_details:
                  description: Home address information. Its properties may vary depending on the country. Null if the employee has not submitted their address yet.
                  nullable: true
                  type: object
                administrative_details:
                  description: Administrative information. Its properties may vary depending on the country.
                  type: object
                bank_account_details:
                  items:
                    description: List of bank account information. Its properties may vary depending on the country.
                    type: object
                  type: array
                basic_information:
                  description: Basic information. Its properties may vary depending on the country.
                  type: object
                billing_address_details:
                  description: Billing address information. Its properties may vary depending on the country.
                  type: object
                contract_details:
                  description: Contract details information. Its properties may vary depending on the country.
                  type: object
                contract_origin:
                  description: Origin of the employment contract. Returned by the basic information endpoint.
                  enum:
                  - remote_contract
                  - custom_remote_contract
                  - provided_by_customer
                  nullable: true
                  type: string
                emergency_contact_details:
                  description: Emergency contact information. Its properties may vary depending on the country. Null if the employee has not submitted their emergency contact yet.
                  nullable: true
                  type: object
                id:
                  description: The unique identifier (UUID) of the employment.
                  type: string
                personal_details:
                  description: Personal details information. Its properties may vary depending on the country. Null if the employee has not submitted their personal details yet.
                  nullable: true
                  type: object
                pricing_plan_details:
                  description: Pricing plan information.
                  type: object
                status:
                  $ref: '#/components/schemas/EmploymentStatus'
                type:
                  description: The type of employment.
                  enum:
                  - employee
                  - contractor
                  - direct_employee
                  - global_payroll_employee
                  type: string
                updated_at:
                  description: The timestamp when this employment record was last updated.
                  type: string
                user_status:
                  $ref: '#/components/schemas/UserStatus'
              required:
              - id
              - status
              - type
              - updated_at
              - user_status
              type: object
          type: object
      required:
      - data
      title: EmploymentDetailsOnlyResponse
      type: object
    PricingPlanDetails:
      description: Selected type of payment.
      example:
        frequency: annually
      properties:
        frequency:
          description: How often Remote bills the employer for management fees. Annual billing typically offers a discount.
          enum:
          - annually
          - monthly
          type: string
      required:
      - frequency
      title: PricingPlanDetails
      type: object
    DateTimeIso8601:
      description: 'UTC date time in [ISO 8601][] format.


        [ISO 8601]: https://en.wikipedia.org/wiki/ISO_8601

        '
      example: '2021-07-15T18:18:17Z'
      format: date-time
      title: DateTimeIso8601
      type: string
    EmploymentSeniorityDate:
      description: 'The date the employee first started working for your company. If you don’t include a seniority date,

        the employee’s start date with Remote will be deemed as the start of the employee’s seniority.


        **Example**: Your employee started working for your company on Feb 1, 2022.

        On Aug 1, 2022, you transferred the employee to Remote and started managing them on the platform.

        Feb 1, 2022 would be their seniority date. Aug 1, 2022 would be their starting date.

        '
      example: '2022-03-21'
      format: date
      title: EmploymentSeniorityDate
      type: string
    EmploymentResponse:
      description: Response containing the full employment record after an update operation.
      example:
        data:
          employment:
            personal_details: {}
            manager_email: john.doe@company.com
            provisional_start_date: '2021-07-03'
            address_details: {}
            pricing_plan_details:
              frequency: annually
            full_name: Jane Smith
            type: employee
            employment_lifecycle_stage: employee_self_enrollment
            administrative_details: {}
            company_id: e31adae1-company-id-af5fba7dd803
            work_address_details: {}
            bill_to_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
            work_email: jane.smith@company.com
            status: created
            updated_at: '2021-07-15T18:18:17Z'
            basic_information: {}
            job_title: Engineer
            id: 20a72f86-employment-id-9e4942a902ff
            manager: John Doe
            login_email: jane@smith.com
            employment_model: eor
            personal_email: jane@smith.com
            country:
              alpha_2_code: PT
              code: PRT
              contractor_products_available:
              - standard
              - plus
              - cor
              country_subdivisions:
              - code: PT-06
                name: Coimbra
                subdivision_type: District
              - code: PT-11
                name: Lisboa
                subdivision_type: District
              employment_agreement_preview_available: true
              eor_onboarding: true
              locked_benefits: after_first_hire
              name: Portugal
              region: Europe
              subregion: Southern Europe
              supported_json_schemas:
              - additional_documents
              - address_details
              - administrative_details
              - employment-basic-information
              - bank_account_details
              - contract_details
              - emergency_contact
            user_status: active
            bank_account_details: []
            files: []
            engaged_by_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
            billing_address_details: {}
            onboarding_tasks:
              address_details:
                description: Primary residence.
                status: completed
              administrative_details:
                description: Information we need for tax purposes.
                status: completed
              bank_account_details:
                description: Bank account used for receiving salary payments.
                status: completed
              billing_address_details:
                description: Address associated with the employee's bank account.
                status: completed
              contract_details:
                description: Employee-specific details for their employment agreement.
                status: completed
              emergency_contact_details:
                description: Who should be called in an emergency.
                status: completed
              employment_document_details:
                description: We need some additional documents.
                status: pending
              personal_details:
                description: Personal details, such as name and date of birth.
                status: completed
              pricing_plan_details:
                description: How often Remote will bill employers for management fees.
                status: completed
            contract_details: {}
            emergency_contact_details: {}
            eligible_for_onboarding_cancellation: true
            manager_employment_id: 20a72f86-employment-id-9e4942a902ff
            created_at: '2021-11-11T18:44:39'
      properties:
        data:
          properties:
            employment:
              $ref: '#/components/schemas/Employment'
      required:
      - data
      title: EmploymentResponse
      type: object
    TaskDescription:
      description: Description and status of an onboarding task.
      example:
        description: Information we need for tax purposes.
        status: completed
      properties:
        description:
          description: A human-readable description of what this onboarding task requires.
          type: string
        status:
          description: The status of the task
          enum:
          - completed
          - pending
          example: completed
          title: TaskStatus
          type: string
      title: TaskDescription
      type: object
    NullableCountry:
      description: A supported country on Remote
      example:
        alpha_2_code: PT
        code: PRT
        contractor_products_available:
        - standard
        - plus
        - cor
        country_subdivisions:
        - code: PT-06
          name: Coimbra
          subdivision_type: District
        - code: PT-11
          name: Lisboa
          subdivision_type: District
        employment_agreement_preview_available: true
        eor_onboarding: true
        locked_benefits: after_first_hire
        name: Portugal
        region: Europe
        subregion: Southern Europe
        supported_json_schemas:
        - additional_documents
        - address_details
        - administrative_details
        - employment-basic-information
        - bank_account_details
        - contract_details
        - emergency_contact
      nullable: true
      properties:
        alpha_2_code:
          description: The ISO 3166-1 alpha-2 country code (e.g., "PT").
          type: string
        code:
          description: The ISO 3166-1 alpha-3 country code (e.g., "PRT"). This is the primary code used across the Remote API.
          type: string
        contractor_products_available:
          description: Contractor product names available for this country
          items:
            enum:
            - standard
            - plus
            - cor
            type: string
          type: array
        country_subdivisions:
          description: Administrative subdivisions of the country (e.g., states, provinces, districts). Null if the country has no subdivisions relevant to Remote's services.
          items:
            $ref: '#/components/schemas/CountrySubdivision'
          nullable: true
          type: array
        employment_agreement_preview_available:
          description: Whether an Employment Agreement preview is available for this country.
          type: boolean
        eor_onboarding:
          description: Whether EOR (Employer of Record) onboarding is available in this country.
          type: boolean
        locked_benefits:
          description: When benefit plan selections become locked for this country (e.g., "after_first_hire" means benefits cannot be changed after the first employee is hired).
          type: string
        name:
          description: The country's full English name.
          type: string
        region:
          description: The geographic region the country belongs to (e.g., "Europe", "Asia", "Americas").
          type: string
        subregion:
          description: The geographic subregion (e.g., "Southern Europe", "Southeast Asia"). Null for some countries.
          nullable: true
          type: string
        supported_json_schemas:
          description: The list of JSON schema form names available for this country (e.g., "address_details", "contract_details"). Use these with the Show form schema endpoint to get country-specific field requirements.
          items:
            type: string
          type: array
      required:
      - alpha_2_code
      - code
      - name
      title: NullableCountry
      type: object
    EmploymentStatus:
      description: 'The current status of the employment record.


        - `active`: The employee is fully onboarded and actively working.

        - `created`: The employment has been created but onboarding has not started.

        - `pre_hire`: A pre-hire employment record, created before formal onboarding begins.

        - `created_awaiting_reserve`: The employment is created but waiting for a risk reserve deposit to be paid.

        - `created_reserve_paid`: The risk reserve has been paid and the employment can proceed with onboarding.

        - `initiated`: Onboarding has been started by the employer.

        - `invited`: The employee has been invited to complete their self-enrollment on Remote.

        - `pending`: The employment is pending review or further action before it can become active.

        - `review`: The employment is under review by Remote (e.g., contract or compliance review).

        - `archived`: The employment has been terminated or offboarded.

        - `deleted`: The employment record has been deleted.

        '
      enum:
      - active
      - created
      - pre_hire
      - created_awaiting_reserve
      - created_reserve_paid
      - initiated
      - invited
      - pending
      - review
      - job_title_review
      - pending_post_self_enrollment_actions
      - offboarding
      - archived
      - deleted
      example: active
      title: EmploymentStatus
      type: string
    EmploymentLifecycleStage:
      description: The stage of employment lifecycle. When it's `onboarded` means the employee is ready to commence or has already commenced.
      enum:
      - employment_creation
      - employee_self_enrollment
      - right_to_work_check
      - contract_signing
      - remote_enrollment
      - onboarded
      - offboarded
      example: employee_self_enrollment
      title: EmploymentLifecycleStage
      type: string
    TooManyRequestsResponse:
      description: Returned when the API rate limit has been exceeded (HTTP 429). Wait before retrying. Check the `Retry-After` response header for the recommended wait time.
      example:
        message: Too many requests
      properties:
        message:
          pattern: Too many requests
          type: string
      title: TooManyRequestsResponse
      type: object
    OnboardingTasks:
      description: All tasks that need to be completed before marking the employment as ready
      example:
        address_details:
          description: Primary residence.
          status: completed
        administrative_details:
          description: Information we need for tax purposes.
          status: completed
        bank_account_details:
          description: Bank account used for receiving salary payments.
          status: completed
        billing_address_details:
          description: Address associated with the employee's bank account.
          status: completed
        contract_details:
          description: Employee-specific details for their employment agreement.
          status: completed
        emergency_contact_details:
          description: Who should be called in an emergency.
          status: completed
        employment_document_details:
          description: We need some additional documents.
          status: pending
        personal_details:
          description: Personal details, such as name and date of birth.
          status: completed
        pricing_plan_details:
          description: How often Remote will bill employers for management fees.
          status: completed
      properties:
        address_details:
          $ref: '#/components/schemas/TaskDescription'
        administrative_details:
          $ref: '#/components/schemas/TaskDescription'
        bank_account_details:
          $ref: '#/components/schemas/TaskDescription'
        billing_address_details:
          $ref: '#/components/schemas/TaskDescription'
        contract_details:
          $ref: '#/components/schemas/TaskDescription'
        emergency_contact_details:
          $ref: '#/components/schemas/TaskDescription'
        employment_document_details:
          $ref: '#/components/schemas/TaskDescription'
        personal_details:
          $ref: '#/components/schemas/TaskDescription'
        pricing_plan_details:
          $ref: '#/components/schemas/TaskDescription'
      required:
      - address_details
      - administrative_details
      - bank_account_details
      - billing_address_details
      - contract_details
      - emergency_contact_details
      - employment_document_details
      - personal_details
      - pricing_plan_details
      title: OnboardingTasks
      type: object
  securitySchemes:
    BasicAuth:
      description: 'Authenticate using the basic authentication for partners.


        Use the CLIENT_ID as login and CLIENT_SECRET as password.

        '
      scheme: basic
      type: http
    ClientToken:
      description: 'Authenticate a partner using only the the provided `client_token`.


        This authentication method only allows accessing marketing endpoints.

        '
      scheme: bearer
      type: http
    CustomerAPIToken:
      description: 'Authenticate using API Key generated by the customer in their Integration Settings page.

        '
      scheme: bearer
      type: http
    OAuth2:
      description: 'Authenticate using OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2Assertion:
      description: 'Authenticate as the employee using the `urn:ietf:params:oauth:grant-type:jwt-bearer` grant in the OAuth2 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            address:read: address:read
            address:write: address:write
            bank_account:read: bank_account:read
            bank_account:write: bank_account:write
            document:read: document:read
            document:write: document:write
            emergency_contact:read: emergency_contact:read
            emergency_contact:write: emergency_contact:write
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            expense:read: expense:read
            incentive:read: incentive:read
            payroll: payroll
            payslip:read: payslip:read
            personal_detail:read: personal_detail:read
            personal_detail:write: personal_detail:write
            time_and_attendance: time_and_attendance
            timeoff:read: timeoff:read
            timeoff:write: timeoff:write
            timesheet:read: timesheet:read
          tokenUrl: /auth/oauth2/token
          x-assertionType: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
      type: oauth2
    OAuth2AuthorizationCode:
      description: 'Authenticate as the token authorizer using `authorization_code` / `refresh_token` grants in the OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          refreshUrl: /auth/oauth2/token
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2ClientCredentials:
      description: 'Authenticate using `client_credentials` grant in the OAuth 2.0 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
