openapi: 3.0.0
info:
  title: Remote Address Details Company Management API
  version: 0.1.0
servers:
- url: https://gateway.remote.com/
  variables: {}
- url: https://gateway.remote-sandbox.com/
  variables: {}
security:
- OAuth2: []
tags:
- name: Company Management
paths:
  /v1/companies/schema:
    get:
      callbacks: {}
      deprecated: false
      description: 'Returns the json schema of the requested company form.

        Currently only supports the `address_details` form.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage company resources (`company_admin`) | View companies (`company:read`) | Manage companies (`company:write`) |

        '
      operationId: get_v1_companies_schema
      parameters:
      - description: Country code according to ISO 3-digit alphabetic codes.
        example: CAN
        in: query
        name: country_code
        required: true
        schema:
          type: string
      - description: Name of the desired form
        example: address_details
        in: query
        name: form
        required: true
        schema:
          enum:
          - address_details
          type: string
      - description: Version of the form schema
        example: 1
        in: query
        name: json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyFormResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - company:read
        - company:write
        - company_admin
        - all:write
        - all:read
      summary: Show form schema
      tags:
      - Company Management
  /v1/companies/{company_id}:
    get:
      callbacks: {}
      description: 'Given an ID, shows a company.


        If the used access token was issued by the OAuth 2.0 Authorization Code flow,

        then only the associated company can be accessed through the endpoint.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage company resources (`company_admin`) | View companies (`company:read`) | Manage companies (`company:write`) |

        '
      operationId: get_v1_companies_company_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Company ID
        example: 0a8s2d1-company-id-2e3f4th
        in: path
        name: company_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - company:read
        - company:write
        - company_admin
        - all:write
        - all:read
        OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - company:read
        - company:write
        - company_admin
        - all:write
        - all:read
      summary: Show a company
      tags:
      - Company Management
    patch:
      callbacks: {}
      description: 'Given an ID and a request object with new information, updates a company.


        ### Getting a company and its owner to `active` status

        If you created a company using the

        [create a company endpoint](#tag/Companies/operation/post_create_company) without all the required

        request body parameters, you can use this endpoint to provide the missing data. Once the company

        and its owner have all the necessary data, both their statuses will be set to `active` and the company

        onboarding will be marked as "completed".


        The following constitutes a company with "all the necessary data":

        * Complete `address`, with valid `address`, `postal_code`, `country` and `state` parameters (Varies by country. Use the

        [show form schema endpoint](#tag/Countries/operation/get_show_form_country) to see which address parameters

        are required).

        * Company `tax_number` or `registration_number` is not nil

        * Company `name` is not nil (already required when creating the company)

        * Company has a `desired_currency` in their bank account (already required when creating the company)

        * Company has accepted terms of service (already required when creating the company)



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage companies (`company_management`) | - | Manage companies (`company:write`) |

        '
      operationId: patch_v1_companies_company_id (2)
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Version of the address_details form schema
        example: 1
        in: query
        name: address_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the bank_account_details form schema
        example: 1
        in: query
        name: bank_account_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: 'Company ID

          '
        example: 0a8s2d1-company-id-2e3f4th
        in: path
        name: company_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyParams'
        description: Update Company params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - company:write
        - company_management
        - all:write
      summary: Update a company
      tags:
      - Company Management
    put:
      callbacks: {}
      description: 'Given an ID and a request object with new information, updates a company.


        ### Getting a company and its owner to `active` status

        If you created a company using the

        [create a company endpoint](#tag/Companies/operation/post_create_company) without all the required

        request body parameters, you can use this endpoint to provide the missing data. Once the company

        and its owner have all the necessary data, both their statuses will be set to `active` and the company

        onboarding will be marked as "completed".


        The following constitutes a company with "all the necessary data":

        * Complete `address`, with valid `address`, `postal_code`, `country` and `state` parameters (Varies by country. Use the

        [show form schema endpoint](#tag/Countries/operation/get_show_form_country) to see which address parameters

        are required).

        * Company `tax_number` or `registration_number` is not nil

        * Company `name` is not nil (already required when creating the company)

        * Company has a `desired_currency` in their bank account (already required when creating the company)

        * Company has accepted terms of service (already required when creating the company)



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage companies (`company_management`) | - | Manage companies (`company:write`) |

        '
      operationId: patch_v1_companies_company_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Version of the address_details form schema
        example: 1
        in: query
        name: address_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the bank_account_details form schema
        example: 1
        in: query
        name: bank_account_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: 'Company ID

          '
        example: 0a8s2d1-company-id-2e3f4th
        in: path
        name: company_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCompanyParams'
        description: Update Company params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - company:write
        - company_management
        - all:write
      summary: Update a company
      tags:
      - Company Management
  /v1/companies/{company_id}/actions:
    get:
      callbacks: {}
      description: 'Given a company ID, returns the company-level actions still pending for the company — for

        example company verification and Remote Payments setup. The list can be empty or contain one

        or more actions; `setup_remote_payments` is returned once per legal entity that needs it.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage company resources (`company_admin`) | View companies (`company:read`) | Manage companies (`company:write`) |

        '
      operationId: get_v1_companies_company_id_actions
      parameters:
      - description: Company ID
        example: 0a8s2d1-company-id-2e3f4th
        in: path
        name: company_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyActionsResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - company:read
        - company:write
        - company_admin
        - all:write
        - all:read
        OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - company:read
        - company:write
        - company_admin
        - all:write
        - all:read
      summary: List a company's pending actions
      tags:
      - Company Management
  /v1/companies:
    get:
      callbacks: {}
      deprecated: false
      description: 'List all companies that authorized your integration to act on their behalf. In other words, these are all the companies that your integration can manage. Any company that has completed the authorization flow for your integration will be included in the response.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage company resources (`company_admin`) | View companies (`company:read`) | Manage companies (`company:write`) |

        '
      operationId: get_v1_companies
      parameters:
      - description: 'Requires a client credentials access token obtained through the Client Credentials flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Client Credentials flow.

          '
        example: Bearer <CLIENT-CREDENTIALS ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: External ID
        in: query
        name: external_id
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompaniesResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - company:read
        - company:write
        - company_admin
        - all:write
        - all:read
      summary: List all companies
      tags:
      - Company Management
    post:
      callbacks: {}
      deprecated: false
      description: "  Creates a new company.\n\n  ### Creating a company with only the required request body parameters\n  When you call this endpoint and omit all the optional parameters in the request body,\n  the following resources get created upon a successful response:\n  * A new company with status `pending`.\n  * A company owner for the new company with status `initiated`.\n\n  See the [update a company endpoint](#tag/Companies/operation/patch_update_company) for\n  more details on how to get your company and its owner to `active` status.\n\n  If you'd like to create a company and its owner with `active` status in a single request,\n  please provide the optional `address_details` parameter as well.\n\n  ### Accepting the Terms of Service\n\n  A required step for creating a company in Remote is to accept our Terms of Service (ToS).\n\n  Company managers need to be aware of our Terms of Service and Privacy Policy,\n  hence **it's the responsibility of our partners to advise and ensure company managers read\n  and accept the ToS**. The terms have to be accepted only once, before creating a company,\n  and the Remote API will collect the acceptance timestamp as its confirmation.\n\n  To ensure users read the most recent version of Remote's Terms of Service, their **acceptance\n  must be done within the last fifteen minutes prior the company creation action**.\n\n  To retrieve this information, partners can provide an element with any text and a description\n  explaining that by performing that action they are accepting Remote's Term of Service. For\n  instance, the partner can add a checkbox or a \"Create Remote Account\" button followed by a\n  description saying \"By creating an account, you agree to\n  [Remote's Terms of Service](https://remote.com/terms-of-service). Also see Remote's\n  [Privacy Policy](https://remote.com/privacy-policy)\".\n\n\n## Scopes\n\n| Category | Read only Scope | Write only Scope (read access implicit) |\n|---|---|---|\n| Manage companies (`company_management`) | - | Manage companies (`company:write`) |\n"
      operationId: post_v1_companies
      parameters:
      - description: 'Requires a client credentials access token obtained through the Client Credentials flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Client Credentials flow.

          '
        example: Bearer <CLIENT-CREDENTIALS ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Version of the address_details form schema
        example: 1
        in: query
        name: address_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the bank_account_details form schema
        example: 1
        in: query
        name: bank_account_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: 'Complementary action(s) to perform when creating a company:


          - `get_oauth_access_tokens` returns the user''s access and refresh tokens

          - `send_create_password_email ` sends a reset password token to the company owner''s email so they can log in using Remote UI (not needed if integration plans to use SSO only)


          If `action` contains `send_create_password_email` you can redirect the user to [https://employ.remote.com/api-integration-new-password-send](https://employ.remote.com/api-integration-new-password-send)

          '
        example: get_oauth_access_tokens,send_create_password_email
        in: query
        name: action
        required: false
        schema:
          type: string
      - description: 'Whether the request should be performed async

          '
        example: true
        in: query
        name: async
        required: false
        schema:
          type: boolean
      - description: 'Scope of the access token

          '
        example: file:read timeoff:create
        in: query
        name: scope
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyParams'
        description: Create Company params
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCreationResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyCreationConflictErrorResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - company:write
        - company_management
        - all:write
      summary: Create a company
      tags:
      - Company Management
components:
  schemas:
    ParameterError:
      example:
        code: invalid_param
        message: Invalid parameter
        param: employment_id
      properties:
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
        param:
          description: The parameter that lead to the error message.
          type: string
      required:
      - code
      - message
      - param
      title: ParameterError
      type: object
    CompanyNotEligibleForCreationErrorResponse:
      description: Error returned when the company already have employees in countries supported by the integration.
      example:
        data:
          code: resource_not_eligible
          message: The company already have employees in integration supported countries.
          resource_id: d1bb9535-3296-4240-8a67-81475bd24e80
          resource_type: company_creation
      properties:
        code:
          pattern: resource_not_eligible
          type: string
        message:
          pattern: The company already have employees in integration supported countries.
          type: string
        resource_id:
          format: uuid
          type: string
        resource_type:
          pattern: company_creation
          type: string
      title: CompanyNotEligibleForCreationErrorResponse
      type: object
    CompanyWithTokensResponse:
      description: Shows a company with its refresh and access tokens. Please contact Remote if you need the tokens when creating a company.
      example:
        data:
          company:
            address_details:
              address: 1709 Broderick St
              address_line_2: Flat number 123
              city: San Francisco
              postal_code: '94115'
              state: CA
            bank_account_details:
              account_holder: Joe Smith
              account_number: '31234123123'
              account_type: savings
              name: Bank name
              ownership_type: BUSINESS
              routing_number: '123124123'
            company_owner_email: te@remote.com
            company_owner_name: Joe Smith
            company_owner_user_id: 75619adf-8775-4531-9e7d-5b2cbabdc1a8
            country_code: USA
            created_at: '2021-07-15T18:18:17Z'
            default_legal_entity_credit_risk_status: no_deposit_required
            desired_currency: USD
            external_id: '00001111'
            id: e5a8b061-company-id-4c5c81ac885e
            name: Your Company Name
            phone_number: '+1123123456'
            status: active
            terms_of_service_accepted_at: '2021-10-29T12:39:15Z'
            updated_at: '2021-07-15T18:18:17Z'
          tokens:
            access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
            company_id: 6e60f5f9-e6a6-4b04-b13c-84bced848bab
            expires_in: 7200
            refresh_token: b480036a-d229-49ef-a606-7e8fba58a5eb
            token_type: Bearer
            user_id: 6550e536-8655-4bce-8bd9-b295f786ad71
      properties:
        company:
          $ref: '#/components/schemas/Company'
        tokens:
          $ref: '#/components/schemas/OAuth2Tokens'
      title: CompanyWithTokensResponse
      type: object
    CompanyActionsResponse:
      description: Lists a company's pending actions
      example:
        data:
          actions:
          - required: true
            type: verify_company
          - legal_entity_id: 31b8e49b-aa1c-47af-849c-3d0a53e20e0d
            required: true
            type: setup_remote_payments
      properties:
        data:
          properties:
            actions:
              items:
                $ref: '#/components/schemas/CompanyAction'
              type: array
          type: object
      required:
      - data
      title: CompanyActionsResponse
      type: object
    RefreshTokenResponse:
      allOf:
      - $ref: '#/components/schemas/BaseTokenResponse'
      - example:
          access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
          expires_in: 7200
          refresh_token: b480036a-d229-49ef-a606-7e8fba58a5eb
          token_type: Bearer
        properties:
          refresh_token:
            description: The refresh token
            type: string
        type: object
      example:
        access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
        expires_in: 7200
        refresh_token: b480036a-d229-49ef-a606-7e8fba58a5eb
        token_type: Bearer
      title: RefreshTokenResponse
      type: object
    UnauthorizedResponse:
      description: Returned when the request does not include valid authentication credentials. Ensure you are passing a valid OAuth2 access token or API token in the Authorization header.
      example:
        message: Unauthorized
      properties:
        message:
          pattern: Unauthorized
          type: string
      required:
      - message
      title: UnauthorizedResponse
      type: object
    CompanyAction:
      description: A pending company-level action (e.g. for Contractor Management Review-step banners).
      example:
        legal_entity_id: 31b8e49b-aa1c-47af-849c-3d0a53e20e0d
        required: true
        type: setup_remote_payments
      properties:
        legal_entity_id:
          description: The legal entity that needs Remote Payments setup. Present only for setup_remote_payments actions.
          nullable: true
          type: string
        required:
          description: Whether the action must be completed.
          type: boolean
        type:
          description: The action the company still needs to complete.
          enum:
          - verify_company
          - setup_remote_payments
          type: string
      required:
      - type
      - required
      title: CompanyAction
      type: object
    CompanyCreationConflictErrorResponse:
      example:
        data:
          message: The company with the provided EIN is already registered.
      properties:
        message:
          oneOf:
          - $ref: '#/components/schemas/CompanyAlreadyExistsErrorResponse'
          - $ref: '#/components/schemas/CompanyNotEligibleForCreationErrorResponse'
      title: CompanyCreationConflictErrorResponse
      type: object
    UnprocessableEntityResponse:
      anyOf:
      - properties:
          errors:
            type: object
        required:
        - errors
        type: object
      - properties:
          message:
            oneOf:
            - type: string
            - $ref: '#/components/schemas/ParameterError'
            - items:
                $ref: '#/components/schemas/ParameterError'
              title: ParameterErrors
              type: array
            - $ref: '#/components/schemas/ActionError'
            - items:
                $ref: '#/components/schemas/ActionError'
              title: ActionErrors
              type: array
        required:
        - message
        type: object
      example:
        errors:
          some_field:
          - is invalid
      title: UnprocessableEntityResponse
      type: object
    BadRequestResponse:
      description: Returned when the request is malformed or contains invalid parameters. The message may be a simple string or a structured object with a code and detailed message.
      example:
        message: invalid {resource}
      oneOf:
      - properties:
          message:
            description: A human-readable error message describing what was wrong with the request.
            type: string
        required:
        - message
        type: object
      - properties:
          message:
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
            - message
            type: object
        type: object
      title: BadRequestResponse
      type: object
    ActionError:
      properties:
        action:
          description: The action that lead to the error message.
          type: string
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
      required:
      - code
      - message
      - action
      title: ActionError
      type: object
    ClientCredentialsResponse:
      allOf:
      - $ref: '#/components/schemas/BaseTokenResponse'
      example:
        access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
        expires_in: 7200
        token_type: Bearer
      title: ClientCredentialsResponse
      type: object
    BaseTokenResponse:
      example:
        access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
        expires_in: 7200
        token_type: Bearer
      properties:
        access_token:
          description: A JWT token.
          type: string
        expires_in:
          description: Number of seconds until token is expired.
          format: int32
          type: integer
        token_type:
          description: The type of the token. For now, always `Bearer`.
          type: string
      title: BaseTokenResponse
      type: object
    ForbiddenResponse:
      description: Returned when the authenticated user or token does not have permission to perform the requested action. Check that the token has the required OAuth2 scopes and that the user has the necessary role.
      example:
        message: Forbidden
      properties:
        message:
          pattern: Forbidden
          type: string
      required:
      - message
      title: ForbiddenResponse
      type: object
    NotFoundResponse:
      description: Returned when the requested resource does not exist or is not accessible with the current authentication credentials.
      example:
        message: '{resource} not found'
      properties:
        message:
          description: A message indicating which resource was not found.
          pattern: Not Found
          type: string
      title: NotFoundResponse
      type: object
    CompanyAlreadyExistsErrorResponse:
      description: Error returned when a company with matching criteria already exists
      example:
        data:
          code: resource_already_exists
          message: The company with the provided EIN is already registered.
          resource_id: d1bb9535-3296-4240-8a67-81475bd24e80
          resource_type: company_creation
      properties:
        code:
          pattern: resource_already_exists
          type: string
        message:
          pattern: The company with the provided EIN is already registered.
          type: string
        resource_id:
          format: uuid
          type: string
        resource_type:
          pattern: company_creation
          type: string
      title: CompanyAlreadyExistsErrorResponse
      type: object
    CompanyCreationResponse:
      example:
        data:
          data:
            company:
              address_details:
                address: 1709 Broderick St
                address_line_2: Flat number 123
                city: San Francisco
                postal_code: '94115'
                state: CA
              bank_account_details:
                account_holder: Joe Smith
                account_number: '31234123123'
                account_type: savings
                name: Bank name
                ownership_type: BUSINESS
                routing_number: '123124123'
              company_owner_email: te@remote.com
              company_owner_name: Joe Smith
              company_owner_user_id: 75619adf-8775-4531-9e7d-5b2cbabdc1a8
              country_code: USA
              created_at: '2021-07-15T18:18:17Z'
              default_legal_entity_credit_risk_status: no_deposit_required
              desired_currency: USD
              external_id: '00001111'
              id: e5a8b061-company-id-4c5c81ac885e
              name: Your Company Name
              phone_number: '+1123123456'
              status: active
              terms_of_service_accepted_at: '2021-10-29T12:39:15Z'
              updated_at: '2021-07-15T18:18:17Z'
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/CompanyResponse'
          - $ref: '#/components/schemas/CompanyWithTokensResponse'
      title: CompanyCreationResponse
      type: object
    CompanyFormResponse:
      description: Object with required and optional fields, its descriptions and suggested presentation
      example:
        data:
          additionalProperties: false
          properties:
            address:
              maxLength: 255
              title: Address
              type: string
      properties:
        data:
          type: object
      title: CompanyFormResponse
      type: object
    OAuth2Tokens:
      anyOf:
      - $ref: '#/components/schemas/AuthorizationCodeResponse'
      - $ref: '#/components/schemas/ClientCredentialsResponse'
      - $ref: '#/components/schemas/RefreshTokenResponse'
      example:
        access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
        company_id: 6e60f5f9-e6a6-4b04-b13c-84bced848bab
        expires_in: 7200
        refresh_token: b480036a-d229-49ef-a606-7e8fba58a5eb
        token_type: Bearer
        user_id: 6550e536-8655-4bce-8bd9-b295f786ad71
      title: OAuth2Tokens
      type: object
    CompaniesResponse:
      description: Shows a list of companies
      example:
        data:
          companies:
          - address_details:
              address: 1709 Broderick St
              address_line_2: Flat number 123
              city: San Francisco
              postal_code: '94115'
              state: CA
            bank_account_details:
              account_holder: Joe Smith
              account_number: '31234123123'
              account_type: savings
              name: Bank name
              ownership_type: BUSINESS
              routing_number: '123124123'
            company_owner_email: te@remote.com
            company_owner_name: Joe Smith
            company_owner_user_id: 75619adf-8775-4531-9e7d-5b2cbabdc1a8
            country_code: USA
            created_at: '2021-07-15T18:18:17Z'
            default_legal_entity_credit_risk_status: no_deposit_required
            desired_currency: USD
            external_id: '00001111'
            id: e5a8b061-company-id-4c5c81ac885e
            name: Your Company Name
            phone_number: '+1123123456'
            status: active
            terms_of_service_accepted_at: '2021-10-29T12:39:15Z'
            updated_at: '2021-07-15T18:18:17Z'
      properties:
        companies:
          items:
            $ref: '#/components/schemas/Company'
          type: array
      title: CompaniesResponse
      type: object
    CompanyResponse:
      description: Shows a company
      example:
        data:
          company:
            address_details:
              address: 1709 Broderick St
              address_line_2: Flat number 123
              city: San Francisco
              postal_code: '94115'
              state: CA
            bank_account_details:
              account_holder: Joe Smith
              account_number: '31234123123'
              account_type: savings
              name: Bank name
              ownership_type: BUSINESS
              routing_number: '123124123'
            company_owner_email: te@remote.com
            company_owner_name: Joe Smith
            company_owner_user_id: 75619adf-8775-4531-9e7d-5b2cbabdc1a8
            country_code: USA
            created_at: '2021-07-15T18:18:17Z'
            default_legal_entity_credit_risk_status: no_deposit_required
            desired_currency: USD
            external_id: '00001111'
            id: e5a8b061-company-id-4c5c81ac885e
            name: Your Company Name
            phone_number: '+1123123456'
            status: active
            terms_of_service_accepted_at: '2021-10-29T12:39:15Z'
            updated_at: '2021-07-15T18:18:17Z'
      properties:
        data:
          properties:
            company:
              $ref: '#/components/schemas/Company'
      required:
      - data
      title: CompanyResponse
      type: object
    AuthorizationCodeResponse:
      allOf:
      - $ref: '#/components/schemas/BaseTokenResponse'
      - example:
          access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
          company_id: 6e60f5f9-e6a6-4b04-b13c-84bced848bab
          expires_in: 7200
          refresh_token: b480036a-d229-49ef-a606-7e8fba58a5eb
          token_type: Bearer
          user_id: 6550e536-8655-4bce-8bd9-b295f786ad71
        properties:
          company_id:
            description: The ID of the connected company.
            type: string
          refresh_token:
            description: The refresh token. This token must be stored and used for issuing new access tokens for managing the company's resources.
            type: string
          user_id:
            description: The ID of the user who connected the company.
            type: string
        type: object
      example:
        access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
        company_id: 6e60f5f9-e6a6-4b04-b13c-84bced848bab
        expires_in: 7200
        refresh_token: b480036a-d229-49ef-a606-7e8fba58a5eb
        token_type: Bearer
        user_id: 6550e536-8655-4bce-8bd9-b295f786ad71
      title: AuthorizationCodeResponse
      type: object
    CreateCompanyParams:
      example:
        address_details:
          address: 1709 Broderick St
          address_line_2: Flat number 123
          city: San Francisco
          postal_code: '94115'
          state: CA
        bank_account_details:
          account_holder: Joe Smith
          account_number: '31234123123'
          account_type: savings
          name: Bank name
          ownership_type: BUSINESS
          routing_number: '123124123'
        company_owner_email: ceo@techvision.com
        company_owner_name: Joe Smith
        country_code: USA
        desired_currency: USD
        external_id: '00001111'
        name: Tech Vision
        phone_number: '+11123123456'
        tax_number: '123456789'
        terms_of_service_accepted_at: '2022-05-05 15:03:45Z'
      properties:
        address_details:
          description: 'Fields can vary depending on the country. Please, check the required fields structure using the [Show form schema endpoint](#operation/get_show_form_country).

            Use the desired country and `address_details` as the form name for the placeholders.

            The response complies with the [JSON Schema](https://developer.remote.com/docs/how-json-schemas-work) specification.

            '
          type: object
        bank_account_details:
          description: 'Fields can vary depending on the country. Please, check the required fields structure using the [Show form schema endpoint](#operation/get_show_form_country).

            Use the desired country and `bank_account_details` as the form name for the placeholders.

            The response complies with the [JSON Schema](https://developer.remote.com/docs/how-json-schemas-work) specification.

            '
          type: object
        company_owner_email:
          description: 'The company owner email.


            This value cannot be changed once set.

            '
          format: email
          type: string
        company_owner_name:
          description: 'The company owner name.


            This value cannot be changed from the Remote API once set.

            '
          type: string
        country_code:
          description: '3-letter country code of the country the company address is located in.


            For a list of countries supported through the Remote API, make a call to the [list countries endpoint](#tag/Countries/operation/get_supported_country). This endpoint will also include the 3-letter country codes you can use for this field.

            '
          type: string
        desired_currency:
          description: Desired currency for invoicing and displaying converted salaries in Remote UI regardless of the employee's country.
          enum:
          - AUD
          - CAD
          - CHF
          - DKK
          - EUR
          - GBP
          - JPY
          - NOK
          - NZD
          - SEK
          - SGD
          - USD
          type: string
        email_domain:
          description: The domain of the company. Use this field to specify the company domain name when it's different from the domain in the company owner's email.
          type: string
        external_id:
          description: Id of the company as represented in the external partner system.
          type: string
        name:
          description: The company name
          type: string
        phone_number:
          description: A phone number the company can be contacted with.
          type: string
        registration_number:
          description: The company registration number. This field or `tax_number` (but not both) should be submitted.
          type: string
        tax_number:
          description: The tax identifier of the company. This field or `registration_number` (but not both) should be submitted.
          type: string
        terms_of_service_accepted_at:
          description: 'Date and time the Terms of Service were accepted. To ensure users read the most recent version of Remote''s Terms of Service, their action cannot have been done more than fifteen minutes ago. The UTC offset must be included in the ISO 8601 format: `YYYY-MM-DD HOURS:MINUTES:SECONDSZ`'
          format: date-time
          type: string
      required:
      - company_owner_email
      - company_owner_name
      - country_code
      - desired_currency
      - name
      - terms_of_service_accepted_at
      title: CreateCompanyParams
      type: object
    UpdateCompanyParams:
      example:
        address_details:
          address: 1709 Broderick St
          address_line_2: Flat number 123
          city: San Francisco
          postal_code: '94115'
          state: CA
        bank_account_details:
          account_holder: Joe Smith
          account_number: '31234123123'
          account_type: savings
          name: Bank name
          ownership_type: BUSINESS
          routing_number: '123124123'
        country_code: USA
        desired_currency: USD
        name: Tech Vision
        phone_number: '+11123123456'
        tax_number: '123456789'
      properties:
        address_details:
          description: 'Fields can vary depending on the country. Please, check the required fields structure using the [Show form schema endpoint](#operation/get_show_form_country).

            Use the desired country and `address_details` as the form name for the placeholders.

            The response complies with the [JSON Schema](https://developer.remote.com/docs/how-json-schemas-work) specification.

            '
          type: object
        bank_account_details:
          description: 'Fields can vary depending on the country. Please, check the required fields structure using the [Show form schema endpoint](#operation/get_show_form_country).

            Use the desired country and `bank_account_details` as the form name for the placeholders.

            The response complies with the [JSON Schema](https://developer.remote.com/docs/how-json-schemas-work) specification.

            '
          type: object
        country_code:
          description: Country of company address
          type: string
        desired_currency:
          description: 'Desired currency for invoicing and displaying converted salaries in Remote UI regardless of the employee''s country.


            This field is only accepted if company is in status `pending`. Please contact Remote if you wish to update it.

            '
          enum:
          - AUD
          - CAD
          - CHF
          - DKK
          - EUR
          - GBP
          - JPY
          - NOK
          - NZD
          - SEK
          - SGD
          - USD
          type: string
        name:
          description: 'This field is only accepted if company is in status `pending`. Please contact Remote if you wish to update it.

            '
          type: string
        phone_number:
          description: A phone number the company can be contacted with.
          type: string
        registration_number:
          description: 'The company registration number. This field or tax_number (but not both) should be submitted.


            This field is only accepted if company is in status `pending`.

            '
          type: string
        tax_number:
          description: "  The tax identifier of the company. This field or registration_number (but not both) should be submitted.\n\n  This field is only accepted if company is in status `pending`.\n"
          type: string
      title: UpdateCompanyParams
      type: object
    TooManyRequestsResponse:
      description: Returned when the API rate limit has been exceeded (HTTP 429). Wait before retrying. Check the `Retry-After` response header for the recommended wait time.
      example:
        message: Too many requests
      properties:
        message:
          pattern: Too many requests
          type: string
      title: TooManyRequestsResponse
      type: object
    Company:
      example:
        address_details:
          address: 1709 Broderick St
          address_line_2: Flat number 123
          city: San Francisco
          postal_code: '94115'
          state: CA
        bank_account_details:
          account_holder: Joe Smith
          account_number: '31234123123'
          account_type: savings
          name: Bank name
          ownership_type: BUSINESS
          routing_number: '123124123'
        company_owner_email: te@remote.com
        company_owner_name: Joe Smith
        company_owner_user_id: 75619adf-8775-4531-9e7d-5b2cbabdc1a8
        country_code: USA
        created_at: '2021-07-15T18:18:17Z'
        default_legal_entity_credit_risk_status: no_deposit_required
        desired_currency: USD
        external_id: '00001111'
        id: e5a8b061-company-id-4c5c81ac885e
        name: Your Company Name
        phone_number: '+1123123456'
        status: active
        terms_of_service_accepted_at: '2021-10-29T12:39:15Z'
        updated_at: '2021-07-15T18:18:17Z'
      properties:
        address_details:
          description: 'Fields can vary depending on the country. Please, check the required fields structure using the [Show form schema endpoint](#operation/get_show_form_country).

            Use the desired country and `address_details` as the form name for the placeholders.

            The response complies with the [JSON Schema](https://developer.remote.com/docs/how-json-schemas-work) specification.

            '
          type: object
        bank_account_details:
          description: 'Fields can vary depending on the country. Please, check the required fields structure using the [Show form schema endpoint](#operation/get_show_form_country).

            Use the desired country and `bank_account_details` as the form name for the placeholders.

            The response complies with the [JSON Schema](https://developer.remote.com/docs/how-json-schemas-work) specification.

            '
          type: object
        company_owner_email:
          description: The email address of the company owner who administers the Remote account.
          format: email
          type: string
        company_owner_name:
          description: The full name of the company owner. Cannot be changed after company creation.
          type: string
        company_owner_user_id:
          description: The unique identifier (UUID) of the company owner's user account on Remote.
          type: string
        country_code:
          description: The ISO 3166-1 3-letter country code where the company is registered.
          type: string
        created_at:
          description: The timestamp when the company was created on Remote.
          format: date-time
          type: string
        default_legal_entity_credit_risk_status:
          description: 'The credit risk status of the company default legal entity.

            - `not_started`: The credit risk assessment has not started yet.

            - `ready`: The credit risk assessment is ready to be started.

            - `in_progress`: The automated credit risk assessment is in progress.

            - `referred`: The credit risk assessment has been referred to a human reviewer.

            - `fail`: The credit risk assessment has failed and the company will be archived.

            - `deposit_required`: The company default legal entity requires a deposit before onboarding new employees.

            - `no_deposit_required`: The company default legal entity does not require a deposit before onboarding new employees.

            '
          enum:
          - not_started
          - ready
          - in_progress
          - referred
          - fail
          - deposit_required
          - no_deposit_required
          type: string
        desired_currency:
          description: The ISO 4217 currency code the company prefers for billing and invoicing (e.g., "USD", "EUR").
          type: string
        external_id:
          description: A unique reference code for this company in a non-Remote system. Null if not set.
          nullable: true
          type: string
        id:
          description: The unique identifier (UUID) of the company.
          type: string
        name:
          description: The company's registered name. Can only be changed while the company is in `pending` status.
          type: string
        phone_number:
          description: The company's contact phone number.
          type: string
        registration_number:
          description: The company's business registration number. Null if not provided. Can only be set while the company is in `pending` status.
          nullable: true
          type: string
        status:
          description: "The company status determines what a company is allowed to do:\n- `pending`: The company has been created and the company owner invited. Remote is waiting for the company owner to complete onboarding.\n- `review`: The company is under review. In rare occasions, a company may not automatically get created in `active` status because Remote needs to\n  manually review the company that was created. The company will become `active` once the review is completed and no further action is necessary\n  through the Remote API.\n- `active`: The company owner has completed onboarding and the company is ready to employ.\n- `archived`: The company is no longer active on the Remote platform and no changes can be made to the company.\n"
          enum:
          - pending
          - review
          - active
          - archived
          type: string
        tax_number:
          description: The company's tax identification number. Null if not provided. Can only be set while the company is in `pending` status.
          nullable: true
          type: string
        terms_of_service_accepted_at:
          description: The timestamp when the company owner accepted Remote's Terms of Service.
          format: date-time
          type: string
        updated_at:
          description: The timestamp when the company record was last updated.
          format: date-time
          type: string
      required:
      - address_details
      - company_owner_email
      - company_owner_user_id
      - country_code
      - created_at
      - desired_currency
      - id
      - name
      - status
      - updated_at
      - terms_of_service_accepted_at
      - default_legal_entity_credit_risk_status
      title: Company
      type: object
  securitySchemes:
    BasicAuth:
      description: 'Authenticate using the basic authentication for partners.


        Use the CLIENT_ID as login and CLIENT_SECRET as password.

        '
      scheme: basic
      type: http
    ClientToken:
      description: 'Authenticate a partner using only the the provided `client_token`.


        This authentication method only allows accessing marketing endpoints.

        '
      scheme: bearer
      type: http
    CustomerAPIToken:
      description: 'Authenticate using API Key generated by the customer in their Integration Settings page.

        '
      scheme: bearer
      type: http
    OAuth2:
      description: 'Authenticate using OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2Assertion:
      description: 'Authenticate as the employee using the `urn:ietf:params:oauth:grant-type:jwt-bearer` grant in the OAuth2 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            address:read: address:read
            address:write: address:write
            bank_account:read: bank_account:read
            bank_account:write: bank_account:write
            document:read: document:read
            document:write: document:write
            emergency_contact:read: emergency_contact:read
            emergency_contact:write: emergency_contact:write
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            expense:read: expense:read
            incentive:read: incentive:read
            payroll: payroll
            payslip:read: payslip:read
            personal_detail:read: personal_detail:read
            personal_detail:write: personal_detail:write
            time_and_attendance: time_and_attendance
            timeoff:read: timeoff:read
            timeoff:write: timeoff:write
            timesheet:read: timesheet:read
          tokenUrl: /auth/oauth2/token
          x-assertionType: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
      type: oauth2
    OAuth2AuthorizationCode:
      description: 'Authenticate as the token authorizer using `authorization_code` / `refresh_token` grants in the OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          refreshUrl: /auth/oauth2/token
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2ClientCredentials:
      description: 'Authenticate using `client_credentials` grant in the OAuth 2.0 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
