openapi: 3.0.0
info:
  title: Remote Address Details Pay & Compensation API
  version: 0.1.0
servers:
- url: https://gateway.remote.com/
  variables: {}
- url: https://gateway.remote-sandbox.com/
  variables: {}
security:
- OAuth2: []
tags:
- name: Pay & Compensation
paths:
  /v1/pay-items/bulk:
    post:
      callbacks: {}
      deprecated: false
      description: 'Bulk creates pay items for employments. Supports up to 500 items per request.

        Integration-specific fields (shift code, currency, pay amount, etc.) go in the `provider_data` object.

        Only Global Payroll employments are supported. Non-GP employments are returned as `employment_not_global_payroll`.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage payroll runs (`payroll`) | - | Manage pay items (`pay_item:write`) |

        '
      operationId: post_v1_pay-items_bulk
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCreatePayItemsParams'
        description: Pay Items
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreatePayItemsResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - pay_item:write
        - payroll
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - pay_item:write
        - payroll
        - all:write
      summary: Bulk Create Pay Items
      tags:
      - Pay & Compensation
  /v1/currency-converter/raw:
    post:
      callbacks: {}
      deprecated: false
      description: "Convert currency using FX rates used in Remote’s estimation tools.\n      These rates are not guaranteed to match final onboarding or contract rates.\n\n## Scopes\n\n| Category | Read only Scope | Write only Scope (read access implicit) |\n|---|---|---|\n| Manage company resources (`company_admin`) | Convert currencies (`convert_currency:read`) | - |\n"
      operationId: post_v1_currency-converter_raw
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertCurrencyParams'
        description: Convert currency parameters
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertCurrencyResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - ClientToken:
        - https://gateway.remote.com/company.manage
        - convert_currency:read
        - company_admin
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - convert_currency:read
        - company_admin
        - all:write
        - all:read
        OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - convert_currency:read
        - company_admin
        - all:write
        - all:read
      summary: Convert currency using flat rates
      tags:
      - Pay & Compensation
  /v1/cost-calculator/estimation:
    post:
      callbacks: {}
      deprecated: false
      operationId: post_v1_cost-calculator_estimation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCalculatorEstimateParams'
        description: Estimate params
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCalculatorEstimateResponse'
          description: Success
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - ClientToken: []
        CustomerAPIToken: []
        OAuth2AuthorizationCode: []
        OAuth2ClientCredentials: []
      summary: Creates a cost estimation of employments
      tags:
      - Pay & Compensation
  /v1/payroll-calendars:
    get:
      callbacks: {}
      deprecated: false
      description: 'List all active payroll calendars for EOR.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage payroll runs (`payroll`) | View payroll calendars (`payroll_calendar:read`) | - |

        '
      operationId: get_v1_payroll-calendars
      parameters:
      - description: Filter payroll calendars by country code
        example: BRA
        in: query
        name: country_code
        required: false
        schema:
          type: string
      - description: Filter payroll calendars by year
        example: '2024'
        in: query
        name: year
        required: false
        schema:
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollCalendarsEORResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - payroll_calendar:read
        - payroll
        - all:write
        - all:read
      summary: List EOR Payroll Calendar
      tags:
      - Pay & Compensation
  /v1/incentives/recurring:
    get:
      callbacks: {}
      description: 'List all Recurring Incentives of a company.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | View incentives (`incentive:read`) | Manage incentives (`incentive:write`) |

        '
      operationId: get_v1_incentives_recurring
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: 'Filter by recurring incentive status: active or deactive.'
        example: active
        in: query
        name: status
        required: false
        schema:
          type: string
      - description: Filter by recurring incentive type.
        example: meal_allowance
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Filter by recurring incentives that contain the value in their notes.
        example: meal
        in: query
        name: note
        required: false
        schema:
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
      - description: Change the amount of records returned per page, defaults to 20, limited to 100
        example: 30
        in: query
        name: page_size
        required: false
        schema:
          type: integer
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRecurringIncentivesResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - incentive:read
        - incentive:write
        - employment_payments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - incentive:read
        - incentive:write
        - employment_payments
        - all:write
        - all:read
      summary: List Recurring Incentive
      tags:
      - Pay & Compensation
    post:
      callbacks: {}
      description: 'Create a Recurring Incentive, that is, a monthly paid incentive.


        Incentives use the currency of the employment specified provided in the `employment_id` field.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage incentives (`incentive:write`) |

        '
      operationId: post_v1_incentives_recurring
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecurringIncentiveParams'
        description: RecurringIncentive
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringIncentiveResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - incentive:write
        - employment_payments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - incentive:write
        - employment_payments
        - all:write
      summary: Create Recurring Incentive
      tags:
      - Pay & Compensation
  /v1/expenses:
    get:
      callbacks: {}
      description: 'Lists all expenses records


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | View expenses (`expense:read`) | Manage expenses (`expense:write`) |

        '
      operationId: get_v1_expenses
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
      - description: Change the amount of records returned per page, defaults to 20, limited to 100
        example: 30
        in: query
        name: page_size
        required: false
        schema:
          type: integer
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExpenseResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
      summary: List expenses
      tags:
      - Pay & Compensation
    post:
      callbacks: {}
      description: 'Creates an **approved** expense


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage expenses (`expense:write`) |

        '
      operationId: post_v1_expenses
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParamsToCreateExpense'
        description: Expenses
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:write
        - employment_payments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:write
        - employment_payments
        - all:write
      summary: Create expense
      tags:
      - Pay & Compensation
  /v1/payroll-runs/{payroll_run_id}/gl-reports:
    post:
      callbacks: {}
      deprecated: false
      description: 'Triggers generation of a General Ledger report for the given payroll run and type.

        Returns immediately with a `pending` report — poll `show` until `status` is `completed`,

        then call `download`.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage payroll runs (`payroll`) | View payroll runs (`payroll_run:read`) | - |

        '
      operationId: post_v1_payroll-runs_payroll_run_id_gl-reports
      parameters:
      - description: The payroll run's ID
        example: 93t3j-payroll-run-id-9suej43
        in: path
        name: payroll_run_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGLReportParams'
        description: GL report type
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GLReportResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - payroll_run:read
        - payroll
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - payroll_run:read
        - payroll
        - all:write
        - all:read
      summary: Create a GL report
      tags:
      - Pay & Compensation
  /v1/incentives/recurring/{id}:
    delete:
      callbacks: {}
      description: 'Delete a Recurring Incentive, that is, a monthly paid incentive.


        Internally, Remote schedules upcoming incentives. As such, when you attempt to

        delete a recurring incentive, Remote will **ONLY** delete scheduled incentives

        with the `pending` status.


        Incentives payments that are already scheduled and cannot be deleted will be

        included in the response, in case you need to reference them.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage incentives (`incentive:write`) |

        '
      operationId: delete_v1_incentives_recurring_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Recurring Incentive ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRecurringIncentiveResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - incentive:write
        - employment_payments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - incentive:write
        - employment_payments
        - all:write
      summary: Delete a Recurring Incentive
      tags:
      - Pay & Compensation
  /v1/incentives:
    get:
      callbacks: {}
      description: 'Lists all Incentives of a company


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | View incentives (`incentive:read`) | Manage incentives (`incentive:write`) |

        '
      operationId: get_v1_incentives
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Filter by Employment ID
        example: 93t3j-employment-id-9suej43
        in: query
        name: employment_id
        required: false
        schema:
          type: string
      - description: Filter by Incentive status
        example: paid
        in: query
        name: status
        required: false
        schema:
          type: string
      - description: Filter by Recurring Incentive id
        example: 2f900aaf-4952-4ec4-ac7c-2b917a2b4da9
        in: query
        name: recurring_incentive_id
        required: false
        schema:
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
      - description: Change the amount of records returned per page, defaults to 20, limited to 100
        example: 30
        in: query
        name: page_size
        required: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIncentivesResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - incentive:read
        - incentive:write
        - employment_payments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - incentive:read
        - incentive:write
        - employment_payments
        - all:write
        - all:read
      summary: List Incentives
      tags:
      - Pay & Compensation
    post:
      callbacks: {}
      description: 'Creates an Incentive.


        Incentives use the currency of the employment specified provided in the `employment_id` field.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage incentives (`incentive:write`) |

        '
      operationId: post_v1_incentives
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOneTimeIncentiveParams'
        description: Incentive
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - incentive:write
        - employment_payments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - incentive:write
        - employment_payments
        - all:write
      summary: Create Incentive
      tags:
      - Pay & Compensation
  /v1/payroll-runs/{payroll_run_id}/gl-reports/{gl_report_id}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Returns the current status of a GL report. Poll until `status` is `completed`, then call `download`.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage payroll runs (`payroll`) | View payroll runs (`payroll_run:read`) | - |

        '
      operationId: get_v1_payroll-runs_payroll_run_id_gl-reports_gl_report_id
      parameters:
      - description: The payroll run's ID
        example: 93t3j-payroll-run-id-9suej43
        in: path
        name: payroll_run_id
        required: true
        schema:
          type: string
      - description: The GL report's ID
        example: 93t3j-gl-report-id-9suej43
        in: path
        name: gl_report_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GLReportResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - payroll_run:read
        - payroll
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - payroll_run:read
        - payroll
        - all:write
        - all:read
      summary: Show a GL report
      tags:
      - Pay & Compensation
  /v1/cost-calculator/estimation-pdf:
    post:
      callbacks: {}
      deprecated: false
      description: Creates a PDF cost estimation of employments based on the provided parameters.
      operationId: post_v1_cost-calculator_estimation-pdf
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCalculatorEstimateParams'
        description: Estimate params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCalculatorEstimatePDFResponse'
          description: Success
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - ClientToken: []
        CustomerAPIToken: []
        OAuth2AuthorizationCode: []
        OAuth2ClientCredentials: []
      summary: Creates PDF cost estimation of employments
      tags:
      - Pay & Compensation
  /v1/payroll-runs/{payroll_run_id}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Given an ID, shows a payroll run.

        `employee_details` field is deprecated in favour of the `employee_details` endpoint and will be removed in the future.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage payroll runs (`payroll`) | View payroll runs (`payroll_run:read`) | - |

        '
      operationId: get_v1_payroll-runs_payroll_run_id
      parameters:
      - description: Payroll run ID
        example: 93t3j-payroll_run_id-9suej43
        in: path
        name: payroll_run_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollRunResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - payroll_run:read
        - payroll
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - payroll_run:read
        - payroll
        - all:write
        - all:read
      summary: Show Company Payroll Runs
      tags:
      - Pay & Compensation
  /v1/expenses/{expense_id}/receipt:
    get:
      callbacks: {}
      deprecated: true
      description: "  Downloads an expense receipt.\n\n  Deprecated since late February 2024 in favour of **[Download a receipt by id](#tag/Expenses/operation/get_download_by_id_expense_receipt)** endpoint.\n\n\n## Scopes\n\n| Category | Read only Scope | Write only Scope (read access implicit) |\n|---|---|---|\n| Manage expenses (`employment_payments`) | View expenses (`expense:read`) | Manage expenses (`expense:write`) |\n"
      operationId: get_v1_expenses_expense_id_receipt
      parameters:
      - description: The expense ID
        example: 3ab2e491-ad1c-47af-849c-3d0a53e20e0d
        in: path
        name: expense_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/GenericFile'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/heic:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/jpg:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/png:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/webp:
              schema:
                $ref: '#/components/schemas/GenericFile'
            text/csv:
              schema:
                $ref: '#/components/schemas/GenericFile'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
      summary: Download a receipt
      tags:
      - Pay & Compensation
  /v1/expenses/categories:
    get:
      callbacks: {}
      description: Lists the effective hierarchy of expense categories. At least one of employment_id, expense_id, or country_code must be provided.
      operationId: get_v1_expenses_categories
      parameters:
      - description: The employment ID for which to list categories. Required if neither expense_id nor country_code is provided.
        in: query
        name: employment_id
        required: false
        schema:
          type: string
      - description: The expense ID for which to list categories (includes the expense's category, even if it is not selectable by default). If provided without employment_id, will use the expense's employment context.
        in: query
        name: expense_id
        required: false
        schema:
          type: string
      - description: Include un-selectable intermediate categories in the response
        in: query
        name: include_parents
        required: false
        schema:
          type: boolean
      - description: Filter categories by country (ISO 3166-1 alpha-3 code, e.g. "GBR"). Only used when neither employment_id nor expense_id is provided.
        in: query
        name: country_code
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExpenseCategoriesResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: List expense categories
      tags:
      - Pay & Compensation
  /v1/cost-calculator/countries:
    get:
      callbacks: {}
      deprecated: false
      description: Lists active and processing countries
      operationId: get_v1_cost-calculator_countries
      parameters:
      - description: If the premium benefits should be included in the response
        example: 'true'
        in: query
        name: include_premium_benefits
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCalculator.ListCountryResponse'
          description: Success
      security:
      - ClientToken: []
        CustomerAPIToken: []
        OAuth2AuthorizationCode: []
        OAuth2ClientCredentials: []
      summary: List countries for Cost Calculator
      tags:
      - Pay & Compensation
  /v1/companies/{company_id}/legal-entities/{legal_entity_id}/pay-codes:
    get:
      callbacks: {}
      deprecated: false
      description: 'Lists pay codes available for a legal entity.

        Pay codes represent the allowed pay element types that can be submitted via `POST /v1/pay-items/bulk`.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage payroll runs (`payroll`) | View pay items (`pay_item:read`) | Manage pay items (`pay_item:write`) |

        '
      operationId: get_v1_companies_company_id_legal-entities_legal_entity_id_pay-codes
      parameters:
      - description: Company ID
        in: path
        name: company_id
        required: true
        schema:
          $ref: '#/components/schemas/UuidSlug'
      - description: Legal entity ID
        in: path
        name: legal_entity_id
        required: true
        schema:
          $ref: '#/components/schemas/UuidSlug'
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPayCodesResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
      security:
      - OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - pay_item:read
        - pay_item:write
        - payroll
        - all:write
        - all:read
        OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - pay_item:read
        - pay_item:write
        - payroll
        - all:write
        - all:read
      summary: List Pay Codes
      tags:
      - Pay & Compensation
  /v1/payroll-calendars/{cycle}:
    get:
      callbacks: {}
      deprecated: false
      description: 'List all payroll calendars for the company within the requested cycle.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage payroll runs (`payroll`) | View payroll calendars (`payroll_calendar:read`) | - |

        '
      operationId: get_v1_payroll-calendars_cycle
      parameters:
      - description: 'The cycle for which to list the payroll calendars. Format: YYYY-MM'
        example: 2024-09
        in: path
        name: cycle
        required: true
        schema:
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollCalendarsResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - payroll_calendar:read
        - payroll
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - payroll_calendar:read
        - payroll
        - all:write
        - all:read
      summary: List Company Payroll Calendar
      tags:
      - Pay & Compensation
  /v1/cost-calculator/regions/{slug}/fields:
    get:
      callbacks: {}
      description: "Returns required fields JSON Schema for a given region. These are required in order to calculate\n      the cost of employment for the region. These fields are based on employer contributions that are associated\n      with the region or any of it's parent regions."
      operationId: get_v1_cost-calculator_regions_slug_fields
      parameters:
      - description: Slug
        in: path
        name: slug
        required: true
        schema:
          type: string
      - description: If the premium benefits should be included in the response
        example: 'true'
        in: query
        name: include_premium_benefits
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONSchemaResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - ClientToken: []
        CustomerAPIToken: []
        OAuth2AuthorizationCode: []
        OAuth2ClientCredentials: []
      summary: Show region fields
      tags:
      - Pay & Compensation
  /v1/payroll-runs/{payroll_run_id}/employee-details:
    get:
      callbacks: {}
      deprecated: false
      description: 'Gets the employee details for a payroll run


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage payroll runs (`payroll`) | View payroll runs (`payroll_run:read`) | - |

        '
      operationId: get_v1_payroll-runs_payroll_run_id_employee-details
      parameters:
      - description: Payroll run ID
        example: 93t3j-payroll_run_id-9suej43
        in: path
        name: payroll_run_id
        required: true
        schema:
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeDetailsResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - payroll_run:read
        - payroll
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - payroll_run:read
        - payroll
        - all:write
        - all:read
      summary: Get Employee Details for a Payroll Run
      tags:
      - Pay & Compensation
  /v1/cost-calculator/estimation-csv:
    post:
      callbacks: {}
      deprecated: false
      description: Creates CSV cost estimation of employments
      operationId: post_v1_cost-calculator_estimation-csv
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCalculatorEstimateParams'
        description: Estimate params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCalculatorEstimateCSVResponse'
          description: Success
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - ClientToken: []
        CustomerAPIToken: []
        OAuth2AuthorizationCode: []
        OAuth2ClientCredentials: []
      summary: Creates a CSV cost estimation of employments
      tags:
      - Pay & Compensation
  /v1/payslips/{payslip_id}/pdf:
    get:
      callbacks: {}
      description: 'Given a Payslip ID, downloads a payslip.

        It is important to note that each country has a different payslip format and they are not authored by Remote.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | View payslips (`payslip:read`) | - |

        '
      operationId: get_v1_payslips_payslip_id_pdf
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Payslip ID
        example: 93t3j-payslip-id-9suej43
        in: path
        name: payslip_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayslipDownloadResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - payslip:read
        - employment_documents
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - payslip:read
        - employment_documents
        - all:write
        - all:read
      summary: Download payslip in the PDF format
      tags:
      - Pay & Compensation
  /v1/currency-converter/effective:
    post:
      callbacks: {}
      deprecated: false
      description: 'Convert currency using the rates Remote applies during employment creation and invoicing.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage company resources (`company_admin`) | Convert currencies (`convert_currency:read`) | - |

        '
      operationId: post_v1_currency-converter_effective
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertCurrencyParams'
        description: Convert currency parameters
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertCurrencyResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - ClientToken:
        - https://gateway.remote.com/company.manage
        - convert_currency:read
        - company_admin
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - convert_currency:read
        - company_admin
        - all:write
        - all:read
        OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - convert_currency:read
        - company_admin
        - all:write
        - all:read
      summary: Convert currency using dynamic rates
      tags:
      - Pay & Compensation
  /v1/payroll-runs/{payroll_run_id}/gl-reports/{gl_report_id}/download:
    get:
      callbacks: {}
      deprecated: false
      description: 'Downloads the generated GL report as a CSV file. The report must have `status: completed` before calling this endpoint.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage payroll runs (`payroll`) | View payroll runs (`payroll_run:read`) | - |

        '
      operationId: get_v1_payroll-runs_payroll_run_id_gl-reports_gl_report_id_download
      parameters:
      - description: The payroll run's ID
        example: 93t3j-payroll-run-id-9suej43
        in: path
        name: payroll_run_id
        required: true
        schema:
          type: string
      - description: The GL report's ID
        example: 93t3j-gl-report-id-9suej43
        in: path
        name: gl_report_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericFile'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - payroll_run:read
        - payroll
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - payroll_run:read
        - payroll
        - all:write
        - all:read
      summary: Download a GL report
      tags:
      - Pay & Compensation
  /v1/expenses/{id}:
    get:
      callbacks: {}
      description: 'Shows a single expense record


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | View expenses (`expense:read`) | Manage expenses (`expense:write`) |

        '
      operationId: get_v1_expenses_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Expense ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
      summary: Show expense
      tags:
      - Pay & Compensation
    patch:
      callbacks: {}
      description: 'Updates an expense


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage expenses (`expense:write`) |

        '
      operationId: patch_v1_expenses_id (2)
      parameters:
      - description: Expense ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpenseParams'
        description: Expenses
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:write
        - employment_payments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:write
        - employment_payments
        - all:write
      summary: Update an expense
      tags:
      - Pay & Compensation
    put:
      callbacks: {}
      description: 'Updates an expense


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage expenses (`expense:write`) |

        '
      operationId: patch_v1_expenses_id
      parameters:
      - description: Expense ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpenseParams'
        description: Expenses
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:write
        - employment_payments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:write
        - employment_payments
        - all:write
      summary: Update an expense
      tags:
      - Pay & Compensation
  /v1/incentives/{id}:
    delete:
      callbacks: {}
      description: 'Delete an incentive.


        `one_time` incentives that have the following status **CANNOT** be deleted:

        * `processing`

        * `paid`



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage incentives (`incentive:write`) |

        '
      operationId: delete_v1_incentives_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Incentive ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - incentive:write
        - employment_payments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - incentive:write
        - employment_payments
        - all:write
      summary: Delete an Incentive
      tags:
      - Pay & Compensation
    get:
      callbacks: {}
      description: 'Show an Incentive''s details


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | View incentives (`incentive:read`) | Manage incentives (`incentive:write`) |

        '
      operationId: get_v1_incentives_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Incentive ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - incentive:read
        - incentive:write
        - employment_payments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - incentive:read
        - incentive:write
        - employment_payments
        - all:write
        - all:read
      summary: Show Incentive
      tags:
      - Pay & Compensation
    patch:
      callbacks: {}
      description: 'Updates an Incentive.


        Incentives use the currency of the employment specified provided in the `employment_id` field.


        The API doesn''t support updating paid incentives.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage incentives (`incentive:write`) |

        '
      operationId: patch_v1_incentives_id (2)
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Incentive ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIncentiveParams'
        description: Incentive
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - incentive:write
        - employment_payments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - incentive:write
        - employment_payments
        - all:write
      summary: Update Incentive
      tags:
      - Pay & Compensation
    put:
      callbacks: {}
      description: 'Updates an Incentive.


        Incentives use the currency of the employment specified provided in the `employment_id` field.


        The API doesn''t support updating paid incentives.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage incentives (`incentive:write`) |

        '
      operationId: patch_v1_incentives_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Incentive ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIncentiveParams'
        description: Incentive
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - incentive:write
        - employment_payments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - incentive:write
        - employment_payments
        - all:write
      summary: Update Incentive
      tags:
      - Pay & Compensation
  /v1/pay-items:
    get:
      callbacks: {}
      deprecated: false
      description: 'Lists pay items for a company with optional filtering by employment, date range, and pagination.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage payroll runs (`payroll`) | View pay items (`pay_item:read`) | Manage pay items (`pay_item:write`) |

        '
      operationId: get_v1_pay-items
      parameters:
      - description: Filter by employment slug
        in: query
        name: employment_slug
        required: false
        schema:
          $ref: '#/components/schemas/UuidSlug'
      - description: Filter pay items with effective_date >= given date (YYYY-MM-DD)
        in: query
        name: effective_from
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Filter pay items with effective_date <= given date (YYYY-MM-DD)
        in: query
        name: effective_to
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPayItemsResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - pay_item:read
        - pay_item:write
        - payroll
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - pay_item:read
        - pay_item:write
        - payroll
        - all:write
        - all:read
      summary: List Pay Items
      tags:
      - Pay & Compensation
  /v1/payslips:
    get:
      callbacks: {}
      description: 'Lists all payslips belonging to a company. Can also filter for a single employment belonging

        to that company.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | View payslips (`payslip:read`) | - |

        '
      operationId: get_v1_payslips
      parameters:
      - description: Employment ID
        example: 93t3j-employment-id-9suej43
        in: query
        name: employment_id
        required: false
        schema:
          type: string
      - description: Filters by payslips `issued_at` field, after or on the same day than the given date
        example: '"2022-12-15"'
        in: query
        name: start_date
        required: false
        schema:
          type: string
      - description: Filters by payslips `issued_at` field, before or or the same day than the given date
        example: '"2023-12-15"'
        in: query
        name: end_date
        required: false
        schema:
          type: string
      - description: Filters by payslips `expected_payout_date` field, after or on the same day than the given date
        example: '"2022-12-15"'
        in: query
        name: expected_payout_start_date
        required: false
        schema:
          type: string
      - description: Filters by payslips `expected_payout_date` field, before or or the same day than the given date
        example: '"2023-12-15"'
        in: query
        name: expected_payout_end_date
        required: false
        schema:
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
      - description: Change the amount of records returned per page, defaults to 20, limited to 100
        example: 30
        in: query
        name: page_size
        required: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPayslipsResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - payslip:read
        - employment_documents
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - payslip:read
        - employment_documents
        - all:write
        - all:read
      summary: List payslips
      tags:
      - Pay & Compensation
  /v1/expenses/{expense_id}/receipts/{receipt_id}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Download a receipt by id.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | View expenses (`expense:read`) | Manage expenses (`expense:write`) |

        '
      operationId: get_v1_expenses_expense_id_receipts_receipt_id
      parameters:
      - description: The expense ID
        example: 3ab2e491-ad1c-47af-849c-3d0a53e20e0d
        in: path
        name: expense_id
        required: true
        schema:
          type: string
      - description: The receipt ID
        example: 6ab2e49o-ad1c-47af-849c-3d0a53e21e0e
        in: path
        name: receipt_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/GenericFile'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/heic:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/jpg:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/png:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/webp:
              schema:
                $ref: '#/components/schemas/GenericFile'
            text/csv:
              schema:
                $ref: '#/components/schemas/GenericFile'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
      summary: Download a receipt by id
      tags:
      - Pay & Compensation
  /v1/payroll-runs:
    get:
      callbacks: {}
      deprecated: false
      description: 'Lists all payroll runs for a company


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage payroll runs (`payroll`) | View payroll runs (`payroll_run:read`) | - |

        '
      operationId: get_v1_payroll-runs
      parameters:
      - description: Filters payroll runs where period_start or period_end match the given date
        example: '2021-07-01'
        in: query
        name: payroll_period
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPayrollRunResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - payroll_run:read
        - payroll
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - payroll_run:read
        - payroll
        - all:write
        - all:read
      summary: List Company Payroll Runs
      tags:
      - Pay & Compensation
  /v1/currency-converter:
    post:
      callbacks: {}
      deprecated: false
      description: 'Convert currency using the rates Remote applies during employment creation and invoicing.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage company resources (`company_admin`) | Convert currencies (`convert_currency:read`) | - |

        '
      operationId: post_v1_currency-converter_effective (2)
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertCurrencyParams'
        description: Convert currency parameters
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertCurrencyResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - ClientToken:
        - https://gateway.remote.com/company.manage
        - convert_currency:read
        - company_admin
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - convert_currency:read
        - company_admin
        - all:write
        - all:read
        OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - convert_currency:read
        - company_admin
        - all:write
        - all:read
      summary: Convert currency using dynamic rates
      tags:
      - Pay & Compensation
components:
  schemas:
    ConvertCurrency:
      additionalProperties: false
      description: The response from the currency converter
      example:
        exchange_rate: 0.85
        source_amount: 1000
        source_currency:
          code: CZK
          name: Czech Koruna
          symbol: Kč
        target_amount: 850
        target_currency:
          code: CZK
          name: Czech Koruna
          symbol: Kč
      properties:
        exchange_rate:
          description: The exchange rate used to convert the amount
          type: number
        source_amount:
          description: The amount in cents in the source currency
          type: integer
        source_currency:
          $ref: '#/components/schemas/CurrencyDefinition'
        target_amount:
          description: The amount in cents in the target currency
          type: integer
        target_currency:
          $ref: '#/components/schemas/CurrencyDefinition'
      required:
      - source_amount
      - source_currency
      - target_amount
      - target_currency
      - exchange_rate
      title: ConvertCurrency
      type: object
    ParameterError:
      example:
        code: invalid_param
        message: Invalid parameter
        param: employment_id
      properties:
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
        param:
          description: The parameter that lead to the error message.
          type: string
      required:
      - code
      - message
      - param
      title: ParameterError
      type: object
    CreateRecurringIncentiveParams:
      allOf:
      - $ref: '#/components/schemas/CommonIncentiveParams'
      - properties:
          duration_in_months:
            description: 'How many times the payment will repeat. At the moment we only fully support monthly frequency.


              This field is only necessary if the recurring incentive has an end date.

              '
            format: integer
            type: string
          employment_id:
            type: string
          type:
            enum:
            - acting_up_allowance
            - allowance
            - car_allowance
            - health_and_wellness_allowance
            - internet_allowance
            - meal_allowance
            - on_call_allowance
            - parenthood_allowance
            - phone_allowance
            - relocation_allowance
            - travel_allowance
            - work_from_home_allowance
            - bonus
            - holiday_bonus
            - referral_bonus
            - retention_bonus
            - commission
            - other
            - overtime
            - stipend
            type: string
        type: object
      example:
        amount: 50000
        amount_tax_type: net
        duration_in_months: '3'
        effective_date: '2021-12-20'
        employment_id: 5e55386e-4f4f-4def-92f4-bdc19a5ce77d
        note: Bonus for moving start date to an earlier date
        type: meal_allowance
      required:
      - type
      - amount
      - amount_tax_type
      - employment_id
      - effective_date
      title: CreateRecurringIncentiveParams
      type: object
    UpdateExpenseParams:
      description: Update expense params
      example:
        status: approved
      oneOf:
      - $ref: '#/components/schemas/ApproveExpenseParams'
      - $ref: '#/components/schemas/DeclineExpenseParams'
      title: UpdateExpenseParams
      type: object
    PayItemBulkCreateFailures:
      additionalProperties: false
      example:
        error: not_found
        row_number: 0
      properties:
        error:
          description: Failure reason. Includes `employment_not_global_payroll` when the provided employment is not Global Payroll.
          oneOf:
          - type: string
          - $ref: '#/components/schemas/UnprocessableEntityResponse'
        row_number:
          type: integer
      title: PayItemBulkCreateFailures
      type: object
    ListExpenseCategoriesResponse:
      description: 'Response containing a flat list of expense categories. Parent categories have is_selectable: false, while leaf categories have is_selectable: true. Child categories include parent_slug information.'
      example:
        data:
        - code: travel
          description: Travel-related expenses
          instructions: null
          is_selectable: false
          parent: null
          prompt: null
          scope: global
          slug: travel-abc123
          status: active
          title: Travel
        - code: travel.flights
          description: Flight expenses for business travel
          instructions: Please include flight confirmation number
          is_selectable: true
          parent:
            code: travel
            slug: travel-abc123
            title: Travel
          prompt: What was the purpose of this flight?
          scope: global
          slug: travel-flights-abc123
          status: active
          title: Flights
      properties:
        data:
          items:
            $ref: '#/components/schemas/ExpenseCategoryNode'
          type: array
      title: ListExpenseCategoriesResponse
      type: object
    ExpenseOrDraft:
      description: 'An expense or a draft object, depending on the status. Drafts (status `draft` or `archived`) may have incomplete(null) data.


        The expense status `draft` occurs when users want to save expenses but don''t want them to be considered for approval just yet.

        Only expenses in `pending` status can be approved or declined. It is possible to update a pending expense to status draft, or vice versa.


        There are no flows that change the status of an expense to `draft` automatically. This is purely a manual action by the employee.

        '
      discriminator:
[...]
