openapi: 3.0.0
info:
  title: Remote Address Details Expenses API
  version: 0.1.0
servers:
- url: https://gateway.remote.com/
  variables: {}
- url: https://gateway.remote-sandbox.com/
  variables: {}
security:
- OAuth2: []
tags:
- name: Expenses
paths:
  /v1/expenses:
    get:
      callbacks: {}
      description: 'Lists all expenses records


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | View expenses (`expense:read`) | Manage expenses (`expense:write`) |

        '
      operationId: get_v1_expenses
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
      - description: Change the amount of records returned per page, defaults to 20, limited to 100
        example: 30
        in: query
        name: page_size
        required: false
        schema:
          type: integer
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExpenseResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
      summary: List expenses
      tags:
      - Expenses
    post:
      callbacks: {}
      description: 'Creates an **approved** expense


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage expenses (`expense:write`) |

        '
      operationId: post_v1_expenses
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParamsToCreateExpense'
        description: Expenses
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:write
        - employment_payments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:write
        - employment_payments
        - all:write
      summary: Create expense
      tags:
      - Expenses
  /v1/expenses/{expense_id}/receipt:
    get:
      callbacks: {}
      deprecated: true
      description: "  Downloads an expense receipt.\n\n  Deprecated since late February 2024 in favour of **[Download a receipt by id](#tag/Expenses/operation/get_download_by_id_expense_receipt)** endpoint.\n\n\n## Scopes\n\n| Category | Read only Scope | Write only Scope (read access implicit) |\n|---|---|---|\n| Manage expenses (`employment_payments`) | View expenses (`expense:read`) | Manage expenses (`expense:write`) |\n"
      operationId: get_v1_expenses_expense_id_receipt
      parameters:
      - description: The expense ID
        example: 3ab2e491-ad1c-47af-849c-3d0a53e20e0d
        in: path
        name: expense_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/GenericFile'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/heic:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/jpg:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/png:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/webp:
              schema:
                $ref: '#/components/schemas/GenericFile'
            text/csv:
              schema:
                $ref: '#/components/schemas/GenericFile'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
      summary: Download a receipt
      tags:
      - Expenses
  /v1/expenses/categories:
    get:
      callbacks: {}
      description: Lists the effective hierarchy of expense categories. At least one of employment_id, expense_id, or country_code must be provided.
      operationId: get_v1_expenses_categories
      parameters:
      - description: The employment ID for which to list categories. Required if neither expense_id nor country_code is provided.
        in: query
        name: employment_id
        required: false
        schema:
          type: string
      - description: The expense ID for which to list categories (includes the expense's category, even if it is not selectable by default). If provided without employment_id, will use the expense's employment context.
        in: query
        name: expense_id
        required: false
        schema:
          type: string
      - description: Include un-selectable intermediate categories in the response
        in: query
        name: include_parents
        required: false
        schema:
          type: boolean
      - description: Filter categories by country (ISO 3166-1 alpha-3 code, e.g. "GBR"). Only used when neither employment_id nor expense_id is provided.
        in: query
        name: country_code
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExpenseCategoriesResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: List expense categories
      tags:
      - Expenses
  /v1/employee/expense-categories:
    get:
      callbacks: {}
      deprecated: false
      description: 'Returns the flat list of expense categories applicable to the current employee. Only active categories are returned, filtered by the employee''s country / legal-entity visibility rules. Leaf nodes have `is_selectable: true`; parent nodes are excluded unless `include_parents=true`.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | View expenses (`expense:read`) | Manage expenses (`expense:write`) |

        '
      operationId: get_v1_employee_expense-categories
      parameters:
      - description: Include parent (non-selectable) categories in addition to selectable leaves
        in: query
        name: include_parents
        required: false
        schema:
          type: boolean
      - description: Expense ID (slug) whose category should be included in the result, even if it is not selectable by default
        in: query
        name: expense_id
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExpenseCategoriesResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
      security:
      - OAuth2Assertion:
        - https://gateway.remote.com/employment.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
      summary: List expense categories for the authenticated employee
      tags:
      - Expenses
  /v1/expenses/{id}:
    get:
      callbacks: {}
      description: 'Shows a single expense record


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | View expenses (`expense:read`) | Manage expenses (`expense:write`) |

        '
      operationId: get_v1_expenses_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Expense ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
      summary: Show expense
      tags:
      - Expenses
    patch:
      callbacks: {}
      description: 'Updates an expense


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage expenses (`expense:write`) |

        '
      operationId: patch_v1_expenses_id (2)
      parameters:
      - description: Expense ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpenseParams'
        description: Expenses
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:write
        - employment_payments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:write
        - employment_payments
        - all:write
      summary: Update an expense
      tags:
      - Expenses
    put:
      callbacks: {}
      description: 'Updates an expense


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage expenses (`expense:write`) |

        '
      operationId: patch_v1_expenses_id
      parameters:
      - description: Expense ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpenseParams'
        description: Expenses
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:write
        - employment_payments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:write
        - employment_payments
        - all:write
      summary: Update an expense
      tags:
      - Expenses
  /v1/expenses/{expense_id}/receipts/{receipt_id}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Download a receipt by id.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | View expenses (`expense:read`) | Manage expenses (`expense:write`) |

        '
      operationId: get_v1_expenses_expense_id_receipts_receipt_id
      parameters:
      - description: The expense ID
        example: 3ab2e491-ad1c-47af-849c-3d0a53e20e0d
        in: path
        name: expense_id
        required: true
        schema:
          type: string
      - description: The receipt ID
        example: 6ab2e49o-ad1c-47af-849c-3d0a53e21e0e
        in: path
        name: receipt_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/GenericFile'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/heic:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/jpg:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/png:
              schema:
                $ref: '#/components/schemas/GenericFile'
            image/webp:
              schema:
                $ref: '#/components/schemas/GenericFile'
            text/csv:
              schema:
                $ref: '#/components/schemas/GenericFile'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
      summary: Download a receipt by id
      tags:
      - Expenses
  /v1/employee/expenses:
    get:
      callbacks: {}
      deprecated: false
      description: 'Returns a paginated list of expenses belonging to the current employee.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | View expenses (`expense:read`) | Manage expenses (`expense:write`) |

        '
      operationId: get_v1_employee_expenses
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
      security:
      - OAuth2Assertion:
        - https://gateway.remote.com/employment.manage
        - expense:read
        - expense:write
        - employment_payments
        - all:write
        - all:read
      summary: List expenses for the authenticated employee
      tags:
      - Expenses
    post:
      callbacks: {}
      deprecated: false
      description: 'Creates a new expense record for the current employee.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage expenses (`employment_payments`) | - | Manage expenses (`expense:write`) |

        '
      operationId: post_v1_employee_expenses
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParamsToCreateEmployeeExpense'
        description: Expense params
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - OAuth2Assertion:
        - https://gateway.remote.com/employment.manage
        - expense:write
        - employment_payments
        - all:write
      summary: Create an expense for the authenticated employee
      tags:
      - Expenses
components:
  schemas:
    ParamsToCreateExpense:
      description: "  All the params needed to create an expense.\n\n  An expense can be created using the `receipt` or `receipts` fields; however, these fields are not allowed together within the same object.\n\n  For category selection, you can use either:\n  - `category` (legacy enum values, deprecated but supported)\n  - `expense_category_slug` (new hierarchical categories, recommended)\n\n  If both are provided, `expense_category_slug` takes precedence.\n"
      example:
        amount: 8000
        currency: EUR
        employment_id: d4ebc714-4950-47a9-a464-28e1f1ab2a90
        expense_category_slug: uuid-tech-equipment-slug
        expense_date: '2020-12-11'
        receipt:
          content: UGVyaW9kIEVuZCBEYXRlLFBheSBEYXRlLEVtcG...5jZSBPZiBSZXNpZGVuYdXJyZW50LEFsbG93
          name: receipt.pdf
        reviewed_at: '2021-07-15T18:18:17Z'
        reviewer_id: 14c14128-f5f4-475a-8ec0-6329b4832a61
        tax_amount: 0
        timezone: Etc/UTC
        title: new keyboard
      properties:
        amount:
          description: The expense amount in the specified currency, in cents.
          type: integer
        category:
          deprecated: true
          description: 'Categories allowed for an expense (legacy, deprecated).<br/>

            Note: `coworking`, `home_office`, `phone_utilities`, `travel` are deprecated and will be removed in the future.

            '
          enum:
          - car_rental
          - coworking_office
          - education_training
          - entertainment
          - flight
          - fuel
          - gifts
          - insurance
          - lodging
          - meals
          - other
          - parking_toll
          - subscription
          - tech_equipment
          - telecommunication
          - transport
          - utilities
          - vaccination_testing
          - visa
          - wellness
          - coworking
          - home_office
          - phone_utilities
          - travel
          nullable: true
          type: string
        currency:
          description: "  The three-letter code for the expense currency.<br/>\n  Examples: `\"USD\"`, `\"EUR\"`, `\"CAD\"`\n"
          type: string
        employment_id:
          description: The ID for the employment to which this expense relates.
          type: string
        expense_category_slug:
          description: Slug of the expense category from the hierarchical categories system (recommended). Takes precedence over legacy category field.
          nullable: true
          type: string
        expense_date:
          description: Date of the purchase, which must be in the past
          type: string
        receipt:
          $ref: '#/components/schemas/Base64File'
        receipts:
          items:
            $ref: '#/components/schemas/Base64File'
          maxItems: 5
          type: array
        reviewed_at:
          description: The date and time that the expense was reviewed in ISO8601 format. If not provided, it defaults to the current datetime.
          format: date-time
          type: string
        reviewer_id:
          description: If the person reviewing the expense is a user in Remote, you can provide its user id for this field. If a value is not provided, defaults to the user that generated the API token.
          type: string
        tax_amount:
          description: The tax portion of the expense amount, in cents. Use 0 if no tax applies.
          type: integer
        timezone:
          $ref: '#/components/schemas/Timezone'
        title:
          description: A short description of the expense (e.g., "New keyboard", "Team dinner").
          type: string
      required:
      - expense_date
      - title
      - amount
      - currency
      - employment_id
      title: ParamsToCreateExpense
      type: object
    ParameterError:
      example:
        code: invalid_param
        message: Invalid parameter
        param: employment_id
      properties:
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
        param:
          description: The parameter that lead to the error message.
          type: string
      required:
      - code
      - message
      - param
      title: ParameterError
      type: object
    UpdateExpenseParams:
      description: Update expense params
      example:
        status: approved
      oneOf:
      - $ref: '#/components/schemas/ApproveExpenseParams'
      - $ref: '#/components/schemas/DeclineExpenseParams'
      title: UpdateExpenseParams
      type: object
    ApproveExpenseParams:
      description: Approve an expense
      example:
        status: approved
      properties:
        status:
          enum:
          - approved
          type: string
      required:
      - status
      title: ApproveExpenseParams
      type: object
    ListExpenseCategoriesResponse:
      description: 'Response containing a flat list of expense categories. Parent categories have is_selectable: false, while leaf categories have is_selectable: true. Child categories include parent_slug information.'
      example:
        data:
        - code: travel
          description: Travel-related expenses
          instructions: null
          is_selectable: false
          parent: null
          prompt: null
          scope: global
          slug: travel-abc123
          status: active
          title: Travel
        - code: travel.flights
          description: Flight expenses for business travel
          instructions: Please include flight confirmation number
          is_selectable: true
          parent:
            code: travel
            slug: travel-abc123
            title: Travel
          prompt: What was the purpose of this flight?
          scope: global
          slug: travel-flights-abc123
          status: active
          title: Flights
      properties:
        data:
          items:
            $ref: '#/components/schemas/ExpenseCategoryNode'
          type: array
      title: ListExpenseCategoriesResponse
      type: object
    ExpenseOrDraft:
      description: 'An expense or a draft object, depending on the status. Drafts (status `draft` or `archived`) may have incomplete(null) data.


        The expense status `draft` occurs when users want to save expenses but don''t want them to be considered for approval just yet.

        Only expenses in `pending` status can be approved or declined. It is possible to update a pending expense to status draft, or vice versa.


        There are no flows that change the status of an expense to `draft` automatically. This is purely a manual action by the employee.

        '
      discriminator:
        mapping:
          approved: '#/components/schemas/Expense'
          archived: '#/components/schemas/DraftExpense'
          canceled: '#/components/schemas/Expense'
          declined: '#/components/schemas/Expense'
          draft: '#/components/schemas/DraftExpense'
          pending: '#/components/schemas/Expense'
          processing: '#/components/schemas/Expense'
          reimbursed: '#/components/schemas/Expense'
        propertyName: status
      example:
        amount: 8000
        converted_amount: 8000
        converted_currency:
          code: CZK
          name: Czech Koruna
          symbol: Kč
        converted_tax_amount: 0
        currency:
          code: CZK
          name: Czech Koruna
          symbol: Kč
        employment_id: ba9ead59-e471-4043-a7ea-07dbb105e72c
        expense_date: '2020-12-11'
        id: 123e4567-e89b-12d3-a456-426614174000
        status: pending
        tax_amount: 0
        title: New keyboard
      oneOf:
      - $ref: '#/components/schemas/Expense'
      - $ref: '#/components/schemas/DraftExpense'
      required:
      - status
      title: ExpenseOrDraft
      type: object
    SuccessResponse:
      description: A generic success response returned by operations that don't produce a specific resource (e.g., updates, deletes).
      example:
        data:
          status: ok
      properties:
        data:
          properties:
            status:
              description: The result status. Always `"ok"` for successful operations.
              type: string
          type: object
      required:
      - data
      title: SuccessResponse
      type: object
    ConflictResponse:
      description: Returned when the request conflicts with the current state of a resource (HTTP 409). For example, trying to create a resource that already exists or performing an action that requires the resource to be in a different state.
      example:
        message: Company needs to be in status active to manage employments
      properties:
        message:
          description: A human-readable message describing the conflict and the expected state.
          type: string
      title: ConflictResponse
      type: object
    Timezone:
      description: '[TZ identifier](https://www.iana.org/time-zones)'
      example: Etc/UTC
      title: Timezone
      type: string
    CurrencyDefinition:
      description: Currency object without a UUID identifier
      example:
        code: CZK
        name: Czech Koruna
        symbol: Kč
      properties:
        code:
          type: string
        name:
          type: string
        symbol:
          type: string
      required:
      - code
      - name
      - symbol
      title: CurrencyDefinition
      type: object
    UnauthorizedResponse:
      description: Returned when the request does not include valid authentication credentials. Ensure you are passing a valid OAuth2 access token or API token in the Authorization header.
      example:
        message: Unauthorized
      properties:
        message:
          pattern: Unauthorized
          type: string
      required:
      - message
      title: UnauthorizedResponse
      type: object
    UnprocessableEntityResponse:
      anyOf:
      - properties:
          errors:
            type: object
        required:
        - errors
        type: object
      - properties:
          message:
            oneOf:
            - type: string
            - $ref: '#/components/schemas/ParameterError'
            - items:
                $ref: '#/components/schemas/ParameterError'
              title: ParameterErrors
              type: array
            - $ref: '#/components/schemas/ActionError'
            - items:
                $ref: '#/components/schemas/ActionError'
              title: ActionErrors
              type: array
        required:
        - message
        type: object
      example:
        errors:
          some_field:
          - is invalid
      title: UnprocessableEntityResponse
      type: object
    BadRequestResponse:
      description: Returned when the request is malformed or contains invalid parameters. The message may be a simple string or a structured object with a code and detailed message.
      example:
        message: invalid {resource}
      oneOf:
      - properties:
          message:
            description: A human-readable error message describing what was wrong with the request.
            type: string
        required:
        - message
        type: object
      - properties:
          message:
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
            - message
            type: object
        type: object
      title: BadRequestResponse
      type: object
    Base64File:
      description: All the params needed upload a base64 file.
      example:
        content: UGVyaW9kIEVuZCBEYXRlLFBheSBEYXRlLEVtcG...5jZSBPZiBSZXNpZGVuYdXJyZW50LEFsbG93
        name: receipt.pdf
      properties:
        content:
          description: The content in base64 encoding.
          format: binary
          type: string
        name:
          description: The file name.
          type: string
      required:
      - name
      - content
      title: Base64File
      type: object
    DeclineExpenseParams:
      description: Decline an expense
      example:
        reason: Expense not refundable
        status: declined
      properties:
        reason:
          description: Reason for declination.
          type: string
        status:
          enum:
          - declined
          type: string
      required:
      - status
      - reason
      title: DeclineExpenseParams
      type: object
    ActionError:
      properties:
        action:
          description: The action that lead to the error message.
          type: string
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
      required:
      - code
      - message
      - action
      title: ActionError
      type: object
    ListExpenseResponse:
      description: Response schema listing many expenses
      example:
        current_page: 1
        expenses:
        - amount: 8000
          converted_amount: 8000
          converted_currency:
            code: CZK
            name: Czech Koruna
            symbol: Kč
          converted_tax_amount: 0
          currency:
            code: CZK
            name: Czech Koruna
            symbol: Kč
          employment_id: ba9ead59-e471-4043-a7ea-07dbb105e72c
          expense_date: '2020-12-11'
          id: 123e4567-e89b-12d3-a456-426614174000
          status: pending
          tax_amount: 0
          title: New keyboard
        total_count: 1
        total_pages: 1
      properties:
        data:
          properties:
            current_page:
              description: The current page among all of the total_pages
              type: integer
            expenses:
              items:
                $ref: '#/components/schemas/ExpenseOrDraft'
              type: array
            total_count:
              description: The total number of records in the result
              type: integer
            total_pages:
              description: The total number of pages the user can go through
              type: integer
          type: object
      title: ListExpenseResponse
      type: object
    ExpenseResponse:
      description: Response containing a single expense record.
      example:
        data:
          expense:
            amount: 1000
            category: tech_equipment
            converted_amount: 1000
            converted_currency:
              code: CZK
              name: Czech Koruna
              symbol: Kč
            converted_tax_amount: 500
            currency:
              code: CZK
              name: Czech Koruna
              symbol: Kč
            employment_id: ba9ead59-e471-4043-a7ea-07dbb105e72c
            expense_category:
              code: tech.equipment
              slug: uuid-tech-equipment-slug
              title: Technology Equipment
            expense_date: '2021-09-03'
            id: 123e4567-e89b-12d3-a456-426614174000
            receipts:
            - id: 9880b711-file-id-ecf8f551bd78
              inserted_at: '2021-07-15T18:18:17Z'
              name: id.pdf
              sub_type: personal_id
              type: id
            status: pending
            tax_amount: 500
            title: New desk
      properties:
        data:
          properties:
            expense:
              $ref: '#/components/schemas/ExpenseOrDraft'
          required:
          - expense
          type: object
      required:
      - data
      title: ExpenseResponse
      type: object
    ForbiddenResponse:
      description: Returned when the authenticated user or token does not have permission to perform the requested action. Check that the token has the required OAuth2 scopes and that the user has the necessary role.
      example:
        message: Forbidden
      properties:
        message:
          pattern: Forbidden
          type: string
      required:
      - message
      title: ForbiddenResponse
      type: object
    NotFoundResponse:
      description: Returned when the requested resource does not exist or is not accessible with the current authentication credentials.
      example:
        message: '{resource} not found'
      properties:
        message:
          description: A message indicating which resource was not found.
          pattern: Not Found
          type: string
      title: NotFoundResponse
      type: object
    GenericFile:
      description: A file represented as a base64-encoded string.
      example: base64 encoded content
      format: binary
      title: GenericFile
      type: string
    File:
      additionalProperties: false
      description: A file associated with an employment, such as a contract, tax form, or identity document.
      example:
        id: 9880b711-file-id-ecf8f551bd78
        inserted_at: '2021-07-15T18:18:17Z'
        name: id.pdf
        sub_type: personal_id
        type: id
      properties:
        id:
          description: The unique identifier (UUID) of the file.
          type: string
        inserted_at:
          $ref: '#/components/schemas/DateTimeIso8601'
        name:
          description: The file name including extension (e.g., "id.pdf", "contract.pdf").
          type: string
        sub_type:
          description: A more specific classification of the file within its type (e.g., "personal_id" within type "id", or "ir_35" within type "contract"). Null if no sub-type applies.
          nullable: true
          type: string
        type:
          description: The broad category of the file (e.g., "id", "contract", "tax_form").
          type: string
      required:
      - id
      - inserted_at
      - name
      - type
      title: File
      type: object
    Expense:
      description: A submitted expense record with complete data. All monetary amounts are integers in the currency's minor unit (cents).
      example:
        amount: 1000
        category: tech_equipment
        converted_amount: 1000
        converted_currency:
          code: CZK
          name: Czech Koruna
          symbol: Kč
        converted_tax_amount: 500
        currency:
          code: CZK
          name: Czech Koruna
          symbol: Kč
        employment_id: ba9ead59-e471-4043-a7ea-07dbb105e72c
        expense_category:
          code: tech.equipment
          slug: uuid-tech-equipment-slug
          title: Technology Equipment
        expense_date: '2021-09-03'
        id: 123e4567-e89b-12d3-a456-426614174000
        receipts:
        - id: 9880b711-file-id-ecf8f551bd78
          inserted_at: '2021-07-15T18:18:17Z'
          name: id.pdf
          sub_type: personal_id
          type: id
        status: pending
        tax_amount: 500
        title: New desk
      properties:
        amount:
          description: The expense amount in the original currency, in cents.
          type: integer
        category:
          deprecated: true
          description: Categories allowed for an expense (legacy, deprecated)
          enum:
          - car_rental
          - coworking_office
          - education_training
          - entertainment
          - flight
          - fuel
          - gifts
          - insurance
          - lodging
          - meals
          - mileage
          - other
          - parking_toll
          - per_diem
          - subscription
          - tech_equipment
          - telecommunication
          - transport
          - utilities
          - vaccination_testing
          - visa
          - wellness
          - coworking
          - home_office
          - phone_utilities
          - travel
          nullable: true
          type: string
        converted_amount:
          description: The expense amount converted to the company's billing currency, in cents.
          type: integer
        converted_currency:
          $ref: '#/components/schemas/CurrencyDefinition'
        converted_tax_amount:
          description: The tax portion converted to the company's billing currency, in cents.
          type: integer
        currency:
          $ref: '#/components/schemas/CurrencyDefinition'
        employment_id:
          description: The unique identifier (UUID) of the employment this expense belongs to.
          type: string
        expense_category:
          description: New hierarchical expense category (recommended)
          nullable: true
          properties:
            code:
              description: Internal category code (e.g., 'travel.flights')
              type: string
            slug:
              description: Unique identifier for the category
              type: string
            title:
              description: Human-readable category name
              type: string
          type: object
        expense_date:
          description: The date the expense was incurred (ISO 8601 format). Must be in the past.
          format: date
          type: string
        id:
          description: The unique identifier (UUID) of the expense.
          type: string
        invoice_period:
          description: The payroll invoice period this expense is associated with, in YYYY-MM format. Null if not yet assigned to a payroll period.
          nullable: true
          type: string
        notes:
          description: Optional additional notes or context about the expense.
          nullable: true
          type: string
        reason:
          description: The reason provided when the expense was declined. Null for non-declined expenses.
          nullable: true
          type: string
        receipts:
          description: Uploaded receipt files for this expense. Maximum 5 receipts.
          items:
            $ref: '#/components/schemas/File'
          maxItems: 5
          nullable: false
          type: array
        reviewed_at:
          description: The date the expense was reviewed. Null if not yet reviewed.
          format: date
          nullable: true
          type: string
        reviewer:
          description: The person who reviewed (approved or declined) this expense. Null if not yet reviewed.
          nullable: true
          properties:
            user_email:
              description: The reviewer's email address.
              type: string
            user_id:
              description: The unique identifier of the reviewer.
              type: string
            user_name:
              description: The reviewer's full name.
              type: string
          type: object
        status:
          description: 'The current status of the expense.


            - `pending`: Submitted and awaiting approval.

            - `approved`: Approved by a reviewer and queued for reimbursement.

            - `declined`: Declined by a reviewer. See `reason` for details.

            - `canceled`: Canceled by the employee before approval.

            - `processing`: Being processed as part of a payroll run.

            - `reimbursed`: Successfully reimbursed to the employee.

            '
          enum:
          - canceled
          - pending
          - declined
          - approved
          - processing
          - reimbursed
          type: string
        tax_amount:
          description: The tax portion of the expense amount in the original currency, in cents.
          type: integer
        title:
          description: A short description of the expense (e.g., "New keyboard", "Team dinner").
          type: string
      required:
      - id
      - title
      - employment_id
      - amount
      - converted_amount
      - currency
      - converted_currency
      - expense_date
      - tax_amount
      - converted_tax_amount
      title: Expense
      type: object
    ParamsToCreateEmployeeExpense:
      description: "  Params for creating an expense as the authenticated employee.\n\n  The employment is implied by the access token, so `employment_id` is not accepted.\n  `reviewer_id` and `reviewed_at` are also omitted — they only apply to manager-created expenses.\n\n  Category selection mirrors the company endpoint: use either `category` (legacy enum, deprecated but supported)\n  or `expense_category_slug` (recommended). When both are provided, `expense_category_slug` wins.\n"
      example:
        amount: 8000
        currency: EUR
        expense_category_slug: uuid-tech-equipment-slug
        expense_date: '2020-12-11'
        receipt:
          content: UGVyaW9kIEVuZCBEYXRlLFBheSBEYXRlLEVtcG...5jZSBPZiBSZXNpZGVuYdXJyZW50LEFsbG93
          name: receipt.pdf
        tax_amount: 0
        timezone: Etc/UTC
        title: new keyboard
      properties:
        amount:
          description: The expense amount in the specified currency, in cents.
          type: integer
        category:
          deprecated: true
          description: 'Categories allowed for an expense (legacy, deprecated).<br/>

            Note: `coworking`, `home_office`, `phone_utilities`, `travel` are deprecated and will be removed in the future.

            '
          enum:
          - car_rental
          - coworking_office
          - education_training
          - entertainment
          - flight
          - fuel
          - gifts
          - insurance
          - lodging
          - meals
          - other
          - parking_toll
          - subscription
          - tech_equipment
          - telecommunication
          - transport
          - utilities
          - vaccination_testing
          - visa
          - wellness
          - coworking
          - home_office
          - phone_utilities
          - travel
          nullable: true
          type: string
        currency:
          description: "  The three-letter code for the expense currency.<br/>\n  Examples: `\"USD\"`, `\"EUR\"`, `\"CAD\"`\n"
          type: string
        expense_category_slug:
          description: Slug of the expense category from the hierarchical categories system (recommended). Takes precedence over legacy category field.
          nullable: true
          type: string
        expense_date:
          description: Date of the purchase, which must be in the past
          type: string
        receipt:
          $ref: '#/components/schemas/Base64File'
        receipts:
          items:
            $ref: '#/components/schemas/Base64File'
          maxItems: 5
          type: array
        tax_amount:
          description: The tax portion of the expense amount, in cents. Use 0 if no tax applies.
          type: integer
        timezone:
          $ref: '#/components/schemas/Timezone'
        title:
          description: A short description of the expense (e.g., "New keyboard", "Team dinner").
          type: string
      required:
      - expense_date
      - title
      - amount
      - currency
      title: ParamsToCreateEmployeeExpense
      type: object
    DateTimeIso8601:
      description: 'UTC date time in [ISO 8601][] format.


        [ISO 8601]: https://en.wikipedia.org/wiki/ISO_8601

        '
      example: '2021-07-15T18:18:17Z'
      format: date-time
      title: DateTimeIso8601
      type: string
    DraftExpense:
      description: A draft expense that the employee has saved but not yet submitted for approval. Draft expenses may have incomplete (null) data since the employee hasn't finalized them yet. All monetary amounts are integers in the currency's minor unit (cents) when present.
      example:
        amount: null
        category: tech_equipment
        converted_amount: null
        converted_currency: null
        converted_tax_amount: null
        currency: null
        employment_id: ba9ead59-e471-4043-a7ea-07dbb105e72c
        expense_category: null
        expense_date: null
        id: 123e4567-e89b-12d3-a456-426614174000
        receipts: []
        tax_amount: null
        title: Incomplete draft expense
      properties:
        amount:
          description: The expense amount in the original currency, in cents. Null if not yet entered.
          nullable: true
          type: integer
        category:
          deprecated: true
          description: Categories allowed for an expense (legacy, deprecated)
          enum:
          - car_rental
          - coworking_office
          - education_training
          - entertainment
          - flight
          - fuel
          - gifts
          - insurance
          - lodging
          - meals
          - mileage
          - other
          - parking_toll
          - per_diem
          - subscription
          - tech_equipment
          - telecommunication
          - transport
          - utilities
          - vaccination_testing
          - visa
          - wellness
          - coworking
          - home_office
          - phone_utilities
          - travel
          nullable: true
          type: string
        converted_amount:
          description: The converted expense amount in the company's billing currency, in cents. Null if not yet calculated.
          nullable: true
          type: integer
        converted_currency:
          allOf:
          - $ref: '#/components/schemas/CurrencyDefinition'
          example:
            code: CZK
            name: Czech Koruna
            symbol: Kč
          nullable: true
          title: MaybeCurrencyDefinition
          type: object
        converted_tax_amount:
          description: The converted tax portion, in cents. Null if not yet calculated.
          nullable: true
          type: integer
        currency:
          allOf:
          - $ref: '#/components/schemas/CurrencyDefinition'
          example:
            code: CZK
            name: Czech Koruna
            symbol: Kč
          nullable: true
          title: MaybeCurrencyDefinition
          type: object
        employment_id:
          description: The unique identifier (UUID) of the employment this expense belongs to.
          type: string
        expense_category:
          description: New hierarchical expense category (recommended)
          nullable: true
          properties:
            code:
              description: Internal category code (e.g., 'travel.flights')
              type: string
            slug:
              description: Unique identifier for the category
              type: string
            title:
              description: Human-readable category name
              type: string
          type: object
        expense_date:
          description: The date the expense was incurred. May be null in drafts.
          format: date
          nullable: true
          type: string
        id:
          description: The unique identifier (UUID) of the draft expense.
          type: string
        invoice_period:
          description: Not applicable for draft expenses. Always null.
          nullable: true
          type: string
        notes:
          description: Optional additional notes about the expense.
          nullable: true
          type: string
        reason:
          description: Not applicable for draft expenses. Always null.
          nullable: true
          type: string
        receipts:
          description: Uploaded receipt files. May be empty for drafts. Maximum 5 receipts.
          items:
            $ref: '#/components/schemas/File'
          maxItems: 5
          nullable: false
          type: array
        reviewed_at:
          description: Not applicable for draft expenses. Always null.
          format: date
          nullable: true
          type: string
        reviewer:
          description: Not applicable for draft expenses. Always null.
          nullable: true
          properties:
            user_email:
              description: The reviewer's email address.
              type: string
            user_id:
              description: The unique identifier of the reviewer.
              type: string
            user_name:
              description: The reviewer's full name.
              type: string
          type: object
        status:
          description: 'The draft status.


            - `draft`: The expense is saved as a draft by the employee and not submitted for approval.

            - `archived`: The draft was soft-deleted by the employee.

            '
          enum:
          - draft
          - archived
          type: string
        tax_amount:
          description: The tax portion in the original currency, in cents. Null if not yet entered.
          nullable: true
          type: integer
        title:
          description: A short description of the expense. May be null in drafts.
          nullable: true
          type: string
      required:
      - id
      - title
      - employment_id
      - amount
      - converted_amount
      - currency
      - converted_currency
      - expense_date
      - tax_amount
      - converted_tax_amount
      title: DraftExpense
      type: object
    ExpenseCategoryNode:
      description: A single expense category in the flat list structure
      example:
        code: travel.flights
        description: Flight expenses for business travel
        instructions: Please include flight confirmation number
        is_selectable: true
        parent:
          code: travel
          slug: travel-abc123
          title: Travel
        prompt: What was the purpose of this flight?
        scope: global
        slug: travel-flights-abc123
        status: active
        title: Flights
      properties:
        code:
          description: Category code (e.g., 'travel.flights')
          type: string
        description:
          description: Category description
          nullable: true
          type: string
        instructions:
          description: Instructions for using this category
          nullable: true
          type: string
        is_selectable:
          description: Whether this category can be selected
          type: boolean
        parent:
          description: Parent category information if this is a child category
          nullable: true
          properties:
            code:
              description: Parent category code
              type: string
            slug:
              description: Parent category slug
              type: string
            title:
              description: Parent category title
              type: string
          type: object
        prompt:
          description: Prompt for user guidance
          nullable: true
          type: string
        scope:
          description: Category scope (global, country, company, legal_entity)
          type: string
        slug:
          description: Unique identifier for the category
          type: string
        status:
          description: Category status (active, inactive)
          type: string
        title:
          description: Human-readable category name
          type: string
      title: ExpenseCategoryNode
      type: object
    TooManyRequestsResponse:
      description: Returned when the API rate limit has been exceeded (HTTP 429). Wait before retrying. Check the `Retry-After` response header for the recommended wait time.
      example:
        message: Too many requests
      properties:
        message:
          pattern: Too many requests
          type: string
      title: TooManyRequestsResponse
      type: object
  securitySchemes:
    BasicAuth:
      description: 'Authenticate using the basic authentication for partners.


        Use the CLIENT_ID as login and CLIENT_SECRET as password.

        '
      scheme: basic
      type: http
    ClientToken:
      description: 'Authenticate a partner using only the the provided `client_token`.


        This authentication method only allows accessing marketing endpoints.

        '
      scheme: bearer
      type: http
    CustomerAPIToken:
      description: 'Authenticate using API Key generated by the customer in their Integration Settings page.

        '
      scheme: bearer
      type: http
    OAuth2:
      description: 'Authenticate using OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2Assertion:
      description: 'Authenticate as the employee using the `urn:ietf:params:oauth:grant-type:jwt-bearer` grant in the OAuth2 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            address:read: address:read
            address:write: address:write
            bank_account:read: bank_account:read
            bank_account:write: bank_account:write
            document:read: document:read
            document:write: document:write
            emergency_contact:read: emergency_contact:read
            emergency_contact:write: emergency_contact:write
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            expense:read: expense:read
            incentive:read: incentive:read
            payroll: payroll
            payslip:read: payslip:read
            personal_detail:read: personal_detail:read
            personal_detail:write: personal_detail:write
            time_and_attendance: time_and_attendance
            timeoff:read: timeoff:read
            timeoff:write: timeoff:write
            timesheet:read: timesheet:read
          tokenUrl: /auth/oauth2/token
          x-assertionType: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
      type: oauth2
    OAuth2AuthorizationCode:
      description: 'Authenticate as the token authorizer using `authorization_code` / `refresh_token` grants in the OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          refreshUrl: /auth/oauth2/token
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2ClientCredentials:
      description: 'Authenticate using `client_credentials` grant in the OAuth 2.0 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
