openapi: 3.0.0
info:
  title: Remote Address Details Getting Started API
  version: 0.1.0
servers:
- url: https://gateway.remote.com/
  variables: {}
- url: https://gateway.remote-sandbox.com/
  variables: {}
security:
- OAuth2: []
tags:
- name: Getting Started
paths:
  /v1/countries/{country_code}/contractor-contract-details:
    get:
      callbacks: {}
      deprecated: false
      description: 'Returns the contract details JSON Schema for contractors given a country


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage company resources (`company_admin`) | View forms (`form:read`) | - |

        '
      operationId: get_v1_countries_country_code_contractor-contract-details
      parameters:
      - description: Country code according to ISO 3-digit alphabetic codes
        example: PRT
        in: path
        name: country_code
        required: true
        schema:
          type: string
      - description: Employment ID
        example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        in: query
        name: employment_id
        required: false
        schema:
          type: string
      - description: Version of the form schema
        example: 1
        in: query
        name: json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorContractDetailsResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - form:read
        - company_admin
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - form:read
        - company_admin
        - all:write
        - all:read
      summary: Show contractor contract details
      tags:
      - Getting Started
  /v1/countries/{country_code}/holidays/{year}:
    get:
      callbacks: {}
      deprecated: false
      description: 'List all holidays of a country for a specific year. Optionally, it can be filtered by country subdivision.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage company resources (`company_admin`) | View countries (`country:read`) | - |

        '
      operationId: get_v1_countries_country_code_holidays_year
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Country code according to ISO 3166-1 3-digit alphabetic codes
        example: PRT
        in: path
        name: country_code
        required: true
        schema:
          type: string
      - description: Year for the holidays
        example: '2022'
        in: path
        name: year
        required: true
        schema:
          type: string
      - description: Country subdivision code according to ISO 3166-2 codes
        example: PT-10
        in: query
        name: country_subdivision_code
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HolidaysResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - country:read
        - company_admin
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - country:read
        - company_admin
        - all:write
        - all:read
        OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - country:read
        - company_admin
        - all:write
        - all:read
      summary: List all holidays of a country
      tags:
      - Getting Started
  /v1/countries/{country_code}/{form}:
    get:
      callbacks: {}
      deprecated: false
      description: "Returns the json schema of a supported form. Possible form names are:\n```\n- address_details \n- administrative_details \n- bank_account_details \n- employment_basic_information \n- contractor_basic_information \n- contractor_contract_details \n- billing_address_details \n- contract_details \n- emergency_contact \n- emergency_contact_details \n- employment_document_details \n- personal_details \n- pricing_plan_details \n- company_basic_information \n- global_payroll_administrative_details \n- global_payroll_bank_account_details \n- global_payroll_basic_information \n- global_payroll_contract_details \n- global_payroll_federal_taxes \n- global_payroll_state_taxes \n- global_payroll_personal_details \n- benefit_renewal_request \n- hris_personal_details \n\n```\n\nMost forms require a company access token, as they are dependent on certain\nproperties of companies and their current employments. However, the `address_details`\nand `company_basic_information` forms can be accessed using client_credentials\nauthentication (without a company).\n\n\n\n## Scopes\n\n| Category | Read only Scope | Write only Scope (read access implicit) |\n|---|---|---|\n| Manage company resources (`company_admin`) | View forms (`form:read`) | - |\n"
      operationId: get_v1_countries_country_code_form
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Country code according to ISO 3-digit alphabetic codes
        example: PRT
        in: path
        name: country_code
        required: true
        schema:
          type: string
      - description: Name of the desired form
        example: address_details
        in: path
        name: form
        required: true
        schema:
          type: string
      - description: Required for `contract_amendment` and `global_payroll_state_taxes` forms
        example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        in: query
        name: employment_id
        required: false
        schema:
          type: string
      - description: Two-letter US state code. Required for `global_payroll_state_taxes` (e.g. `NY`).
        example: NY
        in: query
        name: jurisdiction
        required: false
        schema:
          type: string
      - description: 'FOR TESTING PURPOSES ONLY: Include scheduled benefit groups.'
        example: false
        in: query
        name: only_for_testing_include_scheduled_benefit_groups
        required: false
        schema:
          type: boolean
      - description: Skips the dynamic benefits part of the schema if set. To be used when benefits are set via its own API.
        example: true
        in: query
        name: skip_benefits
        required: false
        schema:
          type: boolean
      - description: Version of the form schema
        example: 1
        in: query
        name: json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryFormResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - form:read
        - company_admin
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - form:read
        - company_admin
        - all:write
        - all:read
        OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - form:read
        - company_admin
        - all:write
        - all:read
      summary: Show form schema
      tags:
      - Getting Started
  /v1/countries/{country_code}/engagement-agreement-details:
    get:
      callbacks: {}
      deprecated: false
      description: 'Returns the engagement agreement details JSON Schema for a country. Only DEU country is supported for now.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage company resources (`company_admin`) | View forms (`form:read`) | - |

        '
      operationId: get_v1_countries_country_code_engagement-agreement-details
      parameters:
      - description: Country code according to ISO 3-digit alphabetic codes
        example: DEU
        in: path
        name: country_code
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngagementAgreementDetailsResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - form:read
        - company_admin
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - form:read
        - company_admin
        - all:write
        - all:read
      summary: Show engagement agreement details
      tags:
      - Getting Started
  /v1/countries:
    get:
      callbacks: {}
      description: 'Returns a list of all countries that are supported by Remote API alphabetically ordered.

        The supported list accounts for creating employment with basic information and it does not imply fully onboarding employment via JSON Schema.

        The countries present in the list are the ones where creating a company is allowed.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage company resources (`company_admin`) | View countries (`country:read`) | - |

        '
      operationId: get_v1_countries
      parameters:
      - description: 'This endpoint works with any of the access tokens provided. You can use an access

          token obtained through the Client Credentials flow, the Authorization Code flow, or the Refresh Token flow.

          '
        example: Bearer <ANY ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - country:read
        - company_admin
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - country:read
        - company_admin
        - all:write
        - all:read
        OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - country:read
        - company_admin
        - all:write
        - all:read
      summary: List countries
      tags:
      - Getting Started
  /v1/identity/current:
    get:
      callbacks: {}
      description: 'Shows information about the entities that can be controlled by the current auth token.

        '
      operationId: get_v1_identity_current
      parameters:
      - description: 'This endpoint works with any of the access tokens provided. You can use an access

          token obtained through the Client Credentials flow, the Authorization Code flow, or the Refresh Token flow.

          '
        example: Bearer <ANY ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityCurrentResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
        OAuth2ClientCredentials: []
      summary: Get token identity
      tags:
      - Getting Started
  /auth/oauth2/token:
    post:
      callbacks: {}
      description: Endpoint to exchange tokens in the Authorization Code, Assertion Flow, Client Credentials and Refresh Token flows
      operationId: post_auth_oauth2_token
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuth2TokenParams'
        description: OAuth2Token
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Tokens'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - BasicAuth: []
      summary: Token
      tags:
      - Getting Started
  /v1/countries/{country_code}/legal_entity_forms/{form}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Returns the json schema of a supported form. Possible form names are:

        ```

        - administrative_details

        ```


        Most forms require a company access token, as they are dependent on certain

        properties of companies and their current employments.




        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage company resources (`company_admin`) | View forms (`form:read`) | - |

        '
      operationId: get_v1_countries_country_code_legal_entity_forms_form
      parameters:
      - description: Country code according to ISO 3-digit alphabetic codes
        example: PRT
        in: path
        name: country_code
        required: true
        schema:
          type: string
      - description: Name of the desired form
        example: administrative_details
        in: path
        name: form
        required: true
        schema:
          type: string
      - description: Product type. Default value is global_payroll.
        example: global_payroll
        in: query
        name: product_type
        required: false
        schema:
          default: global_payroll
          enum:
          - peo
          - global_payroll
          - e2e_payroll
          type: string
      - description: Legal entity id for admistrative_details of e2e payroll products in GBR
        example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        in: query
        name: legal_entity_id
        required: false
        schema:
          $ref: '#/components/schemas/UuidSlug'
      - description: Version of the form schema
        example: 1
        in: query
        name: json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryFormResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - form:read
        - company_admin
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - form:read
        - company_admin
        - all:write
        - all:read
        OAuth2ClientCredentials:
        - https://gateway.remote.com/company.manage
        - form:read
        - company_admin
        - all:write
        - all:read
      summary: Show legal entity administrative details form schema
      tags:
      - Getting Started
components:
  schemas:
    ClientCredentialsParams:
      example:
        client_id: <client_id>
        grant_type: client_credentials
      properties:
        client_id:
          description: The client id generated during registration
          type: string
        grant_type:
          description: The Authorization flow
          enum:
          - client_credentials
          type: string
      required:
      - grant_type
      - client_id
      title: ClientCredentialsParams
      type: object
    ParameterError:
      example:
        code: invalid_param
        message: Invalid parameter
        param: employment_id
      properties:
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
        param:
          description: The parameter that lead to the error message.
          type: string
      required:
      - code
      - message
      - param
      title: ParameterError
      type: object
    AuthorizationCodeParams:
      example:
        code: eyJhbG...xb6H0
        grant_type: authorization_code
      properties:
        code:
          description: The authorization code generated in Authorization Code flow
          type: string
        grant_type:
          description: The Authorization flow
          enum:
          - authorization_code
          type: string
      required:
      - grant_type
      - code
      title: AuthorizationCodeParams
      type: object
    RefreshTokenResponse:
      allOf:
      - $ref: '#/components/schemas/BaseTokenResponse'
      - example:
          access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
          expires_in: 7200
          refresh_token: b480036a-d229-49ef-a606-7e8fba58a5eb
          token_type: Bearer
        properties:
          refresh_token:
            description: The refresh token
            type: string
        type: object
      example:
        access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
        expires_in: 7200
        refresh_token: b480036a-d229-49ef-a606-7e8fba58a5eb
        token_type: Bearer
      title: RefreshTokenResponse
      type: object
    OAuth2TokenParams:
      example:
        code: eyJhbG...xb6H0
        grant_type: authorization_code
      oneOf:
      - $ref: '#/components/schemas/AuthorizationCodeParams'
      - $ref: '#/components/schemas/ClientCredentialsParams'
      - $ref: '#/components/schemas/RefreshTokenParams'
      - $ref: '#/components/schemas/AssertionTokenParams'
      title: OAuth2TokenParams
      type: object
    UnauthorizedResponse:
      description: Returned when the request does not include valid authentication credentials. Ensure you are passing a valid OAuth2 access token or API token in the Authorization header.
      example:
        message: Unauthorized
      properties:
        message:
          pattern: Unauthorized
          type: string
      required:
      - message
      title: UnauthorizedResponse
      type: object
    EngagementAgreementDetailsResponse:
      description: Response for engagement agreement details
      example:
        data:
          schema:
            properties:
              has_business_presence:
                enum:
                - 'yes'
                - 'no'
                title: Do you currently have any business presence in Germany?
                type: string
              has_cba:
                enum:
                - 'yes'
                - 'no'
                title: Are your German employees covered by any collective bargaining agreement (CBA)?
                type: string
              has_similar_roles:
                enum:
                - 'yes'
                - 'no'
                title: Do you currently have team members in similar roles to this hire?
                type: string
            type: object
          version: 1
      properties:
        data:
          additionalProperties: false
          description: Engagement agreement details response data
          properties:
            schema:
              additionalProperties: true
              description: Engagement agreement details schema object with variable fields based on country
              type: object
            version:
              description: JSON schema version number
              type: integer
          required:
          - version
          - schema
          type: object
      title: EngagementAgreementDetailsResponse
      type: object
    HolidaysResponse:
      description: Holidays response
      example:
        data:
        - day: '2021-01-01'
          name: New Year's Day
          note: The day after New Year's Eve
          observed_day: '2021-01-02'
      properties:
        data:
          items:
            $ref: '#/components/schemas/Holiday'
          type: array
      title: HolidaysResponse
      type: object
    UnprocessableEntityResponse:
      anyOf:
      - properties:
          errors:
            type: object
        required:
        - errors
        type: object
      - properties:
          message:
            oneOf:
            - type: string
            - $ref: '#/components/schemas/ParameterError'
            - items:
                $ref: '#/components/schemas/ParameterError'
              title: ParameterErrors
              type: array
            - $ref: '#/components/schemas/ActionError'
            - items:
                $ref: '#/components/schemas/ActionError'
              title: ActionErrors
              type: array
        required:
        - message
        type: object
      example:
        errors:
          some_field:
          - is invalid
      title: UnprocessableEntityResponse
      type: object
    IdentityCompany:
      description: The company that the current authentication token is scoped to. Only present when using a company-scoped access token or customer API token.
      example:
        id: afe4dc8d-0c4a-41fe-9fbf-62b752524bde
        name: Company
      properties:
        id:
          description: The unique identifier (UUID) of the company. Use this ID when making subsequent API calls that require a company reference.
          type: string
        name:
          description: The registered name of the company on the Remote platform.
          type: string
      required:
      - name
      - id
      title: IdentityCompany
      type: object
    Country:
      description: A supported country on Remote
      example:
        alpha_2_code: PT
        code: PRT
        contractor_products_available:
        - standard
        - plus
        - cor
        country_subdivisions:
        - code: PT-06
          name: Coimbra
          subdivision_type: District
        - code: PT-11
          name: Lisboa
          subdivision_type: District
        employment_agreement_preview_available: true
        eor_onboarding: true
        locked_benefits: after_first_hire
        name: Portugal
        region: Europe
        subregion: Southern Europe
        supported_json_schemas:
        - additional_documents
        - address_details
        - administrative_details
        - employment-basic-information
        - bank_account_details
        - contract_details
        - emergency_contact
      properties:
        alpha_2_code:
          description: The ISO 3166-1 alpha-2 country code (e.g., "PT").
          type: string
        code:
          description: The ISO 3166-1 alpha-3 country code (e.g., "PRT"). This is the primary code used across the Remote API.
          type: string
        contractor_products_available:
          description: Contractor product names available for this country
          items:
            enum:
            - standard
            - plus
            - cor
            type: string
          type: array
        country_subdivisions:
          description: Administrative subdivisions of the country (e.g., states, provinces, districts). Null if the country has no subdivisions relevant to Remote's services.
          items:
            $ref: '#/components/schemas/CountrySubdivision'
          nullable: true
          type: array
        employment_agreement_preview_available:
          description: Whether an Employment Agreement preview is available for this country.
          type: boolean
        eor_onboarding:
          description: Whether EOR (Employer of Record) onboarding is available in this country.
          type: boolean
        locked_benefits:
          description: When benefit plan selections become locked for this country (e.g., "after_first_hire" means benefits cannot be changed after the first employee is hired).
          type: string
        name:
          description: The country's full English name.
          type: string
        region:
          description: The geographic region the country belongs to (e.g., "Europe", "Asia", "Americas").
          type: string
        subregion:
          description: The geographic subregion (e.g., "Southern Europe", "Southeast Asia"). Null for some countries.
          nullable: true
          type: string
        supported_json_schemas:
          description: The list of JSON schema form names available for this country (e.g., "address_details", "contract_details"). Use these with the Show form schema endpoint to get country-specific field requirements.
          items:
            type: string
          type: array
      required:
      - alpha_2_code
      - code
      - name
      title: Country
      type: object
    BadRequestResponse:
      description: Returned when the request is malformed or contains invalid parameters. The message may be a simple string or a structured object with a code and detailed message.
      example:
        message: invalid {resource}
      oneOf:
      - properties:
          message:
            description: A human-readable error message describing what was wrong with the request.
            type: string
        required:
        - message
        type: object
      - properties:
          message:
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
            - message
            type: object
        type: object
      title: BadRequestResponse
      type: object
    IdentityCompanyAccessTokenResponse:
      description: 'Returned when the current token was obtained via the OAuth2 Authorization Code flow and is scoped to a specific company managed by an integration partner. Contains the full context: the integration''s credentials, the company being accessed, and the user who authorized access.'
      example:
        data:
          client_id: 1pws9iw986yq1ec57h159q29l
          company:
            id: afe4dc8d-0c4a-41fe-9fbf-62b752524bde
            name: Company
          integration:
            contact_email: partner_admin@example.com
            display_name: Integration Display Name
            name: integration_partner
          user:
            email: email@example.com
            id: 4117f18a-5ccf-473a-b970-608b75f5fafb
            name: Jane Smith
            status: created
      properties:
        data:
          properties:
            client_id:
              description: The OAuth2 client ID of the integration partner that obtained this token.
              type: string
            company:
              $ref: '#/components/schemas/IdentityCompany'
            integration:
              $ref: '#/components/schemas/IdentityIntegration'
            user:
              $ref: '#/components/schemas/IdentityUser'
          required:
          - client_id
          - company
          - integration
          - user
          type: object
      required:
      - data
      title: IdentityCompanyAccessTokenResponse
      type: object
    CountriesResponse:
      description: List of countries supported by Remote API
      example:
        data:
        - alpha_2_code: PT
          code: PRT
          employment_agreement_preview_available: true
          eor_onboarding: true
          name: Portugal
          region: Europe
          subregion: Southern Europe
          supported_json_schemas:
          - additional_documents
          - address_details
          - administrative_details
          - employment-basic-information
          - bank_account_details
          - contract_details
          - emergency_contact
      properties:
        data:
          items:
            $ref: '#/components/schemas/Country'
          type: array
      title: CountriesResponse
      type: object
    Holiday:
      example:
        day: '2021-01-01'
        name: New Year's Day
        note: The day after New Year's Eve
        observed_day: '2021-01-02'
      properties:
        day:
          description: Date of the holiday
          format: date
          type: string
        name:
          description: Name of the holiday
          type: string
        note:
          description: Notes about the holiday
          nullable: true
          type: string
        observed_day:
          description: Date when the holiday is observed
          format: date
          nullable: true
          type: string
      required:
      - name
      - day
      title: Holiday
      type: object
    ActionError:
      properties:
        action:
          description: The action that lead to the error message.
          type: string
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
      required:
      - code
      - message
      - action
      title: ActionError
      type: object
    IdentityCurrentResponse:
      description: 'The response from `GET /v1/identity/current`. Returns information about the entities associated with the current authentication token. The shape of the response depends on the type of token used:


        - **Client Credentials Token**: Returns the integration''s `client_id` and details. No company or user context.

        - **Company Access Token** (Authorization Code flow): Returns full context — integration credentials, the company being accessed, and the authorizing user.

        - **Customer API Token**: Returns only the company and user. No integration credentials since the company is accessing its own data directly.'
      example:
        data:
          client_id: 1pws9iw986yq1ec57h159q29l
          integration:
            contact_email: partner_admin@example.com
            display_name: Integration Display Name
            name: integration_partner
      oneOf:
      - $ref: '#/components/schemas/IdentityClientCredentialsResponse'
      - $ref: '#/components/schemas/IdentityCompanyAccessTokenResponse'
      - $ref: '#/components/schemas/IdentityCustomerAccessTokenResponse'
      title: IdentityCurrentResponse
      type: object
    IdentityUser:
      description: The user (company manager) associated with the current authentication token. Represents the person who authorized access to the company's data.
      example:
        email: email@example.com
        id: 4117f18a-5ccf-473a-b970-608b75f5fafb
        name: Jane Smith
        status: created
      properties:
        email:
          description: The email address of the user who authorized the token.
          type: string
        id:
          description: The unique identifier (UUID) of the user.
          type: string
        name:
          description: The full name of the user who authorized the token.
          type: string
        status:
          description: The current account status of the user on the Remote platform.
          type: string
      required:
      - email
      - name
      - id
      - status
      title: IdentityUser
      type: object
    ClientCredentialsResponse:
      allOf:
      - $ref: '#/components/schemas/BaseTokenResponse'
      example:
        access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
        expires_in: 7200
        token_type: Bearer
      title: ClientCredentialsResponse
      type: object
    BaseTokenResponse:
      example:
        access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
        expires_in: 7200
        token_type: Bearer
      properties:
        access_token:
          description: A JWT token.
          type: string
        expires_in:
          description: Number of seconds until token is expired.
          format: int32
          type: integer
        token_type:
          description: The type of the token. For now, always `Bearer`.
          type: string
      title: BaseTokenResponse
      type: object
    NotFoundResponse:
      description: Returned when the requested resource does not exist or is not accessible with the current authentication credentials.
      example:
        message: '{resource} not found'
      properties:
        message:
          description: A message indicating which resource was not found.
          pattern: Not Found
          type: string
      title: NotFoundResponse
      type: object
    IdentityCustomerAccessTokenResponse:
      description: Returned when the current token is a Customer API Token. These tokens are used by companies accessing their own data directly (not through an integration partner), so only company and user information is included — there are no integration credentials.
      example:
        data:
          company:
            id: afe4dc8d-0c4a-41fe-9fbf-62b752524bde
            name: Company
          user:
            email: email@example.com
            id: 4117f18a-5ccf-473a-b970-608b75f5fafb
            name: Jane Smith
            status: created
      properties:
        data:
          properties:
            company:
              $ref: '#/components/schemas/IdentityCompany'
            user:
              $ref: '#/components/schemas/IdentityUser'
          required:
          - company
          - user
          type: object
      required:
      - data
      title: IdentityCustomerAccessTokenResponse
      type: object
    RefreshTokenParams:
      example:
        grant_type: refresh_token
        refresh_token: b480036a-d229-49ef-a606-7e8fba58a5eb
      properties:
        grant_type:
          description: The Authorization flow
          enum:
          - refresh_token
          type: string
        refresh_token:
          description: The refresh token generated in the Authorization Code flow
          type: string
      required:
      - grant_type
      - refresh_token
      title: RefreshTokenParams
      type: object
    UuidSlug:
      description: Identifier of the employment being terminated.
      example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
      format: uuid
      title: UuidSlug
      type: string
    CountrySubdivision:
      description: A subdivision of a supported country on Remote
      example:
        code: PT-11
        name: Lisboa
        subdivision_type: District
      properties:
        code:
          description: The ISO 3166-2 subdivision code (e.g., "PT-11" for Lisboa).
          type: string
        name:
          description: The subdivision's name (e.g., "Lisboa", "California").
          type: string
        subdivision_type:
          description: The type of subdivision (e.g., "District", "State", "Province").
          type: string
      required:
      - name
      title: CountrySubdivision
      type: object
    OAuth2Tokens:
      anyOf:
      - $ref: '#/components/schemas/AuthorizationCodeResponse'
      - $ref: '#/components/schemas/ClientCredentialsResponse'
      - $ref: '#/components/schemas/RefreshTokenResponse'
      example:
        access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
        company_id: 6e60f5f9-e6a6-4b04-b13c-84bced848bab
        expires_in: 7200
        refresh_token: b480036a-d229-49ef-a606-7e8fba58a5eb
        token_type: Bearer
        user_id: 6550e536-8655-4bce-8bd9-b295f786ad71
      title: OAuth2Tokens
      type: object
    ContractorContractDetailsResponse:
      description: Response for contractor contract details
      example:
        data:
          schema:
            properties:
              services_and_deliverables:
                description: List of projects, project descriptions and deliverables that a Contractor shall provide
                maxLength: 3000
                minLength: 10
                title: Services and Deliverables
                type: string
                x-jsf-presentation:
                  inputType: textarea
            required:
            - services_and_deliverables
            type: object
            x-jsf-order:
            - services_and_deliverables
          version: 1
      properties:
        data:
          additionalProperties: false
          description: Contractor contract details response data
          properties:
            schema:
              additionalProperties: true
              description: Contract details schema object with variable fields based on country
              type: object
            version:
              description: JSON schema version number
              type: integer
          required:
          - version
          - schema
          type: object
      title: ContractorContractDetailsResponse
      type: object
    AuthorizationCodeResponse:
      allOf:
      - $ref: '#/components/schemas/BaseTokenResponse'
      - example:
          access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
          company_id: 6e60f5f9-e6a6-4b04-b13c-84bced848bab
          expires_in: 7200
          refresh_token: b480036a-d229-49ef-a606-7e8fba58a5eb
          token_type: Bearer
          user_id: 6550e536-8655-4bce-8bd9-b295f786ad71
        properties:
          company_id:
            description: The ID of the connected company.
            type: string
          refresh_token:
            description: The refresh token. This token must be stored and used for issuing new access tokens for managing the company's resources.
            type: string
          user_id:
            description: The ID of the user who connected the company.
            type: string
        type: object
      example:
        access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
        company_id: 6e60f5f9-e6a6-4b04-b13c-84bced848bab
        expires_in: 7200
        refresh_token: b480036a-d229-49ef-a606-7e8fba58a5eb
        token_type: Bearer
        user_id: 6550e536-8655-4bce-8bd9-b295f786ad71
      title: AuthorizationCodeResponse
      type: object
    IdentityClientCredentialsResponse:
      description: Returned when the current token was obtained via the OAuth2 Client Credentials flow. Contains the integration's client ID and details, but no company or user information since client credentials tokens are not scoped to a specific company.
      example:
        data:
          client_id: 1pws9iw986yq1ec57h159q29l
          integration:
            contact_email: partner_admin@example.com
            display_name: Integration Display Name
            name: integration_partner
      properties:
        data:
          properties:
            client_id:
              description: The OAuth2 client ID used to obtain this token.
              type: string
            integration:
              $ref: '#/components/schemas/IdentityIntegration'
          required:
          - client_id
          - integration
          type: object
      required:
      - data
      title: IdentityClientCredentialsResponse
      type: object
    CountryFormResponse:
      description: Object with required and optional fields, its descriptions and suggested presentation
      example:
        data:
          additionalProperties: false
          properties:
            address:
              description: Your street name and house number. PO Box addresses are not supported.
              maxLength: 255
              title: Address
              type: string
            address_line_2:
              description: (Optional) For example, apartment, block, or building number.
              maxLength: 255
              title: Address line 2
              type: string
            city:
              description: Enter your city
              maxLength: 255
              title: City
              type: string
            postal_code:
              description: Enter zip or postal code
              maxLength: 255
              title: Postal code
              type: string
          required:
          - address
          - city
          - postal_code
          type: object
      properties:
        data:
          type: object
      title: CountryFormResponse
      type: object
    AssertionTokenParams:
      description: "The assertion token is a JWT token that contains the following claims:\n\n- `sub`: The subject of the token, in one of the following formats:\n  - `urn:remote-api:employment:<employment_id>` — mints an **employee-role** access token whose `sub` is the employment owner's user slug. Scopes are restricted to those valid for the employee role (e.g. `personal_detail:read`, `timeoff:write`).\n  - `urn:remote-api:employee:employment:<employment_id>` — same as above; the recommended format for new integrations. Use this when issuing a token on behalf of an employee so they can submit their own onboarding data (e.g. `PUT /v1/employee/address`).\n  - `urn:remote-api:company-manager:user:<user_id>` — mints a **company_manager-role** access token. Scopes are restricted to those valid for the company-manager role.\n\n- `iss`: The issuer of the token, which is the client ID\n- `aud`: The audience of the token, which is the OAuth audience\n- `exp`: The expiration time of the token (max 10 minutes in the future)\n- `iat`: The issued at time of the token\n- `scope`: The scope of the token (space-separated). Optional. If omitted, the minted access token defaults to `all:write` for the subject's role. If provided, every scope must be valid for the subject's role or the assertion is rejected.\n\nThe assertion must be signed with the client secret (HS256).\n\n**Example — minting an employee token to submit a residential address:**\n\n```\nsub:   urn:remote-api:employee:employment:emp_2t3h9\niss:   <your client_id>\naud:   <configured OAuth audience>\nexp:   <now + 300 seconds>\niat:   <now>\nscope: address:write\n```\n\nThe resulting access token can be used at `PUT /v1/employee/address` to submit the address for that employment.\n"
      example:
        assertion: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
        grant_type: urn:ietf:params:oauth:grant-type:jwt-bearer
      properties:
        assertion:
          description: The assertion token
          type: string
        grant_type:
          description: The Assertion flow grant type
          enum:
          - urn:ietf:params:oauth:grant-type:jwt-bearer
          type: string
      required:
      - grant_type
      - assertion
      title: AssertionTokenParams
      type: object
    TooManyRequestsResponse:
      description: Returned when the API rate limit has been exceeded (HTTP 429). Wait before retrying. Check the `Retry-After` response header for the recommended wait time.
      example:
        message: Too many requests
      properties:
        message:
          pattern: Too many requests
          type: string
      title: TooManyRequestsResponse
      type: object
    IdentityIntegration:
      description: Details about the integration partner associated with the current authentication token.
      example:
        contact_email: partner_admin@example.com
        display_name: Integration Display Name
        name: integration_partner
      properties:
        contact_email:
          description: The primary contact email address registered for this integration partner.
          type: string
        display_name:
          description: The human-readable display name of the integration partner, as shown to users.
          type: string
        name:
          description: The unique machine-readable identifier for the integration partner. Used internally to reference this integration.
          type: string
      required:
      - contact_email
      - display_name
      - name
      title: IdentityIntegration
      type: object
  securitySchemes:
    BasicAuth:
      description: 'Authenticate using the basic authentication for partners.


        Use the CLIENT_ID as login and CLIENT_SECRET as password.

        '
      scheme: basic
      type: http
    ClientToken:
      description: 'Authenticate a partner using only the the provided `client_token`.


        This authentication method only allows accessing marketing endpoints.

        '
      scheme: bearer
      type: http
    CustomerAPIToken:
      description: 'Authenticate using API Key generated by the customer in their Integration Settings page.

        '
      scheme: bearer
      type: http
    OAuth2:
      description: 'Authenticate using OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2Assertion:
      description: 'Authenticate as the employee using the `urn:ietf:params:oauth:grant-type:jwt-bearer` grant in the OAuth2 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            address:read: address:read
            address:write: address:write
            bank_account:read: bank_account:read
            bank_account:write: bank_account:write
            document:read: document:read
            document:write: document:write
            emergency_contact:read: emergency_contact:read
            emergency_contact:write: emergency_contact:write
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            expense:read: expense:read
            incentive:read: incentive:read
            payroll: payroll
            payslip:read: payslip:read
            personal_detail:read: personal_detail:read
            personal_detail:write: personal_detail:write
            time_and_attendance: time_and_attendance
            timeoff:read: timeoff:read
            timeoff:write: timeoff:write
            timesheet:read: timesheet:read
          tokenUrl: /auth/oauth2/token
          x-assertionType: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
      type: oauth2
    OAuth2AuthorizationCode:
      description: 'Authenticate as the token authorizer using `authorization_code` / `refresh_token` grants in the OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          refreshUrl: /auth/oauth2/token
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2ClientCredentials:
      description: 'Authenticate using `client_credentials` grant in the OAuth 2.0 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
