openapi: 3.0.0
info:
  title: Remote Address Details Testing & Sandbox API
  version: 0.1.0
servers:
- url: https://gateway.remote.com/
  variables: {}
- url: https://gateway.remote-sandbox.com/
  variables: {}
security:
- OAuth2: []
tags:
- name: Testing & Sandbox
paths:
  /v1/sdk/telemetry-errors:
    post:
      callbacks: {}
      deprecated: false
      description: 'Receives error telemetry from the frontend SDK.

        Errors are logged to observability backend for monitoring and debugging.

        '
      operationId: post_v1_sdk_telemetry-errors
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SDKErrorPayload'
        description: SDK Error Report
        required: true
      responses:
        '204':
          content:
            application/json: {}
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitResponse'
          description: Too Many Requests
      security:
      - ClientToken: []
      - OAuth2ClientCredentials: []
      summary: Report SDK errors
      tags:
      - Testing & Sandbox
  /v1/sandbox/companies/{company_id}/bypass-eligibility-checks:
    post:
      callbacks: {}
      description: 'Pass KYB and credit risk for a company without the intervention of a Remote admin.


        This endpoint is only available in Sandbox, otherwise it will respond with a 404.

        '
      operationId: post_v1_sandbox_companies_company_id_bypass-eligibility-checks
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Company ID
        example: 5bdc2cb9-6bda-4cf7-bc6e-0b122791e52a
        in: path
        name: company_id
        required: true
        schema:
          type: string
        x-resource-type: company
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Pass KYB
      tags:
      - Testing & Sandbox
  /v1/sandbox/employments/{employment_id}/risk-reserve-proof-of-payments/approve:
    post:
      callbacks: {}
      description: 'Approves a risk reserve proof of payment without the intervention of a Remote admin.


        Triggers an `employment.cor_hiring.proof_of_payment_accepted` webhook event.


        This endpoint is only available in Sandbox, otherwise it will respond with a 404.

        '
      operationId: post_v1_sandbox_employments_employment_id_risk-reserve-proof-of-payments_approve
      parameters:
      - description: Employment ID
        example: 5b44799c-e845-4d5c-9c52-b6e5f7c3d4e1
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskReserveProofOfPaymentResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Approve risk reserve proof of payment
      tags:
      - Testing & Sandbox
  /v1/test-schema:
    get:
      callbacks: {}
      deprecated: false
      description: Get a mock JSON Schema for testing purposes
      operationId: get_v1_test-schema
      parameters:
      - description: Version of the form schema
        example: 1
        in: query
        name: json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyFormResponse'
          description: Success
      security:
      - OAuth2ClientCredentials: []
      summary: Get a mock JSON Schema
      tags:
      - Testing & Sandbox
  /v1/sandbox/benefit-renewal-requests:
    post:
      callbacks: {}
      deprecated: false
      description: 'Creates a Benefit Renewal Request for a specific Benefit Group.

        This endpoint is only available in Sandbox, otherwise it will respond with a 404.

        '
      operationId: post_v1_sandbox_benefit-renewal-requests
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitRenewalRequests.CreateBenefitRenewalRequest'
        description: Benefit Renewal Request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitRenewalRequests.CreateBenefitRenewalRequestResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Creates a Benefit Renewal Request
      tags:
      - Testing & Sandbox
  /v1/sandbox/contract-amendments/{contract_amendment_request_id}/approve:
    put:
      callbacks: {}
      description: 'Approves a contract amendment request without the intervention of a Remote admin.

        Approvals done via this endpoint are effective immediately,

        regardless of the effective date entered on the contract amendment creation.


        This endpoint is only available in Sandbox, otherwise it will respond with a 404.

        '
      operationId: put_v1_sandbox_contract-amendments_contract_amendment_request_id_approve
      parameters:
      - description: Contract amendment request ID
        example: 6d947344-b053-4a4f-acf0-79d296cbd082
        in: path
        name: contract_amendment_request_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractAmendmentResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Approve Contract Amendment
      tags:
      - Testing & Sandbox
  /v1/sandbox/companies/{company_id}/legal-entities:
    post:
      callbacks: {}
      description: 'Create a new legal entity for a company in a given country, with KYB automatically passed.


        The entity is created with active status and can be set as the company''s default

        using the reassign default entity endpoint.

        This endpoint is only available in Sandbox, otherwise it will respond with a 404.

        '
      operationId: post_v1_sandbox_companies_company_id_legal-entities
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Company ID
        example: 5bdc2cb9-6bda-4cf7-bc6e-0b122791e52a
        in: path
        name: company_id
        required: true
        schema:
          type: string
        x-resource-type: company
      requestBody:
        content:
          application/json:
            schema:
              properties:
                country_code:
                  description: ISO 3166-1 alpha-3 country code
                  example: DEU
                  type: string
              required:
              - country_code
              type: object
        description: Create legal entity params
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      legal_entity_id:
                        description: Legal entity slug
                        type: string
                      name:
                        description: Legal entity name
                        type: string
                      status:
                        description: Legal entity status
                        type: string
                    type: object
                type: object
          description: Legal entity created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Create a legal entity
      tags:
      - Testing & Sandbox
  /v1/sandbox/employments:
    post:
      callbacks: {}
      description: "Creates an employment without provisional_start_date validation.\n\nThis endpoint is only available in Sandbox and allows creating employments which\n`provisional_start_date` is in the past. This is especially helpful for:\n  * Testing the Timeoff Balance endpoints\n  * Testing the Offboarding endpoints\n  * Testing features around probation periods\n\nThis endpoint will respond with a 404 outside of the Sandbox environment.\n\nFor creating an employment's parameters outside of testing purposes, use [this\nEmployment create endpoint](#operation/post_create_employment)\n"
      operationId: post_v1_sandbox_employments
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentCreateParams'
        description: Employment params
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentCreationResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Create employment
      tags:
      - Testing & Sandbox
  /v1/sandbox/companies/{company_id}/legal-entities/{legal_entity_id}/activate-global-payroll:
    post:
      callbacks: {}
      description: "Enables the Global Payroll product on a legal entity so that GP employees can be created against it.\n\nPerforms three idempotent steps:\n  * Adds the Global Payroll product to the company.\n  * Flips `global_payroll_enabled` on the legal entity's settings.\n  * Ensures a Global Payroll pricing plan exists for the legal entity's country.\n\nThis endpoint is only available in Sandbox, otherwise it will respond with a 404.\n"
      operationId: post_v1_sandbox_companies_company_id_legal-entities_legal_entity_id_activate-global-payroll
      parameters:
      - description: Company ID
        example: 5bdc2cb9-6bda-4cf7-bc6e-0b122791e52a
        in: path
        name: company_id
        required: true
        schema:
          type: string
        x-resource-type: company
      - description: Legal Entity ID to activate Global Payroll on
        example: 5bdc2cb9-6bda-4cf7-bc6e-0b122791e52a
        in: path
        name: legal_entity_id
        required: true
        schema:
          type: string
        x-resource-type: legal_entity
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Activate Global Payroll for a legal entity
      tags:
      - Testing & Sandbox
  /v1/sandbox/webhook-callbacks/trigger:
    post:
      callbacks: {}
      deprecated: false
      description: 'Triggers a callback previously registered for webhooks. Use this endpoint to

        emit a webhook for testing in the Sandbox environment. This endpoint will

        respond with a 404 outside of the Sandbox environment.

        '
      operationId: post_v1_sandbox_webhook-callbacks_trigger
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookTriggerParams'
        description: Webhook Trigger Params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Trigger a Webhook
      tags:
      - Testing & Sandbox
  /v1/sandbox/employments/{employment_id}:
    delete:
      callbacks: {}
      description: 'Archives an employment, setting its status to `archived`.


        This endpoint is only available in Sandbox and allows partners to clean up test

        employees during automated E2E testing without requiring Remote manual intervention.


        This endpoint will respond with a 404 outside of the Sandbox environment.

        '
      operationId: delete_v1_sandbox_employments_employment_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Employment ID
        example: e3ee69d7-1293-4664-92fc-02625dae5247
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Archive employment
      tags:
      - Testing & Sandbox
    patch:
      callbacks: {}
      description: 'Updates an employment. Use this endpoint to:

        - modify employment states for testing

        - Backdate employment start dates


        This endpoint will respond with a 404 outside of the Sandbox environment.


        For updating an employment''s parameters outside of testing purposes, use [this Employment update endpoint](#operation/patch_update_employment).

        '
      operationId: patch_v1_sandbox_employments_employment_id (2)
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Employment ID
        example: e3ee69d7-1293-4664-92fc-02625dae5247
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentUpdateParams'
        description: Employment params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Update employment
      tags:
      - Testing & Sandbox
    put:
      callbacks: {}
      description: 'Updates an employment. Use this endpoint to:

        - modify employment states for testing

        - Backdate employment start dates


        This endpoint will respond with a 404 outside of the Sandbox environment.


        For updating an employment''s parameters outside of testing purposes, use [this Employment update endpoint](#operation/patch_update_employment).

        '
      operationId: patch_v1_sandbox_employments_employment_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Employment ID
        example: e3ee69d7-1293-4664-92fc-02625dae5247
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentUpdateParams'
        description: Employment params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Update employment
      tags:
      - Testing & Sandbox
  /v1/sandbox/companies/{company_id}/legal-entities/{legal_entity_id}/set-credit-risk-status:
    post:
      callbacks: {}
      description: 'Sets the credit risk status of a specific legal entity to any valid credit risk status.


        Use this endpoint to test hiring flows affected by credit risk, without needing Remote admin intervention.


        This endpoint is only available in Sandbox, otherwise it will respond with a 404.

        '
      operationId: post_v1_sandbox_companies_company_id_legal-entities_legal_entity_id_set-credit-risk-status
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Company ID
        example: 5bdc2cb9-6bda-4cf7-bc6e-0b122791e52a
        in: path
        name: company_id
        required: true
        schema:
          type: string
        x-resource-type: company
      - description: Legal Entity ID
        example: 5bdc2cb9-6bda-4cf7-bc6e-0b122791e52a
        in: path
        name: legal_entity_id
        required: true
        schema:
          type: string
        x-resource-type: legal_entity
      requestBody:
        content:
          application/json:
            schema:
              properties:
                credit_risk_status:
                  description: Credit risk status to set.
                  example: deposit_required
                  type: string
              required:
              - credit_risk_status
              type: object
        description: Credit risk status params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Set company credit risk status
      tags:
      - Testing & Sandbox
  /v1/sandbox/companies/{company_id}/default-legal-entity/{legal_entity_id}:
    put:
      callbacks: {}
      description: 'Set a different legal entity as the company''s default entity.


        The default entity is used when creating new employments without an explicit entity.

        This endpoint is only available in Sandbox, otherwise it will respond with a 404.

        '
      operationId: put_v1_sandbox_companies_company_id_default-legal-entity_legal_entity_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Company ID
        example: 5bdc2cb9-6bda-4cf7-bc6e-0b122791e52a
        in: path
        name: company_id
        required: true
        schema:
          type: string
        x-resource-type: company
      - description: Legal Entity ID to set as the new default
        example: 5bdc2cb9-6bda-4cf7-bc6e-0b122791e52a
        in: path
        name: legal_entity_id
        required: true
        schema:
          type: string
        x-resource-type: legal_entity
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Reassign default legal entity
      tags:
      - Testing & Sandbox
  /v1/sandbox/contract-amendments/{contract_amendment_request_id}/cancel:
    put:
      callbacks: {}
      description: 'Use this endpoint to cancel an existing contract amendment request.


        This endpoint is only available in Sandbox, otherwise it will respond with a 404.

        '
      operationId: put_v1_sandbox_contract-amendments_contract_amendment_request_id_cancel
      parameters:
      - description: Contract amendment request ID
        example: 5bdc2cb9-6bda-4cf7-bc6e-0b122791e52a
        in: path
        name: contract_amendment_request_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken: []
        OAuth2AuthorizationCode: []
      summary: Cancel Contract Amendment
      tags:
      - Testing & Sandbox
components:
  schemas:
    ParameterError:
      example:
        code: invalid_param
        message: Invalid parameter
        param: employment_id
      properties:
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
        param:
          description: The parameter that lead to the error message.
          type: string
      required:
      - code
      - message
      - param
      title: ParameterError
      type: object
    UserStatus:
      description: 'The status of the user account associated with this employment.


        - `active`: The user account is active and the user can log in.

        - `created`: The user account has been created but not yet activated.

        - `initiated`: The user has been invited but has not completed registration.

        - `cancelled`: The user account was cancelled before activation.

        - `inactive`: The user account has been deactivated (e.g., after offboarding).

        - `deleted`: The user account has been deleted.

        '
      enum:
      - active
      - created
      - initiated
      - cancelled
      - inactive
      - deleted
      example: active
      title: UserStatus
      type: string
    BenefitRenewalRequests.CreateBenefitRenewalRequestResponse:
      additionalProperties: false
      description: Create Benefit Renewal Request Response
      example:
        data:
          benefit_renewal_request:
            benefit_group:
              country_code: FRA
              id: 03b20f23-06b2-4fe2-8f21-49b445ccc1bb
              name: Health
            benefit_renewal_response:
              benefit_tier:
                description: A tier for testing purposes
                display_cost: ~$100
                id: 163d8f6c-2440-4f45-918b-d095f9e0ef79
                name: Premium
              updated_at: '2021-07-01T00:00:00Z'
            coverage_end_date: '2022-07-01'
            coverage_start_date: '2021-07-01'
            current_benefit_tier:
              description: A tier for testing purposes
              display_cost: ~$100
              id: 163d8f6c-2440-4f45-918b-d095f9e0ef79
              name: Premium
            id: 0073f4b5-b669-4b4a-b963-2a477f4e75a1
            number_of_affected_employees: 10
            renewal_selection_end_date: '2021-05-01'
            renewal_selection_instructions: 'We are delighted to announce our new Global Life Insurance plans, now available in 66 countries.

              This addition is set to significantly enhance the benefits package for your international team.

              Selection Deadline: Review and choose the right Global Life Insurance plan for each country where your team is based by 11:59 PM on December 31, 2023.

              We offer flexible coverage options from $50,000 to $600,000, so take your time to decide what''s best for your team.

              If you don''t make a selection within this period, your team members won''t be enrolled in the Global Life Insurance.

              If you wish to do so anytime next year, please reach out to help@remote.com

              For more information on how benefits work in different countries, check out our Global <a href="https://remote.com/benefits-guide/global-life-insurance">benefits guide</a>.

              '
            renewal_selection_start_date: '2021-03-01'
      properties:
        data:
          additionalProperties: false
          properties:
            benefit_renewal_request:
              $ref: '#/components/schemas/BenefitRenewalRequests.BenefitRenewalRequest'
          required:
          - benefit_renewal_request
          type: object
      required:
      - data
      title: BenefitRenewalRequests.CreateBenefitRenewalRequestResponse
      type: object
    BenefitRenewalRequests.MinimalBenefitRenewalResponse:
      additionalProperties: false
      example:
        benefit_tier:
          description: A tier for testing purposes
          display_cost: ~$100
          id: 163d8f6c-2440-4f45-918b-d095f9e0ef79
          name: Premium
        updated_at: '2021-07-01T00:00:00Z'
      properties:
        benefit_tier:
          $ref: '#/components/schemas/NullableMinimalBenefitTier'
        updated_at:
          $ref: '#/components/schemas/DateTime'
      required:
      - benefit_tier
      - updated_at
      title: BenefitRenewalRequests.MinimalBenefitRenewalResponse
      type: object
    Date:
      description: UTC date in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format
      example: '2021-07-01'
      format: date
      title: Date
      type: string
    ProvisionalStartDate:
      description: 'Indicates the expected start date of the employee or contractor.


        Required for employees, but optional for contractors. Date format is in ISO8601 without the time component.


        See the **Date and Time Format** documentation for more details on how the Remote API works with dates.

        '
      example: '2022-03-21'
      format: date
      title: ProvisionalStartDate
      type: string
    EmploymentUpdateParams:
      additionalProperties: false
      description: 'Required params to update an employment in the Sandbox environment.


        Currently supports setting the Employment Status to `active` and backdating the employment start date.

        '
      example:
        provisional_start_date: '2024-01-01'
        status: active
      properties:
        provisional_start_date:
          format: date
          type: string
        status:
          $ref: '#/components/schemas/EmploymentStatus'
      title: EmploymentUpdateParams
      type: object
    ConflictResponse:
      description: Returned when the request conflicts with the current state of a resource (HTTP 409). For example, trying to create a resource that already exists or performing an action that requires the resource to be in a different state.
      example:
        message: Company needs to be in status active to manage employments
      properties:
        message:
          description: A human-readable message describing the conflict and the expected state.
          type: string
      title: ConflictResponse
      type: object
    SuccessResponse:
      description: A generic success response returned by operations that don't produce a specific resource (e.g., updates, deletes).
      example:
        data:
          status: ok
      properties:
        data:
          properties:
            status:
              description: The result status. Always `"ok"` for successful operations.
              type: string
          type: object
      required:
      - data
      title: SuccessResponse
      type: object
    SDKErrorPayload:
      additionalProperties: false
      example:
        context:
          userId: user123
        error:
          category: RENDER_ERROR
          component_stack:
          - Component1
          - Component2
          message: Unable to render component
          name: RenderError
          severity: error
          stack: "Error: ...\n  at ..."
        metadata:
          environment: production
          sdk_version: 1.0.0
          timestamp: '2024-01-15T10:30:00Z'
          url: https://example.com/page
          user_agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64)
      properties:
        context:
          description: Context
          maxProperties: 10
          nullable: true
          type: object
        error:
          additionalProperties: false
          properties:
            category:
              description: Error category
              enum:
              - RENDER_ERROR
              - NETWORK_ERROR
              - VALIDATION_ERROR
              - STATE_ERROR
              - HOOK_ERROR
              - RUNTIME_ERROR
              - UNKNOWN_ERROR
              type: string
            component_stack:
              description: Component Stack
              items:
                maxLength: 500
                type: string
              nullable: true
              type: array
            message:
              description: Error message
              type: string
            name:
              description: Error name
              type: string
            severity:
              description: Error severity
              enum:
              - critical
              - error
              - warning
              - info
              type: string
            stack:
              description: Stack Trace
              nullable: true
              type: string
          required:
          - message
          - name
          - category
          - severity
          type: object
        metadata:
          properties:
            environment:
              description: SDK runtime environment
              enum:
              - production
              - staging
              - local
              - partners
              - sandbox
              type: string
            sdk_version:
              description: SDK Version
              pattern: ^\d+\.\d+\.\d+$
              type: string
            timestamp:
              description: Client Timestamp
              format: datetime
              type: string
            url:
              description: Client URL
              format: uri
              type: string
            user_agent:
              description: User Agent
              maxLength: 500
              type: string
          required:
          - sdk_version
          - timestamp
          - url
          - user_agent
          - environment
          type: object
      required:
      - error
      - metadata
      title: SDKErrorPayload
      type: object
    RiskReserveProofOfPaymentResponse:
      example:
        data:
          slug: 5b44799c-e845-4d5c-9c52-b6e5f7c3d4e1
          status: pending
      properties:
        data:
          properties:
            slug:
              description: Proof of payment ID
              type: string
            status:
              description: Current status of the proof of payment
              enum:
              - pending
              - auto_approve
              - manual_review
              - approved
              - rejected
              type: string
          type: object
      title: RiskReserveProofOfPaymentResponse
      type: object
    UnauthorizedResponse:
      description: Returned when the request does not include valid authentication credentials. Ensure you are passing a valid OAuth2 access token or API token in the Authorization header.
      example:
        message: Unauthorized
      properties:
        message:
          pattern: Unauthorized
          type: string
      required:
      - message
      title: UnauthorizedResponse
      type: object
    RateLimitResponse:
      example:
        error: Too many requests
      properties:
        error:
          example: Too many requests
          type: string
      title: RateLimitResponse
      type: object
    DateTime:
      description: UTC date time in YYYY-MM-DDTHH:mm:ss format
      example: '2021-07-15T18:18:17'
      format: datetime
      title: DateTime
      type: string
    UnprocessableEntityResponse:
      anyOf:
      - properties:
          errors:
            type: object
        required:
        - errors
        type: object
      - properties:
          message:
            oneOf:
            - type: string
            - $ref: '#/components/schemas/ParameterError'
            - items:
                $ref: '#/components/schemas/ParameterError'
              title: ParameterErrors
              type: array
            - $ref: '#/components/schemas/ActionError'
            - items:
                $ref: '#/components/schemas/ActionError'
              title: ActionErrors
              type: array
        required:
        - message
        type: object
      example:
        errors:
          some_field:
          - is invalid
      title: UnprocessableEntityResponse
      type: object
    Employment:
      description: Complete information of an employment, including all onboarding task statuses, country-specific form data (address, contract, administrative, etc.), and contractor-specific settings where applicable.
      example:
        personal_details: {}
        manager_email: john.doe@company.com
        provisional_start_date: '2021-07-03'
        address_details: {}
        pricing_plan_details:
          frequency: annually
        full_name: Jane Smith
        type: employee
        employment_lifecycle_stage: employee_self_enrollment
        administrative_details: {}
        company_id: e31adae1-company-id-af5fba7dd803
        work_address_details: {}
        bill_to_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        work_email: jane.smith@company.com
        status: created
        updated_at: '2021-07-15T18:18:17Z'
        basic_information: {}
        job_title: Engineer
        id: 20a72f86-employment-id-9e4942a902ff
        manager: John Doe
        login_email: jane@smith.com
        employment_model: eor
        personal_email: jane@smith.com
        country:
          alpha_2_code: PT
          code: PRT
          contractor_products_available:
          - standard
          - plus
          - cor
          country_subdivisions:
          - code: PT-06
            name: Coimbra
            subdivision_type: District
          - code: PT-11
            name: Lisboa
            subdivision_type: District
          employment_agreement_preview_available: true
          eor_onboarding: true
          locked_benefits: after_first_hire
          name: Portugal
          region: Europe
          subregion: Southern Europe
          supported_json_schemas:
          - additional_documents
          - address_details
          - administrative_details
          - employment-basic-information
          - bank_account_details
          - contract_details
          - emergency_contact
        user_status: active
        bank_account_details: []
        files: []
        engaged_by_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        billing_address_details: {}
        onboarding_tasks:
          address_details:
            description: Primary residence.
            status: completed
          administrative_details:
            description: Information we need for tax purposes.
            status: completed
          bank_account_details:
            description: Bank account used for receiving salary payments.
            status: completed
          billing_address_details:
            description: Address associated with the employee's bank account.
            status: completed
          contract_details:
            description: Employee-specific details for their employment agreement.
            status: completed
          emergency_contact_details:
            description: Who should be called in an emergency.
            status: completed
          employment_document_details:
            description: We need some additional documents.
            status: pending
          personal_details:
            description: Personal details, such as name and date of birth.
            status: completed
          pricing_plan_details:
            description: How often Remote will bill employers for management fees.
            status: completed
        contract_details: {}
        emergency_contact_details: {}
        eligible_for_onboarding_cancellation: true
        manager_employment_id: 20a72f86-employment-id-9e4942a902ff
        created_at: '2021-11-11T18:44:39'
      properties:
        personal_details:
          description: Personal details information. Its properties may vary depending on the country.
          type: object
        short_id:
          $ref: '#/components/schemas/ShortId'
        department:
          description: Name of related department, if any. Otherwise, null.
          nullable: true
          type: string
        manager_email:
          description: The email address of the employee's manager. Null if no manager is assigned.
          nullable: true
          type: string
        provisional_start_date:
          $ref: '#/components/schemas/ProvisionalStartDate'
        address_details:
          description: Home address information. Its properties may vary depending on the country.
          type: object
        pricing_plan_details:
          $ref: '#/components/schemas/PricingPlanDetails'
        full_name:
          description: The employee's full name.
          type: string
        type:
          description: 'For the employment types `contractor`, `global_payroll_employee` and `direct_employee`, only [List employments](#operation/get_index_employment) and

            [Show employment](#operation/get_show_employment) operations are available.

            '
          enum:
          - employee
          - contractor
          - direct_employee
          - global_payroll_employee
          type: string
        contractor_settings:
          description: Contractor-specific settings. Only present for contractor employments.
          nullable: true
          properties:
            requires_work_confirmation:
              description: Whether the contractor requires work confirmation before submitting invoices.
              type: boolean
          type: object
        employment_lifecycle_stage:
          $ref: '#/components/schemas/EmploymentLifecycleStage'
        administrative_details:
          description: Administrative information. Its properties may vary depending on the country.
          type: object
        contractor_type:
          description: Type of contractor product. Only present for contractor employments. 'standard' for Contractor Standard, 'cor' for Contractor of Record, 'plus' for Contractor Plus.
          enum:
          - standard
          - cor
          - plus
          nullable: true
          type: string
        contractor_rate:
          description: Contractor compensation rate details. Only present for contractor employments when rate is configured.
          nullable: true
          properties:
            amount:
              properties:
                amount:
                  description: Rate amount as decimal
                  type: number
                currency:
                  properties:
                    code:
                      description: Currency code (e.g., USD, EUR)
                      type: string
                  type: object
              type: object
            pay_frequency:
              description: Payment frequency cadence
              enum:
              - weekly
              - bi_weekly
              - semi_monthly
              - monthly
              nullable: true
              type: string
            slug:
              description: Unique identifier for the contractor rate
              type: string
            type:
              description: Rate type indicating billing frequency
              enum:
              - hourly
              - daily
              - weekly
              - monthly
              - one_off
              type: string
          type: object
        company_id:
          description: The unique identifier (UUID) of the company this employment belongs to.
          type: string
        expiration_date:
          description: 'The planned service end date for contractor of record (COR) employments.


            For signed COR contractors, this date is stored on the contract record (not in `contract_details`).

            It is `null` for employee employments or unsigned contractor agreements.


            Date format is ISO 8601 without the time component (e.g. "2024-12-31").

            '
          format: date
          nullable: true
          type: string
        work_address_details:
          description: Work address information. Its properties may vary depending on the country.
          type: object
        bill_to_legal_entity_id:
          description: The unique identifier (UUID) of the legal entity that is billed for this employment.
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          format: uuid
          nullable: true
          title: BillToLegalEntityID
          type: string
        work_email:
          description: The employee's work email address, typically provided by the employer.
          type: string
        status:
          $ref: '#/components/schemas/EmploymentStatus'
        updated_at:
          description: The timestamp when this employment record was last updated.
          format: date-time
          type: string
        basic_information:
          description: 'Employment basic information. Its properties may vary depending on the country.

            '
          type: object
        job_title:
          description: The employee's job title. May be null if not yet set.
          nullable: true
          type: string
        id:
          description: The unique identifier (UUID) of the employment.
          type: string
        probation_period_end_date:
          description: The date when the employee's probation period ends, if applicable.
          format: date
          type: string
        department_id:
          description: Unique ID of related department, if any. Otherwise, null.
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          format: uuid
          nullable: true
          title: DepartmentID
          type: string
        manager:
          description: The full name of the employee's manager.
          type: string
        login_email:
          description: The email address the employee uses to log in to the Remote platform.
          type: string
        external_id:
          description: A unique reference code for the employment record in a non-Remote system. While uniqueness is recommended, it is not strictly enforced within Remote's system.
          type: string
        employment_model:
          description: 'For the employment models `peo` and `global_payroll`, only [List employments](#operation/get_index_employment) and

            [Show employment](#operation/get_show_employment) operations are available.

            '
          enum:
          - global_payroll
          - peo
          - eor
          nullable: true
          type: string
        personal_email:
          description: The employee's personal email address, used for account-related communications.
          type: string
        country:
          $ref: '#/components/schemas/NullableCountry'
        user_status:
          $ref: '#/components/schemas/UserStatus'
        seniority_date:
          $ref: '#/components/schemas/EmploymentSeniorityDate'
        bank_account_details:
          items:
            description: List of bank account information. Its properties may vary depending on the country.
            type: object
          type: array
        files:
          description: Documents associated with this employment (e.g., contracts, tax forms, identity documents).
          items:
            $ref: '#/components/schemas/File'
          type: array
        active_contract_id:
          description: The unique identifier (UUID) of the currently active contract for this employment.
          type: string
        engaged_by_legal_entity_id:
          description: The unique identifier (UUID) of the legal entity that engaged this employment.
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          format: uuid
          nullable: true
          title: EngagedByLegalEntityID
          type: string
        billing_address_details:
          description: Billing address information. Its properties may vary depending on the country.
          type: object
        onboarding_tasks:
          $ref: '#/components/schemas/OnboardingTasks'
        contract_details:
          description: Contract information. Its properties may vary depending on the country.
          type: object
        emergency_contact_details:
          description: Emergency contact information. Its properties may vary depending on the country.
          type: object
        eligible_for_onboarding_cancellation:
          description: Whether this employment can still be cancelled during the onboarding process. Once the employment is active, this will be false.
          type: boolean
        manager_employment_id:
          description: The employment ID of the employee's manager on Remote, if the manager is also managed through Remote. Null otherwise.
          nullable: true
          type: string
        created_at:
          description: The timestamp when this employment record was created.
          type: string
      required:
      - address_details
      - administrative_details
      - bank_account_details
      - billing_address_details
      - company_id
      - contract_details
      - country
      - created_at
      - emergency_contact_details
      - files
      - full_name
      - id
      - type
      - employment_model
      - work_address_details
      - job_title
      - manager_email
      - manager_employment_id
      - onboarding_tasks
      - personal_details
      - personal_email
      - login_email
      - pricing_plan_details
      - status
      - employment_lifecycle_stage
      - updated_at
      - work_email
      - eligible_for_onboarding_cancellation
      title: Employment
      type: object
    BadRequestResponse:
      description: Returned when the request is malformed or contains invalid parameters. The message may be a simple string or a structured object with a code and detailed message.
      example:
        message: invalid {resource}
      oneOf:
      - properties:
          message:
            description: A human-readable error message describing what was wrong with the request.
            type: string
        required:
        - message
        type: object
      - properties:
          message:
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
            - message
            type: object
        type: object
      title: BadRequestResponse
      type: object
    EmploymentCreateParams:
      additionalProperties: false
      description: 'Description of the basic required and onboarding tasks params to create an employment.

        You do not need to include all onboarding tasks when creating or updating an employment.

        '
      example:
        basic_information:
          email: jane@smith.com
          name: Jane Smith
          work_email: jane.smith@company.com
        bill_to_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        company_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        country_code: AUS
        engaged_by_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        type: global_payroll_employee
      properties:
        basic_information:
          description: "Employment basic information. As its properties may vary depending on the country,\n               you must query the [Show form schema](#tag/Countries/operation/get_show_form_country) endpoint\n            passing the country code and `employment_basic_information` as path parameters."
          type: object
        bill_to_legal_entity_id:
          description: Id of the legal entity that should be billed for the employment. If omitted, falls back to `engaged_by_legal_entity_id`. For EOR and Contractor employments this may differ from `engaged_by_legal_entity_id`. For Global Payroll and Direct (HRIS) employments it must match `engaged_by_legal_entity_id`.
          type: string
        company_id:
          description: This optional field is deprecated.
          type: string
        country_code:
          description: The ISO 3166-1 3-letter country code where the employee will be based (e.g., `AUS`, `GBR`, `USA`).
          type: string
        engaged_by_entity_slug:
          deprecated: true
          description: Deprecated alias for `engaged_by_legal_entity_id`. Use `engaged_by_legal_entity_id` instead.
          type: string
        engaged_by_legal_entity_id:
          description: Id of the legal entity that engages the employee or contractor. Required for Global Payroll employees. For EOR and Contractor employments this may differ from `bill_to_legal_entity_id`. For Global Payroll and Direct (HRIS) employments it must match `bill_to_legal_entity_id`.
          type: string
        external_id:
          description: A unique reference code for the employment record in a non-Remote system. This optional field links to external data sources. If not provided, it defaults to `null`. While uniqueness is recommended, it is not strictly enforced within Remote's system.
          maxLength: 64
          type: string
        type:
          description: If not provided, it will default to `employee`.
          enum:
          - employee
          - contractor
          - global_payroll_employee
          - hris
          type: string
      required:
      - basic_information
      - country_code
      title: EmploymentCreateParams
      type: object
    ShortId:
      description: Unique short identifier for the employment, automatically generated and visible in select areas of the Remote platform. Not intended as a replacement for the employment `id` field.
      example: WN1IZT
      title: ShortId
      type: string
    ContractAmendment:
      description: A full contract amendment record, including the requested changes with their previous and current values.
      example:
        amendment_contract_id: 8772a9f1-b43c-46be-a1ce-e50b6819f5ee
        changes:
          compensation.amount:
            current: 500000
            previous: 400000
          contract.job_title:
            current: A new job title
            previous: An old job title
          contract_details.details.contract_duration_type:
            current: fixed_term
            previous: indefinite
        employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
        id: ba310525-9282-40c9-8977-14d844bf891a
        request_details:
          additional_comments: null
          effective_date: '2024-03-04'
          reason_for_change: annual_pay_adjustment
          reason_for_change_description: null
          salary_decrease_details: null
        requested_by: 5a31f3c1-d7a7-4311-89cb-928959d3d540
        status: submitted
        submitted_at: '2023-04-13T13:35:06Z'
        zendesk_ticket_url: https://zendesk.com/ticket-23333
      properties:
        amendment_contract_id:
          description: The unique identifier of the contract being amended. Null if no specific contract was targeted.
          nullable: true
          type: string
        changes:
          description: Describes all the changes requested for the contract and contract details with all their previous and current values.
          type: object
        employment_id:
          description: The unique identifier (UUID) of the employment.
          type: string
        id:
          description: The unique identifier (UUID) of the contract amendment.
          type: string
        request_details:
          $ref: '#/components/schemas/RequestDetails'
        requested_by:
          description: The unique identifier (UUID) of the user who submitted the amendment.
          type: string
        status:
          $ref: '#/components/schemas/ContractAmendmentStatus'
        submitted_at:
          description: The timestamp when the amendment was submitted.
          format: datetime
          type: string
        zendesk_ticket_url:
          description: A link to the support ticket associated with this amendment, if one was created. Null otherwise.
          nullable: true
          type: string
      required:
      - id
      - amendment_contract_id
      - employment_id
      - status
      - requested_by
      - submitted_at
      - request_details
      - changes
      - zendesk_ticket_url
      title: ContractAmendment
      type: object
    ActionError:
      properties:
        action:
          description: The action that lead to the error message.
          type: string
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
      required:
      - code
      - message
      - action
      title: ActionError
      type: object
    WebhookTriggerBillingParams:
      additionalProperties: false
      example:
        document_type: reconciliation_invoice
        event_type: billing_document.issued
      properties:
        document_type:
          enum:
          - supplemental_service_invoice
          - prefunding_invoice
          - reconciliation_invoice
          - supplemental_service_credit_note
          - prefunding_credit_note
          - reconciliation_credit_note
          type: string
        event_type:
          enum:
          - billing_document.issued
          type: string
      required:
      - document_type
      - event_type
      title: WebhookTriggerBillingParams
      type: object
    ContractAmendmentStatus:
      description: 'The current status of a contract amendment request.


        - `submitted`: The amendment has been submitted and is awaiting Remote''s review.

        - `in_review`: Remote is reviewing the amendment for compliance and feasibility.

        - `done`: The amendment has been approved and applied to the contract.

        - `canceled`: The amendment request was canceled before completion.

        - `deleted`: The amendment request was deleted.

        '
      enum:
      - submitted
      - in_review
      - done
      - canceled
      - deleted
      example: submitted
      title: ContractAmendmentStatus
      type: string
    NotFoundResponse:
      description: Returned when the requested resource does not exist or is not accessible with the current authentication credentials.
      example:
        message: '{resource} not found'
      properties:
        message:
          description: A message indicating which resource was not found.
          pattern: Not Found
          type: string
      title: NotFoundResponse
      type: object
    EmploymentBasicResponse:
      description: A lightweight employment representation returned after creation. Contains basic identification, country, and status fields but not the full onboarding details or country-specific form data.
      example:
        basic_information:
          email: jane@smith.com
          has_seniority_date: 'no'
          job_title: Engineer
          name: Jane Smith
          provisional_start_date: '2022-07-10'
          work_email: jane.smith@company.com
        company_id: 20a72f86-company-id-20a72f86
        country_code: AUS
        created_at: '2021-07-15T18:18:17Z'
        employment_lifecycle_stage: employment_creation
        full_name: Jane Smith
        id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        job_title: Engineer
        login_email: jane@smith.com
        personal_email: jane@smith.com
        provisional_start_date: '2022-07-10'
        type: employee
        updated_at: '2021-07-15T18:18:17Z'
      properties:
        basic_information:
          description: "Employment basic information. As its properties may vary depending on the country,\n               you must query the [Show form schema](#tag/Countries/operation/get_show_form_country) endpoint\n            passing the country code and `basic_information` as path parameters."
          type: object
        company_id:
          description: The unique identifier (UUID) of the company.
          type: string
        country_code:
          description: The ISO 3166-1 3-letter country code for this employment.
          type: string
        created_at:
          description: When this employment was created.
          format: date-time
          type: string
        employment_lifecycle_stage:
          $ref: '#/components/schemas/EmploymentLifecycleStage'
        full_name:
          description: The employee's full name.
          type: string
        id:
          $ref: '#/components/schemas/UuidSlug'
        job_title:
          description: The employee's job title. May be null if not yet set.
          nullable: true
          type: string
        login_email:
          description: The email the employee uses to log in to Remote.
          format: email
          type: string
        personal_email:
          description: The employee's personal email address.
          format: email
          type: string
        provisional_start_date:
          description: Required for employees, optional for contractors
          format: date
          type: string
        type:
          description: The type of employment.
          enum:
          - employee
          - contractor
          type: string
        updated_at:
          description: When this employment was last updated.
          format: date-time
          type: string
      title: EmploymentBasicResponse
      type: object
    CompanyFormResponse:
      description: Object with required and optional fields, its descriptions and suggested presentation
      example:
        data:
          additionalProperties: false
          properties:
            address:
              maxLength: 255
              title: Address
              type: string
      properties:
        data:
          type: object
      title: CompanyFormResponse
      type: object
    File:
      additionalProperties: false
      description: A file associated with an employment, such as a contract, tax form, or identity document.
      example:
        id: 9880b711-file-id-ecf8f551bd78
        inserted_at: '2021-07-15T18:18:17Z'
        name: id.pdf
        sub_type: personal_id
        type: id
      properties:
        id:
          description: The unique identifier (UUID) of the file.
          type: string
        inserted_at:
          $ref: '#/components/schemas/DateTimeIso8601'
        name:
          description: The file name including extension (e.g., "id.pdf", "contract.pdf").
          type: string
        sub_type:
          description: A more specific classification of the file within its type (e.g., "personal_id" within type "id", or "ir_35" within type "contract"). Null if no sub-type applies.
          nullable: true
          type: string
        type:
          description: The broad category of the file (e.g., "id", "contract", "tax_form").
          type: string
      required:
      - id
      - inserted_at
      - name
      - type
      title: File
      type: object
    NullableMinimalBenefitTier:
      additionalProperties: false
      example:
        description: A tier for testing purposes
        display_cost: ~$100
        id: 163d8f6c-2440-4f45-918b-d095f9e0ef79
        name: Premium
      nullable: true
      properties:
        description:
          description: A description of what this tier includes.
          type: string
        display_cost:
          description: A human-readable cost estimate for this tier (e.g., "~$100"). Null if cost is not available.
          nullable: true
          type: string
        id:
          description: The unique identifier (UUID) of the benefit tier.
          type: string
        name:
          description: The name of the benefit tier (e.g., "Premium", "Standard").
          type: string
      required:
      - id
      - name
      - description
      title: NullableMinimalBenefitTier
      type: object
    UuidSlug:
      description: Identifier of the employment being terminated.
      example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
      format: uuid
      title: UuidSlug
      type: string
    WebhookTriggerParams:
      additionalProperties: false
      description: Required params to trigger a webhook event in the Sandbox environment
      example:
        employment_id: e966a8b8-1076-11ee-a5f2-9b3997a968f6
        event_type: employment.onboarding_task.completed
      oneOf:
      - $ref: '#/components/schemas/WebhookTriggerEmploymentParams'
      - $ref: '#/components/schemas/WebhookTriggerBillingParams'
      title: WebhookTriggerParams
      type: object
    BenefitRenewalRequests.BenefitRenewalRequest:
      additionalProperties: false
      example:
        benefit_group:
          country_code: FRA
          id: 03b20f23-06b2-4fe2-8f21-49b445ccc1bb
          name: Health
        benefit_renewal_response:
          benefit_tier:
            description: A tier for testing purposes
            display_cost: ~$100
            id: 163d8f6c-2440-4f45-918b-d095f9e0ef79
            name: Premium
          updated_at: '2021-07-01T00:00:00Z'
        coverage_end_date: '2022-07-01'
        coverage_start_date: '2021-07-01'
        current_benefit_tier:
          description: A tier for testing purposes
          display_cost: ~$100
          id: 163d8f6c-2440-4f45-918b-d095f9e0ef79
          name: Premium
        id: 0073f4b5-b669-4b4a-b963-2a477f4e75a1
        number_of_affected_employees: 10
        renewal_selection_end_date: '2021-05-01'
        renewal_selection_instructions: 'We are delighted to announce our new Global Life Insurance plans, now available in 66 countries.

          This addition is set to significantly enhance the benefits package for your international team.

          Selection Deadline: Review and choose the right Global Life Insurance plan for each country where your team is based by 11:59 PM on December 31, 2023.

          We offer flexible coverage options from $50,000 to $600,000, so take your time to decide what''s best for your team.

          If you don''t make a selection within this period, your team members won''t be enrolled in the Global Life Insurance.

          If you wish to do so anytime next year, please reach out to help@remote.com

          For more information on how benefits work in different countries, check out our Global <a href="https://remote.com/benefits-guide/global-life-insurance">benefits guide</a>.

          '
        renewal_selection_start_date: '2021-03-01'
      properties:
        benefit_group:
          $ref: '#/components/schemas/BenefitRenewalRequests.MinimalBenefitGroup'
        benefit_renewal_response:
          allOf:
          - $ref: '#/components/schemas/BenefitRenewalRequests.MinimalBenefitRenewalResponse'
          example:
            benefit_tier:
              description: A tier for testing purposes
              display_cost: ~$100
              id: 163d8f6c-2440-4f45-918b-d095f9e0ef79
              name: Premium
            updated_at: '2021-07-01T00:00:00Z'
          nullable: true
          title: MaybeBenefitRenewalRequests.MinimalBenefitRenewalResponse
          type: object
        coverage_end_date:
          $ref: '#/components/schemas/Date'
        coverage_start_date:
          $ref: '#/components/schemas/Date'
        current_benefit_tier:
          $ref: '#/components/schemas/NullableMinimalBenefitTier'
        id:
          description: The unique identifier (UUID) of the benefit renewal request.
          type: string
        number_of_affected_employees:
          description: The number of employees who will be affected by this benefit renewal.
          type: integer
        renewal_selection_end_date:
          $ref: '#/components/schemas/Date'
        renewal_selection_instructions:
          description: Instructions for the employer about the renewal process, available plans, and deadlines.
          type: string
        renewal_selection_start_date:
          $ref: '#/components/schemas/Date'
      required:
      - id
      - coverage_start_date
      - coverage_end_date
      - renewal_selection_start_date
      - renewal_selection_end_date
      - renewal_selection_instructions
      - benefit_group
      - benefit_renewal_response
      - number_of_affected_employees
      title: BenefitRenewalRequests.BenefitRenewalRequest
      type: object
    CountrySubdivision:
      description: A subdivision of a supported country on Remote
      example:
        code: PT-11
        name: Lisboa
        subdivision_type: District
      properties:
        code:
          description: The ISO 3166-2 subdivision code (e.g., "PT-11" for Lisboa).
          type: string
        name:
          description: The subdivision's name (e.g., "Lisboa", "California").
          type: string
        subdivision_type:
          description: The type of subdivision (e.g., "District", "State", "Province").
          type: string
      required:
      - name
      title: CountrySubdivision
      type: object
    PricingPlanDetails:
      description: Selected type of payment.
      example:
        frequency: annually
      properties:
        frequency:
          description: How often Remote bills the employer for management fees. Annual billing typically offers a discount.
          enum:
          - annually
          - monthly
          type: string
      required:
      - frequency
      title: PricingPlanDetails
      type: object
    DateTimeIso8601:
      description: 'UTC date time in [ISO 8601][] format.


        [ISO 8601]: https://en.wikipedia.org/wiki/ISO_8601

        '
      example: '2021-07-15T18:18:17Z'
      format: date-time
      title: DateTimeIso8601
      type: string
    EmploymentCreationResponse:
      example:
        data:
          employment:
            basic_information:
              email: jane@smith.com
              has_seniority_date: 'no'
              job_title: Engineer
              name: Jane Smith
              provisional_start_date: '2022-07-10'
              work_email: jane.smith@company.com
            company_id: 20a72f86-company-id-20a72f86
            country_code: AUS
            created_at: '2021-07-15T18:18:17Z'
            employment_lifecycle_stage: employment_creation
            full_name: Jane Smith
            id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
            job_title: Engineer
            login_email: jane@smith.com
            personal_email: jane@smith.com
            provisional_start_date: '2022-07-10'
            type: employee
            updated_at: '2021-07-15T18:18:17Z'
      properties:
        data:
          properties:
            employment:
              $ref: '#/components/schemas/EmploymentBasicResponse'
          type: object
      title: EmploymentCreationResponse
      type: object
    ErrorResponse:
      example:
        details: The error payload is malformed
        error: Invalid request
      properties:
        details:
          type: string
        error:
          type: string
      title: ErrorResponse
      type: object
    EmploymentSeniorityDate:
      description: 'The date the employee first started working for your company. If you don’t include a seniority date,

        the employee’s start date with Remote will be deemed as the start of the employee’s seniority.


        **Example**: Your employee started working for your company on Feb 1, 2022.

        On Aug 1, 2022, you transferred the employee to Remote and started managing them on the platform.

        Feb 1, 2022 would be their seniority date. Aug 1, 2022 would be their starting date.

        '
      example: '2022-03-21'
      format: date
      title: EmploymentSeniorityDate
      type: string
    EmploymentResponse:
      description: Response containing the full employment record after an update operation.
      example:
        data:
          employment:
            personal_details: {}
            manager_email: john.doe@company.com
            provisional_start_date: '2021-07-03'
            address_details: {}
            pricing_plan_details:
              frequency: annually
            full_name: Jane Smith
            type: employee
            employment_lifecycle_stage: employee_self_enrollment
            administrative_details: {}
            company_id: e31adae1-company-id-af5fba7dd803
            work_address_details: {}
            bill_to_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
            work_email: jane.smith@company.com
            status: created
            updated_at: '2021-07-15T18:18:17Z'
            basic_information: {}
            job_title: Engineer
            id: 20a72f86-employment-id-9e4942a902ff
            manager: John Doe
            login_email: jane@smith.com
            employment_model: eor
            personal_email: jane@smith.com
            country:
              alpha_2_code: PT
              code: PRT
              contractor_products_available:
              - standard
              - plus
              - cor
              country_subdivisions:
              - code: PT-06
                name: Coimbra
                subdivision_type: District
              - code: PT-11
                name: Lisboa
                subdivision_type: District
              employment_agreement_preview_available: true
              eor_onboarding: true
              locked_benefits: after_first_hire
              name: Portugal
              region: Europe
              subregion: Southern Europe
              supported_json_schemas:
              - additional_documents
              - address_details
              - administrative_details
              - employment-basic-information
              - bank_account_details
              - contract_details
              - emergency_contact
            user_status: active
            bank_account_details: []
            files: []
            engaged_by_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
            billing_address_details: {}
            onboarding_tasks:
              address_details:
                description: Primary residence.
                status: completed
              administrative_details:
                description: Information we need for tax purposes.
                status: completed
              bank_account_details:
                description: Bank account used for receiving salary payments.
                status: completed
              billing_address_details:
                description: Address associated with the employee's bank account.
                status: completed
              contract_details:
                description: Employee-specific details for their employment agreement.
                status: completed
              emergency_contact_details:
                description: Who should be called in an emergency.
                status: completed
              employment_document_details:
                description: We need some additional documents.
                status: pending
              personal_details:
                description: Personal details, such as name and date of birth.
                status: completed
              pricing_plan_details:
                description: How often Remote will bill employers for management fees.
                status: completed
            contract_details: {}
            emergency_contact_details: {}
            eligible_for_onboarding_cancellation: true
            manager_employment_id: 20a72f86-employment-id-9e4942a902ff
            created_at: '2021-11-11T18:44:39'
      properties:
        data:
          properties:
            employment:
              $ref: '#/components/schemas/Employment'
      required:
      - data
      title: EmploymentResponse
      type: object
    TaskDescription:
      description: Description and status of an onboarding task.
      example:
        description: Information we need for tax purposes.
        status: completed
      properties:
        description:
          description: A human-readable description of what this onboarding task requires.
          type: string
        status:
          description: The status of the task
          enum:
          - completed
          - pending
          example: completed
          title: TaskStatus
          type: string
      title: TaskDescription
      type: object
    ContractAmendmentResponse:
      description: Contract Amendment response
      example:
        data:
          contract_amendment:
            amendment_contract_id: 8772a9f1-b43c-46be-a1ce-e50b6819f5ee
            changes:
              compensation.amount:
                current: 500000
                previous: 400000
              contract.job_title:
                current: A new job title
                previous: An old job title
              contract_details.details.contract_duration_type:
                current: fixed_term
                previous: indefinite
            employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
            id: ba310525-9282-40c9-8977-14d844bf891a
            request_details:
              additional_comments: null
              effective_date: '2024-03-04'
              reason_for_change: annual_pay_adjustment
              reason_for_change_description: null
              salary_decrease_details: null
            requested_by: 5a31f3c1-d7a7-4311-89cb-928959d3d540
            status: submitted
            submitted_at: '2023-04-13T13:35:06Z'
            zendesk_ticket_url: https://zendesk.com/ticket-23333
      properties:
        data:
          properties:
            contract_amendment:
              $ref: '#/components/schemas/ContractAmendment'
          required:
          - contract_amendment
          type: object
      title: ContractAmendmentResponse
      type: object
    SalaryDecreaseDetails:
      description: The details of the salary decrease request if there is one
      nullable: true
      properties:
        salary_decrease_reason:
          enum:
          - change_in_working_hours
          - trade_salary_for_equity
          - error_in_initial_salary
          - role_change_or_demotion
          - compensation_restructure
          - other
          type: string
        salary_decrease_reason_description:
          nullable: true
          type: string
        was_employee_informed:
          type: string
      title: SalaryDecreaseDetails
      type: object
    NullableCountry:
      description: A supported country on Remote
      example:
        alpha_2_code: PT
        code: PRT
        contractor_products_available:
        - standard
        - plus
        - cor
        country_subdivisions:
        - code: PT-06
          name: Coimbra
          subdivision_type: District
        - code: PT-11
          name: Lisboa
          subdivision_type: District
        employment_agreement_preview_available: true
        eor_onboarding: true
        locked_benefits: after_first_hire
        name: Portugal
        region: Europe
        subregion: Southern Europe
        supported_json_schemas:
        - additional_documents
        - address_details
        - administrative_details
        - employment-basic-information
        - bank_account_details
        - contract_details
        - emergency_contact
      nullable: true
      properties:
        alpha_2_code:
          description: The ISO 3166-1 alpha-2 country code (e.g., "PT").
          type: string
        code:
          description: The ISO 3166-1 alpha-3 country code (e.g., "PRT"). This is the primary code used across the Remote API.
          type: string
        contractor_products_available:
          description: Contractor product names available for this country
          items:
            enum:
            - standard
            - plus
            - cor
            type: string
          type: array
        country_subdivisions:
          description: Administrative subdivisions of the country (e.g., states, provinces, districts). Null if the country has no subdivisions relevant to Remote's services.
          items:
            $ref: '#/components/schemas/CountrySubdivision'
          nullable: true
          type: array
        employment_agreement_preview_available:
          description: Whether an Employment Agreement preview is available for this country.
          type: boolean
        eor_onboarding:
          description: Whether EOR (Employer of Record) onboarding is available in this country.
          type: boolean
        locked_benefits:
          description: When benefit plan selections become locked for this country (e.g., "after_first_hire" means benefits cannot be changed after the first employee is hired).
          type: string
        name:
          description: The country's full English name.
          type: string
        region:
          description: The geographic region the country belongs to (e.g., "Europe", "Asia", "Americas").
          type: string
        subregion:
          description: The geographic subregion (e.g., "Southern Europe", "Southeast Asia"). Null for some countries.
          nullable: true
          type: string
        supported_json_schemas:
          description: The list of JSON schema form names available for this country (e.g., "address_details", "contract_details"). Use these with the Show form schema endpoint to get country-specific field requirements.
          items:
            type: string
          type: array
      required:
      - alpha_2_code
      - code
      - name
      title: NullableCountry
      type: object
    EmploymentStatus:
      description: 'The current status of the employment record.


        - `active`: The employee is fully onboarded and actively working.

        - `created`: The employment has been created but onboarding has not started.

        - `pre_hire`: A pre-hire employment record, created before formal onboarding begins.

        - `created_awaiting_reserve`: The employment is created but waiting for a risk reserve deposit to be paid.

        - `created_reserve_paid`: The risk reserve has been paid and the employment can proceed with onboarding.

        - `initiated`: Onboarding has been started by the employer.

        - `invited`: The employee has been invited to complete their self-enrollment on Remote.

        - `pending`: The employment is pending review or further action before it can become active.

        - `review`: The employment is under review by Remote (e.g., contract or compliance review).

        - `archived`: The employment has been terminated or offboarded.

        - `deleted`: The employment record has been deleted.

        '
      enum:
      - active
      - created
      - pre_hire
      - created_awaiting_reserve
      - created_reserve_paid
      - initiated
      - invited
      - pending
      - review
      - job_title_review
      - pending_post_self_enrollment_actions
      - offboarding
      - archived
      - deleted
      example: active
      title: EmploymentStatus
      type: string
    WebhookTriggerEmploymentParams:
      additionalProperties: false
      example:
        employment_id: e966a8b8-1076-11ee-a5f2-9b3997a968f6
        event_type: employment.onboarding_task.completed
      properties:
        employment_id:
          type: string
        event_type:
          enum:
          - background_check.status.updated
          - benefit_renewal_request.created
          - billing_document.issued
          - company.activated
          - company.manager_created
          - company.manager_deleted
          - company.manager_updated
          - company.owner_changed
          - company.archived
          - company.eor_hiring.additional_information_required
          - company.eor_hiring.reserve_payment_requested
          - company.eor_hiring.no_reserve_payment_requested
          - company.eor_hiring.referred
          - company.eor_hiring.verification_completed
          - company.partner_offboarded
          - company.pricing_plan.updated
          - contract_amendment.canceled
          - contract_amendment.deleted
          - contract_amendment.done
          - contract_amendment.review_started
          - contract_amendment.submitted
          - contract.termination_date_reached
          - contract_document.status.changed
          - contractor_invoice.employer_paid
          - contractor_invoice.issued
          - contractor_invoice.paid_out
          - contractor_invoice.payment_initiated
          - custom_field.value_updated
          - employment.benefits.selected
          - employment_company_structure_node.updated
          - employment_contract.active_contract_updated
          - employment_contract.adjusted_during_onboarding
          - employment.account.updated
          - employment.administrative_details.updated
          - employment_basic_information.updated
          - employment.contractor_management_plan.updated
          - employment.contractor_of_record_termination.cancelled
          - employment.contractor_of_record_termination.executed
          - employment.contractor_of_record_termination.initiated
          - employment.details.updated
          - employment.employment_agreement.available
          - employment.cor_hiring.invoice_created
          - employment.eor_hiring.invoice_created
          - employment.cor_hiring.proof_of_payment_accepted
          - employment.cor_hiring.proof_of_payment_submitted
          - employment.eor_hiring.proof_of_payment_accepted
          - employment.eor_hiring.proof_of_payment_submitted
          - employment.no_longer_eligible_for_onboarding_cancellation
          - employment.onboarding_task.completed
          - employment.onboarding.cancelled
          - employment.onboarding.completed
          - employment.onboarding.started
          - employment.personal_information.updated
          - employment.probation_completion_letter.cancelled
          - employment.probation_completion_letter.completed
          - employment.probation_completion_letter.submitted
          - employment.probation.period_ending_reminder_sent
          - employment.probation_period_extension.cancelled
          - employment.probation_period_extension.completed
          - employment.probation_period_extension.submitted
          - employment.start_date.changed
          - employment.status.updated
          - employment.updated
          - employment.user_status.activated
          - employment.user_status.deactivated
          - employment.user_status.initiated
          - employment.user_status.invited
          - employment.work_email.updated
          - expense.approved
          - expense.declined
          - expense.deleted
          - expense.reimbursed
          - expense.submitted
          - expense.updated
          - identity_verification.verification_required
          - incentive.created
          - incentive.deleted
          - incentive.paid
          - incentive.processing_started
          - incentive.updated
[...]
