openapi: 3.0.0
info:
  title: Remote Address Details Employment Management API
  version: 0.1.0
servers:
- url: https://gateway.remote.com/
  variables: {}
- url: https://gateway.remote-sandbox.com/
  variables: {}
security:
- OAuth2: []
tags:
- name: Employment Management
paths:
  /v1/employments:
    get:
      callbacks: {}
      deprecated: false
      description: 'Lists all employments, except for the deleted ones.


        This endpoint requires and returns country-specific data. The exact required and returned fields will

        vary depending on which country the employment is in. To see the list of parameters for each country,

        see the **Show form schema** endpoint under the [Countries](#tag/Countries) category.


        Please note that the compliance requirements for each country are subject to change according to local

        laws. Given its continual updates, using Remote''s [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) should be considered in order to avoid

        compliance issues and to have the latest version of a country requirements.


        If you are using this endpoint to build an integration, make sure you are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.


        To learn how you can dynamically generate forms to display in your UI, see the documentation for

        the [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) tool.


        '
      operationId: get_v1_employments
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Company ID
        example: 93t3j-company-id-9suej43
        in: query
        name: company_id
        required: false
        schema:
          type: string
      - description: Filters the results by employments whose login email matches the value
        example: anna@example.com
        in: query
        name: email
        required: false
        schema:
          type: string
      - description: 'Filters the results by employments whose status matches the value.

          Supports multiple values separated by commas.

          Also supports the value `incomplete` to get all employments that are not onboarded yet.

          '
        in: query
        name: status
        required: false
        schema:
          type: string
      - description: Filters the results by employments whose employment product type matches the value
        example: contractor
        in: query
        name: employment_type
        required: false
        schema:
          type: string
      - description: 'Filters the results by employments whose employment model matches the value.

          Possible values: `global_payroll`, `peo`, `eor`

          '
        example: global_payroll
        in: query
        name: employment_model
        required: false
        schema:
          enum:
          - global_payroll
          - peo
          - eor
          type: string
      - description: Filters the results by the employment's short ID. Returns at most one result.
        example: aB1cD2
        in: query
        name: short_id
        required: false
        schema:
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEmploymentsResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      summary: List employments
      tags:
      - Employment Management
    post:
      callbacks: {}
      deprecated: false
      description: 'Creates an employment. We support creating employees and contractors.


        ## Global Payroll Employees


        To create a Global Payroll employee, pass `global_payroll_employee` as the `type` parameter,

        and provide the id of the specific legal entity that the employee will be engaged by and billed to as the `engaged_by_legal_entity_id` parameter.


        ## HRIS Employees


        To create a HRIS employee, pass `hris` as the `type` parameter.


        This endpoint requires and returns country-specific data. The exact required and returned fields will

        vary depending on which country the employment is in. To see the list of parameters for each country,

        see the **Show form schema** endpoint under the [Countries](#tag/Countries) category.


        Please note that the compliance requirements for each country are subject to change according to local

        laws. Given its continual updates, using Remote''s [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) should be considered in order to avoid

        compliance issues and to have the latest version of a country requirements.


        If you are using this endpoint to build an integration, make sure you are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.


        To learn how you can dynamically generate forms to display in your UI, see the documentation for

        the [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) tool.




        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_employments
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Version of the form schema
        example: 1
        in: query
        name: json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentCreateParams'
        description: Employment params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentCreationResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Create employment
      tags:
      - Employment Management
  /v1/employments/{employment_id}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Shows all the information of an employment.


        This endpoint requires and returns country-specific data. The exact required and returned fields will

        vary depending on which country the employment is in. To see the list of parameters for each country,

        see the **Show form schema** endpoint under the [Countries](#tag/Countries) category.


        Please note that the compliance requirements for each country are subject to change according to local

        laws. Given its continual updates, using Remote''s [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) should be considered in order to avoid

        compliance issues and to have the latest version of a country requirements.


        If you are using this endpoint to build an integration, make sure you are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.


        To learn how you can dynamically generate forms to display in your UI, see the documentation for

        the [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) tool.




        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View employments (`employment:read`) | Manage employments (`employment:write`) |

        '
      operationId: get_v1_employments_employment_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Employment ID
        example: 93t3j-employment-id-9suej43
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      - description: Wether files should be excluded
        example: 'true'
        in: query
        name: exclude_files
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentShowResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
      summary: Show employment
      tags:
      - Employment Management
    patch:
      callbacks: {}
      deprecated: false
      description: 'Updates an employment.


        **For `created` employments:** You can change all basic params and onboarding tasks or perform a per onboarding task update. You can also update basic_information.


        **For `active` employments:** You can update the manager (`manager_id` field), emergency_contact_details, address_details and work_email.


        **For `invited` employments:** You can update the work_email.


        After onboarding, only a limited set of employment data will be available for updates, such as `emergency_contact_details`.

        If you want to provide additional information for an employment, please make sure to do so **before** the employee is invited.

        We block updates to some employment data because employees need to agree to amendments in certain cases, such as when there are changes to their contract_details.

        Currently, these amendments can only be done through the Remote UI.


        It is possible to update the `external_id` of the employment for all employment statuses.


        ## Global Payroll Employees


        To update a Global Payment employment your input data must comply with the global payroll json schemas.


        **For `active` employments:** In addition to the above list, you can update personal_details.


        ## Direct Employees


        To update an HRIS employment your input data must comply with the HRIS json schemas.


        This endpoint requires and returns country-specific data. The exact required and returned fields will

        vary depending on which country the employment is in. To see the list of parameters for each country,

        see the **Show form schema** endpoint under the [Countries](#tag/Countries) category.


        Please note that the compliance requirements for each country are subject to change according to local

        laws. Given its continual updates, using Remote''s [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) should be considered in order to avoid

        compliance issues and to have the latest version of a country requirements.


        If you are using this endpoint to build an integration, make sure you are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.


        To learn how you can dynamically generate forms to display in your UI, see the documentation for

        the [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) tool.



        Please contact Remote if you need to update contractors via API since it''s currently not supported.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: patch_v1_employments_employment_id (2)
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Version of the address_details form schema
        example: 1
        in: query
        name: address_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the administrative_details form schema
        example: 1
        in: query
        name: administrative_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the bank_account_details form schema
        example: 1
        in: query
        name: bank_account_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the employment_basic_information form schema
        example: 1
        in: query
        name: employment_basic_information_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the billing_address_details form schema
        example: 1
        in: query
        name: billing_address_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the contract_details form schema
        example: 1
        in: query
        name: contract_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the emergency_contact_details form schema
        example: 1
        in: query
        name: emergency_contact_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the personal_details form schema
        example: 1
        in: query
        name: personal_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the pricing_plan_details form schema
        example: 1
        in: query
        name: pricing_plan_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Employment ID
        example: 93t3j-employment-id-9suej43
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      - description: Skips the dynamic benefits part of the schema if set. To be used when benefits are set via its own API.
        example: true
        in: query
        name: skip_benefits
        required: false
        schema:
          type: boolean
      - description: Complementary action(s) to perform when creating an employment.
        example: no_invite
        in: query
        name: actions
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentFullParams'
        description: Employment params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Update employment
      tags:
      - Employment Management
    put:
      callbacks: {}
      deprecated: false
      description: 'Updates an employment.


        **For `created` employments:** You can change all basic params and onboarding tasks or perform a per onboarding task update. You can also update basic_information.


        **For `active` employments:** You can update the manager (`manager_id` field), emergency_contact_details, address_details and work_email.


        **For `invited` employments:** You can update the work_email.


        After onboarding, only a limited set of employment data will be available for updates, such as `emergency_contact_details`.

        If you want to provide additional information for an employment, please make sure to do so **before** the employee is invited.

        We block updates to some employment data because employees need to agree to amendments in certain cases, such as when there are changes to their contract_details.

        Currently, these amendments can only be done through the Remote UI.


        It is possible to update the `external_id` of the employment for all employment statuses.


        ## Global Payroll Employees


        To update a Global Payment employment your input data must comply with the global payroll json schemas.


        **For `active` employments:** In addition to the above list, you can update personal_details.


        ## Direct Employees


        To update an HRIS employment your input data must comply with the HRIS json schemas.


        This endpoint requires and returns country-specific data. The exact required and returned fields will

        vary depending on which country the employment is in. To see the list of parameters for each country,

        see the **Show form schema** endpoint under the [Countries](#tag/Countries) category.


        Please note that the compliance requirements for each country are subject to change according to local

        laws. Given its continual updates, using Remote''s [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) should be considered in order to avoid

        compliance issues and to have the latest version of a country requirements.


        If you are using this endpoint to build an integration, make sure you are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.


        To learn how you can dynamically generate forms to display in your UI, see the documentation for

        the [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) tool.



        Please contact Remote if you need to update contractors via API since it''s currently not supported.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: patch_v1_employments_employment_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Version of the address_details form schema
        example: 1
        in: query
        name: address_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the administrative_details form schema
        example: 1
        in: query
        name: administrative_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the bank_account_details form schema
        example: 1
        in: query
        name: bank_account_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the employment_basic_information form schema
        example: 1
        in: query
        name: employment_basic_information_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the billing_address_details form schema
        example: 1
        in: query
        name: billing_address_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the contract_details form schema
        example: 1
        in: query
        name: contract_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the emergency_contact_details form schema
        example: 1
        in: query
        name: emergency_contact_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the personal_details form schema
        example: 1
        in: query
        name: personal_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Version of the pricing_plan_details form schema
        example: 1
        in: query
        name: pricing_plan_details_json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      - description: Employment ID
        example: 93t3j-employment-id-9suej43
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      - description: Skips the dynamic benefits part of the schema if set. To be used when benefits are set via its own API.
        example: true
        in: query
        name: skip_benefits
        required: false
        schema:
          type: boolean
      - description: Complementary action(s) to perform when creating an employment.
        example: no_invite
        in: query
        name: actions
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentFullParams'
        description: Employment params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Update employment
      tags:
      - Employment Management
  /v1/bulk-employment-jobs/{job_id}/rows:
    get:
      callbacks: {}
      deprecated: false
      description: 'Returns grouped bulk employment rows, including field-level validation errors in `errors`, row-level failures in `row_errors`, and submission-phase failures in `submission_errors`. If a row passes validation but later fails during Global Payroll activation, that failure is surfaced here after submission rather than in the initial create response.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View employments (`employment:read`) | Manage employments (`employment:write`) |

        '
      operationId: get_v1_bulk-employment-jobs_job_id_rows
      parameters:
      - description: Bulk employment job id
        in: path
        name: job_id
        required: true
        schema:
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJobRowsResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
      summary: List bulk employment rows
      tags:
      - Employment Management
  /v1/ready:
    post:
      callbacks: {}
      deprecated: true
      description: Completes the employee onboarding. When all tasks are completed, the employee is marked as in `review` status
      operationId: post_v1_ready
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteOnboarding'
        description: Employment slug
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      summary: Complete onboarding
      tags:
      - Employment Management
  /v1/employments/{employment_id}/contract-origin:
    post:
      callbacks: {}
      deprecated: false
      description: 'Sets the `contract_origin` for a contractor employment.


        * `remote_contract` — Remote provides and manages the contract (a contract document is created)

        * `custom_remote_contract` — A customised Remote contract is used (a contract document is created)

        * `provided_by_customer` — The employer provides their own contract (no contract document is created)


        When `provided_by_customer` is selected, the contractor can be invited without completing the

        `contract_details` onboarding step.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_employments_employment_id_contract-origin
      parameters:
      - description: Employment ID
        example: 31b8e49b-aa1c-47af-849c-3d0a53e20e0d
        in: path
        name: employment_id
        required: true
        schema:
          type: string
        x-resource-type: employment
      requestBody:
        content:
          application/json:
            schema:
              properties:
                contract_origin:
                  enum:
                  - remote_contract
                  - custom_remote_contract
                  - provided_by_customer
                  example: provided_by_customer
                  type: string
                template_type:
                  description: Required when contract_origin is remote_contract or custom_remote_contract, ignored when provided_by_customer
                  enum:
                  - contractor_agreement
                  - contractor_services_agreement
                  - contractor_statement_of_work
                  - custom_contractor_agreement
                  - custom_contractor_agreement_v2
                  example: contractor_agreement
                  type: string
              required:
              - contract_origin
              - template_type
              type: object
        description: Contract origin parameters
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Set contract origin for a contractor employment
      tags:
      - Employment Management
  /v1/employments/{employment_id}/invite:
    post:
      callbacks: {}
      deprecated: false
      description: 'Invite an employment to start the self-enrollment.


        Requirements for the invitation to succeed:


        * Employment needs to have the following JSON Schema forms filled: `contract_details` and `pricing_plan_details`

        * `provisional_start_date` must consider the minimum onboarding time of the employment''s country


        If there are validations errors, they are returned with a Conflict HTTP Status (409) and a descriptive message.

        HTTP Status OK (200) is returned in case of success.


        In case of the following error message:

        `"Please reselect benefits - the previous selection is no longer available"`

        it means that the benefit options have been updated and the employment''s benefits are no longer compliant with the new schema.


        In this case, reselect benefits by updating `contract_details` JSON Schema form.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_employments_employment_id_invite
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Employment ID
        example: 31b8e49b-aa1c-47af-849c-3d0a53e20e0d
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Invite employment
      tags:
      - Employment Management
  /v1/bulk-employment-jobs/{job_id}:
    get:
      callbacks: {}
      deprecated: false
      description: '## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View employments (`employment:read`) | Manage employments (`employment:write`) |

        '
      operationId: get_v1_bulk-employment-jobs_job_id
      parameters:
      - description: Bulk employment job id
        in: path
        name: job_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEmploymentImportJobResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
      summary: Show bulk employment job
      tags:
      - Employment Management
  /v2/employments/{employment_id}:
    patch:
      callbacks: {}
      deprecated: false
      operationId: patch_v2_employments_employment_id (2)
      parameters:
      - description: Employment ID
        example: 93t3j-employment-id-9suej43
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentV2UpdateParams'
        description: Employment params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      summary: Update employment
      tags:
      - Employment Management
    put:
      callbacks: {}
      deprecated: false
      operationId: patch_v2_employments_employment_id
      parameters:
      - description: Employment ID
        example: 93t3j-employment-id-9suej43
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentV2UpdateParams'
        description: Employment params
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      summary: Update employment
      tags:
      - Employment Management
  /v1/bulk-employment-jobs:
    post:
      callbacks: {}
      deprecated: false
      description: 'Creates a job to bulk-create employments for multiple employees at once. Each employee payload must match the employment schema for the selected country.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_bulk-employment-jobs
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkEmploymentCreateParams'
        description: Bulk employment params
        required: false
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkEmploymentImportJobResponse'
          description: Accepted
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Create bulk employment job
      tags:
      - Employment Management
components:
  schemas:
    ParameterError:
      example:
        code: invalid_param
        message: Invalid parameter
        param: employment_id
      properties:
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
        param:
          description: The parameter that lead to the error message.
          type: string
      required:
      - code
      - message
      - param
      title: ParameterError
      type: object
    UserStatus:
      description: 'The status of the user account associated with this employment.


        - `active`: The user account is active and the user can log in.

        - `created`: The user account has been created but not yet activated.

        - `initiated`: The user has been invited but has not completed registration.

        - `cancelled`: The user account was cancelled before activation.

        - `inactive`: The user account has been deactivated (e.g., after offboarding).

        - `deleted`: The user account has been deleted.

        '
      enum:
      - active
      - created
      - initiated
      - cancelled
      - inactive
      - deleted
      example: active
      title: UserStatus
      type: string
    AccountsAccount:
      additionalProperties: false
      description: An Account
      example:
        login_email:
          address: jane@remote.com
          confirmed_at: null
          login_synced: false
          status: pending
          type: login
          unconfirmed_address: null
        login_synced_with: work
        personal_email:
          address: jane@remote.com
          confirmed_at: null
          login_synced: false
          status: pending
          type: login
          unconfirmed_address: null
        slug: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        status: created
      properties:
        login_email:
          allOf:
          - $ref: '#/components/schemas/Email'
          example:
            address: jane@remote.com
            confirmed_at: null
            login_synced: false
            status: pending
            type: login
            unconfirmed_address: null
          nullable: true
          title: MaybeEmail
          type: object
        login_synced_with:
          allOf:
          - $ref: '#/components/schemas/AccountsLoginSyncedWith'
          example: none
          nullable: true
          title: MaybeAccountsLoginSyncedWith
          type: string
        personal_email:
          nullable: true
          oneOf:
          - format: email
            type: string
          - $ref: '#/components/schemas/Email'
          type: object
        slug:
          $ref: '#/components/schemas/Slug'
        status:
          enum:
          - created
          - active
          - deleted
          - locked
          example: created
          nullable: false
          type: string
      required:
      - slug
      title: AccountsAccount
      type: object
    ImportJobRowsResponse:
      additionalProperties: false
      example:
        data:
          counts_by_column:
            feature_a:
              error: 3
              valid: 27
            sla_days:
              error: 2
              valid: 28
          counts_by_status:
            deleted: 0
            error: 2
            imported: 8
            pending: 5
            retryable: 0
            skipped: 0
            successful: 10
            unprocessable: 0
          current_page: 1
          rows:
            failures:
            - data:
                foo: bar
                number: 1
              errors:
                email:
                - is invalid
              metadata:
                employment_slug: abc123-slug
              row_error_details:
                ambiguous:
                - amount: 25000
                  created_by:
                    name: Bertrand Russell
                    slug: user-b
                  effective_date: '2022-01-01'
                  employee_identifier: gp_employee@example.com
                  end_date: null
                  inserted_at: '2026-04-24T10:00:00Z'
                  occurrence: once
                  pay_item: 2060 Shift Allw Morning
                  slug: epe-1
              row_errors:
                ambiguous:
                - Multiple pay items match.
              row_number: 1
              submission_errors: []
            imported:
            - data:
                foo: bar
                number: 1
              errors:
                email:
                - is invalid
              metadata:
                employment_slug: abc123-slug
              row_error_details:
                ambiguous:
                - amount: 25000
                  created_by:
                    name: Bertrand Russell
                    slug: user-b
                  effective_date: '2022-01-01'
                  employee_identifier: gp_employee@example.com
                  end_date: null
                  inserted_at: '2026-04-24T10:00:00Z'
                  occurrence: once
                  pay_item: 2060 Shift Allw Morning
                  slug: epe-1
              row_errors:
                ambiguous:
                - Multiple pay items match.
              row_number: 1
              submission_errors: []
            pending:
            - data:
                foo: bar
                number: 1
              errors:
                email:
                - is invalid
              metadata:
                employment_slug: abc123-slug
              row_error_details:
                ambiguous:
                - amount: 25000
                  created_by:
                    name: Bertrand Russell
                    slug: user-b
                  effective_date: '2022-01-01'
                  employee_identifier: gp_employee@example.com
                  end_date: null
                  inserted_at: '2026-04-24T10:00:00Z'
                  occurrence: once
                  pay_item: 2060 Shift Allw Morning
                  slug: epe-1
              row_errors:
                ambiguous:
                - Multiple pay items match.
              row_number: 1
              submission_errors: []
            retryable:
            - data:
                foo: bar
                number: 1
              errors:
                email:
                - is invalid
              metadata:
                employment_slug: abc123-slug
              row_error_details:
                ambiguous:
                - amount: 25000
                  created_by:
                    name: Bertrand Russell
                    slug: user-b
                  effective_date: '2022-01-01'
                  employee_identifier: gp_employee@example.com
                  end_date: null
                  inserted_at: '2026-04-24T10:00:00Z'
                  occurrence: once
                  pay_item: 2060 Shift Allw Morning
                  slug: epe-1
              row_errors:
                ambiguous:
                - Multiple pay items match.
              row_number: 1
              submission_errors: []
            skipped:
            - data:
                foo: bar
                number: 1
              errors:
                email:
                - is invalid
              metadata:
                employment_slug: abc123-slug
              row_error_details:
                ambiguous:
                - amount: 25000
                  created_by:
                    name: Bertrand Russell
                    slug: user-b
                  effective_date: '2022-01-01'
                  employee_identifier: gp_employee@example.com
                  end_date: null
                  inserted_at: '2026-04-24T10:00:00Z'
                  occurrence: once
                  pay_item: 2060 Shift Allw Morning
                  slug: epe-1
              row_errors:
                ambiguous:
                - Multiple pay items match.
              row_number: 1
              submission_errors: []
            successes:
            - data:
                foo: bar
                number: 1
              errors:
                email:
                - is invalid
              metadata:
                employment_slug: abc123-slug
              row_error_details:
                ambiguous:
                - amount: 25000
                  created_by:
                    name: Bertrand Russell
                    slug: user-b
                  effective_date: '2022-01-01'
                  employee_identifier: gp_employee@example.com
                  end_date: null
                  inserted_at: '2026-04-24T10:00:00Z'
                  occurrence: once
                  pay_item: 2060 Shift Allw Morning
                  slug: epe-1
              row_errors:
                ambiguous:
                - Multiple pay items match.
              row_number: 1
              submission_errors: []
            unprocessable:
            - data:
                foo: bar
                number: 1
              errors:
                email:
                - is invalid
              metadata:
                employment_slug: abc123-slug
              row_error_details:
                ambiguous:
                - amount: 25000
                  created_by:
                    name: Bertrand Russell
                    slug: user-b
                  effective_date: '2022-01-01'
                  employee_identifier: gp_employee@example.com
                  end_date: null
                  inserted_at: '2026-04-24T10:00:00Z'
                  occurrence: once
                  pay_item: 2060 Shift Allw Morning
                  slug: epe-1
              row_errors:
                ambiguous:
                - Multiple pay items match.
              row_number: 1
              submission_errors: []
          total_count: 25
          total_pages: 2
      properties:
        data:
          additionalProperties: false
          example:
            counts_by_column:
              feature_a:
                error: 3
                valid: 27
              sla_days:
                error: 2
                valid: 28
            counts_by_status:
              deleted: 0
              error: 2
              imported: 8
              pending: 5
              retryable: 0
              skipped: 0
              successful: 10
              unprocessable: 0
            current_page: 1
            rows:
              failures:
              - data:
                  foo: bar
                  number: 1
                errors:
                  email:
                  - is invalid
                metadata:
                  employment_slug: abc123-slug
                row_error_details:
                  ambiguous:
                  - amount: 25000
                    created_by:
                      name: Bertrand Russell
                      slug: user-b
                    effective_date: '2022-01-01'
                    employee_identifier: gp_employee@example.com
                    end_date: null
                    inserted_at: '2026-04-24T10:00:00Z'
                    occurrence: once
                    pay_item: 2060 Shift Allw Morning
                    slug: epe-1
                row_errors:
                  ambiguous:
                  - Multiple pay items match.
                row_number: 1
                submission_errors: []
              imported:
              - data:
                  foo: bar
                  number: 1
                errors:
                  email:
                  - is invalid
                metadata:
                  employment_slug: abc123-slug
                row_error_details:
                  ambiguous:
                  - amount: 25000
                    created_by:
                      name: Bertrand Russell
                      slug: user-b
                    effective_date: '2022-01-01'
                    employee_identifier: gp_employee@example.com
                    end_date: null
                    inserted_at: '2026-04-24T10:00:00Z'
                    occurrence: once
                    pay_item: 2060 Shift Allw Morning
                    slug: epe-1
                row_errors:
                  ambiguous:
                  - Multiple pay items match.
                row_number: 1
                submission_errors: []
              pending:
              - data:
                  foo: bar
                  number: 1
                errors:
                  email:
                  - is invalid
                metadata:
                  employment_slug: abc123-slug
                row_error_details:
                  ambiguous:
                  - amount: 25000
                    created_by:
                      name: Bertrand Russell
                      slug: user-b
                    effective_date: '2022-01-01'
                    employee_identifier: gp_employee@example.com
                    end_date: null
                    inserted_at: '2026-04-24T10:00:00Z'
                    occurrence: once
                    pay_item: 2060 Shift Allw Morning
                    slug: epe-1
                row_errors:
                  ambiguous:
                  - Multiple pay items match.
                row_number: 1
                submission_errors: []
              retryable:
              - data:
                  foo: bar
                  number: 1
                errors:
                  email:
                  - is invalid
                metadata:
                  employment_slug: abc123-slug
                row_error_details:
                  ambiguous:
                  - amount: 25000
                    created_by:
                      name: Bertrand Russell
                      slug: user-b
                    effective_date: '2022-01-01'
                    employee_identifier: gp_employee@example.com
                    end_date: null
                    inserted_at: '2026-04-24T10:00:00Z'
                    occurrence: once
                    pay_item: 2060 Shift Allw Morning
                    slug: epe-1
                row_errors:
                  ambiguous:
                  - Multiple pay items match.
                row_number: 1
                submission_errors: []
              skipped:
              - data:
                  foo: bar
                  number: 1
                errors:
                  email:
                  - is invalid
                metadata:
                  employment_slug: abc123-slug
                row_error_details:
                  ambiguous:
                  - amount: 25000
                    created_by:
                      name: Bertrand Russell
                      slug: user-b
                    effective_date: '2022-01-01'
                    employee_identifier: gp_employee@example.com
                    end_date: null
                    inserted_at: '2026-04-24T10:00:00Z'
                    occurrence: once
                    pay_item: 2060 Shift Allw Morning
                    slug: epe-1
                row_errors:
                  ambiguous:
                  - Multiple pay items match.
                row_number: 1
                submission_errors: []
              successes:
              - data:
                  foo: bar
                  number: 1
                errors:
                  email:
                  - is invalid
                metadata:
                  employment_slug: abc123-slug
                row_error_details:
                  ambiguous:
                  - amount: 25000
                    created_by:
                      name: Bertrand Russell
                      slug: user-b
                    effective_date: '2022-01-01'
                    employee_identifier: gp_employee@example.com
                    end_date: null
                    inserted_at: '2026-04-24T10:00:00Z'
                    occurrence: once
                    pay_item: 2060 Shift Allw Morning
                    slug: epe-1
                row_errors:
                  ambiguous:
                  - Multiple pay items match.
                row_number: 1
                submission_errors: []
              unprocessable:
              - data:
                  foo: bar
                  number: 1
                errors:
                  email:
                  - is invalid
                metadata:
                  employment_slug: abc123-slug
                row_error_details:
                  ambiguous:
                  - amount: 25000
                    created_by:
                      name: Bertrand Russell
                      slug: user-b
                    effective_date: '2022-01-01'
                    employee_identifier: gp_employee@example.com
                    end_date: null
                    inserted_at: '2026-04-24T10:00:00Z'
                    occurrence: once
                    pay_item: 2060 Shift Allw Morning
                    slug: epe-1
                row_errors:
                  ambiguous:
                  - Multiple pay items match.
                row_number: 1
                submission_errors: []
            total_count: 25
            total_pages: 2
          properties:
            counts_by_column:
              additionalProperties:
                additionalProperties: false
                properties:
                  error:
                    type: integer
                  valid:
                    type: integer
                required:
                - error
                - valid
                type: object
              description: Per-column error and valid row counts across all rows, keyed by the column's field path
              type: object
            counts_by_status:
              additionalProperties: false
              properties:
                deleted:
                  type: integer
                error:
                  type: integer
                imported:
                  type: integer
                pending:
                  type: integer
                retryable:
                  type: integer
                skipped:
                  type: integer
                successful:
                  type: integer
                unprocessable:
                  type: integer
              required:
              - pending
              - successful
              - imported
              - error
              - unprocessable
              - deleted
              - skipped
              - retryable
              type: object
            current_page:
              type: integer
            ordered_rows:
              items:
                type: integer
              type: array
            rows:
              additionalProperties: false
              example:
                failures:
                - data:
                    foo: bar
                    number: 1
                  errors:
                    email:
                    - is invalid
                  metadata:
                    employment_slug: abc123-slug
                  row_error_details:
                    ambiguous:
                    - amount: 25000
                      created_by:
                        name: Bertrand Russell
                        slug: user-b
                      effective_date: '2022-01-01'
                      employee_identifier: gp_employee@example.com
                      end_date: null
                      inserted_at: '2026-04-24T10:00:00Z'
                      occurrence: once
                      pay_item: 2060 Shift Allw Morning
                      slug: epe-1
                  row_errors:
                    ambiguous:
                    - Multiple pay items match.
                  row_number: 1
                  submission_errors: []
                imported:
                - data:
                    foo: bar
                    number: 1
                  errors:
                    email:
                    - is invalid
                  metadata:
                    employment_slug: abc123-slug
                  row_error_details:
                    ambiguous:
                    - amount: 25000
                      created_by:
                        name: Bertrand Russell
                        slug: user-b
                      effective_date: '2022-01-01'
                      employee_identifier: gp_employee@example.com
                      end_date: null
                      inserted_at: '2026-04-24T10:00:00Z'
                      occurrence: once
                      pay_item: 2060 Shift Allw Morning
                      slug: epe-1
                  row_errors:
                    ambiguous:
                    - Multiple pay items match.
                  row_number: 1
                  submission_errors: []
                pending:
                - data:
                    foo: bar
                    number: 1
                  errors:
                    email:
                    - is invalid
                  metadata:
                    employment_slug: abc123-slug
                  row_error_details:
                    ambiguous:
                    - amount: 25000
                      created_by:
                        name: Bertrand Russell
                        slug: user-b
                      effective_date: '2022-01-01'
                      employee_identifier: gp_employee@example.com
                      end_date: null
                      inserted_at: '2026-04-24T10:00:00Z'
                      occurrence: once
                      pay_item: 2060 Shift Allw Morning
                      slug: epe-1
                  row_errors:
                    ambiguous:
                    - Multiple pay items match.
                  row_number: 1
                  submission_errors: []
                retryable:
                - data:
                    foo: bar
                    number: 1
                  errors:
                    email:
                    - is invalid
                  metadata:
                    employment_slug: abc123-slug
                  row_error_details:
                    ambiguous:
                    - amount: 25000
                      created_by:
                        name: Bertrand Russell
                        slug: user-b
                      effective_date: '2022-01-01'
                      employee_identifier: gp_employee@example.com
                      end_date: null
                      inserted_at: '2026-04-24T10:00:00Z'
                      occurrence: once
                      pay_item: 2060 Shift Allw Morning
                      slug: epe-1
                  row_errors:
                    ambiguous:
                    - Multiple pay items match.
                  row_number: 1
                  submission_errors: []
                skipped:
                - data:
                    foo: bar
                    number: 1
                  errors:
                    email:
                    - is invalid
                  metadata:
                    employment_slug: abc123-slug
                  row_error_details:
                    ambiguous:
                    - amount: 25000
                      created_by:
                        name: Bertrand Russell
                        slug: user-b
                      effective_date: '2022-01-01'
                      employee_identifier: gp_employee@example.com
                      end_date: null
                      inserted_at: '2026-04-24T10:00:00Z'
                      occurrence: once
                      pay_item: 2060 Shift Allw Morning
                      slug: epe-1
                  row_errors:
                    ambiguous:
                    - Multiple pay items match.
                  row_number: 1
                  submission_errors: []
                successes:
                - data:
                    foo: bar
                    number: 1
                  errors:
                    email:
                    - is invalid
                  metadata:
                    employment_slug: abc123-slug
                  row_error_details:
                    ambiguous:
                    - amount: 25000
                      created_by:
                        name: Bertrand Russell
                        slug: user-b
                      effective_date: '2022-01-01'
                      employee_identifier: gp_employee@example.com
                      end_date: null
                      inserted_at: '2026-04-24T10:00:00Z'
                      occurrence: once
                      pay_item: 2060 Shift Allw Morning
                      slug: epe-1
                  row_errors:
                    ambiguous:
                    - Multiple pay items match.
                  row_number: 1
                  submission_errors: []
                unprocessable:
                - data:
                    foo: bar
                    number: 1
                  errors:
                    email:
                    - is invalid
                  metadata:
                    employment_slug: abc123-slug
                  row_error_details:
                    ambiguous:
                    - amount: 25000
                      created_by:
                        name: Bertrand Russell
                        slug: user-b
                      effective_date: '2022-01-01'
                      employee_identifier: gp_employee@example.com
                      end_date: null
                      inserted_at: '2026-04-24T10:00:00Z'
                      occurrence: once
                      pay_item: 2060 Shift Allw Morning
                      slug: epe-1
                  row_errors:
                    ambiguous:
                    - Multiple pay items match.
                  row_number: 1
                  submission_errors: []
              properties:
                failures:
                  items:
                    $ref: '#/components/schemas/ImportJobRow'
                  type: array
                imported:
                  items:
                    $ref: '#/components/schemas/ImportJobRow'
                  type: array
                pending:
                  items:
                    $ref: '#/components/schemas/ImportJobRow'
                  type: array
                retryable:
                  items:
                    $ref: '#/components/schemas/ImportJobRow'
                  type: array
                skipped:
                  items:
                    $ref: '#/components/schemas/ImportJobRow'
                  type: array
                successes:
                  items:
                    $ref: '#/components/schemas/ImportJobRow'
                  type: array
                unprocessable:
                  items:
                    $ref: '#/components/schemas/ImportJobRow'
                  type: array
              required:
              - failures
              - unprocessable
              - successes
              - imported
              - pending
              - skipped
              - retryable
              title: ImportJobRows
              type: object
            total_count:
              type: integer
            total_pages:
              type: integer
          required:
          - rows
          - current_page
          - total_pages
          - total_count
          - counts_by_status
          type: object
      required:
      - data
      title: ImportJobRowsResponse
      type: object
    AccountsLoginSyncedWith:
      description: Indicates which email type the account login is synchronized with.
      enum:
      - none
      - personal
      - work
      nullable: true
      title: AccountsLoginSyncedWith
      type: string
    EmploymentV2UpdateParams:
      additionalProperties: false
      description: Parameters for updating employment-level fields such as department, manager, work email, and external ID.
      example:
        external_id: ext-12345
        work_email: jane.smith@company.com
      properties:
        department_id:
          description: 'The department of the employment. The department must belong to the same company as the employment.

            When set to `null`, the employment will be unassigned from a department.

            '
          nullable: true
          type: string
        external_id:
          description: A unique reference code for the employment record in a non-Remote system. This optional field links to external data sources. If not provided, it defaults to `null`. While uniqueness is recommended, it is not strictly enforced within Remote's system.
          maxLength: 64
          type: string
        manager_id:
          description: 'The user id of the manager, who should have an `admin`, `owner` or `people_manager` role.

            You can find these users by querying the [Company Managers endpoint](#operation/get_index_company_manager).

            '
          type: string
        work_email:
          description: The work email of the employment.
          type: string
      title: EmploymentV2UpdateParams
      type: object
    ProvisionalStartDate:
      description: 'Indicates the expected start date of the employee or contractor.


        Required for employees, but optional for contractors. Date format is in ISO8601 without the time component.


        See the **Date and Time Format** documentation for more details on how the Remote API works with dates.

        '
      example: '2022-03-21'
      format: date
      title: ProvisionalStartDate
      type: string
    AccountsMinimalCompanyAdmin:
      additionalProperties: false
      example:
        job_title: HR Manager
        name: John Smith
        slug: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
      properties:
        job_title:
          nullable: true
          type: string
        name:
          nullable: false
          type: string
        slug:
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          nullable: false
          title: Slug
          type: string
      title: AccountsMinimalCompanyAdmin
      type: object
    ConflictResponse:
      description: Returned when the request conflicts with the current state of a resource (HTTP 409). For example, trying to create a resource that already exists or performing an action that requires the resource to be in a different state.
      example:
        message: Company needs to be in status active to manage employments
      properties:
        message:
          description: A human-readable message describing the conflict and the expected state.
          type: string
      title: ConflictResponse
      type: object
    ListEmploymentsResponse:
      description: Response schema listing many employments
      example:
        current_page: 1
        employments:
        - country:
            alpha_2_code: PT
            code: PRT
            contractor_products_available:
            - standard
            - plus
            - cor
            country_subdivisions:
            - code: PT-06
              name: Coimbra
              subdivision_type: District
            - code: PT-11
              name: Lisboa
              subdivision_type: District
            employment_agreement_preview_available: true
            eor_onboarding: true
            locked_benefits: after_first_hire
            name: Portugal
            region: Europe
            subregion: Southern Europe
            supported_json_schemas:
            - additional_documents
            - address_details
            - administrative_details
            - employment-basic-information
            - bank_account_details
            - contract_details
            - emergency_contact
          department: null
          department_id: null
          employment_lifecycle_stage: employment_creation
          employment_model: eor
          external_id: '1234567890'
          full_name: Jane Smith
          id: add736b8-employment-id-a76ccae2abe8
          job_title: Engineer
          login_email: janesmith@company.com
          personal_email: janesmith@company.com
          short_id: '1234567890'
          status: created
          type: employee
          work_address_details: {}
          work_email: janesmith@company.com
        total_count: 1
        total_pages: 1
      properties:
        data:
          properties:
            current_page:
              description: The current page among all of the total_pages
              type: integer
            employments:
              items:
                $ref: '#/components/schemas/MinimalEmployment'
              type: array
            total_count:
              description: The total number of records in the result
              type: integer
            total_pages:
              description: The total number of pages the user can go through
              type: integer
          type: object
      title: ListEmploymentsResponse
      type: object
    SuccessResponse:
      description: A generic success response returned by operations that don't produce a specific resource (e.g., updates, deletes).
      example:
        data:
          status: ok
      properties:
        data:
          properties:
            status:
              description: The result status. Always `"ok"` for successful operations.
              type: string
          type: object
      required:
      - data
      title: SuccessResponse
      type: object
    EmploymentShowResponse:
      description: Response containing the full employment record, including the termination date if the employment has an active offboarding.
      example:
        data:
          employment:
            personal_details: {}
            manager_email: john.doe@company.com
            provisional_start_date: '2021-07-03'
            address_details: {}
            pricing_plan_details:
              frequency: annually
            full_name: Jane Smith
            type: employee
            employment_lifecycle_stage: employee_self_enrollment
            administrative_details: {}
            company_id: e31adae1-company-id-af5fba7dd803
            work_address_details: {}
            bill_to_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
            work_email: jane.smith@company.com
            status: created
            updated_at: '2021-07-15T18:18:17Z'
            basic_information: {}
            job_title: Engineer
            id: 20a72f86-employment-id-9e4942a902ff
            manager: John Doe
            login_email: jane@smith.com
            employment_model: eor
            personal_email: jane@smith.com
            country:
              alpha_2_code: PT
              code: PRT
              contractor_products_available:
              - standard
              - plus
              - cor
              country_subdivisions:
              - code: PT-06
                name: Coimbra
                subdivision_type: District
              - code: PT-11
                name: Lisboa
                subdivision_type: District
              employment_agreement_preview_available: true
              eor_onboarding: true
              locked_benefits: after_first_hire
              name: Portugal
              region: Europe
              subregion: Southern Europe
              supported_json_schemas:
              - additional_documents
              - address_details
              - administrative_details
              - employment-basic-information
              - bank_account_details
              - contract_details
              - emergency_contact
            user_status: active
            bank_account_details: []
            files: []
            engaged_by_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
            billing_address_details: {}
            onboarding_tasks:
              address_details:
                description: Primary residence.
                status: completed
              administrative_details:
                description: Information we need for tax purposes.
                status: completed
              bank_account_details:
                description: Bank account used for receiving salary payments.
                status: completed
              billing_address_details:
                description: Address associated with the employee's bank account.
                status: completed
              contract_details:
                description: Employee-specific details for their employment agreement.
                status: completed
              emergency_contact_details:
                description: Who should be called in an emergency.
                status: completed
              employment_document_details:
                description: We need some additional documents.
                status: pending
              personal_details:
                description: Personal details, such as name and date of birth.
                status: completed
              pricing_plan_details:
                description: How often Remote will bill employers for management fees.
                status: completed
            contract_details: {}
            emergency_contact_details: {}
            eligible_for_onboarding_cancellation: true
            manager_employment_id: 20a72f86-employment-id-9e4942a902ff
            created_at: '2021-11-11T18:44:39'
      properties:
        data:
          properties:
            employment:
              allOf:
              - $ref: '#/components/schemas/Employment'
              - properties:
                  termination_date:
                    description: Most updated termination date for the offboarding. This date is subject to change through the offboarding process even after it is finalized.
                    format: date
                    nullable: true
                    type: string
      required:
      - data
      title: EmploymentShowResponse
      type: object
    Slug:
      example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
      nullable: false
      title: Slug
      type: string
    DateTime:
      description: UTC date time in YYYY-MM-DDTHH:mm:ss format
      example: '2021-07-15T18:18:17'
      format: datetime
      title: DateTime
      type: string
    AccountUserIntegrationUser:
      additionalProperties: false
      example:
        external_user_id: '123123'
        integration:
          name: greenhouse
        role: employee
      properties:
        external_user_id:
          type: string
        integration:
          additionalProperties: false
          properties:
            name:
              type: string
          required:
          - name
          type: object
        role:
          description: Whether this mapping represents a synced employee or a company admin
          enum:
          - employee
          - employer
          type: string
      required:
      - external_user_id
      - role
      - integration
      title: AccountUserIntegrationUser
      type: object
    ImportJobRowError:
      additionalProperties: false
      example:
        error: submission_failed
        field_name: null
        messages:
        - is invalid
      properties:
        error:
          nullable: true
          type: string
        field_name:
          nullable: true
          type: string
        messages:
          items:
            type: string
          type: array
      required:
      - messages
      title: ImportJobRowError
      type: object
    UnprocessableEntityResponse:
      anyOf:
      - properties:
          errors:
            type: object
        required:
        - errors
        type: object
      - properties:
          message:
            oneOf:
            - type: string
            - $ref: '#/components/schemas/ParameterError'
            - items:
                $ref: '#/components/schemas/ParameterError'
              title: ParameterErrors
              type: array
            - $ref: '#/components/schemas/ActionError'
            - items:
                $ref: '#/components/schemas/ActionError'
              title: ActionErrors
              type: array
        required:
        - message
        type: object
      example:
        errors:
          some_field:
          - is invalid
      title: UnprocessableEntityResponse
      type: object
    Country:
      description: A supported country on Remote
      example:
        alpha_2_code: PT
        code: PRT
        contractor_products_available:
        - standard
        - plus
        - cor
        country_subdivisions:
        - code: PT-06
          name: Coimbra
          subdivision_type: District
        - code: PT-11
          name: Lisboa
          subdivision_type: District
        employment_agreement_preview_available: true
        eor_onboarding: true
        locked_benefits: after_first_hire
        name: Portugal
        region: Europe
        subregion: Southern Europe
        supported_json_schemas:
        - additional_documents
        - address_details
        - administrative_details
        - employment-basic-information
        - bank_account_details
        - contract_details
        - emergency_contact
      properties:
        alpha_2_code:
          description: The ISO 3166-1 alpha-2 country code (e.g., "PT").
          type: string
        code:
          description: The ISO 3166-1 alpha-3 country code (e.g., "PRT"). This is the primary code used across the Remote API.
          type: string
        contractor_products_available:
          description: Contractor product names available for this country
          items:
            enum:
            - standard
            - plus
            - cor
            type: string
          type: array
        country_subdivisions:
          description: Administrative subdivisions of the country (e.g., states, provinces, districts). Null if the country has no subdivisions relevant to Remote's services.
          items:
            $ref: '#/components/schemas/CountrySubdivision'
          nullable: true
          type: array
        employment_agreement_preview_available:
          description: Whether an Employment Agreement preview is available for this country.
          type: boolean
        eor_onboarding:
          description: Whether EOR (Employer of Record) onboarding is available in this country.
          type: boolean
        locked_benefits:
          description: When benefit plan selections become locked for this country (e.g., "after_first_hire" means benefits cannot be changed after the first employee is hired).
          type: string
        name:
          description: The country's full English name.
          type: string
        region:
          description: The geographic region the country belongs to (e.g., "Europe", "Asia", "Americas").
          type: string
        subregion:
          description: The geographic subregion (e.g., "Southern Europe", "Southeast Asia"). Null for some countries.
          nullable: true
          type: string
        supported_json_schemas:
          description: The list of JSON schema form names available for this country (e.g., "address_details", "contract_details"). Use these with the Show form schema endpoint to get country-specific field requirements.
          items:
            type: string
          type: array
      required:
      - alpha_2_code
      - code
      - name
      title: Country
      type: object
    CompleteOnboarding:
      description: Parameters to complete onboarding
      example:
        employment_id: employment_id
      properties:
        employment_id:
          description: The unique identifier (UUID) of the employment to complete onboarding for.
          type: string
      title: CompleteOnboarding
      type: object
    BadRequestResponse:
      description: Returned when the request is malformed or contains invalid parameters. The message may be a simple string or a structured object with a code and detailed message.
      example:
        message: invalid {resource}
      oneOf:
      - properties:
          message:
            description: A human-readable error message describing what was wrong with the request.
            type: string
        required:
        - message
        type: object
      - properties:
          message:
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
            - message
            type: object
        type: object
      title: BadRequestResponse
      type: object
    Employment:
      description: Complete information of an employment, including all onboarding task statuses, country-specific form data (address, contract, administrative, etc.), and contractor-specific settings where applicable.
      example:
        personal_details: {}
        manager_email: john.doe@company.com
        provisional_start_date: '2021-07-03'
        address_details: {}
        pricing_plan_details:
          frequency: annually
        full_name: Jane Smith
        type: employee
        employment_lifecycle_stage: employee_self_enrollment
        administrative_details: {}
        company_id: e31adae1-company-id-af5fba7dd803
        work_address_details: {}
        bill_to_legal_entity_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        work_email: jane.smith@company.com
        status: created
        updated_at: '2021-07-15T18:18:17Z'
        basic_information: {}
        job_title: Engineer
        id: 20a72f86-employment-id-9e4942a902ff
        manager: John Doe
        login_email: jane@smith.com
        employment_model: eor
        personal_email: jane@smith.com
        country:
          alpha_2_code: PT
          code: PRT
          contractor_products_available:
          - standard
          - plus
          - cor
          country_subdivisions:
          - code: PT-06
            name: Coimbra
            subdivision_type: District
          - code: PT-11
[...]
