openapi: 3.0.0
info:
  title: Remote Address Details Terminations API
  version: 0.1.0
servers:
- url: https://gateway.remote.com/
  variables: {}
- url: https://gateway.remote-sandbox.com/
  variables: {}
security:
- OAuth2: []
tags:
- name: Terminations
paths:
  /v1/offboardings:
    get:
      callbacks: {}
      description: 'Lists Offboarding requests.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View offboarding requests (`offboarding:read`) | Manage offboarding (`offboarding:write`) |

        '
      operationId: get_v1_offboardings
      parameters:
      - description: Filter by Employment ID
        example: 93t3j-employment-id-9suej43
        in: query
        name: employment_id
        required: false
        schema:
          type: string
      - description: Filter by offboarding type
        example: paid
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: 'By default, the results do not include confidential termination requests.

          Send `include_confidential=true` to include confidential requests in the response.

          '
        example: 'true'
        in: query
        name: include_confidential
        required: false
        schema:
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
      - description: Change the amount of records returned per page, defaults to 20, limited to 100
        example: 30
        in: query
        name: page_size
        required: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOffboardingResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - offboarding:read
        - offboarding:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - offboarding:read
        - offboarding:write
        - employments
        - all:write
        - all:read
      summary: List Offboarding
      tags:
      - Terminations
    post:
      callbacks: {}
      description: 'Creates an Offboarding request



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage offboarding (`offboarding:write`) |

        '
      operationId: post_v1_offboardings
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOffboardingParams'
        description: Offboarding
        required: false
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffboardingResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestError'
          description: Internal Server Error
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - offboarding:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - offboarding:write
        - employments
        - all:write
      summary: Create Offboarding
      tags:
      - Terminations
  /v2/offboardings:
    get:
      callbacks: {}
      description: 'Lists offboardings for a company.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View offboarding requests (`offboarding:read`) | Manage offboarding (`offboarding:write`) |

        '
      operationId: get_v2_offboardings
      parameters:
      - description: Filter by Employment ID
        example: 93t3j-employment-id-9suej43
        in: query
        name: employment_id
        required: false
        schema:
          type: string
      - description: Filter by offboarding type.
        example: termination
        in: query
        name: type
        required: false
        schema:
          enum:
          - termination
          - resignation
          - cancellation
          - relocation
          - transfer
          - conversion
          type: string
      - description: 'By default, the results do not include confidential termination requests.

          Send `include_confidential=true` to include confidential requests in the response.

          '
        example: true
        in: query
        name: include_confidential
        required: false
        schema:
          type: boolean
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
      - description: Change the amount of records returned per page, defaults to 20, limited to 100
        example: 30
        in: query
        name: page_size
        required: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ListOffboardingResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - offboarding:read
        - offboarding:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - offboarding:read
        - offboarding:write
        - employments
        - all:write
        - all:read
      summary: List Offboardings (v2)
      tags:
      - Terminations
  /v2/offboardings/{id}:
    get:
      callbacks: {}
      description: 'Returns a single offboarding by its ID.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View offboarding requests (`offboarding:read`) | Manage offboarding (`offboarding:write`) |

        '
      operationId: get_v2_offboardings_id
      parameters:
      - description: Offboarding ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2OffboardingResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - offboarding:read
        - offboarding:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - offboarding:read
        - offboarding:write
        - employments
        - all:write
        - all:read
      summary: Show Offboarding (v2)
      tags:
      - Terminations
  /v1/offboardings/employments/{employment_id}:
    get:
      callbacks: {}
      description: 'Lists Offboarding requests for a specific employment.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View offboarding requests (`offboarding:read`) | Manage offboarding (`offboarding:write`) |

        '
      operationId: get_v1_offboardings_employments_employment_id
      parameters:
      - description: Employment ID
        in: path
        name: employment_id
        required: true
        schema:
          type: string
        x-resource-type: employment
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          type: integer
      - description: Change the amount of records returned per page, defaults to 20, limited to 100
        example: 30
        in: query
        name: page_size
        required: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOffboardingResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - offboarding:read
        - offboarding:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - offboarding:read
        - offboarding:write
        - employments
        - all:write
        - all:read
      summary: List Offboardings for Employment
      tags:
      - Terminations
  /v1/offboardings/{id}:
    get:
      callbacks: {}
      description: 'Shows an Offboarding request.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View offboarding requests (`offboarding:read`) | Manage offboarding (`offboarding:write`) |

        '
      operationId: get_v1_offboardings_id
      parameters:
      - description: Offboarding request ID
        in: path
        name: id
        required: true
        schema:
          type: string
        x-safe: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OffboardingResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - offboarding:read
        - offboarding:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - offboarding:read
        - offboarding:write
        - employments
        - all:write
        - all:read
      summary: Show Offboarding
      tags:
      - Terminations
components:
  schemas:
    ParameterError:
      example:
        code: invalid_param
        message: Invalid parameter
        param: employment_id
      properties:
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
        param:
          description: The parameter that lead to the error message.
          type: string
      required:
      - code
      - message
      - param
      title: ParameterError
      type: object
    TerminationDetailsParams:
      example:
        confidential: false
        proposed_termination_date: '2024-10-30'
        reason_description: They had some performance issues and mismatched expectations.
        risk_assessment_reasons:
        - pregnant_or_breastfeeding
        - family_leave
        termination_reason: performance
        will_challenge_termination: true
      properties:
        acknowledge_termination_procedure:
          description: Whether the employer acknowledges and agrees to follow Remote's termination procedure for this jurisdiction.
          nullable: true
          type: boolean
        additional_comments:
          description: Additional details regarding the termination process.
          nullable: true
          type: string
        agrees_to_pto_amount:
          description: Whether the employer agrees with the employee's current paid time off balance. If false, you may provide a timesheet file documenting any discrepancies.
          nullable: true
          type: boolean
        agrees_to_pto_amount_notes:
          description: Additional notes about the PTO balance, especially if there are discrepancies.
          nullable: true
          type: string
        confidential:
          description: Confidential requests are visible for who authorized the token or integration. Non-confidential requests are visible to all admins in the company.
          type: boolean
        customer_informed_employee:
          description: Whether the employer has already informed the employee about the termination. Remote advises not informing the employee until the request has been reviewed for legal risks.
          nullable: true
          type: boolean
        employee_awareness:
          description: Remote advises not to inform the employee of their termination until we review your request for legal risks. When we approve your request, you can inform the employee and we’ll take it from there. This field is only required if employee was informed before creating the offboarding request.
          properties:
            date:
              description: When the employee was told about the termination.
              format: date
              nullable: true
              type: string
            note:
              description: Notes describing how the termination was shared with the employee. Remote advises being as specific as possible, and include details about the employee’s response, if applicable.
              nullable: true
              type: string
          type: object
        personal_email:
          description: 'Remote will use this email address for post-termination communication.

            If it is not provided, this field will be derived from the employment record. Therefore, it is important to ensure that it is not a company email.

            '
          format: email
          type: string
        proposed_termination_date:
          description: In most cases, employee needs to be notified before termination. The required notice period depends on local labor laws, the employment agreement, and other factors. Remote will use those factors to determine the required notice period. Please note that we cannot commit to a termination date until we conduct a full review of the information you submit.
          format: date
          type: string
        reason_description:
          description: Description of the reason for termination
          type: string
        risk_assessment_reasons:
          description: Possible reasons for offboarding risk assessment
          items:
            enum:
            - caring_responsibilities
            - disabled_or_health_condition
            - family_leave
            - member_of_union_or_works_council
            - none_of_these
            - pregnant_or_breastfeeding
            - reported_concerns_with_workplace
            - requested_medical_or_family_leave
            - sick_leave
            type: string
          minItems: 1
          type: array
        termination_reason:
          description: 'Choose an accurate termination reason to avoid unfair or unlawful dismissal claims.


            If the termination is created before the employee''s start date, this field

            will be set to `cancellation_before_start_date`.

            '
          enum:
          - cancellation_before_start_date
          - compliance_issue
          - conversion_to_contractor
          - dissatisfaction_with_remote_service
          - end_of_fixed_term_contract_compliance_issue
          - end_of_fixed_term_contract_incapacity_to_perform_inherent_duties
          - end_of_fixed_term_contract_local_regulations_max_term_reached
          - end_of_fixed_term_contract_misconduct
          - end_of_fixed_term_contract_operational_reasons
          - end_of_fixed_term_contract_other
          - end_of_fixed_term_contract_performance
          - end_of_fixed_term_contract_redundancy
          - end_of_fixed_term_contract_values
          - gross_misconduct
          - incapacity_to_perform_inherent_duties
          - job_abandonment
          - mutual_agreement
          - other
          - performance
          - values
          - workforce_reduction
          type: string
        termination_reason_files:
          description: Any supporting documents regarding the termination reason
          items:
            $ref: '#/components/schemas/OffboardingFile'
          type: array
        timesheet_file:
          allOf:
          - $ref: '#/components/schemas/OffboardingFile'
          description: 'Paid time off accuracy


            Typically, any vacation pay accrued and unpaid at the time

            of termination must be paid out to the employee. To avoid overpaying or underpaying,

            please make sure we have an accurate account of their paid time off by querying the

            [Show Time Off Balance](#operation/get_show_timeoff_balance) endpoint,

            filtering by the `employment_id`.

            This optional document should be sent in case of any discrepancies.

            '
          type: object
        will_challenge_termination:
          description: Whether is it likely or not that the employee will challenge their termination
          type: boolean
        will_challenge_termination_description:
          description: If it is likely that the employee will challenge their termination, please provide additional details explaining the risk
          type: string
      required:
      - confidential
      - proposed_termination_date
      - termination_reason
      - risk_assessment_reasons
      - will_challenge_termination
      - reason_description
      title: TerminationDetailsParams
      type: object
    V2Offboarding:
      additionalProperties: false
      description: 'An offboarding record. Top-level fields hold the offboarding''s lifecycle state. The

        nested `request` object holds the immutable creation snapshot of the inputs submitted

        when the offboarding was created.

        '
      example:
        confidential: false
        employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
        id: ba310525-9282-40c9-8977-14d844bf891a
        inserted_at: '2023-12-01T10:30:00Z'
        reason: performance
        request:
          additional_comments: Final paycheck to include unused PTO.
          agrees_to_pto_amount: true
          employee_awareness:
            date: '2023-11-15'
            note: Conversation held during 1:1.
          proposed_termination_date: '2024-01-15'
          reason_description: Sustained underperformance after improvement plan.
          risk_assessment_reasons:
          - none_of_these
          will_challenge_termination: false
          will_challenge_termination_description: ''
        status: pending_payment
        termination_date: '2024-01-15'
        type: termination
      properties:
        confidential:
          description: 'Whether the offboarding is confidential. Confidential offboardings are hidden from

            list and show responses by default.

            '
          nullable: true
          type: boolean
        employment_id:
          description: The unique identifier (UUID) of the employment being offboarded.
          type: string
        id:
          description: The unique identifier (UUID) of the offboarding record.
          type: string
        inserted_at:
          description: The timestamp when the offboarding record was created.
          format: datetime
          type: string
        reason:
          description: The reason for the offboarding.
          nullable: true
          type: string
        request:
          $ref: '#/components/schemas/V2OffboardingRequest'
        status:
          description: 'The current processing status of the offboarding.


            - `requested`: The offboarding request has been received and is awaiting review.

            - `in_review`: Remote is reviewing the request for legal compliance and risks.

            - `pending_payment`: The offboarding has been approved and submitted to payroll; the employee''s final payment is being processed.

            - `completed`: The offboarding is complete and the employment has been terminated.

            '
          enum:
          - requested
          - in_review
          - pending_payment
          - completed
          type: string
        termination_date:
          description: The confirmed last day of employment. May be null until Remote finalizes the date.
          format: date
          nullable: true
          type: string
        type:
          description: 'The offboarding type.

            '
          enum:
          - termination
          - resignation
          - cancellation
          - relocation
          - transfer
          - conversion
          type: string
      required:
      - id
      - status
      - type
      - employment_id
      - inserted_at
      title: V2Offboarding
      type: object
    ListOffboardingResponse:
      description: Response schema listing many offboardings
      example:
        current_page: 1
        offboardings:
        - additional_comments: ''
          agrees_to_pto_amount: true
          employer_awareness: The employer was informed on 2023-12-12
          employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
          id: ba310525-9282-40c9-8977-14d844bf891a
          offboarding_id: 71a95754-f8f7-4763-97b4-ae20c73477a3
          proposed_last_working_day: '2023-12-20'
          requested_by: 5a31f3c1-d7a7-4311-89cb-928959d3d540
          resignation_reason: other_job_opportunity
          status: submitted
          submitted_at: '2023-04-13T13:35:06Z'
          termination_date: '2023-12-20'
          type: resignation
        total_count: 1
        total_pages: 1
      properties:
        data:
          properties:
            current_page:
              description: The current page among all of the total_pages
              type: integer
            offboardings:
              items:
                $ref: '#/components/schemas/ResignationOrTerminationOffboarding'
              type: array
            total_count:
              description: The total number of records in the result
              type: integer
            total_pages:
              description: The total number of pages the user can go through
              type: integer
          type: object
      title: ListOffboardingResponse
      type: object
    TerminationOffboarding:
      additionalProperties: false
      description: An offboarding request initiated by the employer to terminate an employment. Includes termination details, risk assessment, and status tracking through Remote's review process.
      example:
        additional_comments: additional comments regarding the termination reason
        agrees_to_pto_amount: 'true'
        confidential: false
        employee_awareness:
          date: '2023-12-12'
          note: optional text to add details
        employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
        id: ba310525-9282-40c9-8977-14d844bf891a
        offboarding_id: 71a95754-f8f7-4763-97b4-ae20c73477a3
        proposed_termination_date: '2023-12-20'
        reason_description: They had some performance issues and mismatched expectations.
        requested_by: 5a31f3c1-d7a7-4311-89cb-928959d3d540
        risk_assessment_reasons:
        - pregnant_or_breastfeeding
        - family_leave
        status: submitted
        submitted_at: '2023-04-13T13:35:06Z'
        termination_date: '2023-12-20'
        termination_reason: workforce_reduction
        type: termination
        will_challenge_termination: true
        will_challenge_termination_description: additional details for the offboarding risk assessment
      properties:
        additional_comments:
          description: Additional comments or context about the termination provided by the employer.
          nullable: true
          type: string
        agrees_to_pto_amount:
          description: Whether the employer agreed with the employee's PTO balance at the time of the termination request.
          type: boolean
        confidential:
          description: Whether this offboarding request is confidential. Confidential requests are only visible to the user who authorized the token or integration; non-confidential requests are visible to all company admins.
          type: boolean
        employee_awareness:
          description: Details about whether and when the employee was informed about their termination. Only present if the employee was informed before the offboarding request was submitted.
          properties:
            date:
              description: The date when the employee was told about the termination.
              format: date
              nullable: true
              type: string
            note:
              description: Notes about how the termination was communicated to the employee.
              nullable: true
              type: string
          type: object
        employment_id:
          description: The unique identifier (UUID) of the employment being terminated.
          type: string
        id:
          description: The unique identifier (UUID) of the offboarding request.
          type: string
        offboarding_id:
          description: 'The unique identifier (UUID) of the offboarding record. When present, this can be used

            to query `GET /api/eor/v2/offboardings/{id}` for the v2 offboarding shape.

            '
          nullable: true
          type: string
        personal_email:
          description: 'Remote will use this email address for post-termination communication.

            If it is not provided, this field will be derived from the employment record. Therefore, it is important to ensure that it is not a company email.

            '
          format: email
          type: string
        proposed_termination_date:
          description: The employer's proposed termination date. The actual termination date may differ based on local labor laws and notice period requirements.
          format: date
          type: string
        reason_description:
          description: A detailed description of the circumstances leading to the termination.
          type: string
        requested_by:
          description: The unique identifier (UUID) of the company admin who submitted the termination request.
          type: string
        risk_assessment_reasons:
          description: Reasons that may increase the legal risk of this termination (e.g., the employee is pregnant, on family leave, etc.).
          items:
            enum:
            - caring_responsibilities
            - disabled_or_health_condition
            - family_leave
            - member_of_union_or_works_council
            - none_of_these
            - pregnant_or_breastfeeding
            - reported_concerns_with_workplace
            - requested_medical_or_family_leave
            - sick_leave
            type: string
          type: array
        status:
          description: 'The current status of the offboarding request.


            - `submitted`: The request has been submitted and is awaiting review by Remote.

            - `in_review`: Remote is reviewing the request for legal compliance and risks.

            - `done`: The offboarding has been completed and the employment is terminated.

            - `canceled`: The offboarding request was canceled before completion.

            '
          enum:
          - submitted
          - in_review
          - done
          - canceled
          type: string
        submitted_at:
          description: The timestamp when the offboarding request was submitted.
          format: datetime
          type: string
        termination_date:
          description: Most updated termination date for the offboarding. This date is subject to change through the offboarding process even after it is finalized.
          format: date
          nullable: true
          type: string
        termination_reason:
          description: The reason for the termination, as submitted by the employer.
          enum:
          - cancellation_before_start_date
          - compliance_issue
          - conversion_to_contractor
          - dissatisfaction_with_remote_service
          - end_of_fixed_term_contract_compliance_issue
          - end_of_fixed_term_contract_incapacity_to_perform_inherent_duties
          - end_of_fixed_term_contract_local_regulations_max_term_reached
          - end_of_fixed_term_contract_misconduct
          - end_of_fixed_term_contract_operational_reasons
          - end_of_fixed_term_contract_other
          - end_of_fixed_term_contract_performance
          - end_of_fixed_term_contract_redundancy
          - end_of_fixed_term_contract_values
          - gross_misconduct
          - incapacity_to_perform_inherent_duties
          - job_abandonment
          - mutual_agreement
          - other
          - performance
          - values
          - workforce_reduction
          type: string
        type:
          description: The type of offboarding. Always `"termination"` for employer-initiated terminations.
          enum:
          - termination
          type: string
        will_challenge_termination:
          description: Whether the employer believes the employee is likely to challenge their termination.
          type: boolean
        will_challenge_termination_description:
          description: Additional details about why the employee may challenge the termination, if applicable.
          type: string
      required:
      - id
      - type
      - status
      - submitted_at
      - employment_id
      - requested_by
      - confidential
      - proposed_termination_date
      - termination_date
      - termination_reason
      - reason_description
      - additional_comments
      - risk_assessment_reasons
      - will_challenge_termination
      title: TerminationOffboarding
      type: object
    V2OffboardingResponse:
      additionalProperties: false
      description: Response containing a single v2 offboarding record.
      example:
        data:
          offboarding:
            confidential: false
            employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
            id: ba310525-9282-40c9-8977-14d844bf891a
            inserted_at: '2023-12-01T10:30:00Z'
            reason: performance
            request:
              additional_comments: Final paycheck to include unused PTO.
              agrees_to_pto_amount: true
              employee_awareness:
                date: '2023-11-15'
                note: Conversation held during 1:1.
              proposed_termination_date: '2024-01-15'
              reason_description: Sustained underperformance after improvement plan.
              risk_assessment_reasons:
              - none_of_these
              will_challenge_termination: false
              will_challenge_termination_description: ''
            status: pending_payment
            termination_date: '2024-01-15'
            type: termination
      properties:
        data:
          properties:
            offboarding:
              $ref: '#/components/schemas/V2Offboarding'
          type: object
      title: V2OffboardingResponse
      type: object
    V2TerminationRequest:
      additionalProperties: false
      description: 'Snapshot of the inputs submitted when a `termination` offboarding was created.

        These fields do not change as the offboarding progresses.

        '
      example:
        additional_comments: Final paycheck to include unused PTO.
        agrees_to_pto_amount: true
        employee_awareness:
          date: '2023-11-15'
          note: Conversation held during 1:1.
        proposed_termination_date: '2024-01-15'
        reason_description: Sustained underperformance after improvement plan.
        risk_assessment_reasons:
        - none_of_these
        will_challenge_termination: false
        will_challenge_termination_description: ''
      properties:
        additional_comments:
          description: Free-text additional comments submitted by the requester.
          nullable: true
          type: string
        agrees_to_pto_amount:
          description: Whether the requester agreed with the proposed PTO amount.
          nullable: true
          type: boolean
        employee_awareness:
          description: Present only when the requester indicated they have already informed the employee about the termination.
          nullable: true
          properties:
            date:
              format: date
              nullable: true
              type: string
            note:
              nullable: true
              type: string
          type: object
        proposed_termination_date:
          description: The termination date proposed by the requester.
          format: date
          nullable: true
          type: string
        reason_description:
          description: Free-text description of the termination reason submitted by the requester.
          nullable: true
          type: string
        risk_assessment_reasons:
          description: Risk-assessment flags submitted by the requester.
          items:
            type: string
          nullable: true
          type: array
        will_challenge_termination:
          description: Whether the requester expects the employee to challenge the termination.
          nullable: true
          type: boolean
        will_challenge_termination_description:
          description: Additional context the requester provided about a potential challenge.
          nullable: true
          type: string
      title: V2TerminationRequest
      type: object
    OffboardingResponse:
      additionalProperties: false
      description: Response containing a single offboarding record with full details.
      example:
        data:
          offboarding:
            additional_comments: additional comments regarding the termination reason
            agrees_to_pto_amount: 'true'
            confidential: false
            employee_awareness:
              date: '2023-12-12'
              note: optional text to add details
            employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
            id: ba310525-9282-40c9-8977-14d844bf891a
            offboarding_id: 71a95754-f8f7-4763-97b4-ae20c73477a3
            proposed_termination_date: '2023-12-20'
            reason_description: They had some performance issues and mismatched expectations.
            requested_by: 5a31f3c1-d7a7-4311-89cb-928959d3d540
            risk_assessment_reasons:
            - pregnant_or_breastfeeding
            - family_leave
            status: submitted
            submitted_at: '2023-04-13T13:35:06Z'
            termination_date: '2023-12-20'
            termination_reason: workforce_reduction
            type: termination
            will_challenge_termination: true
            will_challenge_termination_description: additional details for the offboarding risk assessment
      properties:
        data:
          $ref: '#/components/schemas/Offboarding'
      title: OffboardingResponse
      type: object
    RequestError:
      example:
        errors:
          code: request_internal_server_error
          message: There was an error while uploading a termination reason file
      properties:
        errors:
          properties:
            code:
              description: An error code that describes the nature of the error.
              type: string
            message:
              description: A developer friendly error message that gives details on what the error was and how it may be remedied.
              type: string
          required:
          - code
          - message
          type: object
      required:
      - errors
      title: RequestError
      type: object
    UnauthorizedResponse:
      description: Returned when the request does not include valid authentication credentials. Ensure you are passing a valid OAuth2 access token or API token in the Authorization header.
      example:
        message: Unauthorized
      properties:
        message:
          pattern: Unauthorized
          type: string
      required:
      - message
      title: UnauthorizedResponse
      type: object
    UnprocessableEntityResponse:
      anyOf:
      - properties:
          errors:
            type: object
        required:
        - errors
        type: object
      - properties:
          message:
            oneOf:
            - type: string
            - $ref: '#/components/schemas/ParameterError'
            - items:
                $ref: '#/components/schemas/ParameterError'
              title: ParameterErrors
              type: array
            - $ref: '#/components/schemas/ActionError'
            - items:
                $ref: '#/components/schemas/ActionError'
              title: ActionErrors
              type: array
        required:
        - message
        type: object
      example:
        errors:
          some_field:
          - is invalid
      title: UnprocessableEntityResponse
      type: object
    BadRequestResponse:
      description: Returned when the request is malformed or contains invalid parameters. The message may be a simple string or a structured object with a code and detailed message.
      example:
        message: invalid {resource}
      oneOf:
      - properties:
          message:
            description: A human-readable error message describing what was wrong with the request.
            type: string
        required:
        - message
        type: object
      - properties:
          message:
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
            - message
            type: object
        type: object
      title: BadRequestResponse
      type: object
    ActionError:
      properties:
        action:
          description: The action that lead to the error message.
          type: string
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
      required:
      - code
      - message
      - action
      title: ActionError
      type: object
    V2ListOffboardingResponse:
      description: Response schema listing many offboardings
      example:
        current_page: 1
        offboardings:
        - confidential: false
          employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
          id: ba310525-9282-40c9-8977-14d844bf891a
          inserted_at: '2023-12-01T10:30:00Z'
          reason: performance
          request:
            additional_comments: Final paycheck to include unused PTO.
            agrees_to_pto_amount: true
            employee_awareness:
              date: '2023-11-15'
              note: Conversation held during 1:1.
            proposed_termination_date: '2024-01-15'
            reason_description: Sustained underperformance after improvement plan.
            risk_assessment_reasons:
            - none_of_these
            will_challenge_termination: false
            will_challenge_termination_description: ''
          status: pending_payment
          termination_date: '2024-01-15'
          type: termination
        total_count: 1
        total_pages: 1
      properties:
        data:
          properties:
            current_page:
              description: The current page among all of the total_pages
              type: integer
            offboardings:
              items:
                $ref: '#/components/schemas/V2Offboarding'
              type: array
            total_count:
              description: The total number of records in the result
              type: integer
            total_pages:
              description: The total number of pages the user can go through
              type: integer
          type: object
      title: V2ListOffboardingResponse
      type: object
    NotFoundResponse:
      description: Returned when the requested resource does not exist or is not accessible with the current authentication credentials.
      example:
        message: '{resource} not found'
      properties:
        message:
          description: A message indicating which resource was not found.
          pattern: Not Found
          type: string
      title: NotFoundResponse
      type: object
    ResignationOffboarding:
      additionalProperties: false
      description: An offboarding request initiated by the employee (a resignation). Includes the employee's proposed last working day, reason, and status tracking through Remote's process.
      example:
        additional_comments: ''
        agrees_to_pto_amount: true
        employer_awareness: The employer was informed on 2023-12-12
        employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
        id: ba310525-9282-40c9-8977-14d844bf891a
        offboarding_id: 71a95754-f8f7-4763-97b4-ae20c73477a3
        proposed_last_working_day: '2023-12-20'
        requested_by: 5a31f3c1-d7a7-4311-89cb-928959d3d540
        resignation_reason: other_job_opportunity
        status: submitted
        submitted_at: '2023-04-13T13:35:06Z'
        termination_date: '2023-12-20'
        type: resignation
      properties:
        additional_comments:
          description: Additional comments or context about the resignation.
          nullable: true
          type: string
        agrees_to_pto_amount:
          description: Whether the employer agrees with the employee's PTO balance.
          type: boolean
        employer_awareness:
          description: A description of how and when the employer was made aware of the resignation.
          type: string
        employment_id:
          description: The unique identifier (UUID) of the employment being resigned from.
          type: string
        id:
          description: The unique identifier (UUID) of the offboarding request.
          type: string
        offboarding_id:
          description: 'The unique identifier (UUID) of the offboarding record. When present, this can be used

            to query `GET /api/eor/v2/offboardings/{id}` for the v2 offboarding shape.

            '
          nullable: true
          type: string
        proposed_last_working_day:
          description: The employee's proposed last working day. The actual last day may differ based on notice period requirements.
          format: date
          type: string
        reason_description:
          description: A detailed description of the employee's reason for resigning.
          type: string
        requested_by:
          description: The unique identifier (UUID) of the employee who submitted the resignation.
          type: string
        resignation_reason:
          description: The reason the employee gave for their resignation.
          enum:
          - cancellation_before_start_date
          - company_culture_or_values
          - conversion_to_contractor
          - conversion_to_global_payroll
          - conversion_to_peo
          - dissatisfaction_with_remote_service
          - incapacity_to_perform_inherent_duties
          - infrastructure_challenges
          - lack_of_recognition
          - leadership
          - mutual_agreement
          - other
          - other_job_opportunity
          - personal_reasons
          - position_does_not_meet_expectations
          - relationship_with_coworkers
          - relocation_from_entity_to_entity_by_employee
          - relocation_leaving_remote
          - remuneration_and_benefits
          - retirement
          - transfer_and_relocation_new_customer_and_new_country
          - transfer_between_remote_customer
          - transfer_from_remote_to_customer
          - transfer_from_remote_to_other_eor
          type: string
        status:
          description: 'The current status of the offboarding request.


            - `submitted`: The resignation has been submitted and is awaiting review.

            - `in_review`: Remote is processing the resignation.

            - `done`: The offboarding has been completed.

            - `canceled`: The resignation was withdrawn or canceled.

            '
          enum:
          - submitted
          - in_review
          - done
          - canceled
          type: string
        submitted_at:
          description: The timestamp when the resignation was submitted.
          format: datetime
          type: string
        termination_date:
          description: Most updated termination date for the offboarding. This date is subject to change through the offboarding process even after it is finalized.
          format: date
          nullable: true
          type: string
        type:
          description: The type of offboarding. Always `"resignation"` for employee-initiated resignations.
          enum:
          - resignation
          type: string
      required:
      - id
      - type
      - status
      - submitted_at
      - employment_id
      - requested_by
      - proposed_last_working_day
      - termination_date
      - resignation_reason
      title: ResignationOffboarding
      type: object
    OffboardingFile:
      example:
        content: UGVyaW9kIEVuZCBEYXRlLFBheSBEYXRlLEVtcG...5jZSBPZiBSZXNpZGVuYdXJyZW50LEFsbG93
        name: termination_letter.pdf
      properties:
        content:
          description: The content in base64 encoding
          format: binary
          type: string
        name:
          description: The file name
          type: string
      required:
      - name
      - content
      title: OffboardingFile
      type: object
    V2ResignationRequest:
      additionalProperties: false
      description: 'Snapshot of the inputs submitted when a `resignation` offboarding was created.

        These fields do not change as the offboarding progresses.

        '
      example:
        additional_comments: Happy to help with the transition.
        employer_awareness: Notified my manager last week.
        proposed_last_working_day: '2024-02-01'
        reason_description: Pursuing a new opportunity closer to home.
      properties:
        additional_comments:
          description: Free-text additional comments submitted by the employee.
          nullable: true
          type: string
        employer_awareness:
          description: Present only when the employee indicated they have already informed the employer about the resignation.
          nullable: true
          type: string
        proposed_last_working_day:
          description: The last working day proposed by the employee.
          format: date
          nullable: true
          type: string
        reason_description:
          description: Free-text description of the resignation reason submitted by the employee.
          nullable: true
          type: string
      title: V2ResignationRequest
      type: object
    V2OffboardingRequest:
      description: 'The shape depends on the originating request: offboardings that originated from a

        termination carry a `V2TerminationRequest`; those that originated from a resignation carry

        a `V2ResignationRequest`.

        '
      example:
        additional_comments: Final paycheck to include unused PTO.
        agrees_to_pto_amount: true
        employee_awareness:
          date: '2023-11-15'
          note: Conversation held during 1:1.
        proposed_termination_date: '2024-01-15'
        reason_description: Sustained underperformance after improvement plan.
        risk_assessment_reasons:
        - none_of_these
        will_challenge_termination: false
        will_challenge_termination_description: ''
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/V2TerminationRequest'
      - $ref: '#/components/schemas/V2ResignationRequest'
      title: V2OffboardingRequest
    ResignationOrTerminationOffboarding:
      additionalProperties: false
      anyOf:
      - $ref: '#/components/schemas/ResignationOffboarding'
      - $ref: '#/components/schemas/TerminationOffboarding'
      example:
        additional_comments: ''
        agrees_to_pto_amount: true
        employer_awareness: The employer was informed on 2023-12-12
        employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
        id: ba310525-9282-40c9-8977-14d844bf891a
        offboarding_id: 71a95754-f8f7-4763-97b4-ae20c73477a3
        proposed_last_working_day: '2023-12-20'
        requested_by: 5a31f3c1-d7a7-4311-89cb-928959d3d540
        resignation_reason: other_job_opportunity
        status: submitted
        submitted_at: '2023-04-13T13:35:06Z'
        termination_date: '2023-12-20'
        type: resignation
      title: ResignationOrTerminationOffboarding
      type: object
    CreateOffboardingParams:
      example:
        employment_id: 5e55386e-4f4f-4def-92f4-bdc19a5ce77d
        termination_details:
          additional_comments: additional comments regarding the termination reason
          confidential: false
          employee_awareness:
            date: '2023-12-12'
            note: optional text to add details
          proposed_termination_date: '2023-12-20'
          reason_description: termination reason
          risk_assessment_reasons:
          - pregnant_or_breastfeeding
          - family_leave
          termination_reason: workforce_reduction
          termination_reason_files:
          - content: UGVyaW9kIEVuZCBEYXRlLFBheSBEYXRlLEVtcG...5jZSBPZiBSZXNpZGVuYdXJyZW50LEFsbG93
            name: termination_letter.pdf
          will_challenge_termination: true
          will_challenge_termination_description: additional details for the offboarding risk assessment
        type: termination
      properties:
        employment_id:
          description: The unique identifier (UUID) of the employment to be terminated.
          type: string
        termination_details:
          $ref: '#/components/schemas/TerminationDetailsParams'
        type:
          description: The type of the offboarding request. For now, only `termination` is allowed.
          enum:
          - termination
          type: string
      required:
      - type
      - employment_id
      - termination_details
      title: CreateOffboardingParams
      type: object
    Offboarding:
      additionalProperties: false
      description: A wrapper containing an offboarding record, which can be either a termination (employer-initiated) or a resignation (employee-initiated).
      example:
        offboarding:
          additional_comments: additional comments regarding the termination reason
          agrees_to_pto_amount: 'true'
          confidential: false
          employee_awareness:
            date: '2023-12-12'
            note: optional text to add details
          employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
          id: ba310525-9282-40c9-8977-14d844bf891a
          offboarding_id: 71a95754-f8f7-4763-97b4-ae20c73477a3
          proposed_termination_date: '2023-12-20'
          reason_description: They had some performance issues and mismatched expectations.
          requested_by: 5a31f3c1-d7a7-4311-89cb-928959d3d540
          risk_assessment_reasons:
          - pregnant_or_breastfeeding
          - family_leave
          status: submitted
          submitted_at: '2023-04-13T13:35:06Z'
          termination_date: '2023-12-20'
          termination_reason: workforce_reduction
          type: termination
          will_challenge_termination: true
          will_challenge_termination_description: additional details for the offboarding risk assessment
      properties:
        offboarding:
          $ref: '#/components/schemas/ResignationOrTerminationOffboarding'
      title: Offboarding
      type: object
    TooManyRequestsResponse:
      description: Returned when the API rate limit has been exceeded (HTTP 429). Wait before retrying. Check the `Retry-After` response header for the recommended wait time.
      example:
        message: Too many requests
      properties:
        message:
          pattern: Too many requests
          type: string
      title: TooManyRequestsResponse
      type: object
  securitySchemes:
    BasicAuth:
      description: 'Authenticate using the basic authentication for partners.


        Use the CLIENT_ID as login and CLIENT_SECRET as password.

        '
      scheme: basic
      type: http
    ClientToken:
      description: 'Authenticate a partner using only the the provided `client_token`.


        This authentication method only allows accessing marketing endpoints.

        '
      scheme: bearer
      type: http
    CustomerAPIToken:
      description: 'Authenticate using API Key generated by the customer in their Integration Settings page.

        '
      scheme: bearer
      type: http
    OAuth2:
      description: 'Authenticate using OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2Assertion:
      description: 'Authenticate as the employee using the `urn:ietf:params:oauth:grant-type:jwt-bearer` grant in the OAuth2 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            address:read: address:read
            address:write: address:write
            bank_account:read: bank_account:read
            bank_account:write: bank_account:write
            document:read: document:read
            document:write: document:write
            emergency_contact:read: emergency_contact:read
            emergency_contact:write: emergency_contact:write
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            expense:read: expense:read
            incentive:read: incentive:read
            payroll: payroll
            payslip:read: payslip:read
            personal_detail:read: personal_detail:read
            personal_detail:write: personal_detail:write
            time_and_attendance: time_and_attendance
            timeoff:read: timeoff:read
            timeoff:write: timeoff:write
            timesheet:read: timesheet:read
          tokenUrl: /auth/oauth2/token
          x-assertionType: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
      type: oauth2
    OAuth2AuthorizationCode:
      description: 'Authenticate as the token authorizer using `authorization_code` / `refresh_token` grants in the OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          refreshUrl: /auth/oauth2/token
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2ClientCredentials:
      description: 'Authenticate using `client_credentials` grant in the OAuth 2.0 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
