openapi: 3.0.0
info:
  title: Remote Address Details Subscriptions API
  version: 0.1.0
servers:
- url: https://gateway.remote.com/
  variables: {}
- url: https://gateway.remote-sandbox.com/
  variables: {}
security:
- OAuth2: []
tags:
- name: Subscriptions
paths:
  /v1/contractors/employments/{employment_id}/contractor-subscriptions:
    get:
      callbacks: {}
      deprecated: false
      description: 'Endpoint that can be used to list contractor subscriptions.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View employments (`employment:read`) | Manage employments (`employment:write`) |

        '
      operationId: get_v1_contractors_employments_employment_id_contractor-subscriptions
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorSubscriptionSummariesResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
      summary: List contractor subscriptions
      tags:
      - Subscriptions
  /v1/contractors/cor-termination-requests:
    get:
      callbacks: {}
      deprecated: false
      description: 'Lists Contractor of Record termination requests for your company,

        optionally filtered by employment and status.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View employments (`employment:read`) | Manage employments (`employment:write`) |

        '
      operationId: get_v1_contractors_cor-termination-requests
      parameters:
      - description: Filter termination requests by employment ID.
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: query
        name: employment_id
        required: false
        schema:
          $ref: '#/components/schemas/UuidSlug'
      - description: Filter termination requests by status.
        example: initiated
        in: query
        name: status
        required: false
        schema:
          enum:
          - initiated
          - executed
          - cancelled
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexCorTerminationRequestsResponse'
          description: Success
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
      summary: List contractor of record (COR) termination requests
      tags:
      - Subscriptions
  /v1/contractors/employments/{employment_id}/cor-termination-requests:
    post:
      callbacks: {}
      deprecated: false
      description: 'Initiates a termination request for a Contractor of Record employment.

        When a termination request is sent, a stop work order is issued and the contractor remains active until a final invoice is paid or waived.

        Currently, only Contractor of Record employments can be terminated.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_contractors_employments_employment_id_cor-termination-requests
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorTerminationRequestCreatedResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Create a contractor of record (COR) termination request
      tags:
      - Subscriptions
  /v1/contractors/employments/{employment_id}/cor-termination-requests/{termination_request_id}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Retrieves a Contractor of Record termination request by ID.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View employments (`employment:read`) | Manage employments (`employment:write`) |

        '
      operationId: get_v1_contractors_employments_employment_id_cor-termination-requests_termination_request_id
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      - description: Termination Request ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: termination_request_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorTerminationRequestResponse'
          description: Success
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
      summary: Show a contractor of record (COR) termination request
      tags:
      - Subscriptions
  /v1/contractors/employments/{employment_id}/terminate-cor-employment:
    post:
      callbacks: {}
      deprecated: true
      description: '**Deprecated.** Use `POST /contractors/employments/{employment_id}/cor-termination-requests` instead.


        Initiates a termination request for a Contractor of Record employment.

        When a termination request is sent, a stop work order is issued and the contractor remains active until a final invoice is paid or waived.

        Currently, only Contractor of Record employments can be terminated.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_contractors_employments_employment_id_terminate-cor-employment
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Terminate contractor of record employment
      tags:
      - Subscriptions
  /v1/contractors/employments/{employment_id}/contractor-plus-subscription:
    post:
      callbacks: {}
      deprecated: false
      description: 'Endpoint that can be used to upgrade, assign or downgrade a contractor''s subscription.

        This can be used when company admins desire to assign someone to the Contractor Plus plan,

        but also to change the contractor''s subscription between Plus and Standard.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_contractors_employments_employment_id_contractor-plus-subscription
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManageContractorPlusSubscriptionOperationsParams'
        description: Manage Contractor Plus subscription params
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Manage contractor plus subscription
      tags:
      - Subscriptions
  /v1/contractors/employments/{employment_id}/contractor-cor-subscription:
    delete:
      callbacks: {}
      deprecated: false
      description: 'Deletes Contractor of Record subscription intent.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: delete_v1_contractors_employments_employment_id_contractor-cor-subscription
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '204':
          content:
            text/plain: {}
          description: No Content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Delete contractor of record subscription intent
      tags:
      - Subscriptions
    post:
      callbacks: {}
      deprecated: false
      description: 'Assigns Contractor of Record subscription in pending state to employment.

        Once risk analysis is performed, subscription may start upon contract signing,

        or might be denied.


        Requires a non-blocking eligibility questionnaire to be submitted before creating the subscription intent.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_contractors_employments_employment_id_contractor-cor-subscription
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Create contractor of record subscription intent
      tags:
      - Subscriptions
components:
  schemas:
    ContractorSubscriptions.Summary:
      additionalProperties: false
      example:
        company_product:
          slug: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        company_product_discount:
          expiration_date: '2021-07-01'
          percent: '-123.456'
        currency:
          code: EUR
          name: European Euro
          slug: eur-3b840951-099f-4bd5-90b9-032f7bfe51d9
          symbol: €
        eligibility_questionnaire:
          is_blocking: true
          questions:
            question_key1: This is the label of the question
            question_key2: This is another question label
          responses:
            question_key1: 'yes'
            question_key2: 'no'
          slug: fd32b683-a94a-4496-a0c4-726c088af483
          submitted_at: '2021-07-15T18:18:17'
          type: contractor_of_record
        price:
          amount: 2900
          final_amount: 2610
        product:
          description: EOR Monthly
          features:
          - Feature 1
          - Feature 2
          frequency: monthly
          name: EOR Monthly
          short_name: EOR
          tier: standard
        total_amount: 5800
        total_discount: 1000
        total_in_advance: 2800
        total_prorated: 3000
      properties:
        company_product:
          properties:
            slug:
              $ref: '#/components/schemas/UuidSlug'
          type: object
        company_product_discount:
          additionalProperties: false
          properties:
            expiration_date:
              $ref: '#/components/schemas/Date'
            percent:
              $ref: '#/components/schemas/Decimal'
          type: object
        currency:
          $ref: '#/components/schemas/Currency'
        eligibility_questionnaire:
          $ref: '#/components/schemas/EligibilityQuestionnaire'
        is_termination_fees_enabled:
          type: boolean
        price:
          properties:
            amount:
              type: integer
            final_amount:
              description: The price after applying the company discount, in cents
              type: integer
          type: object
        product:
          $ref: '#/components/schemas/Product'
        total_amount:
          format: integer
          nullable: true
          type: number
        total_discount:
          format: integer
          type: number
        total_in_advance:
          format: integer
          type: number
        total_prorated:
          format: integer
          type: number
      required:
      - company_product
      - company_product_discount
      - currency
      - price
      - product
      - total_amount
      title: ContractorSubscriptions.Summary
      type: object
    ParameterError:
      example:
        code: invalid_param
        message: Invalid parameter
        param: employment_id
      properties:
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
        param:
          description: The parameter that lead to the error message.
          type: string
      required:
      - code
      - message
      - param
      title: ParameterError
      type: object
    EligibilityQuestionnaire:
      additionalProperties: false
      example:
        is_blocking: true
        questions:
          question_key1: This is the label of the question
          question_key2: This is another question label
        responses:
          question_key1: 'yes'
          question_key2: 'no'
        slug: fd32b683-a94a-4496-a0c4-726c088af483
        submitted_at: '2021-07-15T18:18:17'
        type: contractor_of_record
      properties:
        is_blocking:
          description: Whether the questionnaire blocks further progress if failed
          type: boolean
        questions:
          description: The questions in the questionnaire
          type: object
        responses:
          description: The responses to the questionnaire
          type: object
        slug:
          $ref: '#/components/schemas/UuidSlug'
        submitted_at:
          $ref: '#/components/schemas/DateTime'
        type:
          enum:
          - contractor_of_record
          example: contractor_of_record
          nullable: false
          type: string
      required:
      - slug
      - is_blocking
      - type
      - submitted_at
      - questions
      - responses
      title: EligibilityQuestionnaire
      type: object
    Decimal:
      description: A decimal number represented as a string to preserve precision. Supports negative values and fractional digits.
      example: '-123.456'
      pattern: ^-?\d+(\.\d+)?$
      title: Decimal
      type: string
    ContractorSubscriptionSummariesResponse:
      description: Summaries of contractor subscriptions
      example:
        data:
        - company_product:
            slug: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          company_product_discount:
            expiration_date: '2021-07-01'
            percent: '-123.456'
          currency:
            code: EUR
            name: European Euro
            slug: eur-3b840951-099f-4bd5-90b9-032f7bfe51d9
            symbol: €
          eligibility_questionnaire:
            is_blocking: true
            questions:
              question_key1: This is the label of the question
              question_key2: This is another question label
            responses:
              question_key1: 'yes'
              question_key2: 'no'
            slug: fd32b683-a94a-4496-a0c4-726c088af483
            submitted_at: '2021-07-15T18:18:17'
            type: contractor_of_record
          price:
            amount: 2900
            final_amount: 2610
          product:
            description: EOR Monthly
            features:
            - Feature 1
            - Feature 2
            frequency: monthly
            name: EOR Monthly
            short_name: EOR
            tier: standard
          total_amount: 5800
          total_discount: 1000
          total_in_advance: 2800
          total_prorated: 3000
      properties:
        data:
          items:
            $ref: '#/components/schemas/ContractorSubscriptions.Summary'
          type: array
      required:
      - data
      title: ContractorSubscriptionSummariesResponse
      type: object
    Date:
      description: UTC date in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format
      example: '2021-07-01'
      format: date
      title: Date
      type: string
    IndexCorTerminationRequestsResponse:
      description: Response schema listing many termination_requests
      example:
        current_page: 1
        termination_requests:
        - cancelled_at: null
          employment_deactivation_date: '2026-04-07'
          employment_id: c0a167b8-459d-4e96-9766-7a04c160892e
          executed_at: '2026-04-07T10:00:00Z'
          id: c0a167b8-459d-4e96-9766-7a04c160892e
          initiated_at: '2026-03-16T08:00:00Z'
          status: executed
          termination_date: '2026-03-16'
        total_count: 1
        total_pages: 1
      properties:
        data:
          properties:
            current_page:
              description: The current page among all of the total_pages
              type: integer
            termination_requests:
              items:
                $ref: '#/components/schemas/CorTerminationRequest'
              type: array
            total_count:
              description: The total number of records in the result
              type: integer
            total_pages:
              description: The total number of pages the user can go through
              type: integer
          type: object
      title: IndexCorTerminationRequestsResponse
      type: object
    SuccessResponse:
      description: A generic success response returned by operations that don't produce a specific resource (e.g., updates, deletes).
      example:
        data:
          status: ok
      properties:
        data:
          properties:
            status:
              description: The result status. Always `"ok"` for successful operations.
              type: string
          type: object
      required:
      - data
      title: SuccessResponse
      type: object
    DateTime:
      description: UTC date time in YYYY-MM-DDTHH:mm:ss format
      example: '2021-07-15T18:18:17'
      format: datetime
      title: DateTime
      type: string
    UnauthorizedResponse:
      description: Returned when the request does not include valid authentication credentials. Ensure you are passing a valid OAuth2 access token or API token in the Authorization header.
      example:
        message: Unauthorized
      properties:
        message:
          pattern: Unauthorized
          type: string
      required:
      - message
      title: UnauthorizedResponse
      type: object
    UnprocessableEntityResponse:
      anyOf:
      - properties:
          errors:
            type: object
        required:
        - errors
        type: object
      - properties:
          message:
            oneOf:
            - type: string
            - $ref: '#/components/schemas/ParameterError'
            - items:
                $ref: '#/components/schemas/ParameterError'
              title: ParameterErrors
              type: array
            - $ref: '#/components/schemas/ActionError'
            - items:
                $ref: '#/components/schemas/ActionError'
              title: ActionErrors
              type: array
        required:
        - message
        type: object
      example:
        errors:
          some_field:
          - is invalid
      title: UnprocessableEntityResponse
      type: object
    BadRequestResponse:
      description: Returned when the request is malformed or contains invalid parameters. The message may be a simple string or a structured object with a code and detailed message.
      example:
        message: invalid {resource}
      oneOf:
      - properties:
          message:
            description: A human-readable error message describing what was wrong with the request.
            type: string
        required:
        - message
        type: object
      - properties:
          message:
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
            - message
            type: object
        type: object
      title: BadRequestResponse
      type: object
    CorTerminationRequestCreatedResponse:
      example:
        data:
          employment_deactivation_date: '2026-04-07'
          id: c0a167b8-459d-4e96-9766-7a04c160892e
          status: initiated
          termination_date: '2026-03-16'
      properties:
        data:
          additionalProperties: false
          properties:
            employment_deactivation_date:
              description: The date on which the contractor employment will be deactivated.
              format: date
              nullable: true
              type: string
            id:
              description: Unique identifier of the termination request.
              example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
              format: uuid
              title: UuidSlug
              type: string
            status:
              description: Current status of the termination request.
              enum:
              - initiated
              - executed
              - cancelled
              type: string
            termination_date:
              description: The date when the termination was initiated.
              format: date
              nullable: true
              type: string
          required:
          - id
          - status
          - termination_date
          - employment_deactivation_date
          type: object
      required:
      - data
      title: CorTerminationRequestCreatedResponse
      type: object
    ActionError:
      properties:
        action:
          description: The action that lead to the error message.
          type: string
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
      required:
      - code
      - message
      - action
      title: ActionError
      type: object
    Product:
      additionalProperties: false
      description: A Remote product offering (e.g., EOR, Contractor Management) with its tier and billing frequency.
      example:
        description: EOR Monthly
        features:
        - Feature 1
        - Feature 2
        frequency: monthly
        name: EOR Monthly
        short_name: EOR
        tier: standard
      properties:
        description:
          description: A description of the product.
          type: string
        features:
          description: Features included in this product tier.
          items:
            type: string
          type: array
        frequency:
          description: The billing frequency (e.g., "monthly", "annually").
          type: string
        identifier:
          description: A unique machine-readable identifier for this product.
          type: string
        name:
          description: The full product name (e.g., "EOR Monthly").
          type: string
        short_name:
          description: A short display name for the product (e.g., "EOR").
          type: string
        tier:
          description: The product tier (e.g., "standard", "premium").
          type: string
      required:
      - name
      - tier
      - frequency
      title: Product
      type: object
    ForbiddenResponse:
      description: Returned when the authenticated user or token does not have permission to perform the requested action. Check that the token has the required OAuth2 scopes and that the user has the necessary role.
      example:
        message: Forbidden
      properties:
        message:
          pattern: Forbidden
          type: string
      required:
      - message
      title: ForbiddenResponse
      type: object
    NotFoundResponse:
      description: Returned when the requested resource does not exist or is not accessible with the current authentication credentials.
      example:
        message: '{resource} not found'
      properties:
        message:
          description: A message indicating which resource was not found.
          pattern: Not Found
          type: string
      title: NotFoundResponse
      type: object
    CorTerminationRequestResponse:
      example:
        data:
          cancelled_at: null
          employment_deactivation_date: '2026-04-07'
          employment_id: c0a167b8-459d-4e96-9766-7a04c160892e
          executed_at: '2026-04-07T10:00:00Z'
          id: c0a167b8-459d-4e96-9766-7a04c160892e
          initiated_at: '2026-03-16T08:00:00Z'
          status: executed
          termination_date: '2026-03-16'
      properties:
        data:
          $ref: '#/components/schemas/CorTerminationRequest'
      required:
      - data
      title: CorTerminationRequestResponse
      type: object
    UuidSlug:
      description: Identifier of the employment being terminated.
      example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
      format: uuid
      title: UuidSlug
      type: string
    ManageContractorPlusSubscriptionOperationsParams:
      additionalProperties: false
      description: 'Defines the operation that must be executed: upgrade or downgrade'
      example:
        operation: upgrade
      properties:
        operation:
          enum:
          - upgrade
          - downgrade
          type: string
      required:
      - operation
      title: ManageContractorPlusSubscriptionOperationsParams
      type: object
    Currency:
      description: The type of money in general use in a particular country
      example:
        code: EUR
        name: European Euro
        slug: eur-3b840951-099f-4bd5-90b9-032f7bfe51d9
        symbol: €
      properties:
        code:
          type: string
        name:
          type: string
        slug:
          type: string
        symbol:
          type: string
      required:
      - code
      - slug
      - symbol
      title: Currency
      type: object
    CorTerminationRequest:
      additionalProperties: false
      example:
        cancelled_at: null
        employment_deactivation_date: '2026-04-07'
        employment_id: c0a167b8-459d-4e96-9766-7a04c160892e
        executed_at: '2026-04-07T10:00:00Z'
        id: c0a167b8-459d-4e96-9766-7a04c160892e
        initiated_at: '2026-03-16T08:00:00Z'
        status: executed
        termination_date: '2026-03-16'
      properties:
        cancelled_at:
          description: Timestamp of when the termination was cancelled. Null if not cancelled.
          format: date-time
          nullable: true
          type: string
        employment_deactivation_date:
          description: The date on which the contractor employment will be deactivated.
          format: date
          nullable: true
          type: string
        employment_id:
          description: Identifier of the employment being terminated.
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          format: uuid
          title: UuidSlug
          type: string
        executed_at:
          description: Timestamp of when the termination was executed. Null if not yet executed.
          format: date-time
          nullable: true
          type: string
        id:
          description: Unique identifier of the termination request.
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          format: uuid
          title: UuidSlug
          type: string
        initiated_at:
          description: Timestamp of when the termination request was initiated.
          format: date-time
          nullable: true
          type: string
        status:
          description: Current status of the termination request.
          enum:
          - initiated
          - executed
          - cancelled
          type: string
        termination_date:
          description: The date when the termination was initiated.
          format: date
          nullable: true
          type: string
      required:
      - id
      - employment_id
      - status
      - initiated_at
      - termination_date
      - employment_deactivation_date
      - executed_at
      - cancelled_at
      title: CorTerminationRequest
      type: object
  securitySchemes:
    BasicAuth:
      description: 'Authenticate using the basic authentication for partners.


        Use the CLIENT_ID as login and CLIENT_SECRET as password.

        '
      scheme: basic
      type: http
    ClientToken:
      description: 'Authenticate a partner using only the the provided `client_token`.


        This authentication method only allows accessing marketing endpoints.

        '
      scheme: bearer
      type: http
    CustomerAPIToken:
      description: 'Authenticate using API Key generated by the customer in their Integration Settings page.

        '
      scheme: bearer
      type: http
    OAuth2:
      description: 'Authenticate using OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2Assertion:
      description: 'Authenticate as the employee using the `urn:ietf:params:oauth:grant-type:jwt-bearer` grant in the OAuth2 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            address:read: address:read
            address:write: address:write
            bank_account:read: bank_account:read
            bank_account:write: bank_account:write
            document:read: document:read
            document:write: document:write
            emergency_contact:read: emergency_contact:read
            emergency_contact:write: emergency_contact:write
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            expense:read: expense:read
            incentive:read: incentive:read
            payroll: payroll
            payslip:read: payslip:read
            personal_detail:read: personal_detail:read
            personal_detail:write: personal_detail:write
            time_and_attendance: time_and_attendance
            timeoff:read: timeoff:read
            timeoff:write: timeoff:write
            timesheet:read: timesheet:read
          tokenUrl: /auth/oauth2/token
          x-assertionType: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
      type: oauth2
    OAuth2AuthorizationCode:
      description: 'Authenticate as the token authorizer using `authorization_code` / `refresh_token` grants in the OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          refreshUrl: /auth/oauth2/token
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2ClientCredentials:
      description: 'Authenticate using `client_credentials` grant in the OAuth 2.0 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
