openapi: 3.0.0
info:
  title: Remote Address Details Contractors API
  version: 0.1.0
servers:
- url: https://gateway.remote.com/
  variables: {}
- url: https://gateway.remote-sandbox.com/
  variables: {}
security:
- OAuth2: []
tags:
- name: Contractors
paths:
  /v1/contractor-invoices/{id}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Shows a single Contractor Invoice record.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage invoices (`invoices`) | View invoices (`invoices:read`) | Manage invoices (`invoices:write`) |

        '
      operationId: get_v1_contractor-invoices_id
      parameters:
      - description: Resource unique identifier
        example: 2ba34003-78d5-4792-9240-998d473184ce
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UuidSlug'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorInvoiceResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - invoices:read
        - invoices:write
        - invoices
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - invoices:read
        - invoices:write
        - invoices
        - all:write
        - all:read
      summary: Show Contractor Invoice
      tags:
      - Contractors
  /v1/contractor-invoices:
    get:
      callbacks: {}
      deprecated: false
      description: 'Lists Contractor Invoice records.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage invoices (`invoices`) | View invoices (`invoices:read`) | Manage invoices (`invoices:write`) |

        '
      operationId: get_v1_contractor-invoices
      parameters:
      - description: Filters contractor invoices by status matching the value.
        example: issued
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/ContractorInvoiceStatus'
      - description: Filters contractor invoices by invoice schedule ID matching the value.
        example: d3745787-1b2b-424c-ab83-cdda8b5cea37
        in: query
        name: contractor_invoice_schedule_id
        required: false
        schema:
          $ref: '#/components/schemas/UuidSlug'
      - description: Filters contractor invoices by date greater than or equal to the value.
        example: '2021-01-01'
        in: query
        name: date_from
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Filters contractor invoices by date less than or equal to the value.
        example: '2021-01-01'
        in: query
        name: date_to
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Filters contractor invoices by due date greater than or equal to the value.
        example: '2021-01-01'
        in: query
        name: due_date_from
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Filters contractor invoices by due date less than or equal to the value.
        example: '2021-01-01'
        in: query
        name: due_date_to
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Filters contractor invoices by approved date greater than or equal to the value.
        example: '2021-01-01'
        in: query
        name: approved_date_from
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Filters contractor invoices by approved date less than or equal to the value.
        example: '2021-01-01'
        in: query
        name: approved_date_to
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Filters contractor invoices by paid out date greater than or equal to the value.
        example: '2021-01-01'
        in: query
        name: paid_out_date_from
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Filters contractor invoices by paid out date less than or equal to the value.
        example: '2021-01-01'
        in: query
        name: paid_out_date_to
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Field to sort by
        example: date
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - date
          - due_date
          - approved_at
          - paid_out_at
          type: string
      - description: Sort order
        example: asc
        in: query
        name: order
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContractorInvoicesResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - invoices:read
        - invoices:write
        - invoices
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - invoices:read
        - invoices:write
        - invoices
        - all:write
        - all:read
      summary: List Contractor Invoices
      tags:
      - Contractors
  /v1/contractors/employments/{employment_id}/contractor-subscriptions:
    get:
      callbacks: {}
      deprecated: false
      description: 'Endpoint that can be used to list contractor subscriptions.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View employments (`employment:read`) | Manage employments (`employment:write`) |

        '
      operationId: get_v1_contractors_employments_employment_id_contractor-subscriptions
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorSubscriptionSummariesResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
      summary: List contractor subscriptions
      tags:
      - Contractors
  /v1/contractors/cor-termination-requests:
    get:
      callbacks: {}
      deprecated: false
      description: 'Lists Contractor of Record termination requests for your company,

        optionally filtered by employment and status.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View employments (`employment:read`) | Manage employments (`employment:write`) |

        '
      operationId: get_v1_contractors_cor-termination-requests
      parameters:
      - description: Filter termination requests by employment ID.
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: query
        name: employment_id
        required: false
        schema:
          $ref: '#/components/schemas/UuidSlug'
      - description: Filter termination requests by status.
        example: initiated
        in: query
        name: status
        required: false
        schema:
          enum:
          - initiated
          - executed
          - cancelled
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexCorTerminationRequestsResponse'
          description: Success
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
      summary: List contractor of record (COR) termination requests
      tags:
      - Contractors
  /v1/contractors/employments/{employment_id}/contract-documents/{id}:
    get:
      callbacks: {}
      deprecated: false
      description: '## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | View documents (`document:read`) | Manage documents (`document:write`) |

        '
      operationId: get_v1_contractors_employments_employment_id_contract-documents_id
      parameters:
      - description: Employment ID
        example: 93t3j-file-id-9suej43
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      - description: Document ID
        example: 93t3j-file-id-9suej43
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDocumentResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - document:read
        - document:write
        - employment_documents
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - document:read
        - document:write
        - employment_documents
        - all:write
        - all:read
      summary: Return a base64 encoded version of the contract document
      tags:
      - Contractors
  /v1/contractors/employments/{employment_id}/contractor-currencies:
    get:
      callbacks: {}
      deprecated: false
      description: 'The currencies are listed in the following order:

        1. billing currency of the company

        2. currencies of contractor’s existing withdrawal methods

        3. currency of the contractor’s country

        4. the rest, alphabetical.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View employments (`employment:read`) | Manage employments (`employment:write`) |

        '
      operationId: get_v1_contractors_employments_employment_id_contractor-currencies
      parameters:
      - description: Employment ID
        example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      - description: 'Restrict to currencies which payout is guaranteed (default: true)'
        example: false
        in: query
        name: restrict_to_guaranteed_pay_out_currencies
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorCurrencyResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal Server Error
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
      summary: List all currencies for the contractor
      tags:
      - Contractors
  /v1/contractors/employments/{employment_id}/cor-termination-requests:
    post:
      callbacks: {}
      deprecated: false
      description: 'Initiates a termination request for a Contractor of Record employment.

        When a termination request is sent, a stop work order is issued and the contractor remains active until a final invoice is paid or waived.

        Currently, only Contractor of Record employments can be terminated.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_contractors_employments_employment_id_cor-termination-requests
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorTerminationRequestCreatedResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Create a contractor of record (COR) termination request
      tags:
      - Contractors
  /v1/contractor-invoice-schedules/{id}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Shows a single Contractor Invoice Schedule record


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage invoices (`invoices`) | View invoices (`invoices:read`) | Manage invoices (`invoices:write`) |

        '
      operationId: get_v1_contractor-invoice-schedules_id
      parameters:
      - description: Resource unique identifier
        example: a6ef7b64-5c02-4ce2-a8c8-e17a99724365
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UuidSlug'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorInvoiceScheduleResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - invoices:read
        - invoices:write
        - invoices
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - invoices:read
        - invoices:write
        - invoices
        - all:write
        - all:read
      summary: Show Contractor Invoice Schedule
      tags:
      - Contractors
    patch:
      callbacks: {}
      deprecated: false
      description: 'Updates a contractor invoice schedule record


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage invoices (`invoices`) | - | Manage invoices (`invoices:write`) |

        '
      operationId: patch_v1_contractor-invoice-schedules_id (2)
      parameters:
      - description: Resource unique identifier
        example: b3e8b42c-830a-48e5-abb7-39fdbae2a9fe
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UuidSlug'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScheduleContractorInvoiceParams'
        description: Update parameters
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorInvoiceScheduleResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - invoices:write
        - invoices
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - invoices:write
        - invoices
        - all:write
      summary: Updates Contractor Invoice Schedule
      tags:
      - Contractors
    put:
      callbacks: {}
      deprecated: false
      description: 'Updates a contractor invoice schedule record


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage invoices (`invoices`) | - | Manage invoices (`invoices:write`) |

        '
      operationId: patch_v1_contractor-invoice-schedules_id
      parameters:
      - description: Resource unique identifier
        example: 5a10e9c3-97c9-4f8a-88f3-274842726d32
        in: path
        name: id
        required: true
        schema:
          $ref: '#/components/schemas/UuidSlug'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateScheduleContractorInvoiceParams'
        description: Update parameters
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractorInvoiceScheduleResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - invoices:write
        - invoices
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - invoices:write
        - invoices
        - all:write
      summary: Updates Contractor Invoice Schedule
      tags:
      - Contractors
  /v1/contractors/eligibility-questionnaire:
    post:
      callbacks: {}
      deprecated: false
      description: 'Submits an eligibility questionnaire for a contractor employment.


        The questionnaire determines if the contractor is eligible for certain products or features.

        The responses are validated against the JSON schema for the questionnaire type.


        **Requirements:**

        - Employment must be of type `contractor`

        - Employment must be in `created` status

        - Responses must conform to the questionnaire JSON schema



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_contractors_eligibility-questionnaire
      parameters:
      - description: Version of the form schema
        example: 1
        in: query
        name: json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitEligibilityQuestionnaireRequest'
        description: Eligibility questionnaire submission
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EligibilityQuestionnaireResponse'
          description: Questionnaire submitted successfully
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictErrorResponse'
          description: Conflict
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Submit eligibility questionnaire
      tags:
      - Contractors
  /v1/contractors/employments/{employment_id}/contract-documents:
    post:
      callbacks: {}
      deprecated: false
      description: 'Create a contract document for a contractor.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | - | Manage documents (`document:write`) |

        '
      operationId: post_v1_contractors_employments_employment_id_contract-documents
      parameters:
      - description: Employment ID
        example: 1a716003-ae89-4810-aa00-25df6e799162
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractDocument'
        description: CreateContractDocumentParams
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContractDocumentResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - document:write
        - employment_documents
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - document:write
        - employment_documents
        - all:write
      summary: Create a contract document for a contractor
      tags:
      - Contractors
  /v1/contractors/employments/{employment_id}/cor-termination-requests/{termination_request_id}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Retrieves a Contractor of Record termination request by ID.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View employments (`employment:read`) | Manage employments (`employment:write`) |

        '
      operationId: get_v1_contractors_employments_employment_id_cor-termination-requests_termination_request_id
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      - description: Termination Request ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: termination_request_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorTerminationRequestResponse'
          description: Success
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
      summary: Show a contractor of record (COR) termination request
      tags:
      - Contractors
  /v1/contractors/employments/{employment_id}/terminate-cor-employment:
    post:
      callbacks: {}
      deprecated: true
      description: '**Deprecated.** Use `POST /contractors/employments/{employment_id}/cor-termination-requests` instead.


        Initiates a termination request for a Contractor of Record employment.

        When a termination request is sent, a stop work order is issued and the contractor remains active until a final invoice is paid or waived.

        Currently, only Contractor of Record employments can be terminated.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_contractors_employments_employment_id_terminate-cor-employment
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Terminate contractor of record employment
      tags:
      - Contractors
  /v1/contractors/employments/{employment_id}/contract-documents/{contract_document_id}/sign:
    post:
      callbacks: {}
      deprecated: false
      description: '## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | - | Manage documents (`document:write`) |

        '
      operationId: post_v1_contractors_employments_employment_id_contract-documents_contract_document_id_sign
      parameters:
      - description: Employment ID
        example: 93t3j-file-id-9suej43
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      - description: Document ID
        example: 93t3j-file-id-9suej43
        in: path
        name: contract_document_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignContractDocument'
        description: SignContractDocument
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - document:write
        - employment_documents
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - document:write
        - employment_documents
        - all:write
      summary: Sign a document for a contractor
      tags:
      - Contractors
  /v1/contractors/schemas/eligibility-questionnaire:
    get:
      callbacks: {}
      deprecated: false
      description: 'Returns the JSON schema for the eligibility questionnaire by type.


        The schema defines the structure and validation rules for the questionnaire responses.

        Supports versioning to allow for schema evolution while maintaining backwards compatibility.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View employments (`employment:read`) | Manage employments (`employment:write`) |

        '
      operationId: get_v1_contractors_schemas_eligibility-questionnaire
      parameters:
      - description: Type of eligibility questionnaire
        example: contractor_of_record
        in: query
        name: type
        required: true
        schema:
          enum:
          - contractor_of_record
          example: contractor_of_record
          nullable: false
          type: string
      - description: Version of the form schema
        example: 1
        in: query
        name: json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EligibilityQuestionnaireJSONSchemaResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:read
        - employment:write
        - employments
        - all:write
        - all:read
      summary: Get eligibility questionnaire schema
      tags:
      - Contractors
  /v1/contractors/employments/{employment_id}/contractor-plus-subscription:
    post:
      callbacks: {}
      deprecated: false
      description: 'Endpoint that can be used to upgrade, assign or downgrade a contractor''s subscription.

        This can be used when company admins desire to assign someone to the Contractor Plus plan,

        but also to change the contractor''s subscription between Plus and Standard.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_contractors_employments_employment_id_contractor-plus-subscription
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManageContractorPlusSubscriptionOperationsParams'
        description: Manage Contractor Plus subscription params
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Manage contractor plus subscription
      tags:
      - Contractors
  /v1/contractors/employments/{employment_id}/contractor-cor-subscription:
    delete:
      callbacks: {}
      deprecated: false
      description: 'Deletes Contractor of Record subscription intent.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: delete_v1_contractors_employments_employment_id_contractor-cor-subscription
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '204':
          content:
            text/plain: {}
          description: No Content
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Delete contractor of record subscription intent
      tags:
      - Contractors
    post:
      callbacks: {}
      deprecated: false
      description: 'Assigns Contractor of Record subscription in pending state to employment.

        Once risk analysis is performed, subscription may start upon contract signing,

        or might be denied.


        Requires a non-blocking eligibility questionnaire to be submitted before creating the subscription intent.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage employments (`employment:write`) |

        '
      operationId: post_v1_contractors_employments_employment_id_contractor-cor-subscription
      parameters:
      - description: Employment ID
        example: c0a167b8-459d-4e96-9766-7a04c160892e
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Created
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - employment:write
        - employments
        - all:write
      summary: Create contractor of record subscription intent
      tags:
      - Contractors
  /v1/contractor-invoice-schedules:
    get:
      callbacks: {}
      deprecated: false
      description: 'Lists Contractor Invoice Schedule records.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage invoices (`invoices`) | - | Manage invoices (`invoices:write`) |

        '
      operationId: get_v1_contractor-invoice-schedules
      parameters:
      - description: Filters contractor invoice schedules by start date greater than or equal to the value.
        example: '2021-01-01'
        in: query
        name: start_date_from
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Filters contractor invoice schedules by start date less than or equal to the value.
        example: '2021-12-31'
        in: query
        name: start_date_to
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Filters contractor invoice schedules by next invoice date greater than or equal to the value.
        example: '2021-01-01'
        in: query
        name: next_invoice_date_from
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Filters contractor invoice schedules by next invoice date less than or equal to the value.
        example: '2021-12-31'
        in: query
        name: next_invoice_date_to
        required: false
        schema:
          $ref: '#/components/schemas/Date'
      - description: Filters contractor invoice schedules by status matching the value.
        example: active
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/ContractorInvoiceScheduleStatus'
      - description: Filters contractor invoice schedules by employment id matching the value.
        example: 25a1b787-cc49-4b30-852e-907ebc7a6b3b
        in: query
        name: employment_id
        required: false
        schema:
          $ref: '#/components/schemas/UuidSlug'
      - description: Filters contractor invoice schedules by periodicity matching the value.
        example: monthly
        in: query
        name: periodicity
        required: false
        schema:
          $ref: '#/components/schemas/ContractorInvoiceSchedulePeriodicity'
      - description: Filters contractor invoice schedules by currency matching the value.
        example: USD
        in: query
        name: currency
        required: false
        schema:
          type: string
      - description: Field to sort by
        example: number
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - number
          - total_amount
          - next_invoice_at
          - start_date
          - nr_occurrences
          type: string
      - description: Sort order
        example: asc
        in: query
        name: order
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContractorInvoiceSchedulesResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - invoices:write
        - invoices
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - invoices:write
        - invoices
        - all:write
      summary: List Contractor Invoice Schedules
      tags:
      - Contractors
    post:
      callbacks: {}
      deprecated: false
      description: 'Creates many invoice schedules records.

        It''s supposed to return two lists: one containing created records, and another one containing the schedules that failed to be inserted.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage invoices (`invoices`) | - | Manage invoices (`invoices:write`) |

        '
      operationId: post_v1_contractor-invoice-schedules
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkContractorInvoiceScheduleCreateParams'
        description: Bulk creation payload
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                additionalProperties: false
                description: Response containing the lists of succeeded and failed schedules.
                example:
                  data:
                    failures: []
                    successes:
                    - currency: BRL
                      employment_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
                      id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
                      items:
                      - amount: 5000
                        description: Description
                      note: A note to make it clear why schedule is needed.
                      nr_occurrences: 10
                      number: CIS0001
                      periodicity: monthly
                      start_date: '2024-06-01'
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      failures:
                        items:
                          $ref: '#/components/schemas/ContractorInvoiceScheduleCreateResponseFailure'
                        type: array
                      successes:
                        items:
                          $ref: '#/components/schemas/ContractorInvoiceScheduleCreateResponseSuccess'
                        type: array
                    required:
                    - successes
                    - failures
                    type: object
                required:
                - data
                title: BulkContractorInvoiceScheduleCreateResponse
                type: object
          description: All entries have been created
        '207':
          content:
            application/json:
              schema:
                additionalProperties: false
                description: Response containing the lists of succeeded and failed schedules.
                example:
                  data:
                    failures:
                    - currency: USD
                      employment_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
                      errors:
                        employment_id:
                        - not found
                      items:
                      - amount: 5000
                        description: Description
                      note: Contractor payment schedules.
                      nr_occurrences: 15
                      number: XYZ0001
                      periodicity: bi_weekly
                      start_date: '2024-06-01'
                    successes:
                    - currency: BRL
                      employment_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
                      id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
                      items:
                      - amount: 5000
                        description: Description
                      note: A note to make it clear why schedule is needed.
                      nr_occurrences: 10
                      number: CIS0001
                      periodicity: monthly
                      start_date: '2024-06-01'
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      failures:
                        items:
                          $ref: '#/components/schemas/ContractorInvoiceScheduleCreateResponseFailure'
                        type: array
                      successes:
                        items:
                          $ref: '#/components/schemas/ContractorInvoiceScheduleCreateResponseSuccess'
                        type: array
                    required:
                    - successes
                    - failures
                    type: object
                required:
                - data
                title: BulkContractorInvoiceScheduleCreateResponse
                type: object
          description: Multiple successes and failures
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                additionalProperties: false
                description: Response containing the lists of succeeded and failed schedules.
                example:
                  data:
                    failures:
                    - currency: USD
                      employment_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
                      errors:
                        employment_id:
                        - not found
                      items:
                      - amount: 5000
                        description: Description
                      note: Contractor payment schedules.
                      nr_occurrences: 15
                      number: XYZ0001
                      periodicity: bi_weekly
                      start_date: '2024-06-01'
                    successes: []
                properties:
                  data:
                    additionalProperties: false
                    properties:
                      failures:
                        items:
                          $ref: '#/components/schemas/ContractorInvoiceScheduleCreateResponseFailure'
                        type: array
                      successes:
                        items:
                          $ref: '#/components/schemas/ContractorInvoiceScheduleCreateResponseSuccess'
                        type: array
                    required:
                    - successes
                    - failures
                    type: object
                required:
                - data
                title: BulkContractorInvoiceScheduleCreateResponse
                type: object
          description: All entries had failed
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - invoices:write
        - invoices
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - invoices:write
        - invoices
        - all:write
      summary: Create Contractor Invoice Schedules
      tags:
      - Contractors
components:
  schemas:
    ContractorSubscriptions.Summary:
      additionalProperties: false
      example:
        company_product:
          slug: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        company_product_discount:
          expiration_date: '2021-07-01'
          percent: '-123.456'
        currency:
          code: EUR
          name: European Euro
          slug: eur-3b840951-099f-4bd5-90b9-032f7bfe51d9
          symbol: €
        eligibility_questionnaire:
          is_blocking: true
          questions:
            question_key1: This is the label of the question
            question_key2: This is another question label
          responses:
            question_key1: 'yes'
            question_key2: 'no'
          slug: fd32b683-a94a-4496-a0c4-726c088af483
          submitted_at: '2021-07-15T18:18:17'
          type: contractor_of_record
        price:
          amount: 2900
          final_amount: 2610
        product:
          description: EOR Monthly
          features:
          - Feature 1
          - Feature 2
          frequency: monthly
          name: EOR Monthly
          short_name: EOR
          tier: standard
        total_amount: 5800
        total_discount: 1000
        total_in_advance: 2800
        total_prorated: 3000
      properties:
        company_product:
          properties:
            slug:
              $ref: '#/components/schemas/UuidSlug'
          type: object
        company_product_discount:
          additionalProperties: false
          properties:
            expiration_date:
              $ref: '#/components/schemas/Date'
            percent:
              $ref: '#/components/schemas/Decimal'
          type: object
        currency:
          $ref: '#/components/schemas/Currency'
        eligibility_questionnaire:
          $ref: '#/components/schemas/EligibilityQuestionnaire'
        is_termination_fees_enabled:
          type: boolean
        price:
          properties:
            amount:
              type: integer
            final_amount:
              description: The price after applying the company discount, in cents
              type: integer
          type: object
        product:
          $ref: '#/components/schemas/Product'
        total_amount:
          format: integer
          nullable: true
          type: number
        total_discount:
          format: integer
          type: number
        total_in_advance:
          format: integer
          type: number
        total_prorated:
          format: integer
          type: number
      required:
      - company_product
      - company_product_discount
      - currency
      - price
      - product
      - total_amount
      title: ContractorSubscriptions.Summary
      type: object
    SignContractDocument:
      description: SignContractDocument schema
      example:
        signature: Don Van Vliet
      properties:
        signature:
          description: The signer's full legal name as their electronic signature.
          type: string
      required:
      - signature
      title: SignContractDocument
      type: object
    ParameterError:
      example:
        code: invalid_param
        message: Invalid parameter
        param: employment_id
      properties:
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
        param:
          description: The parameter that lead to the error message.
          type: string
      required:
      - code
      - message
      - param
      title: ParameterError
      type: object
    ContractorInvoiceItemType:
      description: 'Current types.


        - `manual`: Item manually entered when creating invoice.

        - `time_tracking`: Item generated by time tracking.

        - `expense`: Item that represents an expense included in the invoice.

        '
      enum:
      - manual
      - time_tracking
      - expense
      example: manual
      nullable: false
      title: ContractorInvoiceItemType
      type: string
    ValidationError:
      example:
        errors:
          rejected_reason:
          - can't be blank
      properties:
        errors:
          additionalProperties: true
          properties: {}
          type: object
      required:
      - errors
      title: ValidationError
      type: object
    EligibilityQuestionnaire:
      additionalProperties: false
      example:
        is_blocking: true
        questions:
          question_key1: This is the label of the question
          question_key2: This is another question label
        responses:
          question_key1: 'yes'
          question_key2: 'no'
        slug: fd32b683-a94a-4496-a0c4-726c088af483
        submitted_at: '2021-07-15T18:18:17'
        type: contractor_of_record
      properties:
        is_blocking:
          description: Whether the questionnaire blocks further progress if failed
          type: boolean
        questions:
          description: The questions in the questionnaire
          type: object
        responses:
          description: The responses to the questionnaire
          type: object
        slug:
          $ref: '#/components/schemas/UuidSlug'
        submitted_at:
          $ref: '#/components/schemas/DateTime'
        type:
          enum:
          - contractor_of_record
          example: contractor_of_record
          nullable: false
          type: string
      required:
      - slug
      - is_blocking
      - type
      - submitted_at
      - questions
      - responses
      title: EligibilityQuestionnaire
      type: object
    EligibilityQuestionnaireResponse:
      additionalProperties: false
      example:
        data:
          is_blocking: true
          questions:
            question_key1: This is the label of the question
            question_key2: This is another question label
          responses:
            question_key1: 'yes'
            question_key2: 'no'
          slug: fd32b683-a94a-4496-a0c4-726c088af483
          submitted_at: '2021-07-15T18:18:17'
          type: contractor_of_record
      properties:
        data:
          $ref: '#/components/schemas/EligibilityQuestionnaire'
      required:
      - data
      title: EligibilityQuestionnaireResponse
      type: object
    CreateContractDocument:
      description: Parameters for creating a contract document
      example:
        contract_document: {}
        skip_ai_checks: false
      properties:
        contract_document:
          description: '  Contract document parameters. Its properties may vary depending on the country.

            '
          type: object
        skip_ai_checks:
          description: When true, skips AI-based compliance checks (e.g. services and deliverables classification). Defaults to false.
          type: boolean
      required:
      - contract_document
      title: CreateContractDocument
      type: object
    Decimal:
      description: A decimal number represented as a string to preserve precision. Supports negative values and fractional digits.
      example: '-123.456'
      pattern: ^-?\d+(\.\d+)?$
      title: Decimal
      type: string
    ContractorSubscriptionSummariesResponse:
      description: Summaries of contractor subscriptions
      example:
        data:
        - company_product:
            slug: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          company_product_discount:
            expiration_date: '2021-07-01'
            percent: '-123.456'
          currency:
            code: EUR
            name: European Euro
            slug: eur-3b840951-099f-4bd5-90b9-032f7bfe51d9
            symbol: €
          eligibility_questionnaire:
            is_blocking: true
            questions:
              question_key1: This is the label of the question
              question_key2: This is another question label
            responses:
              question_key1: 'yes'
              question_key2: 'no'
            slug: fd32b683-a94a-4496-a0c4-726c088af483
            submitted_at: '2021-07-15T18:18:17'
            type: contractor_of_record
          price:
            amount: 2900
            final_amount: 2610
          product:
            description: EOR Monthly
            features:
            - Feature 1
            - Feature 2
            frequency: monthly
            name: EOR Monthly
            short_name: EOR
            tier: standard
          total_amount: 5800
          total_discount: 1000
          total_in_advance: 2800
          total_prorated: 3000
      properties:
        data:
          items:
            $ref: '#/components/schemas/ContractorSubscriptions.Summary'
          type: array
      required:
      - data
      title: ContractorSubscriptionSummariesResponse
      type: object
    Date:
      description: UTC date in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format
      example: '2021-07-01'
      format: date
      title: Date
      type: string
    IndexCorTerminationRequestsResponse:
      description: Response schema listing many termination_requests
      example:
        current_page: 1
        termination_requests:
        - cancelled_at: null
          employment_deactivation_date: '2026-04-07'
          employment_id: c0a167b8-459d-4e96-9766-7a04c160892e
          executed_at: '2026-04-07T10:00:00Z'
          id: c0a167b8-459d-4e96-9766-7a04c160892e
          initiated_at: '2026-03-16T08:00:00Z'
          status: executed
          termination_date: '2026-03-16'
        total_count: 1
        total_pages: 1
      properties:
        data:
          properties:
            current_page:
              description: The current page among all of the total_pages
              type: integer
            termination_requests:
              items:
                $ref: '#/components/schemas/CorTerminationRequest'
              type: array
            total_count:
              description: The total number of records in the result
              type: integer
            total_pages:
              description: The total number of pages the user can go through
              type: integer
          type: object
      title: IndexCorTerminationRequestsResponse
      type: object
    ContractDocument:
      additionalProperties: false
      description: A contract document for a contractor employment, tracking its signing status.
      example:
        id: 0073fcb5-b669-4e4a-b963-2a47744e75a1
        status: draft
      properties:
        id:
          description: The unique identifier (UUID) of the contract document.
          type: string
        status:
          $ref: '#/components/schemas/ContractorContractDocumentStatus'
      required:
      - id
      - status
      title: ContractDocument
      type: object
    ContractorInvoiceStatus:
      description: 'Current record state.


        - `enqueued`: An outstanding payment is enqueued to complete the invoice payment.

        - `externally_paid`: The invoice was paid outside the platform and the employer reported that the contractor was paid.

        - `issued`: This invoice has been uploaded by the contractor.

        - `in_review`: This invoice has been uploaded by the contractor and is in the process of review by Remote. This is only expected for Contractor of Record invoices.

        - `paid_out`: This invoice has been paid out to contractor. This is the final expected stage of a contractor invoice.

        - `pay_out_failed`: There were issues paying out to the contractor. This is usually caused by a balance issue, an issue with the contractor''s bank account, or another type error that comes from payment partner.

        - `pending_payment`: An outstanding payment has been created for this invoice and is awaiting the company payment before payout begins.

        - `processing`: The invoice is being processed for pay out. This status should only exist for a few seconds.

        - `rejected`: This invoice has been rejected by the the company or Remote support team, when requested by customers. It cannot be rejected if it''s already paid.

        - `rejected_by_remote`: This invoice has been rejected by Remote during the Contractor of Record approval process.

        - `funds_returned`: A pay out was successfully attempted for the invoice, but the funds were rejected by the contractor''s bank, either due to incorrect details or some other reason.

        - `manual_payout`: The invoice is not supported by our automated systems and must instead be manually paid by internal Remote teams.

        - `blocked`: The invoice is marked as blocked. It will not be paid out.

        '
      enum:
      - issued
      - draft
      - approved
      - pending_payment
      - in_review
      - externally_paid
      - rejected
      - rejected_by_remote
      - blocked
      - compliance_review
      - compliance_failed
      - pay_out_scheduled
      - enqueued
      - processing
      - manual_payout
      - paid_out
      - pay_out_failed
      - funds_returned
      example: issued
      nullable: false
      title: ContractorInvoiceStatus
      type: string
    ContractorInvoiceSchedule:
      additionalProperties: false
      description: Contractor Invoice Schedule.
      example:
        currency: BRL
        employment_id: 3a4b5c6d-7e8f-9a0b-1c2d-3e4f5a6b7c8d
        id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        items:
        - amount: 5000
          description: Description
        next_invoice_at: '2024-06-15T00:00:00Z'
        note: Mobile developer payment.
        nr_occurrences: 10
        number: ABC123
        periodicity: semi_monthly
        start_date: '2024-06-01'
        status: active
        total_amount: 500000
      properties:
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        employment_id:
          description: Employment identifier.
          example: 3a4b5c6d-7e8f-9a0b-1c2d-3e4f5a6b7c8d
          format: uuid
          type: string
        id:
          description: Schedule identifier.
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          format: uuid
          title: ScheduleID
          type: string
        items:
          description: List of invoice items that composes the overall invoice amount.
          items:
            $ref: '#/components/schemas/ContractorInvoiceScheduleItem'
          type: array
        next_invoice_at:
          description: Date time which next invoice will be generated.
          example: '2024-06-15T00:00:00Z'
          format: datetime
          nullable: true
          type: string
        note:
          description: Custom defined note.
          example: Mobile developer payment.
          nullable: true
          type: string
        nr_occurrences:
          description: Count of remaining invoices that should be generated.
          example: 10
          nullable: true
          type: integer
        number:
          description: Invoice identifier.
          example: ABC123
          nullable: true
          type: string
        periodicity:
          $ref: '#/components/schemas/ContractorInvoiceSchedulePeriodicity'
        start_date:
          description: Date which invoices generation will start.
          example: '2024-06-01'
          format: date
          type: string
        status:
          $ref: '#/components/schemas/ContractorInvoiceScheduleStatus'
        total_amount:
          description: Overall amount that is calculated by summing all invoice items.
          example: 500000
          type: integer
      required:
      - id
      - employment_id
      - start_date
      - periodicity
      - status
      - currency
      - items
      - total_amount
      title: ContractorInvoiceSchedule
      type: object
    ListContractorInvoiceSchedulesResponse:
      description: Paginated response schema listing all Contractor Invoice Schedules.
      example:
        contractor_invoice_schedules:
        - currency: BRL
          employment_id: 3a4b5c6d-7e8f-9a0b-1c2d-3e4f5a6b7c8d
          id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          items:
          - amount: 5000
            description: Description
          next_invoice_at: '2024-06-15T00:00:00Z'
          note: Mobile developer payment.
          nr_occurrences: 10
          number: ABC123
          periodicity: semi_monthly
          start_date: '2024-06-01'
          status: active
          total_amount: 500000
        current_page: 1
        total_count: 1
        total_pages: 1
      properties:
        data:
          properties:
            contractor_invoice_schedules:
              items:
                $ref: '#/components/schemas/ContractorInvoiceSchedule'
              type: array
            current_page:
              description: The current page among all of the total_pages
              type: integer
            total_count:
              description: The total number of records in the result
              type: integer
            total_pages:
              description: The total number of pages the user can go through
              type: integer
          type: object
      title: ListContractorInvoiceSchedulesResponse
      type: object
    SuccessResponse:
      description: A generic success response returned by operations that don't produce a specific resource (e.g., updates, deletes).
      example:
        data:
          status: ok
      properties:
        data:
          properties:
            status:
              description: The result status. Always `"ok"` for successful operations.
              type: string
          type: object
      required:
      - data
      title: SuccessResponse
      type: object
    ContractorInvoiceScheduleCreateResponseFailure:
      additionalProperties: false
      description: Set of invoice schedule attributes with failed validation.
      example:
        currency: USD
        employment_id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        errors:
          employment_id:
          - not found
        items:
        - amount: 5000
          description: Description
        note: Contractor payment schedules.
        nr_occurrences: 15
        number: XYZ0001
        periodicity: bi_weekly
        start_date: '2024-06-01'
      properties:
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        employment_id:
          description: Employment identifier
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          format: uuid
          type: string
        errors:
          additionalProperties: false
          properties:
            currency:
              items:
                type: string
              type: array
            employment_id:
              items:
                type: string
              type: array
            items:
              items:
                additionalProperties: false
                properties:
                  amount:
                    items:
                      type: string
                    type: array
                  description:
                    items:
                      type: string
                    type: array
                type: object
              type: array
            note:
              items:
                type: string
              type: array
            nr_occurrences:
              items:
                type: string
              type: array
            number:
              items:
                type: string
              type: array
            periodicity:
              items:
                type: string
              type: array
            start_date:
              items:
                type: string
              type: array
          type: object
        items:
          description: List of invoice items that composes the overall invoice amount.
          example:
          - amount: 5000
            description: Description
          items:
            $ref: '#/components/schemas/ContractorInvoiceScheduleItem'
          maxItems: 10
          minItems: 1
          type: array
        note:
          description: Custom defined note.
          example: A note to make it clear why schedule is needed.
          type: string
        nr_occurrences:
          description: Count of invoices that should be generated during schedule lifetime.
          example: 10
          minimum: 1
          type: integer
        number:
          description: Invoice identifier.
          example: CIS0001
          maxLength: 10
          minLength: 1
          type: string
        periodicity:
          $ref: '#/components/schemas/ContractorInvoiceSchedulePeriodicity'
        start_date:
          description: Date of the first contractor invoice generation.
          example: '2024-06-01'
          format: date
          type: string
      required:
      - employment_id
      - currency
      - start_date
      - periodicity
      - items
      - errors
      title: ContractorInvoiceScheduleCreateResponseFailure
      type: object
    SubmitEligibilityQuestionnaireRequest:
      additionalProperties: false
      description: Request body for submitting an eligibility questionnaire
      example:
        employment_slug: fd32b683-a94a-4496-a0c4-726c088af483
        responses:
          question_key1: 'yes'
          question_key2: 'no'
        type: contractor_of_record
      properties:
        employment_slug:
          description: The slug/ID of the employment
          format: uuid
          type: string
        responses:
          additionalProperties:
            type: string
          description: Responses to the questionnaire questions
          type: object
        type:
          enum:
          - contractor_of_record
          example: contractor_of_record
          nullable: false
          type: string
      required:
      - employment_slug
      - type
      - responses
      title: SubmitEligibilityQuestionnaireRequest
      type: object
    CreateContractDocumentResponse:
      description: Contract document response
      example:
        data:
          contract_document:
            id: 0073fcb5-b669-4e4a-b963-2a47744e75a1
            status: draft
      properties:
        data:
          properties:
            contract_document:
              $ref: '#/components/schemas/ContractDocument'
          required:
          - contract_document
          type: object
      required:
      - data
      title: CreateContractDocumentResponse
      type: object
    SignatoryStatus:
      description: Current signing status of this signatory
      enum:
      - pending
      - signed
      - unassigned
      example: pending
      title: SignatoryStatus
      type: string
    UnauthorizedResponse:
      description: Returned when the request does not include valid authentication credentials. Ensure you are passing a valid OAuth2 access token or API token in the Authorization header.
      example:
        message: Unauthorized
      properties:
        message:
          pattern: Unauthorized
          type: string
      required:
      - message
      title: UnauthorizedResponse
      type: object
    DateTime:
      description: UTC date time in YYYY-MM-DDTHH:mm:ss format
      example: '2021-07-15T18:18:17'
      format: datetime
      title: DateTime
      type: string
    UpdateScheduleContractorInvoiceParams:
      additionalProperties: false
      description: Payload shape used to update invoice schedules.
      example:
        currency: USD
        items:
        - amount: 5000
          description: Description
        note: Contractor invoice note
        nr_occurrences: 8
        number: Num321
        periodicity: monthly
        start_date: '2021-07-01'
      properties:
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        items:
          description: List of invoice items that composes the overall invoice amount.
          items:
            $ref: '#/components/schemas/ContractorInvoiceScheduleItem'
          type: array
        note:
          description: Custom defined note.
          nullable: true
          type: string
        nr_occurrences:
          description: Count of remaining invoices that should be generated.
          nullable: true
          type: integer
        number:
          description: Invoice identifier.
          nullable: true
          type: string
        periodicity:
          $ref: '#/components/schemas/ContractorInvoiceSchedulePeriodicity'
        start_date:
          $ref: '#/components/schemas/Date'
      title: UpdateScheduleContractorInvoiceParams
      type: object
    UnprocessableEntityResponse:
      anyOf:
      - properties:
          errors:
            type: object
        required:
        - errors
        type: object
      - properties:
          message:
            oneOf:
            - type: string
            - $ref: '#/components/schemas/ParameterError'
            - items:
                $ref: '#/components/schemas/ParameterError'
              title: ParameterErrors
              type: array
            - $ref: '#/components/schemas/ActionError'
            - items:
                $ref: '#/components/schemas/ActionError'
              title: ActionErrors
              type: array
        required:
        - message
        type: object
      example:
        errors:
          some_field:
          - is invalid
      title: UnprocessableEntityResponse
      type: object
    Signatory:
      additionalProperties: false
      description: A signatory on a contract document. For company and employee signatories, `user_id` is provided. For other signatory types, `user_id` is null.
      example:
        email: john@example.com
        name: John Doe
        signature: data:image/png;base64,iVBORw0KGgo...
        signed_at: '2024-01-15T10:30:00Z'
        status: signed
        type: employee
        user_id: 0073fcb5-b669-4e4a-b963-2a47744e75a1
      properties:
        email:
          description: Email address of the signatory
          nullable: true
          type: string
        name:
          description: Full name of the signatory
          nullable: true
          type: string
        signature:
          description: Signature image as a data URI (e.g. `data:image/png;base64,...`), null if not yet signed
          nullable: true
          type: string
        signature_method:
          description: Signing method used by this signatory
          enum:
          - in_platform
          - docusign
          type: string
        signature_type:
          description: Legal signature level applied when signing
          enum:
          - standard
          - qes
          - aes
          - ses
          type: string
        signed_at:
          description: Timestamp when the signatory signed the document, null if not yet signed
          format: date-time
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/SignatoryStatus'
        type:
          $ref: '#/components/schemas/SignatoryType'
        user_id:
          description: User identifier for internal signatories, null for external signatories
          nullable: true
          type: string
      required:
      - type
      - status
      title: Signatory
      type: object
    CurrencyCode:
      description: Currency code of the SWIFT fee. Only present when processing_fee is set.
      example: BRL
      maxLength: 3
      minLength: 3
      nullable: true
      title: CurrencyCode
      type: string
    ContractorInvoice:
      additionalProperties: false
      description: Contractor Invoice
      example:
        amount: 350000
        approved_at: '2024-06-05T00:00:00Z'
        contractor_invoice_schedule_id: 9f8e7d6c-5b4a-3c2d-1e0f-a1b2c3d4e5f6
        currency: BRL
        date: '2024-06-01'
        description: Mobile developer payment.
        due_date: '2024-06-15'
        fx_rate: 1.12
        id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
        items:
        - amount: 5000
          description: Description
          type: manual
        number: ABC123
        paid_out_at: '2024-06-05T12:00:00Z'
        pay_out_method: swift_our
        processing_fee: 500
        processing_fee_currency: USD
        processing_fee_payer: company
        source_amount: 350000
        source_currency: BRL
        status: paid_out
        target_amount: 350000
        target_currency: BRL
      properties:
        amount:
          description: Overall amount that is calculated by summing all invoice items.
          example: 350000
          type: integer
        approved_at:
          description: The datetime which contractor invoice has been approved and it's pending for payment.
          example: '2024-06-05T00:00:00Z'
          format: datetime
          nullable: true
          type: string
        contractor_invoice_schedule_id:
          description: Invoice schedule that might have generated contractor invoice.
          example: 9f8e7d6c-5b4a-3c2d-1e0f-a1b2c3d4e5f6
          format: uuid
          nullable: true
          type: string
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        date:
          description: The issuance date specified by a contractor.
          example: '2024-06-01'
          format: date
          type: string
        description:
          description: Custom defined description.
          example: Mobile developer payment.
          nullable: true
          type: string
        due_date:
          description: The payment deadline chosen by the contractor while creating an invoice.
          example: '2024-06-15'
          format: date
          nullable: true
          type: string
        employment_id:
          description: Employment identifier associated with the contractor invoice.
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          format: uuid
          title: EmploymentID
          type: string
        fx_rate:
          description: The guaranteed FX rate applied for the payment. Only present for guaranteed payout invoices.
          format: float
          nullable: true
          type: number
        id:
          description: Contractor Invoice identifier.
          example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          format: uuid
          title: ContractorInvoiceID
          type: string
        items:
          description: Invoice line items.
          items:
            $ref: '#/components/schemas/ContractorInvoiceItem'
          type: array
        number:
          description: Invoice identifier.
          example: ABC123
          nullable: true
          type: string
        paid_out_at:
          description: Date and time which invoice was paid to contractor.
          example: '2024-06-05T12:00:00Z'
          format: utc_datetime
          nullable: true
          type: string
        pay_out_method:
          description: 'Payment method used for the payout: local (e.g. bank transfer), swift (SHA), or swift_our (OUR). Only present for guaranteed payout invoices.'
          enum:
          - local
          - swift
          - swift_our
          nullable: true
          type: string
        processing_fee:
          description: SWIFT fee amount in cents. Only present when pay_out_method is swift or swift_our.
          nullable: true
          type: integer
        processing_fee_currency:
          description: Currency code of the SWIFT fee. Only present when processing_fee is set.
          example: BRL
          maxLength: 3
          minLength: 3
          nullable: true
          title: CurrencyCode
          type: string
        processing_fee_payer:
          description: Entity responsible for paying the SWIFT fee. Only present when processing_fee is set.
          enum:
          - company
          - contractor
          nullable: true
          type: string
        source_amount:
          description: The amount the company needs to pay (pay in amount).
          example: 350000
          type: integer
        source_currency:
          $ref: '#/components/schemas/CurrencyCode'
        status:
          $ref: '#/components/schemas/ContractorInvoiceStatus'
        target_amount:
          description: The amount the contractor receives (pay out amount). Can be null if pay out is not guaranteed.
          example: 350000
          nullable: true
          type: integer
        target_currency:
          description: Currency code in [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) format.
          example: BRL
          maxLength: 3
          minLength: 3
          nullable: true
          title: CurrencyCode
          type: string
      required:
      - id
      - date
      - items
      - amount
      - currency
      - source_amount
      - source_currency
      - status
      title: ContractorInvoice
      type: object
    BadRequestResponse:
      description: Returned when the request is malformed or contains invalid parameters. The message may be a simple string or a structured object with a code and detailed message.
      example:
        message: invalid {resource}
      oneOf:
      - properties:
          message:
            description: A human-readable error message describing what was wrong with the request.
            type: string
        required:
        - message
        type: object
      - properties:
          message:
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
            - message
            type: object
        type: object
      title: BadRequestResponse
      type: object
    ContractorCurrencyItem:
      additionalProperties: false
      example:
        code: CAD
        source: default_payment_currency
      properties:
        code:
          type: string
        source:
          type: string
      required:
      - code
      - source
      title: ContractorCurrencyItem
      type: object
    CorTerminationRequestCreatedResponse:
      example:
        data:
          employment_deactivation_date: '2026-04-07'
          id: c0a167b8-459d-4e96-9766-7a04c160892e
          status: initiated
          termination_date: '2026-03-16'
      properties:
        data:
          additionalProperties: false
          properties:
            employment_deactivation_date:
              description: The date on which the contractor employment will be deactivated.
              format: date
              nullable: true
              type: string
            id:
              description: Unique identifier of the termination request.
              example: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
              format: uuid
              title: UuidSlug
              type: string
            status:
              description: Current status of the termination request.
              enum:
              - initiated
              - executed
              - cancelled
              type: string
            termination_date:
              description: The date when the termination was initiated.
              format: date
              nullable: true
              type: string
          required:
          - id
          - status
          - termination_date
          - employment_deactivation_date
          type: object
      required:
      - data
      title: CorTerminationRequestCreatedResponse
      type: object
    ContractorCurrencyResponse:
      additionalProperties: false
      description: Schema for listing contractor currencies
      example:
        data:
        - code: CAD
          source: default_payment_currency
        - code: USD
          source: all_currencies
      properties:
        data:
          items:
            $ref: '#/components/schemas/ContractorCurrencyItem'
          type: array
      required:
      - data
      title: ContractorCurrencyResponse
      type: object
    EligibilityQuestionnaireJSONSchemaResponse:
      description: JSON Schema definition for eligibility questionnaire
      example:
        data:
          permissions: {}
          schema:
            properties:
              question_key1:
                type: string
              question_key2:
                type: string
            required:
            - question_key1
            - question_key2
            type: object
          version: 1
      properties:
        data:
          properties:
            permissions:
              description: Permissions related to the schema
              type: object
            schema:
              description: The JSON Schema definition
              type: object
            version:
              description: The version of the JSON Schema
              type: integer
          type: object
      title: EligibilityQuestionnaireJSONSchemaResponse
      type: object
    ListContractorInvoicesResponse:
      description: Paginated response schema listing all Contractor Invoices.
      example:
        contractor_invoices:
        - amount: 350000
          approved_at: '2024-06-05T00:00:00Z'
          contractor_invoice_schedule_id: 9f8e7d6c-5b4a-3c2d-1e0f-a1b2c3d4e5f6
          currency: BRL
          date: '2024-06-01'
          description: Mobile developer payment.
          due_date: '2024-06-15'
          fx_rate: 1.12
          id: 663e0b79-c893-45ff-a1b2-f6dcabc098b5
          items:
          - amount: 5000
            description: Description
            type: manual
          number: ABC123
          paid_out_at: '2024-06-05T12:00:00Z'
          pay_out_method: swift_our
          processing_fee: 500
          processing_fee_currency: USD
          processing_fee_payer: company
          source_amount: 350000
          source_currency: BRL
          status: paid_out
          target_amount: 350000
          target_currency: BRL
        current_page: 1
        total_count: 1
        total_pages: 1
      properties:
        data:
          properties:
            contractor_invoices:
              items:
                $ref: '#/components/schemas/ContractorInvoice'
              type: array
            current_page:
              description: The current page among all of the total_pages
              type: integer
            total_count:
              description: The total number of records in the result
              type: integer
            total_pages:
              description: The total number of pages the user can go through
              type: integer
          type: object
      title: ListContractorInvoicesResponse
      type: object
    ContractorInvoiceItem:
      additionalProperties: false
      description: Line Item schema for a Contractor Invoice.
      example:
        amount: 5000
        description: Description
        type: manual
      properties:
        amount:
          description: Amount, in cents.
          type: integer
        description:
          description: Describes invoice item intent.
          type: string
        type:
          $ref: '#/components/schemas/ContractorInvoiceItemType'
      required:
      - amount
      - description
      - type
      title: ContractorInvoiceItem
      type: object
    ActionError:
      properties:
        action:
          description: The action that lead to the error message.
          type: string
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
      required:
      - code
      - message
      - action
      title: ActionError
      type: object
    ContractorContractDocumentStatus:
      description: 'The signing status of a contract document.


        - `draft`: The document is being prepared and has not been sent for signing.

        - `awaiting_signatures`: The document has been sent and is waiting for one or more parties to sign.

        - `finished`: All required signatures have been collected and the contract is fully executed.

        '
      enum:
      - draft
      - awaiting_signatures
      - finished
      example: draft
      title: ContractorContractDocumentStatus
[...]
