openapi: 3.0.0
info:
  title: Remote Address Details Contracts API
  version: 0.1.0
servers:
- url: https://gateway.remote.com/
  variables: {}
- url: https://gateway.remote-sandbox.com/
  variables: {}
security:
- OAuth2: []
tags:
- name: Contracts
paths:
  /v1/contract-amendments/schema:
    get:
      callbacks: {}
      deprecated: false
      description: 'Returns the json schema of the `contract_amendment` form for a specific employment.

        This endpoint requires a company access token, as forms are dependent on certain

        properties of companies and their current employments.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View contract amendments (`contract_amendment:read`) | Manage contract amendments (`contract_amendment:write`) |

        '
      operationId: get_v1_contract-amendments_schema
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: The ID of the employment concerned by the contract amendment request.
        example: 31b8e49b-aa1c-47af-849c-3d0a53e20e0d
        in: query
        name: employment_id
        required: true
        schema:
          type: string
      - description: Country code according to ISO 3-digit alphabetic codes.
        example: CAN
        in: query
        name: country_code
        required: true
        schema:
          type: string
      - description: Name of the desired form
        example: contract_amendment
        in: query
        name: form
        required: false
        schema:
          enum:
          - contract_amendment
          type: string
      - description: Version of the form schema
        example: 1
        in: query
        name: json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractAmendmentFormResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - contract_amendment:read
        - contract_amendment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - contract_amendment:read
        - contract_amendment:write
        - employments
        - all:write
        - all:read
      summary: Show form schema
      tags:
      - Contracts
  /v1/probation-completion-letter/{id}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Show a single probation completion letter.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | View probation documents (`probation_document:read`) | Manage probation documents (`probation_document:write`) |

        '
      operationId: get_v1_probation-completion-letter_id
      parameters:
      - description: probation completion letter ID
        example: 93t3j-probation_completion_letter_id-9suej43
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProbationCompletionLetterResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - probation_document:read
        - probation_document:write
        - employment_documents
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - probation_document:read
        - probation_document:write
        - employment_documents
        - all:write
        - all:read
      summary: Show probation completion letter
      tags:
      - Contracts
  /v1/employments/{employment_id}/contract-documents:
    get:
      callbacks: {}
      deprecated: false
      description: 'Only contractor employment types are supported. Lists contract documents for a specific employment with pagination, filtering by status, and sorted by updated_at descending (latest first).


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | View documents (`document:read`) | Manage documents (`document:write`) |

        '
      operationId: get_v1_employments_employment_id_contract-documents
      parameters:
      - description: Employment ID
        example: 1a716003-ae89-4810-aa00-25df6e799162
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      - description: Filter by contract document statuses
        example:
        - finished
        - awaiting_signatures
        in: query
        name: statuses
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ContractorContractDocumentStatus'
          type: array
      - description: Exclude contract documents with specific statuses
        example:
        - draft
        in: query
        name: except_statuses
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ContractorContractDocumentStatus'
          type: array
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexContractDocumentsResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - document:read
        - document:write
        - employment_documents
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - document:read
        - document:write
        - employment_documents
        - all:write
        - all:read
      summary: List contract documents for an employment
      tags:
      - Contracts
  /v1/probation-completion-letter:
    post:
      callbacks: {}
      deprecated: false
      description: 'Create a new probation completion letter request.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | - | Manage probation documents (`probation_document:write`) |

        '
      operationId: post_v1_probation-completion-letter
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProbationCompletionLetterParams'
        description: Work Authorization Request
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProbationCompletionLetterResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - probation_document:write
        - employment_documents
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - probation_document:write
        - employment_documents
        - all:write
      summary: Create probation completion letter
      tags:
      - Contracts
  /v1/probation-extensions:
    post:
      callbacks: {}
      deprecated: false
      description: 'Create a probation extension request.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | - | Manage probation documents (`probation_document:write`) |

        '
      operationId: post_v1_probation-extensions
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProbationExtensionParams'
        description: ProbationExtension
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProbationExtensionResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - probation_document:write
        - employment_documents
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - probation_document:write
        - employment_documents
        - all:write
      summary: Create Probation Extension
      tags:
      - Contracts
  /v1/contract-amendments:
    get:
      callbacks: {}
      deprecated: false
      description: 'List Contract Amendment requests.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View contract amendments (`contract_amendment:read`) | Manage contract amendments (`contract_amendment:write`) |

        '
      operationId: get_v1_contract-amendments
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Employment ID
        in: query
        name: employment_id
        required: false
        schema:
          type: string
      - description: Contract Amendment status
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/ContractAmendmentStatus'
      - description: Starts fetching records after the given page
        example: 1
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
      - description: Number of items per page
        example: 20
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContractAmendmentResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - contract_amendment:read
        - contract_amendment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - contract_amendment:read
        - contract_amendment:write
        - employments
        - all:write
        - all:read
      summary: List Contract Amendment
      tags:
      - Contracts
    post:
      callbacks: {}
      deprecated: false
      description: 'Creates a Contract Amendment request.


        This endpoint requires and returns country-specific data. The exact required and returned fields will

        vary depending on which country the employment is in. To see the list of parameters for each country,

        see the **Show form schema** endpoint under the [Contract Amendments](#tag/Contract-Amendments) category.


        Please note that the compliance requirements for each country are subject to change according to local

        laws. Given its continual updates, using Remote''s [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) should be considered in order to avoid

        compliance issues and to have the latest version of a country requirements.


        If you are using this endpoint to build an integration, make sure you are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.


        To learn how you can dynamically generate forms to display in your UI, see the documentation for

        the [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) tool.




        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage contract amendments (`contract_amendment:write`) |

        '
      operationId: post_v1_contract-amendments
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Version of the form schema
        example: 1
        in: query
        name: json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractAmendmentParams'
        description: Contract Amendment
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractAmendmentResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - contract_amendment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - contract_amendment:write
        - employments
        - all:write
      summary: Create Contract Amendment
      tags:
      - Contracts
  /v1/employments/{employment_id}/employment-agreement/download:
    get:
      callbacks: {}
      deprecated: false
      description: 'Downloads a PDF of the auto-generated Employment Agreement for an employment.


        The document is rendered as a draft (no signatures) and is not persisted. EA preview is only

        available for countries that have a published Employment Agreement automation template — see the

        `employment_agreement_preview_available` flag on the [Countries](#tag/Countries) endpoint.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | View documents (`document:read`) | Manage documents (`document:write`) |

        '
      operationId: get_v1_employments_employment_id_employment-agreement_download
      parameters:
      - description: Employment ID
        example: 1a716003-ae89-4810-aa00-25df6e799162
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericFile'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - document:read
        - document:write
        - employment_documents
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - document:read
        - document:write
        - employment_documents
        - all:write
        - all:read
      summary: Download the Employment Agreement for an employment
      tags:
      - Contracts
  /v1/contract-amendments/{id}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Show a single Contract Amendment request.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View contract amendments (`contract_amendment:read`) | Manage contract amendments (`contract_amendment:write`) |

        '
      operationId: get_v1_contract-amendments_id
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Contract amendment request ID
        example: 93t3j-contract_amendment_id-9suej43
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractAmendmentResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - contract_amendment:read
        - contract_amendment:write
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - contract_amendment:read
        - contract_amendment:write
        - employments
        - all:write
        - all:read
      summary: Show Contract Amendment
      tags:
      - Contracts
  /v1/employments/{employment_id}/contract-eligibility:
    post:
      callbacks: {}
      deprecated: false
      description: 'Create contract eligibility for an employment.


        This will create a new contract eligibility for the employment.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | - | Manage contract eligibility (`contract_eligibility:write`) |

        '
      operationId: post_v1_employments_employment_id_contract-eligibility
      parameters:
      - description: Employment ID
        example: 31b8e49b-aa1c-47af-849c-3d0a53e20e0d
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractEligibilityParams'
        description: Contract Eligibility Create Parameters
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - contract_eligibility:write
        - employment_documents
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - contract_eligibility:write
        - employment_documents
        - all:write
      summary: Create contract eligibility
      tags:
      - Contracts
  /v1/contract-amendments/automatable:
    post:
      callbacks: {}
      deprecated: false
      description: 'Check if a contract amendment request is automatable.

        If the contract amendment request is automatable, then after submission, it will instantly amend the employee''s contract

        and send them an updated document.


        This endpoint requires and returns country-specific data. The exact required and returned fields will

        vary depending on which country the employment is in. To see the list of parameters for each country,

        see the **Show form schema** endpoint under the [Contract Amendments](#tag/Contract-Amendments) category.


        Please note that the compliance requirements for each country are subject to change according to local

        laws. Given its continual updates, using Remote''s [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) should be considered in order to avoid

        compliance issues and to have the latest version of a country requirements.


        If you are using this endpoint to build an integration, make sure you are dynamically collecting or

        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.


        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.


        To learn how you can dynamically generate forms to display in your UI, see the documentation for

        the [json-schema-form](https://developer.remote.com/docs/how-json-schemas-work) tool.




        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | - | Manage contract amendments (`contract_amendment:write`) |

        '
      operationId: post_v1_contract-amendments_automatable
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Version of the form schema
        example: 1
        in: query
        name: json_schema_version
        required: false
        schema:
          default: latest
          oneOf:
          - description: Specific version number
            minimum: 1
            type: integer
          - description: Use latest version
            enum:
            - latest
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractAmendmentParams'
        description: Contract Amendment
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractAmendmentAutomatableResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - contract_amendment:write
        - employments
        - all:write
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - contract_amendment:write
        - employments
        - all:write
      summary: Automatable Contract Amendment
      tags:
      - Contracts
  /v1/employment-contracts/{employment_id}/pending-changes:
    get:
      callbacks: {}
      deprecated: false
      description: 'Get all the pending changes (waiting for aproval or signature) for the employment contract.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View contracts (`contract:read`) | - |

        '
      operationId: get_v1_employment-contracts_employment_id_pending-changes
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Employment ID
        example: 93t3j-employment_id-9suej43
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentContractPendingChangesResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - contract:read
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - contract:read
        - employments
        - all:write
        - all:read
      summary: Get employment contract pending changes
      tags:
      - Contracts
  /v1/probation-extensions/{id}:
    get:
      callbacks: {}
      deprecated: false
      description: 'Shows a Probation Extension Request.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | View probation documents (`probation_document:read`) | Manage probation documents (`probation_document:write`) |

        '
      operationId: get_v1_probation-extensions_id
      parameters:
      - description: Probation Extension Request ID
        example: 93t3j-probation_extension_id-9suej43
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProbationExtensionResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - probation_document:read
        - probation_document:write
        - employment_documents
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - probation_document:read
        - probation_document:write
        - employment_documents
        - all:write
        - all:read
      summary: Show Probation Extension
      tags:
      - Contracts
  /v1/employment-contracts:
    get:
      callbacks: {}
      deprecated: false
      description: 'Get the employment contract history for a given employment. If `only_active` is true, it will return only the active or last active contract.


        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employments (`employments`) | View contracts (`contract:read`) | - |

        '
      operationId: get_v1_employment-contracts
      parameters:
      - description: 'Requires a Company-scoped access token obtained through the Authorization Code flow or the Refresh Token flow.


          The refresh token needs to have been obtained through the Authorization Code flow.

          '
        example: Bearer <COMPANY-SCOPED ACCESS TOKEN>
        in: header
        name: Authorization
        required: true
        schema:
          type: string
      - description: Employment ID
        example: 93t3j-employment_id-9suej43
        in: query
        name: employment_id
        required: true
        schema:
          type: string
      - description: Only Active
        example: 'false'
        in: query
        name: only_active
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEmploymentContractResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - contract:read
        - employments
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - contract:read
        - employments
        - all:write
        - all:read
      summary: List Employment Contract.
      tags:
      - Contracts
  /v1/employments/{employment_id}/employment-agreement/preview:
    get:
      callbacks: {}
      deprecated: false
      description: 'Returns a base64-encoded PDF preview of the auto-generated Employment Agreement for an employment.


        The document is rendered as a draft (no signatures) and is not persisted. EA preview is only

        available for countries that have a published Employment Agreement automation template — see the

        `employment_agreement_preview_available` flag on the [Countries](#tag/Countries) endpoint.



        ## Scopes


        | Category | Read only Scope | Write only Scope (read access implicit) |

        |---|---|---|

        | Manage employment documents (`employment_documents`) | View documents (`document:read`) | Manage documents (`document:write`) |

        '
      operationId: get_v1_employments_employment_id_employment-agreement_preview
      parameters:
      - description: Employment ID
        example: 1a716003-ae89-4810-aa00-25df6e799162
        in: path
        name: employment_id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentAgreementPreviewResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
      security:
      - CustomerAPIToken:
        - https://gateway.remote.com/company.manage
        - document:read
        - document:write
        - employment_documents
        - all:write
        - all:read
        OAuth2AuthorizationCode:
        - https://gateway.remote.com/company.manage
        - document:read
        - document:write
        - employment_documents
        - all:write
        - all:read
      summary: Preview the Employment Agreement for an employment
      tags:
      - Contracts
components:
  schemas:
    ContractAmendmentFormResponse:
      description: Object with required and optional fields, its descriptions and suggested presentation
      example:
        data:
          additionalProperties: false
          properties:
            effective_date:
              description: 'If you want to backdate this amendment, we cannot guarantee your preferred date is possible due to country-specific laws.

                Please enter your preferred date, and we’ll reach out to you if there are any issues.

                '
              title: Effective date of change
              type: date
            job_title:
              description: What is their job title? E.g. Product designer
              maxLength: 255
              title: Job title
              type: string
          required:
          - job_title
          - effective_date
          type: object
      properties:
        data:
          type: object
      title: ContractAmendmentFormResponse
      type: object
    ParameterError:
      example:
        code: invalid_param
        message: Invalid parameter
        param: employment_id
      properties:
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
        param:
          description: The parameter that lead to the error message.
          type: string
      required:
      - code
      - message
      - param
      title: ParameterError
      type: object
    IndexContractDocuments:
      additionalProperties: false
      description: Paginated list of contract documents
      example:
        contract_documents:
        - id: 0073fcb5-b669-4e4a-b963-2a47744e75a1
          inserted_at: '2024-01-15T10:30:00Z'
          name: Contract Agreement.pdf
          signatories:
          - email: john@example.com
            name: John Doe
            signed_at: '2024-01-15T10:30:00Z'
            status: signed
            type: employee
            user_id: 0073fcb5-b669-4e4a-b963-2a47744e75a1
          status: finished
          type: contractor_services_agreement
          updated_at: '2024-01-16T14:20:00Z'
        current_page: 1
        total_count: 1
        total_pages: 1
      properties:
        contract_documents:
          description: Array of contract documents
          items:
            $ref: '#/components/schemas/ContractDocumentItem'
          type: array
        current_page:
          description: Current page number
          minimum: 1
          type: integer
        total_count:
          description: Total number of contract documents
          minimum: 0
          type: integer
        total_pages:
          description: Total number of pages
          minimum: 0
          type: integer
      required:
      - contract_documents
      - current_page
      - total_pages
      - total_count
      title: IndexContractDocuments
      type: object
    ProbationExtensionFile:
      additionalProperties: false
      example:
        content: base64_encoded_content
        name: supporting_document.pdf
      properties:
        content:
          description: The content of the file encoded in base64.
          example: base64_encoded_content
          format: binary
          type: string
        name:
          description: The name of the file.
          example: supporting_document.pdf
          type: string
      required:
      - name
      - content
      title: ProbationExtensionFile
      type: object
    ProbationExtensionStatus:
      description: 'The current status of a probation extension request.


        - `submitted`: The request has been submitted and is awaiting review.

        - `in_review`: Remote is reviewing the request for compliance.

        - `done`: The probation extension has been approved and applied.

        - `canceled`: The request was canceled.

        - `deleted`: The request was deleted.

        '
      enum:
      - submitted
      - in_review
      - done
      - canceled
      - deleted
      example: submitted
      title: ProbationExtensionStatus
      type: string
    EmploymentContract:
      example:
        activated_at: '2021-07-15T18:18:17Z'
        amendment_contract_id: e31adae1-contract-id-af5fba7dd803
        compensation:
          amount: 33000
          currency_code: CAD
          wage_type: salary
        contract_details: {}
        contract_id: 20a72f86-contract-id-9e4942a902ff
        country:
          alpha_2_code: PT
          code: PRT
          contractor_products_available:
          - standard
          - plus
          - cor
          country_subdivisions:
          - code: PT-06
            name: Coimbra
            subdivision_type: District
          - code: PT-11
            name: Lisboa
            subdivision_type: District
          employment_agreement_preview_available: true
          eor_onboarding: true
          locked_benefits: after_first_hire
          name: Portugal
          region: Europe
          subregion: Southern Europe
          supported_json_schemas:
          - additional_documents
          - address_details
          - administrative_details
          - employment-basic-information
          - bank_account_details
          - contract_details
          - emergency_contact
        effective_at: '2021-07-15T18:18:17Z'
        job_title: Engineer
        status: active
      properties:
        activated_at:
          $ref: '#/components/schemas/DateTimeIso8601'
        amendment_contract_id:
          description: The id of the employment contract that was amended by this employment contract, if any.
          nullable: true
          type: string
        compensation:
          $ref: '#/components/schemas/Compensation'
        contract_details:
          description: Contract information. Its properties may vary depending on the country.
          type: object
        contract_id:
          description: The unique identifier (UUID) of this contract.
          type: string
        country:
          $ref: '#/components/schemas/Country'
        effective_at:
          $ref: '#/components/schemas/DateTimeIso8601'
        job_title:
          description: The job title as specified in this contract.
          type: string
        status:
          $ref: '#/components/schemas/EmploymentContractStatus'
      required:
      - contract_id
      - amendment_contract_id
      - country
      - contract_details
      - compensation
      - job_title
      - status
      - activated_at
      - effective_at
      title: EmploymentContract
      type: object
    SuccessResponse:
      description: A generic success response returned by operations that don't produce a specific resource (e.g., updates, deletes).
      example:
        data:
          status: ok
      properties:
        data:
          properties:
            status:
              description: The result status. Always `"ok"` for successful operations.
              type: string
          type: object
      required:
      - data
      title: SuccessResponse
      type: object
    IndexContractDocumentsResponse:
      additionalProperties: false
      description: Paginated list of contract documents
      example:
        data:
          contract_documents:
          - id: 0073fcb5-b669-4e4a-b963-2a47744e75a1
            inserted_at: '2024-01-15T10:30:00Z'
            name: Contract Agreement.pdf
            signatories:
            - email: john@example.com
              name: John Doe
              signed_at: '2024-01-15T10:30:00Z'
              status: signed
              type: employee
              user_id: 0073fcb5-b669-4e4a-b963-2a47744e75a1
            status: finished
            type: contractor_services_agreement
            updated_at: '2024-01-16T14:20:00Z'
          current_page: 1
          total_count: 1
          total_pages: 1
      properties:
        data:
          $ref: '#/components/schemas/IndexContractDocuments'
      required:
      - data
      title: IndexContractDocumentsResponse
      type: object
    ListContractAmendmentResponse:
      description: Response schema listing many contract_amendments
      example:
        contract_amendments:
        - employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
          id: ba310525-9282-40c9-8977-14d844bf891a
          job_title: Engineer
          reason_for_change: annual_pay_adjustment
          requested_by: 5a31f3c1-d7a7-4311-89cb-928959d3d540
          requested_effective_date: '2023-04-13T13:35:06Z'
          status: submitted
          submitted_at: '2023-04-13T13:35:06Z'
        current_page: 1
        total_count: 1
        total_pages: 1
      properties:
        data:
          properties:
            contract_amendments:
              items:
                $ref: '#/components/schemas/MinimalContractAmendment'
              type: array
            current_page:
              description: The current page among all of the total_pages
              type: integer
            total_count:
              description: The total number of records in the result
              type: integer
            total_pages:
              description: The total number of pages the user can go through
              type: integer
          type: object
      title: ListContractAmendmentResponse
      type: object
    EmploymentContractStatus:
      description: The status of the employment contract.
      enum:
      - active
      - inactive
      - pending
      example: active
      title: EmploymentContractStatus
      type: string
    SignatoryStatus:
      description: Current signing status of this signatory
      enum:
      - pending
      - signed
      - unassigned
      example: pending
      title: SignatoryStatus
      type: string
    UnauthorizedResponse:
      description: Returned when the request does not include valid authentication credentials. Ensure you are passing a valid OAuth2 access token or API token in the Authorization header.
      example:
        message: Unauthorized
      properties:
        message:
          pattern: Unauthorized
          type: string
      required:
      - message
      title: UnauthorizedResponse
      type: object
    ContractAmendmentAutomatableResponse:
      description: Contract Amendment Automatable response
      example:
        data:
          automatable: true
          message: The contract amendment request will be processed as an automatable request.
      properties:
        data:
          properties:
            automatable:
              description: If true, it means that the contract amendment request is automatable.
              type: boolean
            message:
              description: The message to explain how the contract amendment request will be processed depending if it is automatable or not.
              type: string
          type: object
      title: ContractAmendmentAutomatableResponse
      type: object
    UnprocessableEntityResponse:
      anyOf:
      - properties:
          errors:
            type: object
        required:
        - errors
        type: object
      - properties:
          message:
            oneOf:
            - type: string
            - $ref: '#/components/schemas/ParameterError'
            - items:
                $ref: '#/components/schemas/ParameterError'
              title: ParameterErrors
              type: array
            - $ref: '#/components/schemas/ActionError'
            - items:
                $ref: '#/components/schemas/ActionError'
              title: ActionErrors
              type: array
        required:
        - message
        type: object
      example:
        errors:
          some_field:
          - is invalid
      title: UnprocessableEntityResponse
      type: object
    Country:
      description: A supported country on Remote
      example:
        alpha_2_code: PT
        code: PRT
        contractor_products_available:
        - standard
        - plus
        - cor
        country_subdivisions:
        - code: PT-06
          name: Coimbra
          subdivision_type: District
        - code: PT-11
          name: Lisboa
          subdivision_type: District
        employment_agreement_preview_available: true
        eor_onboarding: true
        locked_benefits: after_first_hire
        name: Portugal
        region: Europe
        subregion: Southern Europe
        supported_json_schemas:
        - additional_documents
        - address_details
        - administrative_details
        - employment-basic-information
        - bank_account_details
        - contract_details
        - emergency_contact
      properties:
        alpha_2_code:
          description: The ISO 3166-1 alpha-2 country code (e.g., "PT").
          type: string
        code:
          description: The ISO 3166-1 alpha-3 country code (e.g., "PRT"). This is the primary code used across the Remote API.
          type: string
        contractor_products_available:
          description: Contractor product names available for this country
          items:
            enum:
            - standard
            - plus
            - cor
            type: string
          type: array
        country_subdivisions:
          description: Administrative subdivisions of the country (e.g., states, provinces, districts). Null if the country has no subdivisions relevant to Remote's services.
          items:
            $ref: '#/components/schemas/CountrySubdivision'
          nullable: true
          type: array
        employment_agreement_preview_available:
          description: Whether an Employment Agreement preview is available for this country.
          type: boolean
        eor_onboarding:
          description: Whether EOR (Employer of Record) onboarding is available in this country.
          type: boolean
        locked_benefits:
          description: When benefit plan selections become locked for this country (e.g., "after_first_hire" means benefits cannot be changed after the first employee is hired).
          type: string
        name:
          description: The country's full English name.
          type: string
        region:
          description: The geographic region the country belongs to (e.g., "Europe", "Asia", "Americas").
          type: string
        subregion:
          description: The geographic subregion (e.g., "Southern Europe", "Southeast Asia"). Null for some countries.
          nullable: true
          type: string
        supported_json_schemas:
          description: The list of JSON schema form names available for this country (e.g., "address_details", "contract_details"). Use these with the Show form schema endpoint to get country-specific field requirements.
          items:
            type: string
          type: array
      required:
      - alpha_2_code
      - code
      - name
      title: Country
      type: object
    BadRequestResponse:
      description: Returned when the request is malformed or contains invalid parameters. The message may be a simple string or a structured object with a code and detailed message.
      example:
        message: invalid {resource}
      oneOf:
      - properties:
          message:
            description: A human-readable error message describing what was wrong with the request.
            type: string
        required:
        - message
        type: object
      - properties:
          message:
            properties:
              code:
                type: string
              message:
                type: string
            required:
            - code
            - message
            type: object
        type: object
      title: BadRequestResponse
      type: object
    ProbationCompletionLetterFile:
      additionalProperties: false
      description: Probation completion letter file
      example:
        id: f4e2f1fe-2056-4d9f-b9e0-ea322b781eb7
        inserted_at: '2021-01-01T00:00:00Z'
        name: 2024-05-29_Hero8_ProbationConfirmationLetter.pdf
        sub_type: probation_completion_letter
        type: contract
      nullable: true
      oneOf:
      - additionalProperties: false
        description: A file associated with an employment, such as a contract, tax form, or identity document.
        example:
          id: 9880b711-file-id-ecf8f551bd78
          inserted_at: '2021-07-15T18:18:17Z'
          name: id.pdf
          sub_type: personal_id
          type: id
        properties:
          id:
            description: The unique identifier (UUID) of the file.
            type: string
          inserted_at:
            $ref: '#/components/schemas/DateTimeIso8601'
          name:
            description: The file name including extension (e.g., "id.pdf", "contract.pdf").
            type: string
          sub_type:
            description: A more specific classification of the file within its type (e.g., "personal_id" within type "id", or "ir_35" within type "contract"). Null if no sub-type applies.
            nullable: true
            type: string
          type:
            description: The broad category of the file (e.g., "id", "contract", "tax_form").
            type: string
        required:
        - id
        - inserted_at
        - name
        - type
        title: File
        type: object
      title: ProbationCompletionLetterFile
      type: object
    EmploymentContractPendingChangesResponse:
      example:
        data:
          pending_changes:
          - changes:
              contract.job_title:
                current: Senior Engineer
                previous: Engineer
            contract_id: 0073fcb5-b669-4e4a-b963-2a47744e75a1
            effective_at: '2021-07-15T18:18:17Z'
      properties:
        data:
          additionalProperties: false
          properties:
            pending_changes:
              items:
                $ref: '#/components/schemas/ContractPendingChanges'
              type: array
          required:
          - pending_changes
          type: object
      required:
      - data
      title: EmploymentContractPendingChangesResponse
      type: object
    ContractAmendment:
      description: A full contract amendment record, including the requested changes with their previous and current values.
      example:
        amendment_contract_id: 8772a9f1-b43c-46be-a1ce-e50b6819f5ee
        changes:
          compensation.amount:
            current: 500000
            previous: 400000
          contract.job_title:
            current: A new job title
            previous: An old job title
          contract_details.details.contract_duration_type:
            current: fixed_term
            previous: indefinite
        employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
        id: ba310525-9282-40c9-8977-14d844bf891a
        request_details:
          additional_comments: null
          effective_date: '2024-03-04'
          reason_for_change: annual_pay_adjustment
          reason_for_change_description: null
          salary_decrease_details: null
        requested_by: 5a31f3c1-d7a7-4311-89cb-928959d3d540
        status: submitted
        submitted_at: '2023-04-13T13:35:06Z'
        zendesk_ticket_url: https://zendesk.com/ticket-23333
      properties:
        amendment_contract_id:
          description: The unique identifier of the contract being amended. Null if no specific contract was targeted.
          nullable: true
          type: string
        changes:
          description: Describes all the changes requested for the contract and contract details with all their previous and current values.
          type: object
        employment_id:
          description: The unique identifier (UUID) of the employment.
          type: string
        id:
          description: The unique identifier (UUID) of the contract amendment.
          type: string
        request_details:
          $ref: '#/components/schemas/RequestDetails'
        requested_by:
          description: The unique identifier (UUID) of the user who submitted the amendment.
          type: string
        status:
          $ref: '#/components/schemas/ContractAmendmentStatus'
        submitted_at:
          description: The timestamp when the amendment was submitted.
          format: datetime
          type: string
        zendesk_ticket_url:
          description: A link to the support ticket associated with this amendment, if one was created. Null otherwise.
          nullable: true
          type: string
      required:
      - id
      - amendment_contract_id
      - employment_id
      - status
      - requested_by
      - submitted_at
      - request_details
      - changes
      - zendesk_ticket_url
      title: ContractAmendment
      type: object
    ActionError:
      properties:
        action:
          description: The action that lead to the error message.
          type: string
        code:
          description: An error code that describes the nature of the error.
          type: string
        message:
          description: A developer friendly error message that gives details on what the error was and how it may be remedied.
          type: string
      required:
      - code
      - message
      - action
      title: ActionError
      type: object
    ContractorContractDocumentStatus:
      description: 'The signing status of a contract document.


        - `draft`: The document is being prepared and has not been sent for signing.

        - `awaiting_signatures`: The document has been sent and is waiting for one or more parties to sign.

        - `finished`: All required signatures have been collected and the contract is fully executed.

        '
      enum:
      - draft
      - awaiting_signatures
      - finished
      example: draft
      title: ContractorContractDocumentStatus
      type: string
    SignatoryType:
      description: The role of this signatory in the contract signing process
      enum:
      - company
      - employee
      - admin
      - external
      - unknown
      example: company
      title: SignatoryType
      type: string
    MinimalContractAmendment:
      description: A lightweight contract amendment representation used in list responses.
      example:
        employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
        id: ba310525-9282-40c9-8977-14d844bf891a
        job_title: Engineer
        reason_for_change: annual_pay_adjustment
        requested_by: 5a31f3c1-d7a7-4311-89cb-928959d3d540
        requested_effective_date: '2023-04-13T13:35:06Z'
        status: submitted
        submitted_at: '2023-04-13T13:35:06Z'
      properties:
        employment_id:
          description: The unique identifier (UUID) of the employment.
          type: string
        id:
          description: The unique identifier (UUID) of the contract amendment.
          type: string
        job_title:
          description: The current job title from the employment's contract.
          type: string
        reason_for_change:
          enum:
          - annual_pay_adjustment
          - country_rule_change
          - error_correction
          - job_change_reevaluation
          - promotion
          - other
          type: string
        requested_by:
          description: The unique identifier (UUID) of the user who submitted the amendment request.
          type: string
        requested_effective_date:
          description: The date when the amendment changes should take effect.
          format: datetime
          type: string
        status:
          $ref: '#/components/schemas/ContractAmendmentStatus'
        submitted_at:
          description: The timestamp when the amendment was submitted.
          format: datetime
          type: string
      required:
      - id
      - employment_id
      - status
      - requested_by
      - submitted_at
      - requested_effective_date
      - reason_for_change
      title: MinimalContractAmendment
      type: object
    EmploymentAgreementPreviewResponse:
      additionalProperties: false
      description: Return a base64 encoded Employment Agreement preview document
      example:
        data:
          employment_agreement:
            content: data:application/pdf;base64,iVBORw0KGgoAAAANSUhEUgAAAJUAAACVCAYAAABRorhPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWF...
            name: employment_agreement.pdf
      properties:
        data:
          properties:
            employment_agreement:
              properties:
                content:
                  format: binary
                  type: string
                name:
                  type: string
              required:
              - content
              - name
              type: object
          required:
          - employment_agreement
          type: object
      required:
      - data
      title: EmploymentAgreementPreviewResponse
      type: object
    ForbiddenResponse:
      description: Returned when the authenticated user or token does not have permission to perform the requested action. Check that the token has the required OAuth2 scopes and that the user has the necessary role.
      example:
        message: Forbidden
      properties:
        message:
          pattern: Forbidden
          type: string
      required:
      - message
      title: ForbiddenResponse
      type: object
    ContractAmendmentStatus:
      description: 'The current status of a contract amendment request.


        - `submitted`: The amendment has been submitted and is awaiting Remote''s review.

        - `in_review`: Remote is reviewing the amendment for compliance and feasibility.

        - `done`: The amendment has been approved and applied to the contract.

        - `canceled`: The amendment request was canceled before completion.

        - `deleted`: The amendment request was deleted.

        '
      enum:
      - submitted
      - in_review
      - done
      - canceled
      - deleted
      example: submitted
      title: ContractAmendmentStatus
      type: string
    ProbationExtension:
      description: A request to extend an employee's probation period. Requires Remote's review for compliance with local labor laws.
      example:
        employment_id: 93t3j-employment_id-9suej43
        id: 93t3j-sfies9_id-9suej43
        requested_by: 93t3j-requested_by_id-9suej43
        status: submitted
        submitted_at: '2021-09-01T00:00:00Z'
        zendesk_ticket_url: https://zendesk.com/tickets/123
      properties:
        employment_id:
          description: The unique identifier (UUID) of the employment.
          type: string
        id:
          description: The unique identifier (UUID) of the probation extension request.
          type: string
        requested_by:
          description: The unique identifier (UUID) of the user who submitted the request.
          type: string
        status:
          $ref: '#/components/schemas/ProbationExtensionStatus'
        submitted_at:
          description: The timestamp when the extension request was submitted.
          format: datetime
          type: string
        zendesk_ticket_url:
          description: A link to the support ticket for this extension, if one was created. Null otherwise.
          nullable: true
          type: string
      required:
      - id
      - employment_id
      - status
      - submitted_at
      - requested_by
      - zendesk_ticket_url
      title: ProbationExtension
      type: object
    NotFoundResponse:
      description: Returned when the requested resource does not exist or is not accessible with the current authentication credentials.
      example:
        message: '{resource} not found'
      properties:
        message:
          description: A message indicating which resource was not found.
          pattern: Not Found
          type: string
      title: NotFoundResponse
      type: object
    CreateContractAmendmentParams:
      additionalProperties: false
      example:
        amendment_contract_id: c15993d8-aa8a-4fbb-b395-8b7a54f57db1
        contract_amendment: {}
        employment_id: e31adae1-company-id-af5fba7dd803
      properties:
        amendment_contract_id:
          description: The contract ID of the contract that needs to be amended.
          type: string
        contract_amendment:
          description: "Contract amendment informations. As its properties may vary depending on the country,\n                you must query the [Show form schema](#tag/Contract-Amendments/operation/post_show_form_contract_amendment_schema) endpoint\n            passing the country code, `contract_amendment` and the employment ID as request body."
          type: object
        employment_id:
          description: The employment ID that is related to the contract amendment request.
          type: string
      required:
      - employment_id
      - amendment_contract_id
      - contract_amendment
      title: CreateContractAmendmentParams
      type: object
    ProbationExtensionResponse:
      description: Probation Extension Response
      example:
        data:
          probation_extension:
            employment_id: 93t3j-employment_id-9suej43
            id: 93t3j-sfies9_id-9suej43
            requested_by: 93t3j-requested_by_id-9suej43
            status: submitted
            submitted_at: '2021-09-01T00:00:00Z'
            zendesk_ticket_url: https://zendesk.com/tickets/123
      properties:
        data:
          properties:
            probation_extension:
              $ref: '#/components/schemas/ProbationExtension'
          required:
          - probation_extension
          type: object
      title: ProbationExtensionResponse
      type: object
    GenericFile:
      description: A file represented as a base64-encoded string.
      example: base64 encoded content
      format: binary
      title: GenericFile
      type: string
    ContractDocumentItem:
      additionalProperties: false
      description: Contract document item in list response
      example:
        id: 0073fcb5-b669-4e4a-b963-2a47744e75a1
        inserted_at: '2024-01-15T10:30:00Z'
        name: Contract Agreement.pdf
        signatories:
        - email: john@example.com
          name: John Doe
          signed_at: '2024-01-15T10:30:00Z'
          status: signed
          type: employee
          user_id: 0073fcb5-b669-4e4a-b963-2a47744e75a1
        status: finished
        type: contractor_services_agreement
        updated_at: '2024-01-16T14:20:00Z'
      properties:
        id:
          description: Contract document slug/ID
          type: string
        inserted_at:
          description: Created timestamp
          type: string
        name:
          description: Contract document name
          nullable: true
          type: string
        signatories:
          description: List of signatories for this contract document
          items:
            $ref: '#/components/schemas/ListSignatory'
          type: array
        status:
          $ref: '#/components/schemas/ContractorContractDocumentStatus'
        type:
          description: Contract document type
          type: string
        updated_at:
          description: Last updated timestamp
          nullable: true
          type: string
      required:
      - id
      - name
      - status
      - type
      - inserted_at
      - updated_at
      - signatories
      title: ContractDocumentItem
      type: object
    CountrySubdivision:
      description: A subdivision of a supported country on Remote
      example:
        code: PT-11
        name: Lisboa
        subdivision_type: District
      properties:
        code:
          description: The ISO 3166-2 subdivision code (e.g., "PT-11" for Lisboa).
          type: string
        name:
          description: The subdivision's name (e.g., "Lisboa", "California").
          type: string
        subdivision_type:
          description: The type of subdivision (e.g., "District", "State", "Province").
          type: string
      required:
      - name
      title: CountrySubdivision
      type: object
    ProbationCompletionLetter:
      additionalProperties: false
      description: Probation completion letter request
      example:
        employment_id: c7ee6462-a9cf-4a69-9806-5906b975f616
        id: f4e2f1fe-2056-4d9f-b9e0-ea322b781eb7
        letter:
          id: f4e2f1fe-2056-4d9f-b9e0-ea322b781eb7
          inserted_at: '2021-01-01T00:00:00Z'
          name: 2024-05-29_Hero8_ProbationConfirmationLetter.pdf
          sub_type: probation_completion_letter
          type: contract
        status: submitted
        submitted_at: '2021-07-15T18:18:17Z'
        zendesk_ticket_url: https://zendesk.com/tickets/123
      properties:
        employment_id:
          type: string
        id:
          type: string
        letter:
          $ref: '#/components/schemas/ProbationCompletionLetterFile'
        status:
          enum:
          - submitted
          - in_review
          - done
          - canceled
          - deleted
          example: submitted
          nullable: false
          type: string
        submitted_at:
          $ref: '#/components/schemas/DateTimeIso8601'
        zendesk_ticket_url:
          nullable: true
          type: string
      required:
      - employment_id
      - letter
      - id
      - status
      - submitted_at
      - zendesk_ticket_url
      title: ProbationCompletionLetter
      type: object
    CreateContractEligibilityParams:
      additionalProperties: false
      example:
        eligible_to_work_in_residing_country: citizen
        employer_or_work_restrictions: false
      properties:
        eligible_to_work_in_residing_country:
          description: type of employment eligibility to work in residing country
          enum:
          - citizen
          - permanent_resident
          - temporary_resident
          type: string
        employer_or_work_restrictions:
          description: whether the employer or work restrictions apply
          example: false
          type: boolean
      required:
      - eligible_to_work_in_residing_country
      - employer_or_work_restrictions
      title: CreateContractEligibilityParams
      type: object
    DateTimeIso8601:
      description: 'UTC date time in [ISO 8601][] format.


        [ISO 8601]: https://en.wikipedia.org/wiki/ISO_8601

        '
      example: '2021-07-15T18:18:17Z'
      format: date-time
      title: DateTimeIso8601
      type: string
    ProbationCompletionLetterResponse:
      additionalProperties: false
      description: Probation completion letter request response
      example:
        data:
          probation_completion_letter:
            employment_id: c7ee6462-a9cf-4a69-9806-5906b975f616
            id: f4e2f1fe-2056-4d9f-b9e0-ea322b781eb7
            letter:
              id: f4e2f1fe-2056-4d9f-b9e0-ea322b781eb7
              inserted_at: '2021-01-01T00:00:00Z'
              name: 2024-05-29_Hero8_ProbationConfirmationLetter.pdf
              sub_type: probation_completion_letter
              type: contract
            status: submitted
            submitted_at: '2021-07-15T18:18:17Z'
            zendesk_ticket_url: https://zendesk.com/tickets/123
      properties:
        data:
          additionalProperties: false
          properties:
            probation_completion_letter:
              $ref: '#/components/schemas/ProbationCompletionLetter'
          required:
          - probation_completion_letter
          type: object
      required:
      - data
      title: ProbationCompletionLetterResponse
      type: object
    CreateProbationExtensionParams:
      additionalProperties: false
      example:
        additional_details: Employee is on leave.
        date_of_discussion_with_employee: '2021-09-01'
        duration_of_extension_in_days: 30
        employment_id: 93t3j-employment_id-9suej43
        reason_for_extension: Employee is on leave.
        supporting_document:
          content: base64_encoded_content
          name: supporting_document.pdf
        was_employee_informed: true
      properties:
        additional_details:
          description: Any additional details that need to be considered for the probation extension.
          example: Employee is on leave.
          type: string
        date_of_discussion_with_employee:
          description: The date when the discussion with the employee took place. Is required when `was_employee_informed` is `true` and should be in the past.
          example: '2021-09-01'
          format: date
          type: string
        duration_of_extension_in_days:
          description: The number of days to add to the existing probation end date.
          example: 30
          type: integer
        employment_id:
          description: The employment ID that is related to the probation extension request.
          example: 93t3j-employment_id-9suej43
          type: string
        reason_for_extension:
          description: The reason for the probation extension.
          example: Employee is on leave.
          type: string
        supporting_document:
          allOf:
          - $ref: '#/components/schemas/ProbationExtensionFile'
          description: 'Upload performance improvement plan or any other supporting document.

            This optional document can be sent only if `was_employee_informed` is `true`.

            '
          example: https://example.com/supporting_document.pdf
          type: object
        was_employee_informed:
          description: Whether the employee was informed about the probation extension.
          example: true
          type: boolean
      required:
      - employment_id
      - duration_of_extension_in_days
      - reason_for_extension
      - was_employee_informed
      title: CreateProbationExtensionParams
      type: object
    CreateProbationCompletionLetterParams:
      additionalProperties: false
      example:
        employment_id: f4e2f1fe-2056-4d9f-b9e0-ea322b781eb7
      properties:
        employment_id:
          description: The employment ID.
          type: string
      required:
      - employment_id
      title: CreateProbationCompletionLetterParams
      type: object
    ContractPendingChanges:
      additionalProperties: false
      example:
        changes:
          contract.job_title:
            current: Senior Engineer
            previous: Engineer
        contract_id: 0073fcb5-b669-4e4a-b963-2a47744e75a1
        effective_at: '2021-07-15T18:18:17Z'
      properties:
        changes:
          description: 'Describes all the changes requested for the contract and contract details with all their previous and current values.

            Its properties may vary depending on the country.

            '
          type: object
        contract_id:
          type: string
        effective_at:
          $ref: '#/components/schemas/DateTimeIso8601'
        pending_action_for_activation:
          description: 'Indicates if the contract is pending an action to be activated when effective_at is reached.

            If true, it means that an action needs to be performed, either a verification by Remote or a signature from the

            employer or the employee. If false, then the contract will be active when effective_at is reached.

            '
          type: boolean
      required:
      - effective_at
      - contract_id
      - changes
      title: ContractPendingChanges
      type: object
    ContractAmendmentResponse:
      description: Contract Amendment response
      example:
        data:
          contract_amendment:
            amendment_contract_id: 8772a9f1-b43c-46be-a1ce-e50b6819f5ee
            changes:
              compensation.amount:
                current: 500000
                previous: 400000
              contract.job_title:
                current: A new job title
                previous: An old job title
              contract_details.details.contract_duration_type:
                current: fixed_term
                previous: indefinite
            employment_id: 1e74fdc2-7420-4eef-ab0a-b794cbbef4e1
            id: ba310525-9282-40c9-8977-14d844bf891a
            request_details:
              additional_comments: null
              effective_date: '2024-03-04'
              reason_for_change: annual_pay_adjustment
              reason_for_change_description: null
              salary_decrease_details: null
            requested_by: 5a31f3c1-d7a7-4311-89cb-928959d3d540
            status: submitted
            submitted_at: '2023-04-13T13:35:06Z'
            zendesk_ticket_url: https://zendesk.com/ticket-23333
      properties:
        data:
          properties:
            contract_amendment:
              $ref: '#/components/schemas/ContractAmendment'
          required:
          - contract_amendment
          type: object
      title: ContractAmendmentResponse
      type: object
    SalaryDecreaseDetails:
      description: The details of the salary decrease request if there is one
      nullable: true
      properties:
        salary_decrease_reason:
          enum:
          - change_in_working_hours
          - trade_salary_for_equity
          - error_in_initial_salary
          - role_change_or_demotion
          - compensation_restructure
          - other
          type: string
        salary_decrease_reason_description:
          nullable: true
          type: string
        was_employee_informed:
          type: string
      title: SalaryDecreaseDetails
      type: object
    ListEmploymentContractResponse:
      example:
        data:
          employment_contracts:
          - activated_at: '2021-07-15T18:18:17Z'
            amendment_contract_id: e31adae1-contract-id-af5fba7dd803
            compensation:
              amount: 33000
              currency_code: CAD
              wage_type: salary
            contract_details: {}
            contract_id: 20a72f86-contract-id-9e4942a902ff
            country:
              alpha_2_code: PT
              code: PRT
              contractor_products_available:
              - standard
              - plus
              - cor
              country_subdivisions:
              - code: PT-06
                name: Coimbra
                subdivision_type: District
              - code: PT-11
                name: Lisboa
                subdivision_type: District
              employment_agreement_preview_available: true
              eor_onboarding: true
              locked_benefits: after_first_hire
              name: Portugal
              region: Europe
              subregion: Southern Europe
              supported_json_schemas:
              - additional_documents
              - address_details
              - administrative_details
              - employment-basic-information
              - bank_account_details
              - contract_details
              - emergency_contact
            effective_at: '2021-07-15T18:18:17Z'
            job_title: Engineer
            status: active
      properties:
        data:
          additionalProperties: false
          properties:
            employment_contracts:
              items:
                $ref: '#/components/schemas/EmploymentContract'
              type: array
          required:
          - employment_contracts
          type: object
      required:
      - data
      title: ListEmploymentContractResponse
      type: object
    ListSignatory:
      additionalProperties: false
      description: A signatory on a contract document. For company and employee signatories, `user_id` is provided. For other signatory types, `user_id` is null.
      example:
        email: john@example.com
        name: John Doe
        signed_at: '2024-01-15T10:30:00Z'
        status: signed
        type: employee
        user_id: 0073fcb5-b669-4e4a-b963-2a47744e75a1
      properties:
        email:
          description: Email address of the signatory
          nullable: true
          type: string
        name:
          description: Full name of the signatory
          nullable: true
          type: string
        signature_method:
          description: Signing method used by this signatory
          enum:
          - in_platform
          - docusign
          type: string
        signature_type:
          description: Legal signature level applied when signing
          enum:
          - standard
          - qes
          - aes
          - ses
          type: string
        signed_at:
          description: Timestamp when the signatory signed the document, null if not yet signed
          format: date-time
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/SignatoryStatus'
        type:
          $ref: '#/components/schemas/SignatoryType'
        user_id:
          description: User identifier for internal signatories, null for external signatories
          nullable: true
          type: string
      required:
      - type
      - status
      title: ListSignatory
      type: object
    TooManyRequestsResponse:
      description: Returned when the API rate limit has been exceeded (HTTP 429). Wait before retrying. Check the `Retry-After` response header for the recommended wait time.
      example:
        message: Too many requests
      properties:
        message:
          pattern: Too many requests
          type: string
      title: TooManyRequestsResponse
      type: object
    Compensation:
      example:
        amount: 33000
        currency_code: CAD
        wage_type: salary
      properties:
        amount:
          description: The compensation amount in cents. Null if compensation is not yet set.
          nullable: true
          type: integer
        currency_code:
          description: The ISO 4217 currency code for the compensation. Null if not yet set.
          nullable: true
          type: string
        wage_type:
          description: Whether the employee is paid hourly or on a salary basis. Null if not yet set.
          enum:
          - hourly
          - salary
          nullable: true
          type: string
      required:
      - amount
      - currency_code
      - wage_type
      title: Compensation
      type: object
    RequestDetails:
      description: The details of the requested changes for the contract amendment.
      example:
        additional_comments: null
        effective_date: '2024-03-04'
        reason_for_change: annual_pay_adjustment
        reason_for_change_description: null
        salary_decrease_details: null
      properties:
        additional_comments:
          nullable: true
          type: string
        effective_date:
          format: date
          type: string
        reason_for_change:
          enum:
          - annual_pay_adjustment
          - country_rule_change
          - error_correction
          - job_change_reevaluation
          - promotion
          - other
          nullable: true
          type: string
        reason_for_change_description:
          description: This is filled when the reason_for_change is 'other'.
          nullable: true
          type: string
        salary_decrease_details:
          $ref: '#/components/schemas/SalaryDecreaseDetails'
      title: RequestDetails
      type: object
  securitySchemes:
    BasicAuth:
      description: 'Authenticate using the basic authentication for partners.


        Use the CLIENT_ID as login and CLIENT_SECRET as password.

        '
      scheme: basic
      type: http
    ClientToken:
      description: 'Authenticate a partner using only the the provided `client_token`.


        This authentication method only allows accessing marketing endpoints.

        '
      scheme: bearer
      type: http
    CustomerAPIToken:
      description: 'Authenticate using API Key generated by the customer in their Integration Settings page.

        '
      scheme: bearer
      type: http
    OAuth2:
      description: 'Authenticate using OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
            webhook:read: webhook:read
            webhook:write: webhook:write
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2Assertion:
      description: 'Authenticate as the employee using the `urn:ietf:params:oauth:grant-type:jwt-bearer` grant in the OAuth2 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            address:read: address:read
            address:write: address:write
            bank_account:read: bank_account:read
            bank_account:write: bank_account:write
            document:read: document:read
            document:write: document:write
            emergency_contact:read: emergency_contact:read
            emergency_contact:write: emergency_contact:write
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            expense:read: expense:read
            incentive:read: incentive:read
            payroll: payroll
            payslip:read: payslip:read
            personal_detail:read: personal_detail:read
            personal_detail:write: personal_detail:write
            time_and_attendance: time_and_attendance
            timeoff:read: timeoff:read
            timeoff:write: timeoff:write
            timesheet:read: timesheet:read
          tokenUrl: /auth/oauth2/token
          x-assertionType: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
      type: oauth2
    OAuth2AuthorizationCode:
      description: 'Authenticate as the token authorizer using `authorization_code` / `refresh_token` grants in the OAuth 2.0 protocol.

        '
      flows:
        authorizationCode:
          authorizationUrl: /auth/oauth2/authorize
          refreshUrl: /auth/oauth2/token
          scopes:
            company_department:read: company_department:read
            webhook:write: webhook:write
            magic_link:write: magic_link:write
            offboarding:write: offboarding:write
            custom_field:write: custom_field:write
            address:write: address:write
            expense:read: expense:read
            employment:write: employment:write
            identity_verification:write: identity_verification:write
            timesheet:write: timesheet:write
            travel_letter:write: travel_letter:write
            incentive:read: incentive:read
            personal_detail:read: personal_detail:read
            invoices:write: invoices:write
            work_authorization:write: work_authorization:write
            timeoff:write: timeoff:write
            company_structure:read: company_structure:read
            benefit_renewal:write: benefit_renewal:write
            benefit_offer:read: benefit_offer:read
            employment_documents: employment_documents
            onboarding:write: onboarding:write
            payroll_run:read: payroll_run:read
            risk_reserve:write: risk_reserve:write
            invoices: invoices
            resignation_letter:read: resignation_letter:read
            resignation:read: resignation:read
            convert_currency:read: convert_currency:read
            employments: employments
            probation_document:read: probation_document:read
            company_admin: company_admin
            payroll: payroll
            help_center_article:read: help_center_article:read
            timesheet:read: timesheet:read
            custom_field_value:write: custom_field_value:write
            company_currencies:read: company_currencies:read
            payslip:read: payslip:read
            pay_item:write: pay_item:write
            resignation:write: resignation:write
            custom_field:read: custom_field:read
            payroll_calendar:read: payroll_calendar:read
            contract_amendment:write: contract_amendment:write
            offboarding:read: offboarding:read
            timeoff:read: timeoff:read
            probation_document:write: probation_document:write
            country:read: country:read
            webhook:read: webhook:read
            company_department:write: company_department:write
            company_manager:read: company_manager:read
            pay_item:read: pay_item:read
            contract_amendment:read: contract_amendment:read
            company:read: company:read
            sso_configuration:write: sso_configuration:write
            benefit_offer:write: benefit_offer:write
            contract_eligibility:write: contract_eligibility:write
            benefit_renewal:read: benefit_renewal:read
            background_check:read: background_check:read
            custom_field_value:read: custom_field_value:read
            expense:write: expense:write
            identity_verification:read: identity_verification:read
            address:read: address:read
            document:write: document:write
            time_and_attendance: time_and_attendance
            employment_payments: employment_payments
            form:read: form:read
            work_authorization:read: work_authorization:read
            invoices:read: invoices:read
            incentive:write: incentive:write
            employment:read: employment:read
            contract:read: contract:read
            company_manager:write: company_manager:write
            travel_letter:read: travel_letter:read
            document:read: document:read
            sso_configuration:read: sso_configuration:read
          tokenUrl: /auth/oauth2/token
      type: oauth2
    OAuth2ClientCredentials:
      description: 'Authenticate using `client_credentials` grant in the OAuth 2.0 protocol.

        '
      flows:
        clientCredentials:
          scopes:
            company:read: company:read
            company:write: company:write
            company_admin: company_admin
            company_management: company_management
            convert_currency:read: convert_currency:read
            country:read: country:read
            employment_documents: employment_documents
            employment_payments: employment_payments
            employments: employments
            help_center_article:read: help_center_article:read
            invoices: invoices
            payroll: payroll
            payroll_calendar:read: payroll_calendar:read
            pricing_plan:read: pricing_plan:read
            pricing_plan:write: pricing_plan:write
            time_and_attendance: time_and_attendance
[...]
